%h3 Classes of Service
%div.tabs.tipsy_container

  %ul
    - end_point.cos_end_points.each do |cos_end_point|
      - class_of_service_type = cos_end_point.cos_instance.class_of_service_type
      %li
        %a{:href => "#tab_#{class_of_service_type.id}_#{seq}"} #{class_of_service_type.name}

  - end_point.cos_end_points.each do |cos_end_point|
    
    - class_of_service_type = cos_end_point.cos_instance.class_of_service_type
    - end_point_type = end_point.demarc.try(:cenx_demarc_type)
    - mapping_mechanism = end_point_type.nil? || end_point_type == 'UNI' ? class_of_service_type.cos_id_type_uni : class_of_service_type.cos_id_type_enni
    
    %ul{:id => "tab_#{class_of_service_type.id}_#{seq}"}
    
      = list_label_and_value 'Mapping Mechanism', nil, mapping_mechanism
      = list_label_and_value 'Default CoS Handling', end_point, :default_cos_handling
      
      %li.section
        %h4 Ingress
        %ul
          = list_label_and_value 'Rate Limiting Mechanism', cos_end_point, :ingress_rate_limiting
          = list_label_and_value 'CoS Id Mapping', cos_end_point, :ingress_mapping
          = list_label_and_value 'CIR', cos_end_point, :ingress_cir_kbps, format_kbps_to_mbps, 'N/A'
          = list_label_and_value 'EIR', cos_end_point, :ingress_eir_kbps, format_kbps_to_mbps, 'N/A'
          = list_label_and_value 'CBS', cos_end_point, :ingress_cbs_kB, '%s KB', 'N/A'
          = list_label_and_value 'EBS', cos_end_point, :ingress_ebs_kB, '%s KB', 'N/A'

      %li.section
        %h4 Egress
        %ul 
          = list_label_and_value 'Rate Limiting Mechanism', cos_end_point, :egress_rate_limiting
          = list_label_and_value 'CoS Id Marking', cos_end_point, :egress_marking
          = list_label_and_value 'CIR', cos_end_point, :egress_cir_kbps, format_kbps_to_mbps, 'N/A'
          = list_label_and_value 'EIR', cos_end_point, :egress_eir_kbps, format_kbps_to_mbps, 'N/A'
          = list_label_and_value 'CBS', cos_end_point, :egress_cbs_kB, '%s KB', 'N/A'
          = list_label_and_value 'EBS', cos_end_point, :egress_ebs_kB, '%s KB', 'N/A'
          
      %li.clearfix