- unless revision[:versions].blank?
  %li.section{ :class => "data_sources_#{revision[:data_source]}" }
    - versions = revision[:versions]
    %h3.section_header{:class => "#{(versions.blank? ? 'no_versions' : '')} #{@entity.fallout_data_source == revision[:data_source] ? 'version' : ''}"}
      = "#{osl_data_source_name(revision[:data_source])}"
      - unless versions.blank?
        = "(#{versions.size})"

      %span.section_btn.section_close
        close

    .section_content.data_sources_content
      - if versions.blank?
        %h3 No Revisions in the system.
      - else
        = render :partial => 'revision', :locals => { :revision => revision }