%table
  - row_nbr = 0
  - evc.diagram_parts(current_user.service_provider, @reverse_diagram).each do |row|
    - row_nbr += 1
    - next if entire_row_redacted?(row)
    %tbody{'class' => "row_#{row_nbr.to_s}"}
    
      -# Entity Ids and frame injection/reflection(always displayed above the diagram)
      %tr.diagram_info
        -# need look ahead and look behinds to display data correctly, so use each_with_prev_next
        - row.each_with_prev_next do |previous_column, column, next_column|
          -# make sure column is not actually set of redacted columns
          - if column.is_a?(PathDisplay)
            - if column.entity
              - entity = column.entity
              %td.data_set_cell{'class' => "#{column.data_set_cell_class(previous_column, next_column)}"}
                - if column.multi_end_point
                  -# If a we processed a previous column then arrow goes left, else it goes right
                  .vertical_diagram_line{fallout_exception_type_class(evc, column, true), 'class' => "#{column.vertical_line_class(@mode, previous_column)}", 'data-current_state'=>"#{column.entity_state(@mode)}"}
                    &nbsp;
                - else
                  .block
                    - if column.segment?
                      .entity_info
                        = render :partial => '/paths/object_identifiers', :locals => {:entity => entity, :heading => false} 
                        - if App.is?(:coresite)
                          %ul
                            = list_label_and_value 'Service Rate', entity, :service_rate, '%s Mbps'
                        -# More entity info for layer 3 segments
                        - if evc.layer == 3
                          %ul
                            = list_label_and_value 'Type', entity, :router_type
                            = list_label_and_value 'Domain', entity, :routing_domain
                            = list_label_and_value 'Router ID', entity, :router_id
                            = list_label_and_value 'AS', entity, :as_id            


                  - if column.segment?
                    -# if details screen then display logos
                    - if @details
                      .provider_logo
                        = provider_logo(entity.service_provider)

                  - if column.on_net_ovc?
                    = render :partial => "shared/site_and_node_component_groups", :locals => { :previous_column => previous_column, :column => column, :next_column => next_column }

                  -# Show injection and reflection points for redacted entities as well
                  .injection_reflection_indicators
                    = injection_reflection_indicators(column)
                  
                  - if @mode == 'monitoring'
                    = monitoring_indicator(evc, previous_column, column, next_column)
                      
            - else
              %td &nbsp;
            
          - else
            %td.data_set_cell.static_info.redacted_info
              - if @details
                .provider_logo
                  -# if details screen then display logos for redacted providers
                  - if @details
                    - get_redacted_service_providers(column).each do |service_provider|
                      = provider_logo(service_provider)
  
              - else
                &nbsp;
                
              -# Show injection and reflection points for redacted entities as well
              = redacted_injection_indicators(column)



      -# Diagram components 
      %tr.diagram_graphics
        - row.each_with_prev_next do |previous_column, column, next_column|
          -# make sure column is not actually set of redacted columns
          - if column.is_a?(PathDisplay)
            - if column.entity
              %td{entity_data_urls(column), fallout_exception_type_class(evc, column, false), 'id'=>"#{column.diagram_id}", 'class' => "#{column.entity_class(@mode, previous_column, next_column)}", 'data-current_state'=>"#{column.entity_state(@mode)}", 'data-reference'=>"#{column.entity_data_reference}", 'data-demarc_type' => "#{column.entity_demarc_type}", 'data-entity_id' => "#{column.unique_entity_id}", 'data-popup_direction' => "#{entity_popup_direction(column, @mode)}"}
                - if column.segment? && !column.on_net_router?
                  - if column.multi_end_point
                    -# If a we processed a previous column then arrow goes left, else it goes right
                    .component.multi_end_point{fallout_exception_type_class(evc, column, true), 'class' => "#{column.state_class(@mode)} #{previous_column.try(:entity) ? 'left' : 'right'} clickable_during_edit", 'data-current_state'=>"#{column.entity_state(@mode)}"}
                  - else
                    .component{fallout_exception_type_class(evc, column, true), 'class' => "#{column.state_class(@mode)} clickable_during_edit", 'data-current_state'=>"#{column.entity_state(@mode)}"}
                      .service_provider
                        %span #{column.entity.service_provider.name}

                - else
                  -# table cells need something to be displayed
                  %span.entity_help{entity_help(column)}
                    &nbsp;

                - if App.is?(:coresite) && column.enni?              
                  - if previous_column.nil? || next_column.nil?
                    - if order = column.path.segments.try(:first).try(:get_latest_order)
                      - on, buying_or_target = column.entity.id == order.buying_enni.id ? [order.buying_operator_network, 'Buying'] : [order.target_operator_network, 'Target']
                      .tenant_cloud
                        .cloud{:class => previous_column.nil? ? 'left' : 'right'}
                          .info
                            = provider_logo(on.service_provider)
                            %br
                            = on.tenant_name
                            %br 
                            %span.buying_or_target
                              = buying_or_target
                      

            - else
              %td &nbsp;

          - else
            -# Keep all redacted info in the same cell
            %td{'class' => "#{previous_column ? 'redacted_entity_after' : 'redacted_entity_before'}"}
              = column.redacted_details
      
      -# *** Data Sets ***

      - unless @editing
        -# Summary View 
        -# %tr.summary_view.data_set_row.positioned{'data-url' => "#{summary_view_path_display_path(:id => evc.id, :row => row_nbr)}"}

        -# Bandwidth View 
        %tr.bandwidth_view.data_set_row.positioned{'data-url' => "#{bandwidth_view_path_display_path(:id => evc.id, :row => row_nbr)}"}

        -# Monitoring View 
        %tr.monitoring_view.data_set_row.positioned{'data-url' => "#{monitoring_view_path_display_path(:id => evc.id, :row => row_nbr)}"}

        -# Order States 
        %tr.ordering_state_view.data_set_row.positioned{'data-url' => "#{ordering_state_view_path_display_path(:id => evc.id, :row => row_nbr)}"}

        -# Inventory States 
        %tr.inventory_state_view.data_set_row.positioned{'data-url' => "#{inventory_state_view_path_display_path(:id => evc.id, :row => row_nbr)}"}

        -# Monitoring States 
        %tr.monitoring_state_view.data_set_row.positioned{'data-url' => "#{monitoring_state_view_path_display_path(:id => evc.id, :row => row_nbr)}"}
      
        -# Demarc Details
        %tr.demarc_view.data_set_row.positioned{'data-url' => "#{demarc_view_path_display_path(:id => evc.id, :row => row_nbr)}"}

        -# VLAN Tagging Details
        %tr.circuit_path_view.data_set_row.positioned{'data-url' => "#{circuit_path_view_path_display_path(:id => evc.id, :row => row_nbr)}"}

        -# Technical Contact Details
        %tr.technical_contacts_view.data_set_row.positioned{'data-url' => "#{technical_contacts_view_path_display_path(:id => evc.id, :row => row_nbr)}"}