.evc_separator.border
.evc.top_level_entity{evc_top_level_entity_attrs(evc, @mode, @details)}
  = render :partial => "shared/toggle_mode", :locals => {:force => true}
  = render :partial => "shared/reverse_diagram"

  = render :partial => "evc_info", :locals => {:evc => evc}
  
  .revisions_wrapper{:id => "revisions_wrapper_#{evc.id}"}

  - if App.is?(:coresite)
    .build_log_wrapper{:id => "build_log_wrapper_#{evc.id}"}
      

  .diagram_wrapper.viewport
    .diagram
      = render :partial => "diagram", :locals => {:evc => evc}

  .clearfix
