.top_level_entity_wrapper{'id' => "evc_#{evc_wrapper.id}", :class => (evc_wrapper.cenx_path_type  =~ /coresite/i ? 'coresite_evc' : '') }
  = render :partial => "evc", :locals => {:evc => evc_wrapper}