%table.evc_info
  %tr
    %td.states
    
      -# TODO temporary 
      -# %label Path Type:
      -# %span #{evc.cenx_path_type}
      -# %br
      
      %label 
        ="#{get_term(:path)} Owner:"
      %span.highlight #{evc.service_provider.name}
      %br
      - if @monitoring_mode
        - state = evc.sm_state
        %label
          Monitoring State:
        %span.state_type
          %span.state.dot.clickable{'class' => "#{monitoring_state_class(state)} #{unique_entity_id(evc)}", 'data-current_state'=>"#{state_to_class(state)}", 'data-url'=>"#{evc_monitoring_state_data_url(evc)}"}
          %span.state_text #{state}
      - else
      
        %label
          Inventory State:
        %span
          %span.state.dot{'class' => "#{evc.prov_state_class}"}
          %span.state_text
            = evc.get_prov_name

        - if (order_state = evc.order_name)
          %br
          %label
            Order State:
          %span
            %span.state.dot.clickable{'class' => "#{ordering_state_class(order_state)}", 'data-url'=>"#{evc_ordering_state_data_url(evc)}"}
            %span.state_text
              = order_state

      -# Check severity, but display exception_type to control color
      - if can?(:read, :inventory_exception_reports) && evc.fallout? && @mode == 'inventory' 
        %br
        %label
          Inventory Exception State:
        %span
          %span.state.dot{fallout_exception_type_class(evc)}
          %span.state_text 
            = "#{evc.fallout_exception_type.downcase == 'version' ? 'Audit' : evc.fallout_exception_type.titleize} Failed"

      - elsif can?(:read, :ordering_exception_reports) && evc.fallout? && @mode == 'ordering' 
        %br
        %label
          Ordering Exception State:
        %span
          %span.state.dot{fallout_exception_type_class(evc)}
          %span.state_text 
            Audit Failed
            
    %td.highlight{:class => "evc_#{evc.id} clickable_during_edit", 'data-entity_id' => "evc_#{evc.id}"}
      - provider_member_handles(evc).each do |member_handle|
        %label #{member_handle[:label]}:
        %span #{member_handle[:value]}
        %br
        
      %label CENX ID:
      %span.cenx_id #{evc.cenx_id}
    - if @editing
      %td.action
        = link_to 'Back to View Details', paths_path(:path_details => evc.id, :mode => @mode, :path_owner => @path_owner)
    - else
      - if @details 
        - unless App.is?(:coresite)
          %td.action.edit_details
            = link_to 'Edit Details', edit_path_path(evc.id, {:mode => @mode})
      - else
        %td.action.view_details
          = link_to 'View Details', paths_path(:path_details => evc.id, :mode => @mode, :path_owner => @path_owner), :target => '_blank'

      - if path_count = path_count_for_evc(evc) and path_count > 0
        %td.action.view_details
          = link_to "Member of #{pluralize(path_count, get_term(:path))}", paths_path(:has_evc => evc.id, :mode => @mode, :path_owner => @path_owner)
      
      - if can? :read, :network
        %td.action.view_details
          = link_to 'View in Network', network_index_path(:filter => evc.cenx_id)

      - if App.is?(:coresite)
        - if order = evc.segments.try(:first).try(:get_latest_order)
          %td.action.view_details
            = link_to 'View Order', coresite_order_path(order.id), title: 'View Order'
          - if coresite_role
            %td.action.view_details
              = link_to 'View Build Log', _view_build_log_coresite_order_path(order.id), title: 'View Order Build Log', :class => 'view_build_log_link', 'data-evc-id' => evc.id
      - else
        -# Check if revisions exist
        - if can? :read, :inventory_exception_reports
          %td.action.view_data_sources{:class => evc.fallout? ? evc.fallout_exception_type : ''}
            = link_to "View Data Sources", view_data_sources_path_path(evc.id), :class => 'view_data_sources_link', 'data-evc-id' => evc.id
