%div{:class => cleared ? 'cleared_exceptions' : ''}
  %h4 
    = title
  %table.styled
    %thead
      %tr
        %th= get_term(:cascade)
        - if cleared
          %th Cleared Date
        %th Date
        %th #{get_term(:aggregation_site)}
        %th #{get_term(:service_provider)}
        %th Exception Type
        %th Category
        %th Details

    %tbody            
    - exceptions.each do |exception|
      %tr
        %td 
          = path.cascade_id
        - if cleared
          %td
            = timestamp_to_date_time(exception.clear_time)
        %td
          = timestamp_to_date_time(exception.time)
        %td
          = path.site_names
        %td
          = path.aav
        %td
          = exception.exception_type.titleize
        %td
          = exception.category.blank? ? '--' : exception.category
        %td
          = raw exception.details.gsub(/,/,"<br />").gsub(/;/,"; ")
