.monitoring_indicator
  = image_tag 'monitoring_indicator.png', :class => 'help_on_hover', :width => 12, :height => 12, :title => 'Monitoring&nbsp;Available&nbsp;' + (primary_backup.length > 0 ? " (#{primary_backup})" : '')
