- if !defined?(heading) || heading
  %h3 Object Identifiers

%div.tipsy_container
  %ul
    - provider_member_handles(entity).each do |member_handle|
      = list_label_and_value member_handle[:label], nil, member_handle[:value] if member_handle
    = list_label_and_value 'CENX ID', entity, :cenx_id