.reflection_indicator{:class => "reflection_indicator_#{column.reflection_direction}"}
  = image_tag image_src, :class => 'help_on_hover', :width => 16, :height => 12, :title => "#{reflection_indicator_bubble(column.entity)}"