%li.section{ :class => "revision_audit" }
  %h3.section_header
    Data Summary

    %span.section_btn.section_close
      close

  .section_content.revision_audit_content
    - if @audits.blank?
      %h3 No Audit Summary in the system.
    - else
      %table.styled
        %thead
          %tr
            %th
              Field Name
            %th Authoritative Value
            %th Consistent Sources
            %th Conflicting Values (Data Source)
        %tbody
          - @audits.each do |field_name, field|
            - next if field_name == "Cascade"
            - auth_val = field[:authoritative_value]
            %tr
              %td= field_name
              %td= auth_val
              %td
                - was_found = false
                - @audit_data_sources.each do |data_source| 
                  - source_val = field[data_source]
                  - next if source_val != auth_val || source_val.blank?
                  - was_found = true
                  %div= osl_data_source_name(data_source)
                = raw("&nbsp;") unless was_found
              %td
                - was_found = false
                - @audit_data_sources.each do |data_source| 
                  - source_val = field[data_source]
                  - next if source_val == auth_val || source_val.blank?
                  - was_found = true
                  %div= "#{source_val} (#{osl_data_source_name(data_source)})"
                = raw("&nbsp;") unless was_found