%table.revision_comparison_content.diff
  - if diff
    %tr
      %th
        %strong
          = "Version #{version_left_nbr}"
        - version_date = begin; DateTime.parse(version_left).to_s(:friendly); rescue; "#{version_left}" end
        = " (#{version_date})"
      %th
        %strong
          = "Version #{version_right_nbr}"
        - version_date = begin; DateTime.parse(version_right).to_s(:friendly); rescue; "#{version_right}" end
        = " (#{version_date})"
      - changed = false
    - diff.each_chunk.each do |chunk|          
      - case chunk
        - when /^-/
          - changed = true
          = '<tr class="changed">'.html_safe
          %td.del
            %del
              = simple_format chunk
        - when /^\+/
          %td.ins
            %ins
              = simple_format chunk
          = '</tr>'.html_safe
        - else
          %tr.unchanged
            %td.unchanged
              = simple_format chunk
            %td.unchanged
              = simple_format chunk

    %tr.no_mismatch{:class => "#{changed ? 'hidden' : ''}"}
      %td
      %td{:colspan => 2} No Mismatch
