- left = revision[:left]
- right = revision[:right]
- versions = revision[:versions]
- version_left = revision[:version_left]
- version_right = revision[:version_right]
- version_left_nbr = revision[:version_left_nbr]
- version_right_nbr = revision[:version_right_nbr]
= form_tag revision_path_path(@entity.id, :format => :html), :method => :get, :remote => true, :class => 'revision_comparison_form' do

  %input.hidden{:type => :text, :name => 'cascade_id', :value => revision[:cascade_id]} 
  %input.hidden{:type => :text, :name => 'data_source', :value => revision[:data_source]}

  %table.revision_comparison_content.diff
    - if left && right
      %tr
        %th.field_name Field Name
        %th
          %select{:name => 'version_left'}
            - versions.each_with_index do |version, i|
              - nbr = versions.size - i
              %option{:value => "#{version}_#{nbr}", :selected => (version == revision[:version_left]) }
                - version_date = begin; DateTime.parse(version).to_s(:friendly); rescue; "#{version}" end
                = "Version #{nbr} (#{version_date})"
        %th
          %select{:name => 'version_right'}
            - versions.each_with_index do |version, i|
              - nbr = versions.size - i
              %option{:value => "#{version}_#{nbr}", :selected => (version == revision[:version_right]) }
                - version_date = begin; DateTime.parse(version).to_s(:friendly); rescue; "#{version}" end
                = "Version #{nbr} (#{version_date})"
          %input.all_file_content_filter{:type => :checkbox, :name => 'all_file_content_filter', :checked => params[:all_file_content_filter] }
            Only Display Changes

      - if version_left_nbr == version_right_nbr
        - is_first = true
        - left.each do |k,left_val|
          - same_val = is_first ? "-- same version, no differences --" : "&nbsp;".html_safe
          - is_first = false
          %tr.unchanged
            %td= k
            %td= left_val
            %td= same_val
      - else
        - changed = false
        - left.each do |k,left_val|
          - right_val = right[k]
          - is_diff = right_val != left_val
          - class_name = is_diff ? "changed" : "unchanged"
          - changed &&= is_diff
          %tr{ :class => class_name }
            %td= k
            %td= left_val
            %td= right_val
      %tr.no_mismatch{:class => "#{changed ? 'hidden' : ''}"}
        %td{:colspan => 3 } No Differences Between Versions