%form.full_find.clearfix{:action => paths_path, :method => :get}
  %input{:type => 'hidden', :name => 'mode', :value => @mode}
    
  .left_column
    %label
      ="Filter #{get_term(:path)}"
    %input.entry{:type => 'text', :name => 'filter', :value => params[:filter], :placeholder => 'Search by ID'}
    
    -#%label
    -#  Work Orders
    -#%select{:name => 'statement_of_work'}
    -#  %option{:value => ''} All
    -#  = options_for_select @statement_of_work_select.map{|p|[p.name,p.id]}, params[:statement_of_work].to_i
    
    %label
      =get_term(:site_group)
    %select{:name => 'site_group[]', :id => 'site_group', :multiple => 'multiple', 'data-placeholder' => "Choose a #{get_term(:site_group)}"}
      = options_for_select SiteGroup.order(:name).all.map{|sg|[sg.name,sg.id]}, params[:site_group]

    = render 'shared/state_filters'

    -#%label
    -#  Circuit Type  
    -#%select{:name => 'cenx_path_type', :id => 'cenx_path_type_select'}
    -#  %option{:value => ''} All
    -#  = options_for_select @circuit_type_selct.map{|e|[e.cenx_path_type,e.cenx_path_type]}, params[:cenx_path_type]
    
    - if App.is?(:coresite)
 
      %label
        National Tenants
      %select{:name => 'service_provider', :id => 'service_provider_select'}
        %option{:value => ''} All
        = options_for_select @coresite_national_tenant_select.map{|sp|[sp.name, sp.id]}, params[:service_provider].to_i

      - unless operator_networks.blank?
        %label
          = get_term(:aggregation_site)
        %select{:name => 'operator_network', :id => 'operator_network_select'}
          %option{:value => ''} All
          = options_for_select operator_networks.map{|on|[on.site_name, on.id]}, params[:operator_network].to_i

    - else
      %label
        = get_term(:aggregation_site)
      %select{:name => 'site[]', :id => 'site_select', :multiple => 'multiple', 'data-placeholder' => "Choose a #{get_term(:aggregation_site)}"}
        = options_for_select @site_select.map{|e|[e.site_name,e.site_id]}, params[:site]
      
      %label
        = get_term(:service_provider)
      %select{:name => 'service_provider[]', :id => 'service_provider_select', :multiple => 'multiple', 'data-placeholder' => "Choose a #{get_term(:service_provider)}"}
        = options_for_select @service_provider_select.map{|p|[p.service_provider_name,p.service_provider_id]}, params[:service_provider]

      %label
        = get_term(:network_type)
      %select{:name => 'oem[]', :id => 'oem_select', :multiple => 'multiple', 'data-placeholder' => "Choose a #{get_term(:network_type)}"}
        = options_for_select @oem_select.map{|p|[p.name,p.id]}, params[:oem]

      %label
        Exception Category
      %select{:name => 'fallout_category[]', :id => 'fallout_category', :multiple => 'multiple', 'data-placeholder' => "Choose an Exception Category"}
        = options_for_select fallout_category_names(), params[:fallout_category]

      %label
        Inventory Exception Type
      %select{:name => 'fallout_exception_type'}
        %option{:value => ''} All
        - if App.is?(:coresite)
          = options_for_select [['Build', :build]], params[:fallout_exception_type]        
        - else
          = options_for_select [['Version', :version], ['Audit', :audit]], params[:fallout_exception_type]

      - unless current_user.system_admin?
        %label
          ="#{get_term(:path)} Ownership"
        %select{:name => 'path_owner'}
          = options_for_select [['All','all'], ["Bought by #{current_user.service_provider.name}",'user'],["Sold by #{current_user.service_provider.name}",'other']], @path_owner

    %button.submit_button.activity{:type=>'submit'} Submit
    &nbsp; 
    %a{:href => '#', :id => 'reset'} Reset
    
  .right_column
    %label
      ="Sort #{get_term(:path, true)}"
    %select.sort{:name => 'sort'}
      - sort_options = [["#{get_term(:path)} ID",'evc_member_handle_sort'], can?(:read, :inventory) ? ['Inventory State','provisioning_state_text_sort'] : [], can?(:read, :ordering) ? ['Ordering State','ordering_state_text_sort'] : [], can?(:read, :monitoring) ? ['Monitoring State','monitoring_state_text_sort'] : []]
      = options_for_select sort_options, params[:sort]

%br.clear       