= render :partial => 'shared/technical_contact'
= render :partial => 'shared/prov_state'
- if @entity.respond_to?(:get_latest_order) and order = @entity.get_latest_order
  %h3 Ordering State
  %div.tipsy_container
    = render :partial => 'shared/ordering_state', :locals => {:order => order}  