-# NOTE: wrap in .evc div if you want all the normal bubbles to show up when clicking
- content_for :title do
  CENX - Service Inventory

= render :partial => "evc_info", :locals => {:evc => @entity}

.diagram_wrapper.viewport
  .diagram
    = render :partial => "diagram", :locals => {:evc => @entity}


- unless @path_member_handles.empty? && @component_member_handles.empty?
  .form_wrapper

    - if flash[:notice]
      .notice
        = flash[:notice]

    - unless @errors.blank?
      #error_explanation
        %h2= "#{pluralize(@errors.count, "error")} prohibited these IDs from being saved:"
        %ul
          - @errors.each do |e|
            - e.each do |attr, msg| 
              %li= msg 
      

    %h2 Edit Your IDs
    = form_for @entity, :url => path_path(@entity) do |evc_form|
      - is_system_owner = @current_user.service_provider.is_system_owner?
      - unless @path_member_handles.empty?
        %fieldset
          %legend 
            ="#{get_term(:path)} ID"
          %ul
            - @path_member_handles.each do |member_handle|
              = evc_form.fields_for :member_handles, member_handle do |member_handle_fields|
                %li
                  = member_handle_fields.label :value, member_handle_label(member_handle_fields.object, is_system_owner)
                  - input_name = member_handle_fields.object.id.to_s
                  - input_value = params[:evc_member_handles].try('[]', input_name) ? params[:evc_member_handles][input_name] : member_handle_fields.object.value
                  = member_handle_fields.text_field :value, {:name => "evc_member_handles[#{input_name}]", :value => input_value, :class => "input_evc_#{@entity.id} path_input", 'data-entity_id' => "evc_#{@entity.id}"}
              
      - unless @component_member_handles.empty?
        %fieldset
          %legend Component IDs
          %ul
            -# Entity is the Path instance, @entity is an Evc Instance
            - @component_member_handles.each do |path_display|
              - member_handles = is_system_owner ? path_display.entity.member_handles : path_display.entity.member_handles.owned_by(@current_user.service_provider)
              - member_handles.each do |member_handle|
                = evc_form.fields_for :member_handles, member_handle do |member_handle_fields|
                  %li
                    = member_handle_fields.label :value, member_handle_label(member_handle_fields.object, is_system_owner)
                    - input_name = member_handle_fields.object.id.to_s
                    - input_value = params[:component_member_handles].try('[]', input_name) ? params[:component_member_handles][input_name] : member_handle_fields.object.value
                    = member_handle_fields.text_field :value, {:name => "component_member_handles[#{input_name}]", :value => input_value, :class => "input_#{path_display.unique_entity_id} entity_input", 'data-entity_id' => "#{path_display.unique_entity_id}"}

      - unless @path_member_handles.empty? && @component_member_handles.empty?
        %button.submit_button.activity{:type=>'submit'} Save
      = link_to 'Back to View Details', paths_path(:path_details => @entity.id, :mode => @mode, :path_owner => @path_owner)
