.data_sources
  %h2 
    Data Source Summary
    %span.data_sources_close
      close

  %ul.sections
    - unless @revisions.blank?
      - @revisions.each do |revision|
        = render :partial => 'data_sources', :locals => {:revision => revision}
      = render :partial => 'revision_audit', :locals => { :audit => @audit }

    %li.section.data_sources_history

      %h3.section_header
        History
        %span.section_btn.section_close
          close

      %div.section_content.data_sources_history_content
        - if @current_fallout_exceptions.blank? && @cleared_fallout_exceptions.blank?
          %h3 No Exceptions in the system.
        - else
          = render :partial => 'fallout_exceptions', :locals => {:title => 'Current Exceptions', :exceptions => @current_fallout_exceptions, :path => @entity, :cleared => false} unless @current_fallout_exceptions.blank?
          = render :partial => 'fallout_exceptions', :locals => {:title => 'Cleared Exceptions', :exceptions => @cleared_fallout_exceptions, :path => @entity, :cleared => true} unless @cleared_fallout_exceptions.blank?
