.header
  %h2 Details
  = provider_logo(@entity.segment.service_provider)
  .clearfix

- # Tables becuase of the dynamic positioning of the tipsy bubble, problems with bubbles close to edge of screen
%table
  %tr
    %td.first
      = render :partial => '/paths/standard_sections_top'

      %h3 Normalized Attributes
      %div.tipsy_container
        %ul
          = list_label_and_value 'IP I/F', @entity, :ip_address
          = list_label_and_value 'VLAN', @entity, :outer_tag_value
          = list_label_and_value 'Cost', @entity, :routing_cost

      = render :partial => '/paths/class_of_services', :locals => {:end_point => @entity, :seq => '1'} 

      -# HACK: Really CENX
      - if @entity.segment.service_provider.really_cenx?
        %h3 Service Monitoring
        %div.tabs.tipsy_container

          %ul
            - @entity.cos_end_points.each do |cos_end_point|
              - class_of_service_type = cos_end_point.cos_instance.class_of_service_type
              %li
                %a{:href => "#tab_#{class_of_service_type.id}_2"} #{class_of_service_type.name}

          - @entity.cos_end_points.each do |cos_end_point|
            - class_of_service_type = cos_end_point.cos_instance.class_of_service_type
            %ul{:id => "tab_#{class_of_service_type.id}_2"}

              -# CENX OVC is always monitored
              = list_label_and_value 'Monitored', nil, 'Yes'

              -# TODO: How do we handle cenx monitoring for multiple cos enpoints, does this need to be moved up into class of service or just split up here by class of service?
              = list_label_and_value 'Test Type', cos_test_vector, :test_type
              = list_label_and_value 'Availability', @entity.segment, :sla_availability_value, format_percentage
              = list_label_and_value 'Frame Loss Ratio', class_of_service_type, :frame_loss_ratio

              = list_label_and_value 'Delay', class_of_service_type.service_level_guarantee_types.first, :delay_ms, '%s µs'
              = list_label_and_value 'Delay Variation', class_of_service_type.service_level_guarantee_types.first, :delay_variation_us, '%s µs'
              = list_label_and_value 'Mean Time to Repair', class_of_service_type, :mttr_hrs, '%s hours'

              - if enni = @entity.enni
                = list_label_and_value 'Primary MAC', enni, :get_mac_address
                = list_label_and_value 'Secondary MAC', enni, :lag_mac_secondary
                  
    %td
      = render :partial => '/paths/standard_sections_bottom'

= render :partial => 'shared/toggle_mode'
.clearfix