-content_for :title do
  CENX - Reset Password

.container_12
  .border.clearfix
    .grid_9.alpha
      %h1
        Reset Password

.container_12
  .grid_12.alpha.omega

    = form_for @user, :url => password_reset_path(params[:id]) do |f|
      -if @user.errors.any?
        #error_explanation
          %a.close{'data-dismiss' => 'alert'} 
            ×
            
          %h2
            =pluralize(@user.errors.count, "error")
            prohibited this user from being saved

          %ul
            -@user.errors.full_messages.each do |msg|
              %li
                =msg


      .grid_3.alpha
        = f.label :password
        = f.password_field :password

        = f.label :password_confirmation
        = f.password_field :password_confirmation

        .clear
        %br

        = f.submit "Update Password", :class => 'submit_button'