-content_for :title do
  CENX - Reset Password

.container_12
  .border.clearfix
    .grid_9.alpha
      %h1
        Reset Password

.container_12
  .grid_12.alpha.omega

    =render :partial => 'shared/flash_message'

    = form_tag password_resets_path, :method => :post do
      .grid_3.alpha
        = label_tag :email
        = text_field_tag :email, params[:email]

        .clear
        %br

        = submit_tag "Reset Password", :class => 'submit_button'