-# Important id as this is added to css file by monolith when views/on_net_ovcs/monitoring/monitoring.sass.erb is added to application.css
%div.date_range_input
  %label
    %strong= label
  %input.date_range_start{:type => "text", :name => 'date_range_start', :value => date_range_start.to_s, :autocomplete => "off"} &nbsp;to
  %input.date_range_end{:type => "text", :name => 'date_range_end', :value => date_range_end.to_s, :autocomplete => "off"}
  %input.date_range_selector.hidden{:name => 'date_range_selector', :value => 'date_range'}
  = select_tag "time_zone", time_zone_options, :class => 'date_range_time_zone'

  %button.submit_button{:type => 'submit'} Refresh

  - if defined?(sync_button) && sync_button
    %a.sync_graph_dates{:href=>'#', 'title' => 'Sync all graphs to this date'} Sync
