.events_live.hidden
  .time_display
    %strong New Events
    (since #{@end_time.to_long})
  .smaller
    = Time.zone.to_s

  = render :partial => 'shared_monitoring/history_table', :locals => {:history => []}
  .clearfix
.clearfix
- event_history_path = send("event_history_#{controller.controller_name.singularize}_path")
.event_history_content.paginated_section.load_on_tab_display{'data-url'=>"#{event_history_path}"}