- state_class_name_map = {AlarmSeverity::OK => 'ok', AlarmSeverity::WARNING => 'warning', AlarmSeverity::FAILED => 'failed', AlarmSeverity::MTC => 'mtc'}
%table.history.styled
  %thead
    %tr
      %th.date_time
        Date
      %th.status
        State
      %th.message
        Message
  %tbody
    %tr.template{:style => 'display: none'}
      %td.date_time
        = '%Y-%m-%d %H:%M:%S'
      %td.states.status
        %span.state.dot{'class' => "#{monitoring_state_class('')}"}
        %span.state_text
      %td.message
    - history.each do |event|
      %tr
        %td.date_time
          = timestamp_to_date_time(event.time_of_event.to_i/1000)
        %td.states.status{:class => state_class_name_map[event.state.to_s]}
          %span.state.dot{'class' => "#{monitoring_state_class(event.state.to_s)}"}
          %span.state_text #{event.state}
        %td.message
          = event.details