%h4 Metrics             
%table.styled.metrics
  %thead
    %tr
      %th 
        Availability
      %th 
        Packet Loss
      %th 
        Packet Delay (Avg)
      %th 
        Packet Delay Variation (Avg)
  %tbody
    %tr
      %td{:class => "#{@cell_class_avail} help_on_hover", :title => @cell_title_avail}
        = link_to pop_open_graph_path(@entity, 'availability', @mode), :target => '_blank' do
          %div
            = @aggregate_avail
      %td{:class => "#{@cell_class_flr} help_on_hover", :title => @cell_title_flr}
        = link_to pop_open_graph_path(@entity, 'frame_loss_ratio', @mode), :target => '_blank' do
          %div
            = @aggregate_flr

      %td{:class => "#{@cell_class_delay} help_on_hover", :title => @cell_title_delay}
        = link_to pop_open_graph_path(@entity, 'delay', @mode), :target => '_blank' do
          %div
            = @aggregate_delay

      %td{:class => "#{@cell_class_delay_variation} help_on_hover", :title => @cell_title_delay_variation}
        = link_to pop_open_graph_path(@entity, 'delay_variation', @mode), :target => '_blank' do
          %div
            = @aggregate_delay_variation
      
%h4 Exceptions
- if @exceptions.blank?
  %h5 No Exceptions to report
- else
  %table.styled
    %thead
      %tr
        %th 
          &nbsp;
        %th 
          Availabilty
        %th 
          Packet Loss
        %th 
          Packet Delay
        %th 
          Packet Delay Variation
    %tbody
      - ExceptionSlaCosTestVector::SEVERITY.each do |severity|
        %tr
          %td= severity
          - ExceptionSlaCosTestVector::SLA_TYPE.each do |sla_type|
            - count = @exceptions.fetch([severity.to_s, sla_type.to_s], 0)
            %td
              - if count.zero?
                = count
              - else
                .exception_count{:class => severity}
                  = link_to count, sla_report_path({component: @entity.circuit_id, severity: severity, sla_type: sla_type, date_range_selector: 'date_range', date_range_start: @date_range_start, date_range_end: @date_range_end}), :target => '_blank'
