- stats = stats_entity.try(:stats_data, @graph_date_range_start.to_i, @graph_date_range_end.to_i)
- graphs_supported = get_graphs_supported(stats)

- unless graphs_supported.empty?

  %li.section.cos_wrapper{:id => "sectionid_" + stats_entity.id.to_s}

    %h3.section_header

      -# Show alarm state dot beside section name
      - if stats_entity.respond_to?(:alarm_state)
        - state = stats_entity.alarm_state.state.to_s
        - unless state == AlarmSeverity::NO_STATE
          %span.state.dot{'class' => "#{alarm_state_class(state)}"}

      %span.graph_title
        = stats_entity.respond_to?(:short_name) ? stats_entity.short_name : member_handle_for_current_user(stats_entity, @current_user)

      %span.section_open.section_btn
        open
      
      %span.section_close.section_btn
        close

    .section_content

      %ul.graphs
        - # Get list of graphs that are supported and should be plotted
        - graphs_supported.each do |graph|
          %li.graph_wrapper{'data-graph_type' => graph[:name]}
            .hide_show_graph
              %span.hide_graph.btn
                hide
              %span.show_graph.btn
                show 
                %span
                  #{graph[:name].humanize}
            .graphs_container


              - path_name = "#{graph[:name]}_graph_#{convert_to_path(stats_entity)}_path"
              - path_query_string = {:id => stats_entity.id, :path_id => @path.try(:id)}
              - path_query_string[:cos_name] = cos_name if cos_name
              - path = send(path_name, path_query_string)
              - path_pdf = send(path_name, path_query_string.merge({:format => :pdf}))
              - path_csv = send(path_name, path_query_string.merge({:format => :csv}))

            
              .export_buttons{:style => 'margin:0 28px 5px 0'}
                %a.compare_graph.submit_button{:href => "#", 'data-url' => compares_path, 'title' => 'Compare this graph with other graphs'}
                  Compare 
                %a.export_graph.export_pdf.submit_button{:href => path_pdf, 'data-url' => path_pdf}
                  Export PDF 
                %a.export_graph.export_csv.submit_button{:href => path_csv, 'data-url' => path_csv}
                  Export CSV

              .graph{'data-url' => path}
                .template
                  .dygraph.graph_container.first
                  .graph_container
                    .table
                    .graph_labels
                .display_area.clearfix
