.container_12
	.border.clearfix
		.grid_9.alpha
			%h1
				=@cos_name

		.grid_3.align_right.service_provider_logo.omega
			=provider_logo(@current_user.service_provider, pdf=true)


-@data[:graphs].each do |graph|
	-chart = graph[0]
	-table = graph[1]

	.container_12.clearfix
		.grid_9.alpha.omega
			.grid_9.alpha.sub_border
				%h3.inline
					- if @entity.respond_to?(:alarm_state)
						- state = @entity.alarm_state.state.to_s
						- unless state == AlarmSeverity::NO_STATE
							%span.state.dot{'class' => "#{alarm_state_class(state)}"}
						&nbsp;
						%span
							= @entity.respond_to?(:short_name) ? @entity.short_name : "#{@monitoring_title} Graphs" 

			.grid_9.alpha.omega
				%h4.dashboard_sub_title
					=chart[:title]
				%p
					%img{:src => Gchart.line(:data => chart[:data][:rows].map{|row| row[:c][1][:v]},
																	 :max_value => 1,
																	 :min_value => 0,
											 						 :axis_with_labels => ['y', 'x'],
											 						 :axis_labels => [['Unavailable', 'Available'], chart[:data][:rows].map{|row| Time.at(row[:c][0][:r]).strftime('%d%b')}],
											 						 :bar_colors => chart[:colors].map{|color| color.gsub('#', '')}.join(','),
											 						 :size => '700x300')}
							
		.grid_3
			.grid_3.alpha.sub_border
				%h3.inline
					="#{@graph_date_range_start} - #{@graph_date_range_end}"

			%table.dashboard_table
				-table[:data][:rows].each do |row|
					%tr
						%td
							%strong
								=row[:c][0][:v]
						%td
							=row[:c][1][:f]



