- history = @history unless @history.nil?
.event_history
  .event_date_range.right
    = render :partial => "shared_monitoring/date_range", :locals => {:label => 'View Events by Date', :date_range_start => @event_date_range_start.to_s, :date_range_end => @event_date_range_end.to_s}
  .time_display
    %strong Events 
    (
    - if (@event_date_range_start.to_s.blank? && @event_date_range_end.to_s.blank?)
      %em 
        before 
      #{@end_time.to_long} 
    - else
      #{date_range_string(@event_date_range_start.to_long, @event_date_range_end.to_long)}
    )

  .clear_fix
  %div            
    - if history.empty?
      .notice
        No Events match the dates selected
    - else
      = render :partial => 'shared_monitoring/history_table', :locals => {:history => history}
      = will_paginate history, :params => {:time => @end_time.to_long}
