-content_for :head do
  = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"
  = wicked_pdf_javascript_include_tag "dygraph-combined"
  = wicked_pdf_javascript_include_tag "jquery.tipsy"
  = wicked_pdf_javascript_include_tag "jquery.activity-indicator"
  = wicked_pdf_javascript_include_tag "socket.io.min"
  = wicked_pdf_javascript_include_tag "jquery.json-2.2.min"
  = wicked_pdf_javascript_include_tag "general"
  = wicked_pdf_javascript_include_tag "paths/path_graph"
  = javascript_include_tag "https://www.google.com/jsapi"

  %script{:id => 'graph_data', :type => 'text/json'}
    =@data.to_json.html_safe

  :javascript
    google.load("visualization", "1", {packages:["corechart"]});
    $(function() {
      var graph_data = $.parseJSON($('#graph_data').html());
      generate_graphs($('.graphs_container'), graph_data);
    })

.container_12{:style => 'width: 1050px'}
  .border.clearfix
    .grid_9.alpha
      %h1
        ="#{@cos_name ? "#{@cos_name} CoS -" : ''}"
        ="#{@graph_date_range_start} to #{@graph_date_range_end}"

    .grid_3.align_right.service_provider_logo.omega{:style => 'float:right'}
      =provider_logo(@current_user.service_provider, pdf=true)

  .border.clearfix
    %h3.inline
      - if @entity.respond_to?(:alarm_state)
        - state = @entity.alarm_state.state.to_s
        - unless state == AlarmSeverity::NO_STATE
          %span.state.dot{'class' => "#{alarm_state_class(state)}"}
        &nbsp;
        %span
          = @entity.respond_to?(:short_name) ? @entity.short_name : "#{@monitoring_title} Graphs" 

.container_12.clearfix{:style => 'width: 1050px;'}
  .grid_12{:style => 'width: 1050px'}
    .right{:style => 'margin-right: 15px'}
      -@data[:graphs].each do |graph|
        -chart = graph[0]
        -chart[:data][:cols].each do |col|
          -if col[:id] != 'date'
            .right{:style => 'margin-left: 5px'}
              %span.state.dot{:style => "background-color: #{col[:color]};margin: 0 5px;"}
                &nbsp;
              =col[:label]
    %br.clear         
    .graphs_content
      %ul.graphs
        %li.graph_wrapper
          .graphs_container{:style => 'display: block !important'}
            .graph{'data-url' => ''}
              .template
                .dygraph.graph_container.first
                .graph_container
                  .table
                  .graph_labels
              .display_area.clearfix