.map_tabs_container
  %h3 
    #{get_term(:path, true)}
    - if @path_ids && @path_ids.size > 1
      .view_all_paths
        = link_to "View all #{get_term(:path, true)} (#{@path_ids.size})", paths_path(:path_ids => @path_ids, :mode => @mode), :class => 'submit_button', :target => '_blank'

  %ul.map_tabs
    - @ovcs.each_with_index do |ovc, index|
      %li{:class => "#{index.zero? ? 'active' : ''}", 'onclick' => 'return map_info_window_show_tab(this)'} 
        %a{:href=>"#tab_#{index}"} 
          - state = ovc.get_SM_state.try(:state_css_classify)
          %span.state.dot{'class' => "#{monitoring_state_class(state)}"}
          %span.tab_title
            #{index+1}

.map_tabs_content_wrapper
  - @ovcs.each_with_index do |ovc, index|
    .map_tab_content{:id => "tab_#{index}", :class => "#{index.zero? ? 'active' : ''}"}
      .map_marker_info.monitoring
        %h2 
          = member_handle ovc
          
        .monitoring_date_range.button-group
          %span.submit_button{date_range_options(:last_hour, @date_range_selected)}
            Last Hour
          %span.submit_button{date_range_options(:today, @date_range_selected)}
            Today
          %span.submit_button{date_range_options(:seven_days_previous, @date_range_selected)}
            Past 7 days
          %span.submit_button{date_range_options(:month_to_date, @date_range_selected)}
            Month to Date
        
        %ul.map_tab_sections
          -# Stats are stored in cos test vectors (ovc->segment_end_point->cos_end_point->cos_test_vector)
          - stats_entities = ovc.segment_end_points.select{ |ep| ep.is_monitored }.map{|e| e.cos_end_points.map(&:stats_entities) }.flatten
          - unless stats_entities.blank?
            - stats_entities.each do |stats_entity|
              %li.map_tab_section
                %h3.map_tab_section_header{'onclick' => 'return map_info_window_show_section(this)'} 
                  -# Show alarm state dot beside section name
                  - if stats_entity.respond_to?(:alarm_state)
                    - state = stats_entity.alarm_state.state.to_s
                    - unless state == AlarmSeverity::NO_STATE
                      %span.state.dot{'class' => "#{alarm_state_class(state)}"}
                  %span.graph_title
                    = stats_entity.respond_to?(:short_name) ? stats_entity.short_name : "Monitoring Data"   
                - cos_name = stats_entity.cos_end_point.cos_name
                %div.map_tab_section_content{'data-url' => network_monitoring_cos_test_vector_path(stats_entity.id, {cos_name: cos_name})}
        
        - path_count = ovc.paths.count
        - unless path_count.zero?
          = link_to paths_path(:filter => ovc.cenx_id, :mode => @mode), :class => 'submit_button', :target => '_blank' do
            = path_count == 1 ? "View #{get_term(:path)}" : "View #{pluralize(path_count, get_term(:path))}"

    