.header
  .title
    %h2 
      -# SPRINT HACK: Not sure if this is but point it out anyways
      - member_handle_entity = @entity.is_a?(OvcEndPoint) && @entity.segment.is_a?(OffNetOvc) ?  @entity.demarc : @entity
      %span= "#{member_handle_for_current_user(member_handle_entity, @current_user)}"
    %ul.entity_info
      = list_label_and_value 'CENX ID', @entity, :cenx_id
  
  - # ENNIs have their own dashboards and list screens, so link to them
  - if @entity.is_a?(EnniNew) && @entity.demarc_icon != 'router'
    = link_to "#{get_term(:enni)} View", ennis_path(:enni_details => @entity.id, :mode => @mode), :class => 'submit_button view_enni', :target => '_blank'

  .clearfix

%div#monitoring_popup.tabs{:class => ['monitoring',@entity.class.name,@entity.id].join('_')}

  %ul
    %li 
      %a{:href => "#state_content"} State
    - if @graph_tabs
      - @graph_tabs.each do |graph_tab|
        %li 
          %a{:href => "#tabid_" + graph_tab.id.to_s} #{graph_tab.respond_to?(:cos_name) ? "#{graph_tab.cos_name} CoS" : 'Graphs'}
          
    %li 
      %a{:href => "#events_content"} Events
  
  %ul

    %li#state_content.tab
      = render :partial => 'shared/monitoring_state'

    - if @graph_tabs
      - @graph_tabs.each do |graph_tab|

        -# Tab per Cos (cos end point)
        %li.graphs_content.tab{:id => "tabid_" + graph_tab.id.to_s}
          = render :partial => "shared_monitoring/date_range", :locals => {:label => 'Date Range', :date_range_start => @graph_date_range_start, :date_range_end => @graph_date_range_end}
          %ul.sections.clearfix
            -# Section per Cos Test Vector
            = render :partial => "shared_monitoring/stats_entity", :collection => graph_tab.stats_entities, :locals => {:cos_name => graph_tab.respond_to?(:cos_name) ? graph_tab.cos_name : nil}


    %li#events_content.tab
      = render :partial => "shared_monitoring/events"

= render :partial => 'shared/toggle_mode'

- if @entity.is_a?(Segment) || @entity.is_a?(Demarc)
  .buttons_section
    .provisioning_state_update
      = render :partial => 'shared/provisioning_state_update'

.clearfix
