.header
  %h2 NE
  .clearfix

- # Tables becuase of the dynamic positioning of the tipsy bubble, problems with bubbles close to edge of screen
%table
  %tr
    %td.first
      %h3 #{@entity.name}
      %div.tipsy_container
        %ul
          = list_label_and_value 'Node Type', @entity, :node_type
      .buttons_section
        .provisioning_state_update
          = render :partial => 'shared/provisioning_state_update'
    %td
      = render :partial => 'shared/prov_state'

.clearfix