.header
  %h2 Details
  = provider_logo(@entity.service_provider)
  .clearfix

- # Tables becuase of the dynamic positioning of the tipsy bubble, problems with bubbles close to edge of screen
%table
  %tr
    %td.first
      = render :partial => '/paths/standard_sections_top'

      %h3 Normalized Attributes
      %div.tipsy_container
        %ul
          - segment_type = @entity.segment_type

          = list_label_and_value 'Aggregation Site', @entity.site, :name
          = list_label_and_value 'Equipment Used', segment_type, :equipment_vendor
          = list_label_and_value 'Type', @entity, :router_type
          = list_label_and_value 'Domain', @entity, :routing_domain
          = list_label_and_value 'Router ID', @entity, :router_id
          = list_label_and_value 'AS', @entity, :as_id            


          -# HACK: Really CENX
          - if @entity.service_provider.really_cenx?
            = list_label_and_value 'Segment Type', segment_type, :name
            = list_label_and_value 'Underlying Technology', segment_type, :underlying_technology
            = list_label_and_value 'Redundancy Mechanism', segment_type, :redundancy_mechanism
            = list_label_and_value 'CoS Name(s)', @entity, :cos_instances, proc { |x| x.map{|i|i.class_of_service_type.name}.join(', ') }
            = list_label_and_value 'MTU', segment_type, :max_mtu
            = list_label_and_value 'Color Marking', segment_type, :color_marking
            = list_label_and_value 'Unicast Frame Delivery', segment_type, :unicast_frame_delivery_conditions
            = list_label_and_value 'Multicast Frame Delivery', segment_type, :multicast_frame_delivery_conditions
            = list_label_and_value 'Broadcast Frame Delivery', segment_type, :broadcast_frame_delivery_conditions
            = list_label_and_value 'MEF 9 Certifcation', segment_type, :mef9_cert
            = list_label_and_value 'MEF 14 Certification', segment_type, :mef14_cert
      
    %td
      = render :partial => '/paths/standard_sections_bottom'

= render :partial => 'shared/toggle_mode'

-# Generate config button and text
%button.submit_button.genconfig{generate_config_data_urls(@entity)}
  Generate Config
= link_to 'close', '#', :class => 'genconfig_close hidden'
.genconfig_text.hidden

.clearfix