.header
  %h2 Site
  .clearfix

- # Tables becuase of the dynamic positioning of the tipsy bubble, problems with bubbles close to edge of screen
%table
  %tr
    %td
      %h3 #{@site.name}
      %div.tipsy_container
        %ul
          = list_label_and_value 'Type', nil, general_type_to_string(@site.general_type)
          = list_label_and_value 'Owner', @site.operator_network.operator_network_type, :name
          = list_label_and_value 'Address', nil, [@site.address, @site.city, "#{@site.state_province} #{@site.postal_zip_code}"].compact.join(', ')
          = list_label_and_value 'Lat / Lng', nil, "#{@site.latitude} / #{@site.longitude}"
          = list_label_and_value 'Contact', @site, :emergency_contact_info

.clearfix


