.header
  %h2 Details
  = provider_logo(@entity.service_provider)
  .clearfix

%table
  %tr
    %td.first
      = render :partial => '/paths/standard_sections_top'

      %h3 Normalized Attributes
      %div.tipsy_container
        %ul
          - segment_type = @entity.segment_type
          = list_label_and_value get_term(:service_provider), @entity.service_provider, :name
          = list_label_and_value 'Network', @entity.get_operator_network, :name
          = list_label_and_value 'Service Type', @entity.ethernet_service_type, :name
          = list_label_and_value "#{get_term(:segment)} Type", segment_type, :name
          = list_label_and_value 'Equipment Used', segment_type, :equipment_vendor
          = list_label_and_value 'Underlying Technology', segment_type, :underlying_technology
          = list_label_and_value 'Redundancy Mechanism', segment_type, :redundancy_mechanism
          = list_label_and_value 'CoS Name(s)', nil, @entity.cos_instances.map{|i|i.class_of_service_type.name}.join(",")
          = list_label_and_value 'VLAN Preservation', segment_type, :c_vlan_id_preservation
          = list_label_and_value 'CE CoS Preservation', nil, yes_no(segment_type.c_vlan_cos_preservation)
          = list_label_and_value 'MTU', segment_type, :max_mtu
          = list_label_and_value 'Color Marking', segment_type, :color_marking
          = list_label_and_value 'Unicast Frame Delivery', segment_type, :unicast_frame_delivery_conditions
          = list_label_and_value 'Multicast Frame Delivery', segment_type, :multicast_frame_delivery_conditions
          = list_label_and_value 'Broadcast Frame Delivery', segment_type, :broadcast_frame_delivery_conditions
          = list_label_and_value 'MEF 9 Certifcation', segment_type, :mef9_cert
          = list_label_and_value 'MEF 14 Certification', segment_type, :mef14_cert

      %h3 Service Monitoring
      %div.tipsy_container
        %ul
          = list_label_and_value 'Monitored', @entity, :has_monitored_endpoints, format_yes_no, 'No'

    %td      
      = render :partial => '/paths/standard_sections_bottom'

= render :partial => 'shared/toggle_mode'

.buttons_section
  .provisioning_state_update
    = render :partial => 'shared/provisioning_state_update'

.clearfix
      
      