// position the vertical lines in the diagrams
function resize_vertical_lines() {
  $('.vertical_diagram_line').each(function(){
    var vertical_line = $(this),
        gap_height = 0,
        top_position = -17,
        padding_adjustment = (top_position * -1) + 7;
  
    var vertical_line_position = vertical_line.position().top,
        next_row_position = vertical_line.closest('tr').next('tr').position().top,
        gap = vertical_line.closest('tbody').prev().find('tr.positioned:visible');
  
    if (gap) {
      gap_height = gap.height();
      top_position = -(Math.abs(gap_height)) + top_position;
    }

    var margin_left = vertical_line.hasClass('left') ? (vertical_line.parent().width() / 2 - vertical_line.width()) - 1 : (vertical_line.parent().width() / 2) - 2;

    vertical_line.css({marginLeft:  margin_left,
                       height: next_row_position - vertical_line_position + padding_adjustment + gap_height,
                       marginTop: top_position});
  })
}


// Variable used to hold tooltip data to be passed to tipsy, issues with scope otherwise
var tooltip_contents ='';
var tipsy_request = undefined;

// Add close button to tooltips box
$.fn.add_close_button = function() { 
  var elem = this,
      bubble = elem.tipsy(true).tip(),
      close_button = $('<%= image_tag("close.png",:class => "tipsy-close",:alt => "close") %>');

  bubble.find('.tipsy-close').remove(); // incase one got left behind
  close_button.click(function(){ 
    elem.tipsy('hide'); 
    entity_with_bubble = undefined;
  }).prependTo(bubble);
  
  return this;
}

// Position data sets (some data sets have to be positioned absolutely)
$.fn.position_data_set = function() {

  // only positioned data_sets get height, return if not positioned
  if (!this.hasClass('positioned')) {
    // still have to resize vertical lines
    resize_vertical_lines();          
    return false;
  }
  
  var max_data_set_height = 0;

  // diagram height must set set before proper width can be determined
  this.each(function(){
    
    var data_set_row = $(this),
        max_data_set_height = 0;
    
    // find max data set height so diagram height can be adjusted to fit data sets
    data_set_row.find('.data_set').each(function(){
      var data_set = $(this);
      if (data_set.outerHeight() > max_data_set_height) {
        max_data_set_height = data_set.outerHeight();
      }
    });
    
    // set cell height to make room for data set height
    data_set_row.css({height: max_data_set_height + 10});
    
  });

  // now position each data set underneath it's component
  this.each(function(){

    var data_set_row = $(this),
        viewport = data_set_row.closest('.viewport');

    data_set_row.find('.data_set_cell').each(function(){

      var cell = $(this), 
          data_set = cell.find('.data_set'), 
          id = cell.attr('data-component_html_id'),
          component = $('#' + id);
        
      var pos = $.extend({}, component.position(), {
          width: component.offsetWidth,
          height: component.offsetHeight
      });

      // Take viewport into account when positioning
      var real_lpos = pos.left + viewport.scrollLeft();
      var css_position;

      // first data set is left aligned
      if (cell.hasClass('pointer_on_left')) {
        // position data set cell
        css_position = {left: real_lpos};

      // last data set set is right aligned
      } else if (cell.hasClass('pointer_on_right')) {
        lpos = real_lpos - data_set.outerWidth()  + component.outerWidth();
        css_position = {left: lpos};

      // all others are centered
      } else {
        lpos = real_lpos - (data_set.outerWidth() / 2)  + (component.outerWidth() / 2);
        css_position = {left: lpos};
      }

      data_set.css(css_position)

      // resize vertical lines after data sets positioned
      resize_vertical_lines();          
    
    });
    
  });
  
  return this;
}

function close_bubble() {
  $('.tipsy').remove();
  // no entity has a bubble now
  entity_with_bubble = undefined;
}

// Show data set selected in circuit view options
function show_data_set(context) {

  // circuit view options is global defined in events.js.erb
  var data_set = get_selected_data_set();
  var data_set_name = data_set.val();
  
  // remove existing tooltips
  close_bubble();

  if (context == undefined) {
    $('.data_set_row:visible').hide();
  } else {
    $('.data_set_row:visible', context).hide();
  }

  // position data sets after hiding so vertical lines
  resize_vertical_lines();

  if (data_set_name != undefined && data_set_name.length) {

    //show spinner for slice dropdown
    show_circuit_view_spinner();

    // get data set rows
    data_sets = (context == undefined ? $('.data_set_row.' + data_set_name) : $('.data_set_row.' + data_set_name, context));
    
    data_sets.each(function(){
      
      var data_set_row = $(this);
      
      if (data_set_row.hasClass('cached')) {

        data_set_row.show();
        data_set_row.position_data_set();
        //hide spinner for slice dropdown
        show_circuit_view_spinner(false);

      } else {
        
        // Tack on if diagram is reversed or not
        reverse_diagram = data_set_row.closest('.top_level_entity').find('.reverse_diagram .submit_button').attr('data-reverse');
        
        $.get(data_set_row.attr('data-url'), {reverse_diagram: reverse_diagram}, function(data, textStatus, request) {
          
          // This required to trap the login page that cas redirects to if ticket or session expires
          if (is_login_page(request)) return false;
                    
          // add html to row
          data_set_row.html(data);
        
          // show data set
          // must make invisible so we can calculate width before making visible
          data_set_row.css('visibility', 'hidden').show();

          // some data sets are absolutely positioned
          data_set_row.position_data_set();
          
          // make visible now that width has been calculated and data set is positioned
          data_set_row.css('visibility', 'visible');
        
          data_set_row.addClass('cached');

        });
      }
    });
    return data_set_name;
  }
  return false;
}

// get data set selected in circuit view options
function get_selected_data_set() {
  // circuit view options is global defined in events.js.erb
  return circuit_view_options.find("option:selected");
}

function position_all_data_sets() {
  // circuit view options is global defined in events.js.erb
  var data_set = get_selected_data_set(),
      data_set_name = data_set.val();
  if (data_set_name != undefined && data_set_name.length) {
    $('.data_set_row.' + data_set_name).position_data_set();
  } else {
    resize_vertical_lines();
  }
}

// Show or hide spinner on Slice dropdown
function show_circuit_view_spinner(show) {
  $('#data_set_options_chzn').find('b').show_activity(show);
}

function show_entity_tooltip(entity, onload, mode) {


  if (mode == undefined) {
    mode = entity.closest('.top_level_entity').attr('data-mode');
  }

  // Some elements use data-url and some have different urls for monitoring and inventory
  var data_url = entity.attr('data-url');
  if (data_url == undefined) {
    data_url = data_url_for_mode(entity, mode);
  }

  if (data_url == undefined) {
    return false;
  }
  
  // immediately give user indication some thing is happening
  cursor_wait();

  // remove existing tooltips
  close_bubble();
  
  // do we show the entities bubble on page load?
  if (onload == undefined) {
    onload = false;
  }
  
  var url = $.param.querystring(data_url, {component_html_id: entity.attr('id')});

  if (tipsy_request != undefined) {
    tipsy_request.abort();
  }
  
  // Get information for tooltip via ajax
  tipsy_request = $.get(url, function(data, textStatus, request) {

    // This required to trap the login page that cas redirects to if ticket or session expires
    if (is_login_page(request)) return false;

    // This required to trap the login page that cas redirects to if ticket or session expires
    // if (is_login_page(request)) return false;
    if (data != undefined && $.trim(data).length > 0) {
      
      if (onload) {
        // Entity might be offscreen (horizontal scrollbar) so scroll left to entity and once there trigger tipsy bubble
        entity.closest('.viewport').scrollTo(entity, 100, {onAfter: function(){
          show_bubble(entity, data, mode, onload);
        }});
      } else {
        // Confusing to scroll the screen if user just clicked the element (instead of showing bubble on page load)
        show_bubble(entity, data, mode, onload);
      }
    }

  }).done(function() {
    cursor_wait_is_over();
  });
  
  // track current entity with a bubble open
  entity_with_bubble = entity

}

function show_bubble(entity, data, mode, onload) {

  var params = $.deparam.querystring(); 

  tooltip_contents = data;

  // Select first tab for ordering bubble and 2nd tab for monitoring
  var monitoring_tab_index = 1;
  monitoring_tab = $(tooltip_contents).find("#tabid_" + params.tab_id);
  if (monitoring_tab.exists()) {
    monitoring_tab_index = monitoring_tab.index();
  }

  var selected_tab = mode == 'monitoring' ? monitoring_tab_index : 0;

  // configure tooltip and show tooltip
  entity.tipsy({
    trigger: 'manual', 
    opacity: 1, 
    // NOTE: autoNSWE added by CENX, not part of plugin
    html: true,
    offset: 0,
    title: function() { return tooltip_contents; },
    before: function() { 
      $('.tabs').tabs({
        show: function(event, ui) { 
          var panel = $(ui.panel)
          var load_on_tab_display = panel.find('.load_on_tab_display:empty'),
              section_headers = panel.find('.section_header');

          // If only 1 section then just open it
          if (load_on_tab_display.length > 0) {
            load_on_tab_display.activity().load(load_on_tab_display.attr('data-url'));
          }

          if (onload) {
            // Open graph automatically if defined in querystring
            var graph_type = params.graph_type,
                section_id = params.section_id,
                date_range_start = params.date_range_start,
                date_range_end = params.date_range_end;

            // set date before opening graph if defined
            if (date_range_start != undefined && date_range_end != undefined) {
              var input_date_range_start = panel.find('.date_range_start'), input_date_range_end = panel.find('.date_range_end');
              if (input_date_range_start.exists() && input_date_range_end.exists()) {
                input_date_range_start.val(date_range_start);
                input_date_range_end.val(date_range_end);
              }
            }

            var graphs_found = false;
            // Now open up graph if defined and found in tab
            if (graph_type != undefined) {
              var selector = '.graph_wrapper[data-graph_type="'+graph_type+'"]',
                  sctn = panel.find("#sectionid_" + params.section_id),
                  graphs = sctn.exists() ? sctn.find(selector) : panel.find(selector);

              graphs.addClass('highlight_graph');
              graphs.closest('.section').find('.section_header').click();
            }
          } else if (section_headers.length == 1) {
            section_headers.first().click();
          }
      
        },
        panelTemplate: '<li></li>',
        selected: selected_tab
      }); 
    },
    after: function(bubble) {
      // Scroll page to container
      $.scrollTo(bubble, 1000, {offset: {top:-150}});
      bubble.addClass('bubble');
    }
  }).tipsy("show").add_close_button();

}

function cursor_wait() {
  $('body').addClass('wait');
}

function cursor_wait_is_over() {
  $('body').removeClass('wait');
}

// Update component state in diagram
function update_component_state(component, new_state) {
  component.removeClass(component.attr('data-current_state'));
  component.addClass(new_state);
  component.attr('data-current_state', new_state);
}

// Get data url for ajax request based on mode
function data_url_for_mode(entity, mode) {
  // Get appropriate url to query
  switch (mode) {
    case 'ordering': data_url = entity.attr('data-ordering_url'); break;
    case 'inventory': data_url = entity.attr('data-inventory_url'); break;
    case 'monitoring': data_url = entity.attr('data-monitoring_url'); break;
  }
  return data_url;
}

var circuit_view_options;
var entity_with_bubble;

function path_diagram(){
  // Reposition data sets if screen is resized
  $(window).resize(function() {
    position_all_data_sets();
    // reposition tipsy element
    if (entity_with_bubble != undefined) {
      // if the viewport scrolled is parent of clicked element then reposition bubble
      entity_with_bubble.tipsy('position');
    }
  });

  // Move bubble with entity with viewport scrolls
  move_bubble_on_scroll();
  
  circuit_view_options = $('#data_set_options');
  
  // show current data set on page load and change dataset when dropdown changes
  circuit_view_options.live('change', function(){
    show_data_set();
  });
  
  // show indicator when circuit views are loading
  circuit_view_options.ajaxStop(function(){
    show_circuit_view_spinner(false);
  });
  
  // Attach click events to all diagrams so we can show details
  $('.show_entity_tooltips .diagram .entity').live('click', function(event){
    
    // do not want parent entities to be clicked
    event.stopPropagation();
    
    // show tooltip above or below diagram
    show_entity_tooltip($(this));
  });
  
  // Attach click events to all states so we can show details
  $('.state.clickable').live('click', function(event){
    
    // do not want parent entities to be clicked
    event.stopPropagation();
  
    // show tooltip above or below diagram
    show_entity_tooltip($(this));
  });
  
  // Attach click events to mode toggle buttons (pills) in bubbles
  $('.tipsy .toggle_mode .alternate').live('click', function(event){
    // show tooltip above or below diagram
    var toggle_button = $(this), entity = $('#' + toggle_button.attr('data-component_html_id')), mode = toggle_button.attr('data-mode');
    show_entity_tooltip(entity, false, mode);
  });
  
  
  // Disable submit order button for now
  // TODO: Handle Submit order button (in bubble)
  // TODO: Submit hacked in, might need to grey it out again
  // $('.tipsy .submit_order').live('click', function(event){
  //   event.preventDefault();
  // });
  
  // Generate config button in bubble
  $('.tipsy .genconfig').live('click', function(event){

    var genconfig_button = $(this), 
        tipsybox = genconfig_button.closest('.tipsy'),
        genconfig_text = tipsybox.find('.genconfig_text'),
        genconfig_close_button = tipsybox.find('.genconfig_close');

    genconfig_button.show_activity();

    // Close button for Generate config text in bubble
    genconfig_close_button.click(function(event){
      event.preventDefault();
      genconfig_text.slideUp('slow', function() {
        genconfig_close_button.hide();
      });
    });

    $.get(genconfig_button.attr('data-url'), function(data, textStatus, request) {
      // This required to trap the login page that cas redirects to if ticket or session expires
      if (is_login_page(request)) return false;
      // show close button
      genconfig_close_button.show();
      genconfig_button.show_activity(false);
      // Don't increase box size
      // Show genconfig text
      genconfig_text.css('width', tipsybox.width() - 65).html(data).slideDown('slow');      
    });
  });

  // Generate config button in bubble
  $('.tipsy .provisioning_state_update .submit_button').live('click', function(event){

    var btn = $(this),
        wrapper = btn.closest('.provisioning_state_update');

    btn.show_activity();
    
    $.ajax({
      url: btn.attr('data-url'),
      type: 'PUT',
      success: function(data, textStatus, request) {
        // This required to trap the login page that cas redirects to if ticket or session expires
        if (is_login_page(request)) return false;

        // Update diagram color
        // TODO: remove this code once socket.io starts doing this for us.
        var component_html_id = btn.closest('.component_html_id').attr('data-component_html_id'),
            new_state = btn.attr('data-new_state');
        
        if (component_html_id != undefined) {
          var components = $('.' + component_html_id.substring(component_html_id.indexOf('_')+1))

          // Update state of each component and maybe siblings (end points if segment)
          components.each(function() {
            var component = $(this),
                top_level_entity = component.closest('.top_level_entity');

            if (top_level_entity.exists() && top_level_entity.attr('data-mode') == 'inventory') {
              update_component_state(component, new_state);
              // If segment then get siblings of parent td since they are a special case
              var entity = component.hasClass('entity') ? component : component.parent();
              if (entity.hasClass('segment')) {
                var left_end_point = entity.prev(), right_end_point = entity.next();
                if (left_end_point.exists()) {
                  update_component_state(left_end_point, new_state);
                }
                if (right_end_point.exists()) {
                  update_component_state(right_end_point, new_state);
                }
              }
            }
            
          });

        }

        btn.show_activity(false);
        wrapper.html(data);

      }
    });
    
  });

  // close tipsy if users clicks outside box
  // PROGRAMMERS NOTE: Selector must include the bubble itself plus any element that can be added to the dom outside of the bubble (ie datepicker)
  // Dave asked to remove this, cannot cut and paste cenx_ids when bubble is open
  // var in_popup = false;
  // $('.tipsy-inner, .ui-datepicker').live({
  //   mouseenter: function(){ in_popup = true; },
  //   mouseleave: function(){ in_popup = false;}
  // });
  // 
  // $('body').mouseup(function(){ 
  //   if (!in_popup) { $('.tipsy').remove(); }
  // });
  
  
  // ******************
  // * Event History
  // ******************
  
  // Refresh button on event history
  $('.event_history .submit_button').live('click', function(event){
    var view_button = $(this),
        event_history_content = view_button.closest('.event_history_content'),
        date_start = event_history_content.find('.date_range_start').val(),
        date_end = event_history_content.find('.date_range_end').val(),
        date_range_time_zone = event_history_content.find('.date_range_time_zone').val();
    
    // Use url that initially loaded content to refresh content with a date range
    event_history_content.load($.param.querystring(event_history_content.attr('data-url'), {date_range_start: date_start, date_range_end: date_end, time_zone: date_range_time_zone}));
    return false;
  });
  
  // Pagination links for event history should load in tab
  $('.event_history .pagination a').live('click', function(event) {
    $(this).closest('.paginated_section').load(this.href);
    $(this).closest('.pagination').show_activity();
    return false;
  });
  
  // $('.evc').live('hover', function(){
  //   $(this).find('.toggle_mode').toggle();
  // });
  
  $('.top_level_entity .toggle_mode .alternate, .reverse_diagram .submit_button').live('click', function(event){
  
    var btn = $(this),
        wrapper = btn.closest('.top_level_entity_wrapper'), 
        top_level_entity = wrapper.find('.top_level_entity'), 
        mode = btn.attr('data-mode'),
        reverse_diagram = top_level_entity.find('.reverse_diagram .submit_button').attr('data-reverse'),
        data_url = data_url_for_mode(top_level_entity, mode),
        btn_parent = btn.parent();
        
    if (btn_parent.hasClass('reverse_diagram')) {
      flip_direction = 'lr';
      // Flip diagram
      reverse_diagram = reverse_diagram == 'false' ? 'true' : 'false';
    } else {
      flip_direction = 'bt';
    }
    
    // This is link, but do not let it go anywhere
    event.preventDefault();

    // remove existing tooltips
    close_bubble();
  
    // Get evc from server
    $.get(data_url, {reverse_diagram: reverse_diagram}, function(data, textStatus, request) {
      // This required to trap the login page that cas redirects to if ticket or session expires
      if (is_login_page(request)) return false;
      
      wrapper.flip({
        direction: flip_direction,
        content: data,
        color: '#fff',
        speed: 1000,
        onBefore: function(){
          // Show data set again
          $('.data_set_row:visible', wrapper).css('visibility', 'hidden');
          },
        onEnd: function(){
          // bind onscroll to viewport again since live doesn't work with live()
          move_bubble_on_scroll();
          // Show data set again
          show_data_set(wrapper);
          }
      });
    });
  });
  
  // Update states
  $('.edit_state button').live('click', function() {

    var btn = $(this),
        next_state = btn.find('.state').attr('data-next_state');

    // update state and refresh state display
    // Must be a http PUT
    $.ajax({
      url: btn.attr('data-url'),
      type: 'PUT',
      success: function(data, textStatus, request) {
        // This required to trap the login page that cas redirects to if ticket or session expires
        if (is_login_page(request)) return false;

        // Update diagram color if in ordering
        // TODO: remove this code once socket.io starts doing this for us.
        var component_html_id = btn.closest('.component_html_id').attr('data-component_html_id'),
            component = $('.' + component_html_id.substring(component_html_id.indexOf('_')+1)),
            top_level_entity = component.closest('.top_level_entity');
            
        if (top_level_entity.exists() && top_level_entity.attr('data-mode') == 'ordering') {
          update_component_state(component, next_state);
        }

        // Reload all tab contents since data has changed on server
        reload_tabs(btn);
      
      }
    });
  });
  

  $('.order_form .editable').live('click', function(){
    // configure tooltip and show tooltip
    $(this).tipsy({
      trigger: 'manual', 
      opacity: 1, 
      // NOTE: autoNSWE added by CENX, not part of plugin
      html: true,
      offset: 0,
      title: function() { return $(this).closest('.laf_wrapper').siblings('.editable_wrapper').first().html() }
    }).tipsy("show").add_close_button();

    // Set focus to first input
    $('.tipsy-inner > #order_field_update input').first().focus(); 
    
  });
  
  $('#order_field_update .submit_button').live('click', function(){

    // Some elements use data-url and some have different urls for monitoring and inventory
    var btn = $(this),
        value = btn.siblings('input').first().val();

    // btn.wrapped_activity();
  
    // Get information for tooltip via ajax
    $.ajax({
      url: btn.attr('data-url'), 
      type: 'PUT',
      data: {value: value},
      success: function(data, textStatus, request) {
        // This required to trap the login page that cas redirects to if ticket or session expires
        if (is_login_page(request)) return false;

        // close field update bubble
        btn.closest('.tipsy').find('.tipsy-close').click();

        // Reload all tab contents since data has changed on server
        // TODO: Hacked it to reload all tabs, should just be tabs in current bubble
        reload_tabs($('.tabs'));
                
      },
      error: function(request, textStatus, exception) {
        var response_text = request.responseText,
            message =  response_text != undefined && response_text.length > 0 ? response_text : 'Error Updating Field.';
        btn.closest('#order_field_update').append('<div class="error">' + message + '</div>');
      }
    });
    
  });
  
  function reload_tabs(elem) {
      var load_on_tab_display = elem.closest('.tabs').find('.load_on_tab_display');
      if (load_on_tab_display.length > 0) {
        load_on_tab_display.each(function() {
          var content_wrapper = $(this);
          content_wrapper.load(content_wrapper.attr('data-url'));
        });
      }
  }

  
}

// reposition bubble on viewport scroll
// Scroll cannot be live event so we need to attach everytime a new viewport is displayed (ie changing modes or reversing diagram)
function move_bubble_on_scroll() {
  $('.viewport:not(.scroll_attached)').scroll(function(){
    var viewport = $(this);
    if (entity_with_bubble != undefined) {
      // if the viewport scrolled is parent of clicked element then reposition bubble
      if (entity_with_bubble.parent(viewport).length > 0) {
        entity_with_bubble.tipsy('position');
      }
    }
  }).addClass('scroll_attached');

}