// *************************
// IE8 HACK: See below
// Had to hack excanvas.js to get graphs to render properly in IE8
// IE7 Compatiability mode caused too many problems
// *************************
      
$('.export_graph').live('click', function(e) {
  e.preventDefault(); 
  window.open($(this).attr('href') + '&' + $.param({'date_range_start': $('.date_range_start').val(), 'date_range_end': $('.date_range_end').val(), 'date_range_selector': $('.date_range_selector').val()}));
});

$('.export_compare_graph').live('click', function(e) {
  e.preventDefault(); 
  $graphs_content = $(this).parent();
  window.open($(this).attr('href') + '&' + $.param({'date_range_start': $graphs_content.find('.date_range_start').val(), 'date_range_end': $graphs_content.find('.date_range_end').val(), 'date_range_selector': $graphs_content.find('.date_range_selector').val()}));
});


function generate_graphs(graphs_container, json) {

  var graph = graphs_container.find('.graph'),
      graph_specific_date_range_input = graphs_container.find('.date_range_input'),
      path_details = graphs_container.parents('#path_details'),
      link = graphs_container.siblings('a'),
      json = typeof json !== 'undefined' ? json : null,
      date_range_start, date_range_end, date_range_selector, date_range_time_zone;
      
  if (graph_specific_date_range_input.exists()) {
    date_range_start = graph_specific_date_range_input.find('.date_range_start').val();
    date_range_end = graph_specific_date_range_input.find('.date_range_end').val();
    date_range_selector = graph_specific_date_range_input.find('.date_range_selector').val();
    date_range_time_zone = graph_specific_date_range_input.find('.date_range_time_zone').val();
  } else {
    var graphs_content = graphs_container.closest('.graphs_content');
    date_range_start = graphs_content.find('.date_range_start').val();
    date_range_end = graphs_content.find('.date_range_end').val();
    date_range_selector = graphs_content.find('.date_range_selector').val();
    date_range_time_zone = graphs_content.find('.date_range_time_zone').val();
  }

  // display area to clone templates into so templates are repeatable
  var display_area = graph.find('.display_area');
  
  if (json) {
    
    plot_graph_data(json, null, null);

  } else {

    var dates = {'date_range_start': date_range_start, 'date_range_end': date_range_end, 'date_range_selector': date_range_selector, 'time_zone': date_range_time_zone},
        url = $.param.querystring(graph.attr('data-url'), dates);

    // Show graph loading
    $('<div></div>').appendTo(display_area.empty()).addClass('graph_loading').show_activity();

    var xhr = $.getJSONX(
      url,
      {},
      plot_graph_data,
      function(request, textStatus, exception) {
        // status = 0 means request was aborted so don't show error
        if (request.status == 0 || textStatus == 'abort') {
          return false;
        }
        
        error_data(display_area);
        
      });
  }

  //called with successful graph JSON results
  function plot_graph_data(json, textStatus, request) {
    
    // This required to trap the login page that cas redirects to if ticket or session expires
    if (request) {
      if (is_login_page(request)) return false;
    }

    // get all graphs
    var graph_sets = json.graphs;

    // clear display area ready for new graphs
    display_area.empty();

    if (graph_sets == undefined) {

      error_data(display_area);

    } else if (graph_sets.length == 0) {

      no_data(display_area);

    } else {

      if (dates) {
        graph.attr('data-date_range_start', dates.date_range_start).attr('data-date_range_end', dates.date_range_end);
      }
      
      // Loop through each graph and display
      $.each(graph_sets, function(i, set) {
        
        // clone template and add to display area since we can have multiple graphs of the same type
        var container = graph.find('.template').clone().removeClass('template').appendTo(display_area)

        $.each(set, function(j, graph) {

          switch (graph.type) {
            case 'dygraph': 
              dygraph(container, graph, json);
              break;
            case 'table':
              table(container, graph, json);
              break;
          }
        });
        
      });
    }

  }

  // call to get graph data returned an error
  function error_data(container, title) {
    var err_str = (title != undefined && title.length) ? 'Error retrieving graph data for <em>' + title + '</em>': 'Error retrieving graph data';
    container.html('<div class="server_error small_box">' + err_str + '</div>');
  }

  // call to get graph data returned no data
  function no_data(container, title) {
    var no_data_str = (title != undefined && title.length) ? 'No data to report for <em>' + title + '</em>': 'No data to report';
    container.html('<div class="no_data small_box">' + no_data_str + '</div>');
  }

  // Generate a Google Visualizations Dygraph
  function dygraph(container, graph, json) {

    // create data table from json
    
    var json_data = $.toJSON(graph.data), 
        data = new google.visualization.DataTable(json_data),
        dygraph = container.find('.dygraph');
        
    if (data.getNumberOfRows() > 0) {

      // Show export buttons if date is actually graphed
      container.closest('.graphs_container').find('.export_buttons').show();

      // PROGRAMMERS NOTE: .get(0) will return base javascript object
      var chart = new Dygraph.GVizChart(dygraph.get(0));

      // Draw Chart
      chart.draw(data, chart_options(container, graph, json));

      dygraph.closest('.graphs_container').find('.compare_graph_side_by_side').click(function(){
        console.log(json_data);
      });

      // if there is a details series then we we need a show and hide button
      if (graph.details_series != undefined && graph.details_series.length > 0) {
        include_graph_button(chart, dygraph, {show_text: 'Show Details', hide_text: 'Hide Details', series: graph.details_series})
      }

      // if there is a details series then we we need a show and hide button
      if (graph.hidden_threshold_series != undefined && graph.hidden_threshold_series.length > 0) {
        include_graph_button(chart, dygraph, {show_text: 'Show Thresholds', hide_text: 'Hide Thresholds', series: graph.hidden_threshold_series})
      }


      
    } else {
      no_data(container, graph.title);
    }

  }

  function include_graph_button(chart, dygraph, btn_definition) {

    var graph_btn = $("<button>").text(btn_definition.show_text).addClass('submit_button show_hide_graph_button').attr('data-state', 'hidden');
    dygraph.prepend(graph_btn);

    // Show and hide details
    graph_btn.click(function() {

      var btn = $(this),
          state = btn.attr('data-state');

      // if state is hidden then show
      if (state == 'visible') {
        btn.text(btn_definition.show_text);
        btn.attr('data-state', 'hidden')
        visible = false;
      // else already shown so hide
      } else {
        btn.text(btn_definition.hide_text);
        btn.attr('data-state', 'visible')
        visible = true;
      }

      // show that there is activity
      btn.show_activity();

      // Delay execution so browser has time to update the button (add spinner) since the code below is blocking
      window.setTimeout(  
        function() {  
          // $.each(graph.hidden_thresholds, function(i, data_series_idx){
          $.each(btn_definition.series, function(i, data_series_idx){
            // date_graph is actual Dygraph
            chart.date_graph.setVisibility(data_series_idx, visible);
          });
          btn.show_activity(false);
        },  
        100  
      );

    })


  }

  // Generate a Google Visualizations Pie Chart
  function table(container, graph, json) {

    // Do home grown table for now

    // create data table from json
    var data = new google.visualization.DataTable($.toJSON(graph.data));   
    var rows = data.getNumberOfRows();
    
    if (rows > 0) {
      var cols = data.getNumberOfColumns();

      var table = '<table>';
      for (var r=0; r<=rows-1; r++) {
        table += '<tr>';
        for (var c=0; c<=cols-1; c++) {
          var css_class = data.getProperty(r,c,'css_class'),
              title = data.getProperty(r,c,'title');  
          table += '<td ' + (css_class != undefined ? 'class="'+css_class+' help_on_hover" ' : '') + (title != undefined ? 'title="'+title+'" ' : '') + '>' + (css_class == 'no_data' ?  'No Data Available' : data.getFormattedValue(r,c)) + '</td>';
        }
        table += '</tr>';
      }
      container.find('.table').html(table);
    } else {
      no_data(container);
    }
  }
  
  // options for dygraph charting
  function chart_options(container, graph, json) {
    
    var graph_type = graph.name,
        nbr_of_cols = graph.data.cols.length,
        labels_div = container.find('.graph_labels').get(0); // get 0 so we don't pass JQuery object to chart

    var default_options = {
     width: 725,
     height: 300,
     title: graph.title,
     includeZero: false, 
     avoidMinZero: true,
     stepPlot: false,
     labelsDiv: labels_div,
     xlabel: graph.legend,
     // xlabel: 'Time of Day(s)',
     ylabel: 'Microseconds',
     xValueFormatter: dateValueFormatter,
     yValueFormatter: microsecondValueFormatter,
     yAxisLabelWidth: 90,
     labelsSeparateLines: true,
     gridLineColor: '#bbb',
     axisLabelFontSize: 10,
     strokeWidth: 2,
     colors: graph.colors,
     underlayCallback: function(canvas, area, graph) {highlight_maintenance_and_unavailable(canvas, area, graph, json)}
    }


    // extend with per_series customizations
    if (graph.visibility != undefined) {
      $.extend(default_options, {visibility: graph.visibility});
    }

    // extend with per_series customizations
    if (graph.per_series_customizations != undefined) {
      $.extend(default_options, graph.per_series_customizations);
    }

    switch(graph_type) {
      
      case 'availability':  
        return $.extend(default_options, {
          height: 200,
          stepPlot: true,
          includeZero: true, 
          ylabel: 'Available',
          yValueFormatter: yesNoValueFormatter,
          underlayCallback: function(canvas, area, graph) {highlight_maintenance(canvas, area, graph, json)}
        });

      case 'frame_loss_ratio':
        return $.extend(default_options, {
          ylabel: 'Percentage',
          yValueFormatter: percentageValueFormatter
        });
      
      case 'delay':
      case 'delay_variation':
        // x_label_height = nbr_of_cols / 2 * 25
        return $.extend(default_options, {
          // height: 200 + x_label_height,
          // xLabelHeight: x_label_height,
          yAxisLabelFormatter: microsecondAxisValueFormatter
        });
        
      case 'frames':
        options =  $.extend(default_options, {
          width: 690,
          ylabel: 'Frames',
          yValueFormatter: countValueFormatter
        });

        // If dropped frames then create separate axis for dropped frames, need to use label to create new axis
        // label is dynamic (includes sap name, so get it from data)
        if (graph.data.cols[3] != undefined) {

          options['width'] = 775;
          var dropped_label_1 = graph.data.cols[3].label;
          var dropped_label_2 = graph.data.cols[4].label;
        
          // need json key to be evaluated instead treated as string
          // pass in same options
          options[dropped_label_1] = {axis: options};
          options[dropped_label_2] = {axis: dropped_label_1};
        } 
        
        return options;
        
      case 'octets':

        options =  $.extend(default_options, {
          width: 690,
          ylabel: 'Octets',
          yValueFormatter: countValueFormatter
        });


        // If dropped octets then create separate axis for dropped octets, need to use label to create new axis
        // label is dynamic (includes sap name, so get it from data)
        if (graph.data.cols[3] != undefined) {

          options['width'] = 775;
          var dropped_label_1 = graph.data.cols[3].label;
          var dropped_label_2 = graph.data.cols[4].label;
        
          // need json key to be evaluated instead treated as string
          // pass in same options
          options[dropped_label_1] = {axis: options};
          options[dropped_label_2] = {axis: dropped_label_1};
        } 
        
        return options;

      case 'traffic_rate':

        return $.extend(default_options, {
          width: 690,
          ylabel: 'Mbps',
          yValueFormatter: mbpsValueFormatter
        });

      default:
        return default_options;

    }
   
  }

  // Highlight both maintenance and unavailable periods
  function highlight_maintenance_and_unavailable(canvas, area, graph, json) {
    highlight_unavailable(canvas, area, graph, json);
    highlight_maintenance(canvas, area, graph, json);
  } 

  // Hightlight maintenace periods on graphs
  function highlight_maintenance(canvas, area, graph, json) {
    if (json.maintenance_periods != undefined) {
      $.each(json.maintenance_periods, function(index, period){
        // overlay color same as maintenance in state_colors.sass
        draw_overlay(period, '#858585', canvas, area, graph)
      })
    }
  }

  // Hightlight unavailable periods on graphs
  function highlight_unavailable(canvas, area, graph, json) {
    if (json.unavailable_periods != undefined) {
      $.each(json.unavailable_periods, function(index, period){
        // overlay color same as maintenance in state_colors.sass
        draw_overlay(period, '#e6c1c1', canvas, area, graph)
      })
    }
  }

  // Draw an overlay on the Dygraph
  function draw_overlay(period, overlay_color, canvas, area, graph) {
    if (period != undefined) {

      // Get starting coordinates if defined, if not the just use coordinates of the start of graph
      // Need to evaluate date string returned in json (ie Date(2012,1, 3, 5, 0, 0))
      var start_coords = period.start == undefined ? [area.x] : graph.toDomXCoord(eval("new " + period.start).getTime());
      // Get ending coordinates if defined, if not the just use coordinates for the end of the graph (ie component still in maintenance or unavailable)
      var end_coords = period.end == undefined ? [area.w + area.x] : graph.toDomXCoord(eval("new " + period.end).getTime());
            
      // The drawing area doesn't start at (0, 0), it starts at (area.x, area.y).
      var highlight_width = end_coords - start_coords;
      canvas.fillStyle = overlay_color;

      // fillRect(x, y, width, height)
      canvas.fillRect(start_coords, area.y, highlight_width, area.h);

    }
  }

  function yesNoValueFormatter(y) {
    switch(y) {
      case 1: return ' Yes';
      case 0: return ' No';
      default: return '';
    }
  }
  
  function percentageValueFormatter(y) {
    return  ' ' + y.toFixed(3) + '%';
  }
      
  function microsecondValueFormatter(y) {
    return  ' ' + number_with_delimiter(y) + ' µs';
  }

  function microsecondAxisValueFormatter(y) {
    // PROGRAMMERS NOTE: Ugly but necessary so Dygraphs does not display something like 1.0000000000000002 in the y axis
    // Happens when series only consists of 1s and 0s
    // digitsAfterDecimal option doesn't seem to work
    return ' ' + y.toFixed(3).toString().replace(/0+$/,"").replace(/\.$/,"") + ' µs';
  }

  function mbpsValueFormatter(y) {
    return  ' ' + y.toFixed(2) + ' Mbps';
  }

  function countValueFormatter(y) {
    // Parse as Int so dygraphs doesn try to add decimals in y axis
    return  ' ' + number_with_delimiter(parseInt(y, 10)); 
  }

  function dateLabelFormatter(date, gran) {
    if (gran >= Dygraph.MONTHLY) {
      return date.strftime("%b %y");
    } else {
      var a = date.getHours() * 3600 + date.getMinutes() * 60 + date.getSeconds() + date.getMilliseconds();
      if ( a == 0 || gran >= Dygraph.DAILY ) {
        return new Date(date.getTime() + 3600 * 1000).strftime("%d %b")
      } else {
        return Dygraph.hmsString_(date.getTime())
      }
    }
  }

  function dateValueFormatter(t) {
    return new Date(t).strftime("%Y-%m-%d %H:%M:%S");
  }
  
}

function path_graph(){  
  // ******************
  // * Monitoring
  // ******************
  
  // Apply button refreshes all visible graphs
  $('.tipsy .graphs_content .date_range_input .submit_button').live('click', function() {
    $(this).closest('.graphs_content').find('.graphs_container:visible').each(function(){
      generate_graphs($(this), null);
    });
  });

  // Allow user to hide and show graphs individually
  $('.tipsy .graphs_content .hide_show_graph .btn').live('click', function() {
    var btn = $(this), 
        hidden_btn = btn.siblings('.btn'), 
        hide_show_graph_wrapper = btn.closest('.hide_show_graph'),
        graphs_container = btn.closest('.graph_wrapper').find('.graphs_container');

    btn.hide();
    hidden_btn.show();

    // If show graph
    if (btn.hasClass('show_graph')) {
      hide_show_graph_wrapper.removeClass('closed');
      // Hide contents of display area so there is no flash before spinner shows
      graphs_container.find('.display_area > div').css('visibility', 'hidden');
    }
    
    // Hide or show the graph depending on current state
    btn.closest('.graph_wrapper').find('.graphs_container').slideToggle(function() {
      if (btn.hasClass('hide_graph')) {
        hide_show_graph_wrapper.addClass('closed');
      } else {
        graphs_container.show();
        generate_graphs(graphs_container, null);
      }
    });
  });


}
