=form_for(@user) do |f| 
  -if @user.errors.any?
    #error_explanation
      %a.close{'data-dismiss' => 'alert'} 
        ×
        
      %h2
        =pluralize(@user.errors.count, "error")
        prohibited this user from being saved

      %ul
        -@user.errors.full_messages.each do |msg|
          %li
            =msg
 
  .grid_3.alpha
    %label
      Email Address
    =f.text_field :email  

    %label
      Password
    =f.password_field :password
          
    %label
      Password Confirmation
    =f.password_field :password_confirmation
          
    %label
      First Name
    =f.text_field :first_name
  
    %label
      Last Name
    =f.text_field :last_name

    %label
      Default Mode
    =f.select :default_mode, options_for_select(@default_modes, @user.default_mode)

    %label
      Time Zone
    = f.select :time_zone, time_zone_options
    
    %label
      Default Homepage
    =@user.homepage_url(request)


    
  .grid_4

    -if can? :update, Role
      %label
        Role
      =f.collection_select :role_id, Role.order(:name).all, :id, :name
            
    -if can? :assign_system_admin, User
      %label
        System Administration        
      %p  
        =check_box_tag "system_admin", true, @user.system_admin?, :id => 'system_admin'
        Administrator
 
    %label
      = get_term(:service_provider)
    -if can? :assign_service_provider, @current_user
      %select#user_service_provider_id{:name => "user[service_provider_id]"}
        -ServiceProvider.order(:name).each do |sp|
          %option{:value => sp.id, 'data-network-type-ids' => sp.operator_network_types.map(&:id).join(','), :selected => sp.id == @user.service_provider.try(:id) ? true : false}
            =sp.name_with_admin_label
    -else
      %p
        =@current_user.service_provider.name
  
    %label
      = get_term(:network_type, true)

    %fieldset.network_types
      -@operator_network_types.each do |network_type|
        .network_type
          -if can? :assign_network_types, @current_user
            =check_box_tag "user[operator_network_type_ids][]", network_type.id, @user.operator_network_types.include?(network_type)
          =network_type.name
        
            
    .clear
    %br

    =f.submit(:class => 'submit_button')
    -if can? :read, @user
      or 
      =link_to 'Cancel', users_path

  .grid_5.omega
  
.clear
%br