-content_for :title do
  CENX - Editing
  =@user.email

.container_12
  .border.clearfix
    .grid_9.alpha
      %h1
        -if can? :read, @user
          %a{:href => users_path}
            User Management
          ="/ "
        =@user.email

    .grid_3.align_right.service_provider_logo.omega
      =provider_logo(@current_user.service_provider)

.container_12
  .grid_12.alpha.omega
    =render :partial => 'shared/flash_message'

    =render :partial => 'form'