-content_for :title do
  CENX - User Management

.container_12
  .border.clearfix
    .grid_9.alpha
      %h1
        User Management

    .grid_3.align_right.service_provider_logo.omega
      =provider_logo(@current_user.service_provider)


.container_12
  .grid_12.alpha.omega
  
    =render :partial => 'shared/flash_message'
  
    .right
      %a.submit_button.icon.add{:href => new_user_path}
        New User
  
    = render 'shared/table_toggle_link', :title => 'Users', :table_name => 'users_table'        

    %table#users_table.dashboard_table.users_table
      %thead
        %tr
          %th Email
          %th Role
          %th Name
          %th 
            = get_term(:service_provider)
          %th 
            = get_term(:network_type, true)
          %th Created At
          %th Last Login
          %th Logins
          %th
                                                
      %tbody
        -@users.each do |user|
          %tr
            %td
              -if user.system_admin?
                .filtered_results{:style => 'top:-4px;position:relative'}
                  Admin

              -if user.system_admin? && !@current_user.system_admin?
                =user.email
              -else
                =link_to user.email, edit_user_path(user)
            %td
              =link_to user.role.name, edit_role_path(user.role)
            %td
              =user.display_name
            %td
              =user.service_provider.name
            %td
              -if user.system_admin?
                All
              -else
                =user.operator_network_types.map(&:name).join(', ')
            %td
              =user.created_at.strftime('%Y-%m-%d')
            %td
              -if user.last_login_at
                =user.last_login_at.strftime('%Y-%m-%d')
              -else
                ='-'
            %td
              =user.login_count
            %td.align_right.no_wrap
              .button-group.small
                -unless user.system_admin? && !@current_user.system_admin?
                  = link_to 'Edit', edit_user_path(user), class: 'submit_button icon edit', :title => "Edit #{user.email}"
                -unless user == @current_user || user.system_admin? 
                  = link_to 'Remove', user, confirm: "Are you sure you want to remove #{user.email}?", method: :delete, class: 'submit_button icon remove negative', title: "Remove #{user.email}"

    .clear

    .right
      %a.submit_button.icon.add{:href => new_role_path}
        New Role

    = render 'shared/table_toggle_link', :title => 'Roles', :table_name => 'roles_table'

    %table#roles_table.dashboard_table.roles_table
      %thead
        %tr
          %th Name
          %th Privileges
          %th Created At
          %th 

      %tbody
        -@roles.each do |p|
          %tr
            %td
              =link_to p.name, edit_role_path(p)
            %td
              =p.privileges.map(&:name).join(', ')
            %td
              =p.created_at.strftime('%Y-%m-%d')
            %td.align_right.no_wrap
              .button-group.small
                = link_to 'Edit', edit_role_path(p), class: 'submit_button icon edit', :title => "Edit #{p.name}"
                -if p.users.count == 0            
                  = link_to 'Remove', p, confirm: "Are you sure you want to remove #{p.name}?", method: :delete, class: 'submit_button icon remove negative', title: "Remove #{p.name}"

    .clear

