%form.full_find.clearfix{:method => :get}
    
  .left_column

    %label
      ="Filter #{get_term(:path, true)}"
    %input.entry{:type => 'text', :name => 'filter', :value => params[:filter], :placeholder => 'Search by ID'}

    -#%label
    -#  Work Orders
    -#%select{:name => 'statement_of_work'}
    -#  %option{:value => ''} All
    -#  = options_for_select @statement_of_work_select.map{|p|[p.name,p.id]}, params[:statement_of_work].to_i
    -#
    -#%label
    -#  Circuit Type  
    -#%select{:name => 'cenx_path_type', :id => 'cenx_path_type_select'}
    -#  %option{:value => ''} All
    -#  = options_for_select @circuit_type_selct.map{|e|[e.cenx_path_type,e.cenx_path_type]}, params[:cenx_path_type]
    
    %label
      = get_term(:aggregation_site)
    %select{:name => 'site[]', :id => 'site_select', :multiple => 'multiple', 'data-placeholder' => "Choose a #{get_term(:aggregation_site)}"}
      = options_for_select @site_select.map{|e|[e.site_name,e.site_id]}, params[:site]
    
    %label
      =get_term(:site_group)
    %select{:name => 'site_group[]', :id => 'site_group', :multiple => 'multiple', 'data-placeholder' => "Choose a #{get_term(:site_group)}"}
      = options_for_select SiteGroup.order(:name).all.map{|sg|[sg.name,sg.id]}, params[:site_group]

    %label
      = get_term(:service_provider)
    %select{:name => 'service_provider[]', :id => 'service_provider_select', :multiple => 'multiple', 'data-placeholder' => "Choose a #{get_term(:service_provider)}"}
      = options_for_select @service_provider_select.map{|p|[p.service_provider_name,p.service_provider_id]}, params[:service_provider]

    %label
      = get_term(:network_type)
    %select{:name => 'oem[]', :id => 'oem_select', :multiple => 'multiple', 'data-placeholder' => "Choose a #{get_term(:network_type)}"}
      = options_for_select @oem_select.map{|p|[p.name,p.id]}, params[:oem]

    %button.submit_button.activity{:type=>'submit'} Submit
    &nbsp; 
    %a{:href => '#', :id => 'reset'} Reset

%br.clear    
