-content_for :title do
  CENX - Network Map


.list_header
  .right
    #network_filter_and_mode
      %button.submit_button{'data-toggle_text' => 'Hide Filter and Mode'} Filter and Mode
  .help.right
    %span Hold shift while dragging to zoom / Press Esc to zoom out
  #network_filter_and_mode_content.hidden
    .right
      #network_toggle_mode.sidebar.box
        %h4.title
          Mode
        .toggle_mode.button-group
          -if can? :read, :inventory_circuit_list
            %a.submit_button.inventory{:href => url_for(params.merge({:mode => "inventory"})), :class => @mode == 'inventory' ? 'primary' : 'alternate', :title => "See Inventory Dashboard"}>
              Inventory
          -if can? :read, :monitoring_circuit_list
            %a.submit_button.monitoring{:href => url_for(params.merge({:mode => "monitoring"})), :class => @mode == 'monitoring' ? 'primary' : 'alternate', :title => "See Monitoring Dashboard"}>
              Monitoring

      #network_find_and_sort_stub.find_and_sort_stub.sidebar.box
        %h4.title
          .filtered_results{:style => (@is_filtered) ? "display: block" : "display: none"}
            Filtered
        
          ="Filter #{get_term(:path, true)}"
        %form.quick_find
          %input{:type => 'hidden', :name => 'mode', :value => @mode}
          %input{:type => 'text', :name => 'filter', :value => params[:filter], :placeholder => 'Search by ID', :id => 'search_box'}
          %button.submit_button.activity{:type=>'submit'} Find
          %button.expand.submit_button &nbsp;

      #search_address.sidebar.box
        %h4.title
          Search Address 
        %form#search_address_form
          %input#search_address_input{:name => 'search_address_input'}
          %button#search_address_button.submit_button.activity{:type=>'submit'} Search
        #search_address_results.hidden
          %h4 Please select a more specific address:
          %ul
          
  %h1 #{@current_user.service_provider.name} Network
  .subheading

      
#find_and_sort_dialog.network_box.sidebar.clearfix
  %h4.title
    .filtered_results{:style => (@is_filtered) ? "display: block" : "display: none"}
      Filtered
    
    ="Filter and Sort #{get_term(:path, true)}"
  = image_tag "close.png", :class => 'close_button'
  = render :partial => "search_form"

#map_wrapper
  #map_container
    #map

- content_for :scripts do 
  :javascript
    var sites = #{raw @sites.to_json}   
    var demarcs = #{raw @demarcs.to_json}