=form_for(@schedule) do |f| 
  -if @schedule.errors.any?
    #error_explanation
      %a.close{'data-dismiss' => 'alert'} 
        ×
        
      %h2
        =pluralize(@schedule.errors.count, "error")
        prohibited this user from being saved

      %ul
        -@schedule.errors.full_messages.each do |msg|
          %li
            =msg.gsub('Trigger', 'Report Schedule')
 
  .grid_4.alpha

    =f.check_box :enabled
    =f.label :enabled, 'Report Enabled', {:style => 'display:inline'}

    %br.clear
    %br.clear

    %label
      Title
    =f.text_field :name

    %label
      Filter

    -filters = FilterTemplate.all_filters(@user)  
    -if filters.empty?
      %p
        %em
          A filter is required. Please 
          =link_to "create one first →", report_path
    -else
      =f.collection_select :scheduled_task_id, filters, :id, :display_name
  
    %label
      Report Schedule
      
    =f.radio_button :trigger, 'daily'
    Daily

    &nbsp;
    =f.radio_button :trigger, 'weekly'
    Weekly

    &nbsp;
    =f.radio_button :trigger, 'monthly'
    Monthly

    &nbsp;
    =f.radio_button :trigger, 'yearly'
    Yearly
    
    %br.clear
    %br.clear
    
    %label
      Start Date
    
    =text_field nil, nil, :autocomplete => 'off', :class => 'start_date', :value => @schedule.execution_time.strftime('%Y-%m-%d')

    %label
      Execution Time
    
    .time_select  
      =f.time_select :execution_time

    %label
      Execution Time Zone
    
    =f.time_zone_select :timezone, ActiveSupport::TimeZone.us_zones, :default => "Eastern Time (US & Canada)"


    %label
      Retention Time

    =f.number_field :retention_time, {:min => 1, :width => 3, :value => 365}
    days    
    
    
      
  .grid_7.alpha.omega
    
    =f.check_box :email_distribution
    =f.label :email_distribution, 'Distribute Report', {:style => 'display:inline'}
      
      
    %br.clear  
    %br.clear
    
    .grid_4.alpha.omega

      .distribution_fields
        %label
          Email To
        =f.text_field :email_to

        %label
          CC
        =f.text_field :email_cc

        %label
          Subject
        =f.text_field :email_subject

        %label
          Format

        =check_box_tag "schedule[formats][web_link]", true, @schedule.formats[:web_link]
        Web link
        
        =check_box_tag "schedule[formats][csv]", true, @schedule.formats[:csv]
        CSV

        =check_box_tag "schedule[formats][pdf]", true, @schedule.formats[:pdf]
        PDF

        
    .grid_3.alpha.omega
      .distribution_fields
        %label
          Body
        =f.text_area :email_body, :rows => 11
    
      %br.clear
      =f.submit(:class => 'submit_button', :value => @schedule.new_record? ? 'Create' : 'Update')
      or 
      =link_to 'Cancel', schedules_path
                
    
