-content_for :title do
  CENX - Scheduled Reports

.container_12
  .border.clearfix
    .grid_9.alpha
      %h1
        Scheduled Reports

    .grid_3.align_right.service_provider_logo.omega
      =provider_logo(@current_user.service_provider)


.container_12
  .grid_12.alpha.omega
  
    =render :partial => 'shared/flash_message'
  
    .right
      -if @filters.empty?
        %a.submit_button.icon.clock{:href => '#', :class => 'disabled help_on_hover', :title => 'A filter is required to schedule a report'}
          Schedule a Report
      -else
        %a.submit_button.icon.clock{:href => new_schedule_path}
          Schedule a Report
  
    %h3.inline
      &nbsp;

    %table.dashboard_table.schedules_table
      %thead
        %tr
          %th Title
          %th Filter
          -if @current_user.system_admin?
            %th Owner
          %th Schedule
          %th Enabled
          %th Reports
          %th Format
          %th Last Run
          %th 
                                                
      %tbody
        -@schedules.each do |sr|
          %tr
            %td
              = link_to sr.name, reports_schedule_path(sr)
            %td
              = link_to sr.scheduled_task.name, filter_template_url(sr.scheduled_task)
            -if @current_user.system_admin?
              %td
                =link_to sr.scheduled_task.user.display_name, edit_user_path(sr.scheduled_task.user)
            %td
              = sr.trigger.titleize
            %td
              = yes_no sr.enabled
            %td
              = link_to sr.reports.length, reports_schedule_path(sr)
            %td
              = sr.formats_sentence
            %td
              -if sr.last_run
                =sr.last_run.in_time_zone(sr.timezone)
              -else
                Not yet run
                %br
                
            %td.align_right.no_wrap
              .button-group.small
                = link_to "Run Report", generate_schedule_path(sr), :method => :post, :class => 'submit_button icon log activity', :title => "Run this report now", :confirm => 'Generating a Report can take several minutes. Do you want to proceed?'
                = link_to 'Edit', edit_schedule_path(sr), class: 'submit_button icon edit', :title => "Edit #{sr.name}"
                = link_to 'Remove', sr, confirm: "Are you sure you want to remove #{sr.name}?", method: :delete, class: 'submit_button icon remove negative', title: "Remove #{sr.name}"
