-content_for :title do
  CENX - New Scheduled Report

.container_12
  .border.clearfix
    .grid_9.alpha
      %h1
        %a{:href => schedules_path}
          Scheduled Reports
        ="/ "
        New Scheduled Report

    .grid_3.align_right.service_provider_logo.omega
      =provider_logo(@current_user.service_provider)


.container_12
  .grid_12.alpha.omega
    = render :partial => 'form'
    
.clear
%br