-content_for :title do
  CENX - Scheduled Reports

.container_12
  .border.clearfix
    .grid_9.alpha
      %h1
        %a{:href => schedules_path}
          Scheduled Reports
        ="/ "
        Reports

    .grid_3.align_right.service_provider_logo.omega
      =provider_logo(@current_user.service_provider)


.container_12
  .grid_12.alpha.omega
  
    =render :partial => 'shared/flash_message'
  
    .right
      = link_to "Run Report Now", generate_schedule_path(@schedule), :method => :post, :class => 'submit_button icon log activity', :confirm => 'Generating a Report can take several minutes. Do you want to proceed?'
  
    %h3.inline
      =@schedule.name
      Reports

    %table.dashboard_table.reports_table
      %thead
        %tr
          %th Results
          %th Report Generated 
          %th Date
          %th

      %tbody
        -@reports.each do |r|
          %tr
            %td
              -if r.is_a?(MetricsReport) || r.is_a?(CellSitePathReport) || r.is_a?(CellSiteReport) || r.is_a?(SatelliteSiteReport) || r.is_a?(SiteGroupReport)
                =dashboard_pie(:title => '',
                               :data => [r.clear_exceptions, r.minor_exceptions, r.major_exceptions],
                               :labels => ['OK', 'Minor', 'Major'], 
                               :bar_colors => ['609C25', 'FF8D20', 'ba2a2a'],
                               :links => [filter_template_url(r.scheduled_task),
                                          filter_template_url(r.scheduled_task),
                                          filter_template_url(r.scheduled_task), 
                                          ],
                               :width => 175, 
                               :height => 50,
                               :tooltip => 'none')
              -else
                -if r.minor_exceptions == 0 && r.major_exceptions == 0 && r.critical_exceptions == 0
                  =dashboard_pie(:title => '',
                                 :data => [1],
                                 :labels => ['OK'], 
                                 :bar_colors => ['609c25'],
                                 :links => [filter_template_url(r.scheduled_task)],
                                 :width => 175, 
                                 :height => 50,
                                 :tooltip => 'none')

                -else
                  =dashboard_pie(:title => '',
                                 :data => [r.minor_exceptions, r.major_exceptions, r.critical_exceptions],
                                 :labels => ['Minor', 'Major', 'Critical'], 
                                 :bar_colors => ['DCDE32', 'FF8D20', 'ba2a2a'],
                                 :links => [filter_template_url(r.scheduled_task),
                                            filter_template_url(r.scheduled_task), 
                                            filter_template_url(r.scheduled_task)],
                                 :width => 175, 
                                 :height => 50,
                                 :tooltip => 'none')
            %td
              ="#{r.run_manually? ? 'Manual' : 'Scheduled'}" 
            %td
              =r.run_date.in_time_zone(@schedule.timezone)

            %td.align_right.no_wrap
              .button-group.small
                = link_to 'View', filter_template_url(r.scheduled_task), class: 'submit_button icon arrowright', title: "View #{@schedule.name} Report"
                = link_to 'Remove', destroy_report_schedule_path(r.schedule, :report_id => r.id), confirm: "Are you sure you want to remove this report?", method: :delete, class: 'submit_button icon remove negative', title: "Remove Report"
              
