.comments
    
  %h4 Comments     

  #user_comments
    - if order.notes.blank?
      %p#no_comments
        %em
          No comments
    -else    
      = render :partial => "service_orders/notes", :locals => {:notes => order.notes}

  = form_tag service_order_path(order.id), :method => :put, :remote => true, :id => 'comments_form' do |f| 
    = text_area_tag :notes

    %div
      = submit_tag "Add Comment", :class => 'submit_button', :id => 'comment_submit'
      = image_tag 'arrow-spin.gif', :alt => 'loading...', :id => 'comment_loading', :style => 'display:none;margin-top:8px'
