- unless cos_test_vector.nil?
  %li.indent
    %label 
      %strong #{cos_test_vector.circuit_id}:
    %ul
      = list_label_and_value 'Test Type', cos_test_vector, :test_type
      = list_label_and_value 'Availability', cos_test_vector, :availability_guarantee, format_percentage
      = list_label_and_value 'Frame Loss Ratio', cos_test_vector, :flr_sla_guarantee, format_percentage
      = list_label_and_value 'Delay', cos_test_vector, :delay_sla_guarantee, '%s µs'
      = list_label_and_value 'Delay Variation', cos_test_vector, :dv_sla_guarantee, '%s µs'
      = list_label_and_value 'Previous Hop', cos_test_vector, :last_hop_circuit_id