#ajax_message
 
- unless notice.blank?
  #notice
    %a.close{'data-dismiss' => 'alert'} 
      ×
    = notice  

- unless alert.blank?
  #error_explanation
    %a.close{'data-dismiss' => 'alert'} 
      ×
    = alert
