.sub_border
  - if see_all_link
    %a.right{:href => see_all_link, :class => 'view_all'}
      See All &rarr;

  = link_to(title, user_toggle_table_path(@current_user, :table_name => table_name), :method => :put, :remote => true, :class => "toggle_graph #{@current_user.hidden_tables.include?(table_name) ? 'hidden' : ''}", 'data-toggle-id' => table_name)