-# Get state info, @entity is set by each individual controller (find_model)
- state = @entity.sm_state

%ul.states
  %li.state_type
    %label.states_label Monitoring state:
    %span.state.dot{'class' => "#{monitoring_state_class(state)} #{unique_entity_id(@entity)}",'data-current_state'=>"#{state_to_class(state)}"}
    %span.state_text 
      = state
  %li.state_details
    %label Details:
    %span.state_details_text #{@entity.sm_details}
  %li.state_time
    %label Time:
    %span.state_time_text #{timestamp_to_date_time(@entity.sm_timestamp)}
