- @osl_order.form("Access Service Request",:force_multiple).each do |asr_form|
  = render :partial => 'shared/ordering_asr_form', :locals => { :asr_form => asr_form }

- @osl_order.form("Ethernet Virtual Connection",:force_multiple).each do |ethervc_form|
  = render :partial => 'shared/ordering_evc_form', :locals => { :ethervc_form => ethervc_form }
  
- @osl_order.form("Transport Request",:force_multiple).each do |transport_form|
  = render :partial => 'shared/ordering_transport_form', :locals => { :transport_form => transport_form }

- @osl_order.form("End User Special Access Request",:force_multiple).each do |eusa_form|
  = render :partial => 'shared/ordering_eusa_form', :locals => { :eusa_form => eusa_form }
  
- @osl_order.form("Service Address Location Information",:force_multiple).each do |sali_form|
  = render :partial => 'shared/ordering_sali_form', :locals => {:sali_form => sali_form}
