%div.order_form
  %h4 Access Service Request
  - asr_admin_form = asr_form.sub_form("Administrative Section",:force_first) || Osl::Form.new
  %ul.order_form_section
    %li
      = order_heading 'Administrative Section'
      = order_field asr_admin_form, "CCNA", 3
      = order_field asr_admin_form, "PON", 16
      = order_field asr_admin_form, "VER", 2
      = order_field asr_admin_form, "ASR NO", 18
      = order_field asr_admin_form, "SPA", 1
      = order_field asr_admin_form, "ICSC", 4

  %ul.order_form_section
    %li
      = order_field asr_admin_form, "CC", 4
      = order_field asr_admin_form, "UNE", 1
      = order_field asr_admin_form, "D/T SENT", 17
      = order_field asr_admin_form, "QA", 1
      = order_field asr_admin_form, "CBD", 3
      = order_field asr_admin_form, "DDD", 10
      = order_field asr_admin_form, "FDT", 7
      = order_field asr_admin_form, "PROJECT", 16
      = order_field asr_admin_form, "CCI", 1
    %li
      = order_field asr_admin_form, "CNO", 12
      = order_field asr_admin_form, "PPTD", 10
      = order_field asr_admin_form, "NOR", :nor_group
      = order_field asr_admin_form, "LUP", 3
      = order_field asr_admin_form, "BSA", 1
      = order_field asr_admin_form, "REQTYP", 2
      = order_field asr_admin_form, "ACT", 1
      = order_field asr_admin_form, "ACTI", 1
      = order_field asr_admin_form, "QSA", 2
      = order_field asr_admin_form, "WST", 1
      = order_field asr_admin_form, "LATA", 3
      = order_field asr_admin_form, "EVCI", 1
    %li
      = order_field asr_admin_form, "RTR", 2
      = order_field asr_admin_form, "SUP", 1
      = order_field asr_admin_form, "AFO", 5
      = order_field asr_admin_form, "QNAI", 2
      = order_field asr_admin_form, "TQ", 2
      = order_field asr_admin_form, "EXP", 1
      = order_field asr_admin_form, "AENG", 1
      = order_field asr_admin_form, "ALBR", 1
      = order_field asr_admin_form, "AGAUTH", 1
      = order_field asr_admin_form, "DATED", 10
      = order_field asr_admin_form, "CUST", 25
    %li
      = order_field asr_admin_form, "LA", 1
      = order_field asr_admin_form, "LADATED", 10
      = order_field asr_admin_form, :LANM, 15
    %li
      = order_field asr_admin_form, "FBA", 1, nil, :class => 'nospace wide'
      = order_field asr_admin_form, "EF", 1, nil, :class => 'nospace wide'
      = order_field asr_admin_form, "DT", 1, nil, :class => 'nospace wide'
      = order_field asr_admin_form, "MUX", 1, nil, :class => 'wide'
      = order_field asr_admin_form, "FNI", 13
      = order_field asr_admin_form, "FNT", 1
      = order_field asr_admin_form, "RFNI", 13
      = order_field asr_admin_form, "CFNI", 20
      = order_field asr_admin_form, "PSL", 11
      = order_field asr_admin_form, "PSLI", 1
    %li
      = order_field asr_admin_form, "CKR", 53
      = order_field asr_admin_form, "UNIT", 1
      = order_field asr_admin_form, "PIU", 3
      = order_field asr_admin_form, "PLU", 3
      = order_field asr_admin_form, "WSI", 1
    %li
      = order_field asr_admin_form, "LTP", 4
      = order_field asr_admin_form, "ECCKT", 53
      = order_field asr_admin_form, "QTY", 7
    %li
      = order_field asr_admin_form, "BAN", 12
      = order_field asr_admin_form, "ASG", 6
      = order_field asr_admin_form, "BIC", 1
      = order_field asr_admin_form, "BIC TEL", :telephone_3_group
      = order_field asr_admin_form, "BIC ID", 12
      = order_field asr_admin_form, "TSC", 8
      = order_field asr_admin_form, "ISTN", :istn_group
    %li
      = order_field asr_admin_form, "ACTL", 11
      = order_field asr_admin_form, "APOT", 11
      = order_field asr_admin_form, "RORD", 17
      = order_field asr_admin_form, "RPON", 16
      = order_field asr_admin_form, "LAG", 1
    %li
      = order_field asr_admin_form, "CCVN", 6
      = order_field asr_admin_form, "ASC-EF", 4
      = order_field asr_admin_form, "TSP", :tsp_group
      = order_field asr_admin_form, "SAN", 30
      = order_field asr_admin_form, "AFG", 1
      = order_field asr_admin_form, "SPEC", 7
    %li
      = order_field asr_admin_form, "REMARKS", :remarks_186_group

  - asr_billing_form = asr_form.sub_form('Bill Section',:force_first) || Osl::Form.new
  %ul.order_form_section
    %li
      = order_heading 'Bill Section'
      = order_field asr_billing_form, "BILLNUM", 25
      = order_field asr_billing_form, "SBILLNUM", 25
      = order_field asr_billing_form, "ACNA", 3
      = order_field asr_billing_form, "TE", 1
      = order_field asr_billing_form, "FUSF", 1
    %li
      = order_field asr_billing_form, "EBP", 6
      = order_field asr_billing_form, "STREET", 25
      = order_field asr_billing_form, "FLOOR", 3
      = order_field asr_billing_form, "ROOM", 6
      = order_field asr_billing_form, "CITY", 25
    %li
      = order_field asr_billing_form, "STATE", 2
      = order_field asr_billing_form, "ZIP CODE", 12
      = order_field asr_billing_form, "BILLCON", 15
      = order_field asr_billing_form, "TEL NO", :telephone_4_group
    %li
      = order_field asr_billing_form, "BILLCON EMAIL", 60
      = order_field asr_billing_form, "VTA", 17
    %li
      = order_field asr_billing_form, "VCVTA", 17
      = order_field asr_billing_form, "IWBAN", 16
      = order_field asr_billing_form, "PNUM", 20
      = order_field asr_billing_form, "PSD", 10

  - asr_contact_form = asr_form.sub_form('Contact Section',:force_first) || Osl::Form.new
  - asr_contact_init_form = asr_contact_form.sub_form("INIT") || Osl::Form.new
  - asr_contact_dsgcon_form = asr_contact_form.sub_form("DSGCON") || Osl::Form.new
  - asr_contact_impcon_form = asr_contact_form.sub_form("IMPCON") || Osl::Form.new
  
  %ul.order_form_section
    %li
      = order_heading 'Contact Section'
      = order_field asr_contact_init_form, "INIT", 15
      = order_field asr_contact_init_form, "TEL NO", :telephone_4_group
      = order_field asr_contact_init_form, "INIT FAX NO", :telephone_3_group
    %li
      = order_field asr_contact_init_form, "INIT EMAIL", 60
    %li
      = order_field asr_contact_dsgcon_form, "DSGCON", 15
      = order_field asr_contact_dsgcon_form, "TEL NO", :telephone_4_group
      = order_field asr_contact_dsgcon_form, "DSG FAX NO", :telephone_3_group
    %li
      = order_field asr_contact_dsgcon_form, "DSG EMAIL", 60
    %li
      = order_field asr_contact_form, "STREET", 25
      = order_field asr_contact_form, "DRC", 3
      = order_field asr_contact_form, "FDRC", 3
      = order_field asr_contact_form, "FLOOR", 3
      = order_field asr_contact_form, "ROOM", 6
      = order_field asr_contact_form, "CITY", 25
      = order_field asr_contact_form, "STATE", 2
    %li
      = order_field asr_contact_form, "ZIP CODE", 12
      = order_field asr_contact_form, "MTCE", 11
      = order_field asr_contact_form, "TEL NO", :telephone_3_group
      = order_field asr_contact_form, "CB TEL NO", :telephone_3_group
      = order_field asr_contact_form, "CBPC", 15
    %li
      = order_field asr_contact_impcon_form, "IMPCON", 15
      = order_field asr_contact_impcon_form, "TEL NO", :telephone_4_group
      -# User can input D/TREC when the order is in the created state
      - edit = @order.get_order_state.is_a?(OrderReadyToOrder)
      = order_field asr_contact_impcon_form, "D/TREC", 17, nil, :class => (edit ? 'editable' : '')
      - if edit
        = order_field_edit @entity, @component_html_id, asr_contact_impcon_form, "D/TREC", 17