%h5 UNI Mapping Detail Section
%ul.order_form_section
  %li
    = order_field evc_uni_form, "UREF", 2
    = order_field evc_uni_form, "UACT", 1
    = order_field evc_uni_form, "RPON", 16
    = order_field evc_uni_form, "NCI", 12
    = order_field evc_uni_form, "L2CP", 7
    = order_field evc_uni_form, "EVCSP", 11
  %li
    - (0..6).each do |i|
      = order_field evc_uni_form, "CE-VLAN", :vlan_group, i
  %li
    - (7..13).each do |i|
      = order_field evc_uni_form, "CE-VLAN", :vlan_group, i
  %li
    = order_field evc_uni_form, "RUID", 28
    = order_field evc_uni_form, "R/L", 1
    = order_field evc_uni_form, "S-VLAN IND", 1
    = order_field evc_uni_form, "S-VLAN", 4

%ul.order_form_section
  - lref_form = evc_uni_form.sub_form("LREFS0",:force_first)
  - unless lref_form.nil?
    = render :partial => 'shared/ordering_lref_form', :locals => { :lref_form => lref_form }

  - lref_form = evc_uni_form.sub_form("LREFS1",:force_first)
  - unless lref_form.nil?
    = render :partial => 'shared/ordering_lref_form', :locals => { :lref_form => lref_form }

  - lref_form = evc_uni_form.sub_form("LREFS2",:force_first)
  - unless lref_form.nil?
    = render :partial => 'shared/ordering_lref_form', :locals => { :lref_form => lref_form }

  - lref_form = evc_uni_form.sub_form("LREFS3",:force_first)
  - unless lref_form.nil?
    = render :partial => 'shared/ordering_lref_form', :locals => { :lref_form => lref_form }
