%div.order_form
  - eusa_circuit_form = eusa_form.sub_form("Circuit Detail Section",:force_first) || Osl::Form.new
  - admin_form = eusa_form.sub_form("Administrative Section",:force_first) || Osl::Form.new
  - eusa_primary_form = eusa_form.sub_form("Primary Location Section",:force_first) || Osl::Form.new
  - eusa_secondary_form = eusa_form.sub_form("Secondary Location Section",:force_first) || Osl::Form.new
  - remarks_form = eusa_form.sub_form("REMARKS",:force_first) || Osl::Form.new
  
  %h4 End User Special Access Request
  %ul.order_form_section
    %li
      = order_heading 'Administrative Section'
      = order_field admin_form, "CCNA", 3
      = order_field admin_form, "PON", 16
      = order_field admin_form, "VER", 2
      = order_field admin_form, "ASR NO", 18

  %h5 Circuit Detail Section
  %ul.order_form_section
    %li
      = order_field eusa_circuit_form, "NC", 4
      = order_field eusa_circuit_form, "NCI", 12
      = order_field eusa_circuit_form, "TLV", 12
      = order_field eusa_circuit_form, "SECTLV", 12
      = order_field eusa_circuit_form, "SECNCI", 12
      = order_field eusa_circuit_form, "PQPR", 2
      = order_field eusa_circuit_form, "QPR", 2
    %li
      = order_field eusa_circuit_form, "SR", 3
      = order_field eusa_circuit_form, "SSS", 1
      = order_field eusa_circuit_form, "TRF", 1
      = order_field eusa_circuit_form, "HVP", 1
      = order_field eusa_circuit_form, "MST", 1
      = order_field eusa_circuit_form, "CKLT", 11
      = order_field eusa_circuit_form, "NSL", 2
    %li
      = order_field eusa_circuit_form, "MUXLOC", 11
      = order_field eusa_circuit_form, "PRI ADM", 11
      = order_field eusa_circuit_form, "SEC ADM", 11
      = order_field eusa_circuit_form, "NVC", 2
      = order_field eusa_circuit_form, "PSPEED", 7
      = order_field eusa_circuit_form, "LMP", 1
      = order_field eusa_circuit_form, "NU", 1
      = order_field eusa_circuit_form, "BSC", 1
      = order_field eusa_circuit_form, "ETET", 1
    %li
      = order_field eusa_circuit_form, "CTX TEL", :telephone_3_group
      = order_field eusa_circuit_form, "CTX LSTD NM", 25
    %li
      = order_field eusa_circuit_form, "WACD1", 36
      = order_field eusa_circuit_form, "WACD2", 36
    %li
      = order_field eusa_circuit_form, "LAG ID", 24

  %h5 Primary Location Section
  %ul.order_form_section
    %li
      = order_field eusa_primary_form, "PRILOC", 12
      = order_field eusa_primary_form, "CFAU", 1
      = order_field eusa_primary_form, "CFA", 42
      = order_field eusa_primary_form, "DIR", 1
      = order_field eusa_primary_form, "CPT", :cpt_group
    %li
      = order_field eusa_primary_form, "S25", 8
      = order_field eusa_primary_form, "ER", 1
      = order_field eusa_primary_form, "OTC", 4
      = order_field eusa_primary_form, "CCEA", 60
    %li
      = order_field eusa_primary_form, "GETO", 1
      = order_field eusa_primary_form, "GBTN", :gbtn_group
      = order_field eusa_primary_form, "GCON", 25
      = order_field eusa_primary_form, "GTEL", :telephone_4_group

  %h5 Secondary Location Section
  %ul.order_form_section
    %li
      = order_field eusa_secondary_form, "SECLOC", 12
      = order_field eusa_secondary_form, "SEI", 1
      = order_field eusa_secondary_form, "CFA", 42
      = order_field eusa_secondary_form, "SDIR", 1
      = order_field eusa_secondary_form, "SFNI", 13
    %li
      = order_field eusa_secondary_form, "SMUXLOC", 11
      = order_field eusa_secondary_form, "SCCEA", 60
    %li  
      = order_field eusa_secondary_form, "S25", 8
      = order_field eusa_secondary_form, "ER", 1
      = order_field eusa_secondary_form, "OTC", 4
      = order_field eusa_secondary_form, "GETO", 1
      = order_field eusa_secondary_form, "GBTN", :gbtn_group
      = order_field eusa_secondary_form, "GCON", 25
      = order_field eusa_secondary_form, "GTEL", :telephone_4_group
    
  %h5.no_border REMARKS
  %ul.order_form_section
    %li
      = order_field remarks_form, "REMARKS", :remarks_124_group, nil, :class => 'hide_label'