%table.ordering_state
  %tr
    %td
      %h4 Details
      %ul
        %li.states
          - if defined?(edit) && edit
            - current_state = order.order_state.get_state
            .edit_state
              .current_state
                %h4 Current Ordering State
                %div
                  %span.state.dot{'class' => "#{order.order_state_class}", "data-current_state" => "#{order.order_state_for_diagram}"}
                  %span.state_text
                    #{order.get_order_name}
              
              - if can? :move, :order
                -# Get next state, ignore current state as valid transition
                - if next_state = current_state.valid_transitions.reject{ |possible_state| current_state.is_a? possible_state }.first
                  -# Minor workflow 
                  - disabled, reason = next_state_disabled(@entity, next_state)
                  .next_state
                    %h4 Next Ordering State 
                    %button.submit_button.activity{(disabled ? {:disabled => "disabled", :class => "disabled"} : {}), 'data-url' => state_path(order.id, {:type => order.type, :new_state => next_state.to_s})}
                      -# TODO: This could be better, could try and use stateable methods
                      - next_state_class_name = next_state.state_name.downcase.gsub(' ', '_')
                      %span.state.dot{'class' => " ordering #{next_state_class_name} ", "data-next_state" => "#{next_state_class_name}"}
                      %span.state_text
                        Move to #{next_state.state_name}

                - if disabled
                  .message{:class => 'error'}
                    = reason

              - if defined?(message) && message
                .message{:class => message[:type]}
                  = message[:text] 

          - else
            %label.states_label Ordering State:
            %span.state.dot{'class' => "#{order.order_state_class}"}
            %span.state_text
              #{order.get_order_name}
        
        - if current_state      
          = list_label_and_value 'On', current_state, :timestamp, format_utc
          
        = list_label_and_value 'Order ID', order, :title
        = list_label_and_value 'CENX ID', order, :cenx_id
        = list_label_and_value 'Order Type', order, :action
        / = list_label_and_value 'Planned Completion Date', order, :requested_service_date, nil, ' '
        / = list_label_and_value 'Firm Order Completion Date', order, :foc_date, nil, ' '
        / = list_label_and_value 'Actual Completion Date', order, :order_completion_date, nil, ' '
        / = list_label_and_value 'Initiator Contact', order.primary_contact, :name
        / = list_label_and_value 'Implementation Contact', order.testing_contact, :name
        / = list_label_and_value 'Design Contact', order.local_contact, :name
        
    %td
      - # Get all orders (ignore first one)
      - if defined?(history) and history && order_history = order.order_state.states.reverse.drop(1)
        - unless order_history.empty?    
          %div
            %h4 History
            %ul.order_history
              - order_history.each do |state|
                %li.states
                  %span.state.dot{'class' => "ordering #{state.name.downcase.gsub(' ', '_')}"}
                  %span.state_text
                    #{state.name} on #{timestamp_to_date_time(state.timestamp)}    
      - if defined?(edit) && edit
        %div
          = render :partial => 'shared/comments', :locals => {:order => order}
