%li
  = order_field lref_form, "LREF", 1
  = order_field lref_form, "LOSACT", 1
  = order_field lref_form, "LOS", 20
  = order_field lref_form, "SPEC", 7
  = order_field lref_form, "P-BIT", 8
  = order_field lref_form, "BDW", 7
  = order_field lref_form, "DSCP", 6
  = order_field lref_form, "TOS", 8