%br
- if @order_history.empty?
  %h4
    No order audit / screenshots captured
- else
  - @order_history.each do |ts,history|
    - next if history.empty?
    %h3{ :style => "margin: 0 0 10px 0"}= Osl::Validator.time_to_s(ts,"","%Y-%m-%d %H:%M:%S UTC")
    %h5 Ordering Screenshot Overview
    - screenshot_nums = Dir["#{@cm_dir}/orders/#{@cascade}/#{@order_type}/#{ts}/*.png"].collect { |f| File.basename(f)[0...-4].to_i }.sort
    - screenshot_nums.each do |num|
      %p
        %img.screenshot{:src => "/service_orders/screenshot/#{@cascade}/#{@order_type}/#{ts}/#{num}.png" }
    %h5 Detailed Ordering Operations
    %ul{ :style => "border:1px solid grey; padding: 10px;margin: 0 1px 0 1px" }
      - history.each do |cmd|
        %li= cmd 
