%div.order_form
  - asr_admin_form = ethervc_form.sub_form("Administrative Section",:force_first) || Osl::Form.new
  - evc_detail_form = ethervc_form.sub_form("Ethernet Virtual Connection Detail Section",:force_first) || Osl::Form.new
  - evc_uni_form = ethervc_form.sub_form("UNI Mapping Detail Section",:force_first) || Osl::Form.new  
  - remarks_form = ethervc_form.sub_form("REMARKS") || Osl::Form.new
  
  %h4 Ethernet Virtual Connection
  %ul.order_form_section
    %li
      = order_heading 'Administrative Section'
      = order_field asr_admin_form, "CCNA", 3
      = order_field asr_admin_form, "PON", 16
      = order_field asr_admin_form, "VER", 2
      = order_field asr_admin_form, "ASR NO", 18

  %h5 Ethernet Virtual Connection Detail Section
  %ul.order_form_section
    %li
      = order_field evc_detail_form, "EVC NUM", 4
      = order_field evc_detail_form, "NC", 4
      = order_field evc_detail_form, "EVC ID", 28
      = order_field evc_detail_form, "NUT", 2

  - ethervc_form.sub_form("UNI Mapping Detail Section",:force_multiple).each do |evc_uni_form|
    = render :partial => 'shared/ordering_uni_mapping_detail', :locals => { :evc_uni_form => evc_uni_form }

  %h5 REMARKS
  %ul.order_form_section
    %li
      = order_field remarks_form, "REMARKS", :remarks_124_group, nil, :class => 'hide_label'
      .clearfix
      .right.no_border
        = order_field ethervc_form, "PG", 3
        = order_field ethervc_form, "OF", 3
      