%div.order_form

  - admin_form = transport_form.sub_form("Administrative Section",:force_first) || Osl::Form.new
  - circuit_details_form = transport_form.sub_form("Circuit Details",:force_first) || Osl::Form.new
  - remarks_form = transport_form.sub_form("REMARKS",:force_first) || Osl::Form.new

  %h4 Transport Request
  %ul.order_form_section
    %li
      = order_heading 'Administrative Section'
      = order_field admin_form, "CCNA", 3
      = order_field admin_form, "PON", 16
      = order_field admin_form, "VER", 2
      = order_field admin_form, "ASR NO", 18

  %h5 Circuit Details
  %ul.order_form_section
    %li
      = order_field circuit_details_form, "NC", 4
      = order_field circuit_details_form, "NCI", 12
      = order_field circuit_details_form, "TLV", 12
      = order_field circuit_details_form, "SECNCI", 12
      = order_field circuit_details_form, "SECTLV", 12
      = order_field circuit_details_form, "PQPR", 2
      = order_field circuit_details_form, "QPR", 2
    %li
      = order_field circuit_details_form, "SR", 3
      = order_field circuit_details_form, "S25", 8
      = order_field circuit_details_form, "ER", 1
      = order_field circuit_details_form, "SSS", 1
      = order_field circuit_details_form, "ATN", 12
      = order_field circuit_details_form, "TRF", 1
      = order_field circuit_details_form, "MST", 1
      = order_field circuit_details_form, "HVP", 1
      = order_field circuit_details_form, "OTC", 4
      = order_field circuit_details_form, "CKLT", 11
      = order_field circuit_details_form, "NSL", 2
    %li
      = order_field circuit_details_form, "CFAU", 1
      = order_field circuit_details_form, "CFA", 42
      = order_field circuit_details_form, "DIR", 1
      = order_field circuit_details_form, "CPT", :cpt_group
    %li
      = order_field circuit_details_form, "SCFA", 42
      = order_field circuit_details_form, "SDIR", 1

      -# User can input SECLOC when the order is in the Received State
      - edit = @order.get_order_state.is_a?(OrderReceived)
      = order_field circuit_details_form, "SECLOC", 12, nil, :class => (edit ? 'editable' : '')
      - if edit
        = order_field_edit @entity, @component_html_id, circuit_details_form, "SECLOC", 12

      = order_field circuit_details_form, "SEI", 1
      = order_field circuit_details_form, "MUXLOC", 11
    %li
      = order_field circuit_details_form, "HBAN", 12
      = order_field circuit_details_form, "SFNI", 13
      = order_field circuit_details_form, "PRI ADM", 11
      = order_field circuit_details_form, "SEC ADM", 11
      = order_field circuit_details_form, "SMUXLOC", 11
    %li
      = order_field circuit_details_form, "NVC", 2
      = order_field circuit_details_form, "PSPEED", 7
      = order_field circuit_details_form, "LMP", 1
      = order_field circuit_details_form, "N/U", 1
      = order_field circuit_details_form, "BSC", 1
      = order_field circuit_details_form, "ETET", 1
    %li
      = order_field circuit_details_form, "CCEA", 60
    %li
      = order_field circuit_details_form, "SCCEA", 60
    %li
      = order_field circuit_details_form, "GETO", 1
      = order_field circuit_details_form, "GBTN", :gbtn_group
      = order_field circuit_details_form, "GCON", 25
      = order_field circuit_details_form, "GTEL", :telephone_4_group
    %li
      = order_field circuit_details_form, "CTX TEL", :telephone_3_group
      = order_field circuit_details_form, "CTX LSTD NM", 25
    %li
      = order_field circuit_details_form, "WACD1", 36
      = order_field circuit_details_form, "WACD2", 36
    %li
      = order_field circuit_details_form, "LAG ID", 24

      
  %h5 REMARKS
  %ul.order_form_section
    %li
      = order_field remarks_form, "REMARKS", :remarks_124_group, nil, :class => 'hide_label'