%div.order_form

  - admin_form = sali_form.sub_form("Administrative Section",:force_first) || Osl::Form.new
  - address_detail_form = sali_form.sub_form("Address Detail Section",:force_first) || Osl::Form.new
  
  %h4 Service Address Location Information
  %h5 Administrative Section
  %ul.order_form_section
    %li
      = order_field admin_form, "CCNA", 3
      = order_field admin_form, "PON", 16
      = order_field admin_form, "VER", 2
      = order_field admin_form, "ASR NO", 18
      = order_field admin_form, "PG", 2
      = order_field admin_form, "OF", 2
      
  %h5.no_border Address Detail Section
  %ul.order_form_section
    %li
      = order_field address_detail_form, "REF NUM", 4
      = order_field address_detail_form, "PI", 1
      = order_field address_detail_form, "EUNAME", 25
      = order_field address_detail_form, "AFT", 1
      = order_field address_detail_form, "NCON", 1
      = order_field address_detail_form, "SAPR", 6
      = order_field address_detail_form, "SANO", 10
      = order_field address_detail_form, "SASF", 4
      = order_field address_detail_form, "SASD", 2
    %li
      = order_field address_detail_form, "SASN", 60
      = order_field address_detail_form, "SATH", 7
      = order_field address_detail_form, "SASS", 2
    %li
      = order_field address_detail_form, "LD1", 4
      = order_field address_detail_form, "LV1", 10
      = order_field address_detail_form, "LD2", 4
      = order_field address_detail_form, "LV2", 10
      = order_field address_detail_form, "LD3", 4
      = order_field address_detail_form, "LV3", 10
    %li
      = order_field address_detail_form, "CITY", 32
      = order_field address_detail_form, "STATE", 2
      = order_field address_detail_form, "ZIP", 12
    %li
      = order_field address_detail_form, "AAI", 60
    %li
      = order_field address_detail_form, "JK CODE", 5
      = order_field address_detail_form, "JK NUM", 2
      = order_field address_detail_form, "JK POS", 2
      = order_field address_detail_form, "JS", 1
      = order_field address_detail_form, "SMJK", 1
      = order_field address_detail_form, "PCA", 5
      = order_field address_detail_form, "SI", 1
      = order_field address_detail_form, "SPOT", 11
      = order_field address_detail_form, "ICOL", 8
    %li
      = order_field address_detail_form, "LCON", 15
      = order_field address_detail_form, "ACTEL", :telephone_4_group
      = order_field address_detail_form, "AACTEL", :telephone_4_group
      = order_field address_detail_form, "ACPGN", 12
      = order_field address_detail_form, "ACPPN", 8
    %li
      = order_field address_detail_form, "ALCON", 15
      = order_field address_detail_form, "ALCON TEL", :telephone_4_group
    %li
      = order_field address_detail_form, "AAC", 45
      = order_field address_detail_form, "WKTEL", :telephone_3_group
      