- if coresite_role

  - if defined?(message) && message && message[:type] == :error
    .message{:class => message[:type]}
      = message[:text] 
      
  - else

    - prov_state = @entity.prov_state.get_state
    -# TODO: Hardcoding maintenance and Live for now
    -# TODO: New socket.io stuff should update states for me instead of doing it in js
    - provisioning_state_update_path = "provisioning_state_update_#{convert_to_path(@entity)}_path"
    - if prov_state.is_a?(ProvLive)
      %button.submit_button.place_in_maintenance{'data-url'=> send(provisioning_state_update_path, @entity.id, {:new_state => 'ProvMaintenance'}), 'data-new_state' => 'maintenance'}
        Place in maintenance

    - elsif prov_state.is_a?(ProvMaintenance)
      %button.submit_button.take_out_maintenance{'data-url'=> send(provisioning_state_update_path, @entity.id, {:new_state => 'ProvLive'}), 'data-new_state' => 'live'}
        Take out of maintenance

