%h3 Inventory State
%div.tipsy_container
  %ul.states
    %li
      %label.states_label Inventory State:
      %span.state.dot{'class' => "#{@entity.prov_state_class}"}
      %span.state_text #{@entity.get_prov_name}

    %li.state_time
      %label Last Updated Date:
      %span.state_time_text #{timestamp_to_date_time(@entity.prov_timestamp)}
