.reverse_diagram.right
  %span.submit_button.icon.loop.activity{:title => "Reverse Diagram", 'data-component_html_id' => @component_html_id, 'data-reverse' => @reverse_diagram.to_s, 'data-mode' => @mode}
