.sidebar
  = render 'shared/sidebar_toggle_link', :title => "Filter", :table_name => 'filter_form'

  %form#filter_form.clearfix{:method => :get}
    .left_column
      %input{:type => 'hidden', :name => 'mode', :value => @mode}
      %input{:type => 'hidden', :name => 'fallout_exception_type', :value => params[:fallout_exception_type]}

      - if defined?(show_cascade_id) && show_cascade_id
        %label= get_term(:cascade)
        %input{:type => "text", :value => params[:filter], :name => 'filter'}


      - if defined?(show_cell_site_name) && show_cell_site_name
        %label
          ="#{get_term(:demarc)} Name"
        %input{:type => "text", :value => params[:cell_site_name], :name => 'cell_site_name'}

      - if defined?(show_component) && show_component
        .right
          =radio_button_tag 'component_condition', 'and', @component_condition == 'and'
          %small<>
            And
          &nbsp;
          =radio_button_tag 'component_condition', 'or', @component_condition == 'or'
          %small<>
            Or
          
        %label
          Component
        %input{:type => "text", :value => params[:component], :name => 'component'}

      - if @date_range_select
        %label
          Period
        
        %select{:name => 'date_range_selector', :id => 'date_range_selector', 'data-default-period' => defined?(default_period) && default_period ? default_period : 'Month to date'}
          %option{@week_to_date} Week to date
          %option{@seven_days_previous} Previous 7 days
          %option{@week_previous} Previous Week
          %option{@month_to_date} Month to date
          %option{@month_previous} Previous month
          %option{@three_months_previous} Previous 3 months
          %option{@six_months_previous} Previous 6 months
          %option{@nine_months_previous} Previous 9 months
          %option{@twelve_months_previous} Previous 12 months
          %option{@year_to_date} Year to date
          %option{:value => '', :disabled => 'disabled'} 
          %option{@date_range} Detected between &rarr;
        
        .date_range_input{:class => @date_range[:selected] ? '' : 'hidden'}
          %input.date_range_start.inline{:type => "text", :name => 'date_range_start', :value => @date_range_start, :autocomplete => "off"} &nbsp;to
          %input.date_range_end{:type => "text", :name => 'date_range_end', :value => @date_range_end, :autocomplete => "off"}
    
    
      - unless defined?(hide_severity) && hide_severity
        %label
          Severity
        %select{:name => 'severity[]', :id => 'severity_select', :multiple => 'multiple', 'data-placeholder' => 'Choose a Severity'}
          - severities = [['Minor', 'minor'], ['Major', 'major']]
          - if defined?(show_clear) && show_clear
            - severities = [['OK', 'clear']] + severities
          - if defined?(show_critical) && show_critical
            - severities = severities + [['Critical', 'critical']]
          = options_for_select severities, params[:severity]

      - if defined?(show_site_group) && show_site_group
        %label
          =get_term(:site_group)
        %select{:name => 'site_group[]', :id => 'site_group', :multiple => 'multiple', 'data-placeholder' => "Choose a #{get_term(:site_group)}"}
          = options_for_select SiteGroup.order(:name).all.map{|sg|[sg.name,sg.id]}, params[:site_group]

      - if defined?(show_metric) && show_metric
        %label
          Metric
        %select{:name => 'sla_type[]', :multiple => 'multiple', 'data-placeholder' => "Choose a Metric"}
          = options_for_select [['Availability', :availability], ['FLR', :flr], ['FD', :fd], ['FDV', :fdv]], params[:sla_type]

      - if defined?(show_site_type) && show_site_type
        %label
          Site Type
        %select{:name => 'site_type[]', :multiple => 'multiple', 'data-placeholder' => "Choose a Site Type"}
          = options_for_select [['Fiber', 'fiber'], ['MicroWave', 'microwave']], params[:site_type]

      - unless @date_range_select
        -#%label
        -#  Work Orders
        -#%select{:name => 'statement_of_work'}
        -#  %option{:value => ''} All
        -#  = options_for_select @statement_of_work_select.map{|p|[p.name,p.id]}, params[:statement_of_work].to_i
        
        -if can? :read, :inventory
          %label
            Inventory State
          %select{:name => 'provisioning_state[]', :id => 'provisioning_state_select', :multiple => 'multiple', 'data-placeholder' => "Choose a State"}
            = options_for_select provisioning_states.map{|e| [e[:name].titleize]*2}, params[:provisioning_state]

        -if can? :read, :ordering
          %label
            Ordering State
          %select{:name => 'ordering_state[]', :id => 'ordering_state_select', :multiple => 'multiple', 'data-placeholder' => "Choose a State"}
            = options_for_select ordering_states.map{|e| [e[:name].titleize]*2}, params[:ordering_state]

        -if can? :read, :monitoring
          %label
            Monitoring State
          %select{:name => 'monitoring_state[]', :id => 'monitoring_state_select', :multiple => 'multiple', 'data-placeholder' => "Choose a State"}
            = options_for_select monitoring_states.map{|e| [e[:name].titleize]*2}, params[:monitoring_state]
              

      %button.submit_button.activity{:type=>'submit', :style => 'margin-top:5px'} Submit
      &nbsp; 
      %a{:href => '#', :id => 'reset'} Reset
    
    .right_column

      - available_aggregation_sites = @site_select.map{|e|[e.site_name,e.site_id]}
      - unless available_aggregation_sites.empty?
        %label
          = get_term(:aggregation_site)
        %select{:name => 'site[]', :id => 'site_select', :multiple => 'multiple', 'data-placeholder' => "Choose a #{get_term(:aggregation_site)}"}
          = options_for_select available_aggregation_sites, params[:site]

      - available_service_providers = @service_provider_select.map{|p|[p.service_provider_name,p.service_provider_id]}
      - unless (defined?(hide_service_provider) && hide_service_provider) || available_service_providers.empty?
        %label
          = get_term(:service_provider)
        %select{:name => 'service_provider[]', :id => 'service_provider_select', :multiple => 'multiple', 'data-placeholder' => "Choose a #{get_term(:service_provider)}"}
          = options_for_select available_service_providers, params[:service_provider]

      - available_network_types = @oem_select.map{|p|[p.name,p.id]}
      - unless available_network_types.empty?
        %label
          = get_term(:network_type)
        %select{:name => 'oem[]', :id => 'oem_select', :multiple => 'multiple', 'data-placeholder' => "Choose a #{get_term(:network_type)}"}
          = options_for_select available_network_types, params[:oem]

      - if defined?(show_fallout_category) && show_fallout_category && can?(:read, :inventory_exception_reports)
        %label
          Exception Category
        %select{:name => 'fallout_category[]', :id => "fallout_category_select", :multiple => 'multiple', 'data-placeholder' => "Choose a Category"}
          = options_for_select fallout_category_names(), params[:fallout_category]

      - unless current_user.system_admin? || (defined?(hide_circuit_ownership) && hide_circuit_ownership)
        %label
          ="#{get_term(:path)} Ownership"
        %select{:name => 'path_owner'}
          = options_for_select [['All','all'], ["Bought by #{current_user.service_provider.name}",'user'],["Sold by #{current_user.service_provider.name}",'other']], @path_owner

      - unless defined?(hide_site_list) && hide_site_list
        .right
          =radio_button_tag('limit_sites', 'include_sites', params['limit_sites'] == 'include_sites' || params['limit_sites'].blank?)
          %small<>
            Include
          &nbsp;
          =radio_button_tag('limit_sites', 'exclude_sites', params['limit_sites'] == 'exclude_sites')
          %small<>
            Exclude

        %label
          Sites
      
        %select{:name => 'limit_site_list_id[]', :id => 'limit_site_list_id', :multiple => 'multiple', 'data-placeholder' => "Choose a Site List"}
          =options_for_select @current_user.site_lists.map{|sl| [sl.name, sl.id]}, params[:limit_site_list_id]

  %br.clear