- member_attrs = member_attrs_hash(@entity)
- unless member_attrs.empty?
  %h3 Service Controls
  %div.tipsy_container
    %ul
      - member_attrs.each do |ma|
        = list_label_and_value ma[:label], nil, ma[:value]
          