%h4.title
  = link_to(title, user_toggle_table_path(@current_user, :table_name => table_name), :method => :put, :remote => true, :class => "toggle_graph #{@current_user.hidden_tables.include?(table_name) ? 'hidden' : ''}", 'data-toggle-id' => table_name)