-# Leave component_groups in as a placeholder for spacing info above groups
.component_groups
- site_left, site_right = site_component_groups(previous_column, column, next_column)
- node_left, node_right = node_component_groups(previous_column, column, next_column)

-# Coresite has different rules for site and node groups
- if App.is?(:coresite)
  - if site_left
    - if site_left.try(:id) == site_right.try(:id)
      .site.component_group{:class => 'component_group_left_and_right'}
        %button.submit_button.entity{'data-url' => site_path(site_left.id)} Site: #{site_left.name}
    - else
      - if site_left
        .site.component_group{:class => 'component_group_left'}
          %button.submit_button.entity{'data-url' => site_path(site_left.id)} Site: #{site_left.name}
      - if site_right
        .site.component_group{:class => 'component_group_right'}
          %button.submit_button.entity{'data-url' => site_path(site_right.id)} Site: #{site_right.name}

  - if node_left 
    - if node_left.try(:id) == node_right.try(:id)
      .node.component_group{:class => 'component_group_left_and_right'}
        %button.submit_button.entity{'data-url' => node_path(node_left.id)} NE: #{node_left.name}
    - else  
      - if node_left
        .node.component_group{:class => 'component_group_left'}
          %button.submit_button.entity{'data-url' => node_path(node_left.id)} NE: #{node_left.name}
      - if node_right
        .node.component_group{:class => 'component_group_right'}
          %button.submit_button.entity{'data-url' => node_path(node_right.id)} NE: #{node_right.name}

- else
  .site.component_group{:class => column.component_group_direction}
    - if site_left
      %button.submit_button.entity{'data-url' => site_path(site_left.id)} Site: #{site_left.name}
    - if site_right && site_left.try(:id) != site_right.try(:id)
      %button.submit_button.entity{'data-url' => site_path(site_right.id)} Site: #{site_right.name}
  .node.component_group{:class => column.component_group_direction}
    - if node_left
      %button.submit_button.entity{'data-url' => node_path(node_left.id)} NE: #{node_left.name}
    - if node_right && node_left.try(:id) != node_right.try(:id)
      %button.submit_button.entity{'data-url' => node_path(node_right.id)} NE: #{node_right.name}