-if can? :read, :ordering  
  %label
    Ordering State
  %select{:name => 'ordering_state[]', :id => 'ordering_state_select', :multiple => 'multiple', 'data-placeholder' => 'Choose a State'}
    = options_for_select ordering_states.map{|e| [e[:name].titleize]*2}, params[:ordering_state]

-if can? :read, :inventory
  %label
    Inventory State
  %select{:name => 'provisioning_state[]', :id => 'provisioning_state_select', :multiple => 'multiple', 'data-placeholder' => 'Choose a State'}
    = options_for_select provisioning_states.map{|e| [e[:name].titleize]*2}, params[:provisioning_state]

-if can? :read, :monitoring
  %label
    Monitoring State
  %select{:name => 'monitoring_state[]', :id => 'monitoring_state_select', :multiple => 'multiple', 'data-placeholder' => 'Choose a State'}
    = options_for_select monitoring_states.map{|e| [e[:name].titleize]*2}, params[:monitoring_state]    