= link_to(title, user_toggle_table_path(@current_user, :table_name => table_name), :method => :put, :remote => true, :class => "toggle_table #{@current_user.hidden_tables.include?(table_name) || defined?(hidden) ? 'hidden' : ''}")