- if @entity.respond_to? :emergency_contact
  - technical_contact = @entity.emergency_contact
  - if technical_contact
    %h3 Technical Contact
    %div.tipsy_container
      %ul
        %li
          %strong #{technical_contact.name} 
          
        = list_label_and_value 'Position', technical_contact, :position
        = list_label_and_value 'Address', technical_contact, :address, format_address, nil, 'address'
        = list_label_and_value 'Work Phone', technical_contact, :work_phone
        = list_label_and_value 'Mobile Phone', technical_contact, :mobile_phone

        - unless ['n/a','na'].include?(technical_contact.e_mail.downcase) 
          = list_label_and_value 'E-mail', technical_contact, :e_mail, format_mail
