-# Don't show toggle if not linked to component (ie linked to a state dot)
- if (defined?(force) && force) || @component_html_id

  .toggle_mode.button-group.right
    -if can? :read, :inventory_circuit_list
      %span.submit_button.inventory{:class => @mode == 'inventory' ? 'primary' : 'alternate', :title => "Switch to Inventory mode", 'data-component_html_id' => @component_html_id, 'data-mode' => 'inventory', 'data-reverse' => @reverse_diagram.to_s}>
        I
    -if can? :read, :ordering_circuit_list
      %span.submit_button.ordering{:class => @mode == 'ordering' ? 'primary' : 'alternate', :title => "Switch to Ordering mode", 'data-component_html_id' => @component_html_id, 'data-mode' => 'ordering', 'data-reverse' => @reverse_diagram.to_s}>
        O
    -if can? :read, :monitoring_circuit_list
      %span.submit_button.monitoring{:class => @mode == 'monitoring' ? 'primary' : 'alternate', :title => "Switch to Monitoring mode", 'data-component_html_id' => @component_html_id, 'data-mode' => 'monitoring', 'data-reverse' => @reverse_diagram.to_s}>
        M