%table
  - entities.each_with_index do |entity, index|
    %tr
      %td.row_number
        .number
          = index + 1
      %td.row_content
        - provider_member_handles(entity).each do |member_handle|
          %label #{member_handle[:label]}:
          %span #{member_handle[:value]}
          %br
