.header
  %h2 Monitoring
  .clearfix

%h3 Current State
%div.tipsy_container
  = render :partial => 'shared/monitoring_state'

- # Evcs don't have an inventory bubble (yet)
- unless @entity.is_a?(Evc)
  = render :partial => 'shared/toggle_mode'

- if @entity.is_a?(Segment) || @entity.is_a?(Demarc)
  .buttons_section
    .provisioning_state_update
      = render :partial => 'shared/provisioning_state_update'

.clearfix
