.header
  %h2 Ordering
  .clearfix

- if @entity.respond_to?(:get_latest_order) and order = @entity.get_latest_order
  %h3 Details
  %div.tipsy_container
    = render :partial => 'shared/ordering_state', :locals => {:order => order, :history => true}    