.header
  %h2 
    Ordering
    %span= "for #{member_handle_for_current_user(@entity, @current_user)}"

  - if @path && @order && can?(:submit, :order)
    = form_tag place_service_order_path(@order.id,@path.id), :method => :post, :remote => true, :class => 'order_form' do |f| 
      = button_tag("Submit Order", :type => 'submit', :class => 'submit_button view_enni activity')

  - # ENNIs have their own dashboards and list screens, so link to them
  - if @entity.is_a?(EnniNew) && @entity.demarc_icon != 'router'
    = link_to "#{get_term(:enni)} View", ennis_path(:enni_details => @entity.id, :mode => @mode), :class => 'submit_button view_enni', :target => '_blank'
  .clearfix

#ordering_popup.tabs

  %ul
    %li 
      %a{:href => "#state_content"} State
    - if @ordering_forms
      %li 
        %a{:href => "#attributes_content"} Attributes
      %li 
        %a{:href => "#output_content"} Order Forms
      %li 
        %a{:href => "#audit_content"} Order History
  
  %ul
    - path_id = @path ? @path.id : nil
    %li#state_content.list.tab
      .state_content_wrapper.load_on_tab_display{'data-url'=>"#{data_url(@entity, 'ordering_state_edit', {:path_id => path_id, :component_html_id => @component_html_id})}"}
        - if @order
          = render :partial => 'shared/ordering_state', :locals => {:order => @order, :edit => true, :history =>true}
        - else
          No order

    - if @ordering_forms
      %li#attributes_content.list.tab
        .attributes_content_wrapper.load_on_tab_display{'data-url'=>"#{data_url(@entity, 'ordering_attributes', {:path_id => path_id, :component_html_id => @component_html_id})}"}
          = @ordering_forms
      %li#output_content.tab
        .output_content_wrapper.load_on_tab_display{'data-url'=>"#{data_url(@entity, 'ordering_output', {:path_id => path_id, :component_html_id => @component_html_id})}"}
          = @ordering_forms
      %li#audit_content.tab
        .audit_content_wrapper.load_on_tab_display{'data-url'=>"#{data_url(@entity, 'ordering_audit', {:path_id => path_id, :component_html_id => @component_html_id})}"}
          

              
= render :partial => 'shared/toggle_mode'
.clearfix

