=form_tag(settings_path) do
 
  .grid_4.alpha

    %h3.sub_border
      Support

    %label
      Support Phone Number
    =text_field_tag :support_phone, Settings['support.phone']

    %label
      Support Phone Number Instructions
    =text_area_tag :support_phone_text, Settings['support.phone_text']
          
    %label
      Support Email
    =text_field_tag :support_email, Settings['support.email']

    %label
      Support Email Instructions
    =text_area_tag :support_email_text, Settings['support.email_text']

    .clear

    %br
    =submit_tag("Update Settings", :class => 'submit_button')
  
  .grid_4.alpha

    %h3.sub_border
      System

    %label
      Login Text
    =text_field_tag :login_text, Settings['system.login_text']

.clear
%br