-content_for :title do
  CENX - System Customization

.container_12
  .border.clearfix
    .grid_9.alpha
      %h1
        System Customization
        
    .grid_3.align_right.service_provider_logo.omega
      =provider_logo(@service_provider)

.container_12
  .grid_12.alpha.omega
    =render :partial => 'shared/flash_message'

    =render :partial => 'form'