.build_log
  %h2 
    Build Log
    %span.build_log_close
      close

  .build_log_content
    - unless build_log.blank?
      %pre
        = build_log.details
    - else
      %h2 No Build Log for this Path