%table#buying_orders.coresite_orders_table.dashboard_table
  %thead
    %tr
      %th  
      %th Your ID
      %th Order State
      %th Type
      %th Target #{get_term(:service_provider)}
      %th #{get_term(:site)}
      %th Service Rate
      %th Date
      %th
  %tbody
    - tenant.buying_orders(@filter_params).each do |order_hash|
      - order = order_hash[:latest]
      - historical_orders = order_hash[:history]
      - target_operator_network = order.target_operator_network
      - path = order.path
      %tr
        %td
          %span.state.dot{fallout_exception_type_class(path), 'class' => "#{path.prov_state_class}", :title => inventory_state_with_fallout(path)}
            .hidden
              = inventory_state_with_fallout(path)
 
        %td
          - order_member_handle = path.member_handle_for_owner_object(@current_user.service_provider).try(:value)
          = link_to coresite_order_path(order.id), class: 'row_link', title: 'View Order' do
            = order_member_handle
        %td.states
          %span.state.dot{'class' => "#{order.order_state_class}"}
          %span.state_text
            -# TODO Link to sub dashboard
            = order.get_order_name
        %td
          = order.action
        %td
          = target_operator_network.tenant_name
        %td
          = target_operator_network.site_name
        %td
          = "#{order.service_rate} Mbps"
        %td
          = order.requested_service_date
        %td.align_right
          .button-group.small
            - if (order.path_id)
              - unless historical_orders.empty?
                %a.submit_button.icon.clock.datatable_details_button.no_text{:href=>'#'}
              - if can? :manage, :coresite_order
                = cancel_order_button(order, @current_operator_network, order_member_handle, 'Cancel')
                = change_order_button(order, @current_operator_network, 'Change')
                = disconnect_order_button(order, @current_operator_network, order_member_handle, 'Disconnect')
              = link_to "View #{get_term(:path)}", paths_path(:path_details => order.path_id), class: 'submit_button activity'
          
          - unless historical_orders.empty?
            = render partial: 'coresite_shared/historical_orders', locals: {historical_orders: historical_orders}