- if contact
  %ul
    %li
      %strong #{contact.contact_name}
    - unless contact.mobile_phone.try(:downcase) == 'tbd'
      = list_label_and_value 'Mobile', contact, :mobile_phone
    - unless contact.work_phone.try(:downcase) == 'tbd'
      = list_label_and_value 'Work', contact, :work_phone 
    - unless contact.fax.try(:downcase) == 'tbd'
      = list_label_and_value 'Fax', contact, :fax
    = list_label_and_value 'E-mail', contact, :e_mail, format_mail
