%button.pill.submit_button.datatable_details_button
  %span.open
    View
  %span.close
    Close

.datatable_details_row
  - ennis.each do |enni|
    .detail
      - path_counts = count_paths_by_state(enni.paths)
      - if coresite_role
        %strong #{enni.port_name}
      %ul
        %li
          %label CoreSite's ID:
          = enni.coresite_member_handle
        %li
          %label #{enni.operator_network.tenant_name}'s ID:
          = enni.member_handle_for_owner_object(enni.operator_network.service_provider).try(:value)
        %li
          %label Phy Type:
          = enni.physical_medium

        - if App.is?(:coresite)
          %li    
            %label Provisioned Bandwidth: 
            = "#{enni.coresite_provisioned_bandwidth} Mbps"
            
        %li
          %label Live #{get_term(:path, true)}:
          = path_counts[:live]

        - unless path_counts[:pending].try(:zero?)
          %li
            %label Pending #{get_term(:path, true)}:
            = path_counts[:pending]

        - unless path_counts[:deleted].try(:zero?)
          %li
            %label Deleted #{get_term(:path, true)}:
            = path_counts[:deleted]

        - unless path_counts[:rejected_cancelled].try(:zero?)
          %li
            %label Rejected/Cancelled #{get_term(:path, true)}:
            = path_counts[:rejected_cancelled]


        %li.clearfix
          .right
            -# = link_to "Edit", _show_edit_port_custom_application_index_path({:enni => enni}), :class => 'submit_button coresite_edit_port activity icon edit'
            = link_to "View #{get_term(:enni)}", ennis_path(:enni_details => enni.id, :mode => @mode), :class => 'submit_button view_enni'
            - if path_counts[:live].zero? && coresite_role
              = link_to "Delete", _show_delete_port_custom_application_index_path({:enni => enni}), :class => 'coresite_delete_port submit_button negative danger'