.datatable_details_row
  - historical_orders.each do |historical_order|
    .detail
      %ul
        %li
          %label Service Order ID 
          = historical_order.name
        %li
          %label Type:
          = historical_order.action
        %li
          %label State:
          = historical_order.get_order_name
        %li
          %label Service Rate:
          = "#{historical_order.service_rate} Mbps"                          
        %li
          %label Date Submitted:
          = historical_order.created_at
        %li.clearfix
          .right
            = link_to "View Order", coresite_order_path(historical_order.id), title: 'View Historical Order', class: "submit_button"