%table#locations.dashboard_table.table_sort
  %thead
    %tr
      %th Site Name 
      %th Tenant Name
      %th.col Market
      %th.col Address
      %th.col Support
      %th.col #{get_term(:enni, true)}
      %th.col

  %tbody
    - operator_networks.each do |operator_network|
      - site = operator_network.site
      %tr 
        %td.site_name
          = link_to site.name, sub_dashboard_path(@filter_params.merge({:operator_network => operator_network.id})), :class => 'row_link'
        %td
          = operator_network.tenant_name
        %td
          = site.site_group_info
        %td
          = simple_format site.address
        %td
          = simple_format site.contact_info
        %td
          - ennis = operator_network.live_ennis
          - if ennis.empty?
            = "No #{get_term(:enni, true)}"
          - else
            = render :partial => "coresite_shared/ennis_info_bubble", :locals => {:ennis => ennis}
        %td
          - if coresite_role
            .button-group
              = link_to "Add #{get_term(:enni)}", _show_add_port_custom_application_index_path({:operator_network => operator_network}), :class => 'submit_button coresite_add_port activity'
              = link_to 'Permissions', access_permissions_custom_application_index_path({:operator_network => operator_network}), :class => "submit_button"


#port_form_wrapper