#port_form.coresite_form
  %h2 #{{new: 'Add', edit: 'Edit', delete: 'Delete'}[@action]} #{get_term(:enni)}
  = form_tag(@form_action, :method => @method) do
    .message
    %table.coresite_table
      %tbody
        %tr
          %td.label #{get_term(:service_provider)}:
          %td.value 
            = @operator_network.tenant_name
            %input{:type => 'hidden', :name => 'operator_network', :value => @operator_network.id, :class => "parent_select operator_network_select"}

        %tr
          %td.label #{get_term(:site)}:
          %td.value 
            = @site.name

        %tr.input
          %td.label Node:
          %td.value
            - if @action == :delete
              = params[:node]
            - else
              = select_tag "node", select_options(@site.try(:coresite_nodes)), 'data-url' => _nodes_select_custom_application_index_path({:selected => params[:node]}), :class => "node_select"

        %tr.input
          %td.label Port:
          %td.value
            - if @action == :delete
              = params[:port]
            - else
              = text_field_tag "port", params[:port]

        %tr.input
          %td.label CoreSite's ID:
          %td.value
            - if @action == :delete
              = params[:work_order_number]
            - else
              = text_field_tag "work_order_number", params[:work_order_number]

        %tr.input
          %td.label #{@operator_network.tenant_name}'s ID:
          %td.value
            - if @action == :delete
              = params[:external_name]
            - else
              = text_field_tag "external_name", params[:external_name]

        %tr.input
          %td.label Phy Type:
          %td.value
            - if @action == :delete
              = params[:phy_type]
            - else
              -# TODO How to get list of phy types? (by site? by tenant?)
              = select_tag "phy_type", options_for_select(["1000Base-LX; 1310nm; SMF", "10GigE LR; 1310nm; SMF", "100M Copper"], params[:phy_type])
        %tr
          %td
            &nbsp;
          %td
            .action_buttons
              - case @action 
                - when :new
                  %button.submit_button.activity.primary
                    Add

                - when :edit
                  %button.submit_button.activity.primary
                    Save

                - when :delete
                  %button.submit_button.activity.primary.negative
                    Confirm Delete

              %a.cancel{ :href => '#'} 
                Cancel
              %span.submit_button.ok
                Ok
