%table#target_orders.coresite_orders_table.dashboard_table
  %thead
    %tr
      %th
      %th Your ID
      %th Order State
      %th Type
      %th Buyer #{get_term(:service_provider)}
      %th #{get_term(:site)}
      %th Service Rate
      %th Date
      %th
  %tbody
    - tenant.target_orders(@filter_params).each do |order_hash|
      - order = order_hash[:latest]
      - historical_orders = order_hash[:history]
      - buying_operator_network = order.buying_operator_network
      - path = order.path
      %tr
        %td
          %span.state.dot{fallout_exception_type_class(path), 'class' => "#{path.prov_state_class}", :title => inventory_state_with_fallout(path)}
            .hidden
              = inventory_state_with_fallout(path)

        %td
          = link_to coresite_order_path(order.id), class: 'row_link', title: 'View Order' do
            - member_handle = path.member_handle_for_owner_object(@current_user.service_provider).try(:value)
            = member_handle.blank? ? 'TBD' : member_handle
        %td.states
          %span.state.dot{'class' => "#{order.order_state_class}"}
          %span.state_text
            -# TODO Link to sub dashboard
            = order.get_order_name
        %td
          = order.action
        %td
          = buying_operator_network.tenant_name
        %td
          = buying_operator_network.site_name
        %td
          = "#{order.service_rate} Mbps"
        %td
          = order.requested_service_date
        %td.align_right
          .button-group.small
            - if (order.path_id)
              - unless historical_orders.empty?
                %a.submit_button.icon.clock.datatable_details_button.no_text{:href=>'#'}
              - if can? :manage, :coresite_order
                - if order.can_be_accepted_by_role?(@current_operator_network)
                  = link_to 'Review', coresite_order_path(order.id), :class => 'submit_button activity', :title => 'Review and Accept Order'
              = link_to "View #{get_term(:path)}", paths_path(:path_details => order.path_id), class: 'submit_button'   

          - unless historical_orders.empty?
            = render partial: 'coresite_shared/historical_orders', locals: {historical_orders: historical_orders}