-content_for :title do
  CoreSite - Access Permissions

.container_12.page_header
  .border.clearfix
    .grid_9.alpha
      %h1.dashboard_title
        Access Permissions for
        %strong
          = @target_operator_network.name

    .grid_3.omega.align_right.service_provider_logo
      =provider_logo(@current_user.service_provider)

.container_12
  .grid_12
    = render :partial => 'shared/flash_message'
  .grid_12
    .access_permissions
      %table.dashboard_table.table_sort
        %thead
          %tr
            %th
              Buyer Tenant
            %th
              Permissions
        %tbody
          - @target_operator_network.operator_networks_by_site_group.reject{ |o| o.live_ennis.count.zero? }.each do |operator_network|
            - permission = @target_operator_network.access_permission_for_buyer(operator_network)
            %tr
              %td
                = operator_network.name
              %td{:style => "width: 300px"}
                - if coresite_role
                  = permission.to_s.humanize
                - else
                  .update_access_permissions.button-group.small.no_wrap
                    %button.submit_button.full_access{:class => permission == :full_access ? 'active' : '', 'data-url' => _update_access_permissions_custom_application_index_path({:permission =>:full_access, :buyer => operator_network}) } Full Access
                    %button.submit_button.approval_required{:class => permission == :approval_required ? 'active' : '', 'data-url' => _update_access_permissions_custom_application_index_path({:permission => :approval_required, :buyer => operator_network}) } Approval Required
                    %button.submit_button.no_access{:class => permission == :no_access ? 'active' : '', 'data-url' => _update_access_permissions_custom_application_index_path({:permission => :no_access, :buyer => operator_network}) } No Access          

    = link_to 'Back', :back, :class => 'submit_button'