-content_for :title do
  CoreSite - Import Tenants

.container_12.page_header
  .border.clearfix
    .grid_9.alpha
      %h1.dashboard_title
        Import Tenants

    .grid_3.omega.align_right.service_provider_logo
      = provider_logo(@current_national_tenant)


.container_12.coresite_form
  .grid_12
    = render :partial => 'shared/flash_message'
  - unless @results.blank?
    .grid_3
      %h2 Results
      %table.dashboard_table
        %tr
          %td Total:
          %td= @results[:total]
        %tr
          %td Complete:
          %td= @results[:complete]
        %tr
          %td Already Imported:
          %td= @results[:skipped]
        %tr
          %td Missing National Tenant:
          %td= @results[:missing_id]
        %tr
          %td Missing Site:
          %td= @results[:missing_site]
        %tr
          %td Contacts Created:
          %td= @results[:contacts]
        %tr
          %td Failed:
          %td= @results[:failed]

  - unless @output.blank?
    .grid_6
      %h2 Output
      %pre
        = @output

  .grid_2
    %h2 Import Tenants
    = render 'coresite_shared/tenant_upload_form'

  .grid_12
    %br
    = link_to 'Back', inventory_dashboard_path, :class => "submit_button"