%table
  %tbody

    %tr.diagram_info
      %td
        &nbsp;
      %td
        .block
          %label Capacity:
          %span #{enni.rate} Mbps
  
          - if App.is?(:coresite)
            %br
            %label Provisioned:
            %span #{enni.coresite_provisioned_bandwidth} Mbps
      %td
        &nbsp;

    %tr
      -# Member Cloud
      / - if service_provider = enni.segment_end_points.reject{|ep| ep.class.name=='OnNetOvcEndPointEnni'}.first.try(:segment).try(:service_provider)
      - if operator_network = enni.operator_network 
        %td.cloud.left
          .info
            = provider_logo(operator_network.service_provider)
            %br
            %label Network Name:
            = operator_network.name
            %br
            %label
              = "#{get_term(:network_type)}:"
            = operator_network.operator_network_type.name

      -# ENNI
      - # TODO: This is bad I know, but here it is.  Done this way because of bad decision to put entity_class, entity_state, etc in path_displays model instead of leaving them as helpers
      - column = PathDisplay.new({:id => enni.id, :entity_id => enni.id, :entity_type => 'Demarc'})
      %td.enni_icon_large{entity_data_urls(column), 'id'=>"#{column.diagram_id}", 'class' => "#{column.entity_class(@mode)}", 'data-current_state'=>"#{column.entity_state(@mode)}", 'data-reference'=>"#{column.entity_data_reference}", 'data-demarc_type' => "#{column.entity_demarc_type}", 'data-entity_id' => "#{column.unique_entity_id}", 'data-popup_direction' => "#{entity_popup_direction(column, @mode)}"}

      -# CENX Cloud
      %td.cloud.right
        .info
          - site = enni.site
          - operator_network = site.operator_network
          = provider_logo(operator_network.service_provider)
          %br
          %strong
            = site.name
          %br
          %label Network Name:
          = operator_network.name
          %br
          %label
            = "#{get_term(:network_type)}:"
          = operator_network.operator_network_type.name
          %br
          %label Location:
          = site.city


    -# *** Data Sets ***

    / -# Bandwidth View 
    / %tr.bandwidth_view.data_set_row.positioned{'data-url' => "#{bandwidth_view_enni_display_path(:id => enni.id)}"}

    / -# Monitoring View 
    / %tr.monitoring_view.data_set_row.positioned{'data-url' => "#{monitoring_view_enni_display_path(:id => enni.id)}"}

    - # Order States 
    %tr.ordering_state_view.data_set_row.positioned{'data-url' => "#{ordering_state_view_enni_display_path(:id => enni.id)}"}

    - # Inventory States 
    %tr.inventory_state_view.data_set_row.positioned{'data-url' => "#{inventory_state_view_enni_display_path(:id => enni.id)}"}

    - # Monitoring States 
    %tr.monitoring_state_view.data_set_row.positioned{'data-url' => "#{monitoring_state_view_enni_display_path(:id => enni.id)}"}

    / -# Demarc Details
    / %tr.demarc_view.data_set_row.positioned{'data-url' => "#{demarc_view_enni_display_path(:id => enni.id)}"}

    - # Technical Contact Details
    %tr.technical_contacts_view.data_set_row.positioned{'data-url' => "#{technical_contacts_view_enni_display_path(:id => enni.id)}"}