%table.enni_info
  %tr
    %td.states
    
      %label 
        = "#{get_term(:enni)} Owner:"
      %span.highlight #{enni.service_provider.name}
      %br
      - if @monitoring_mode
        - state = enni.get_SM_state.try(:state).to_s
        %label
          Monitoring State:
        %span.state_type
          %span.state.dot{'class' => "#{monitoring_state_class(state)} #{unique_entity_id(enni)}", 'data-current_state'=>"#{state_to_class(state)}"}
          %span.state_text #{state}
            
      - else
      
        %label
          Inventory State:
        %span
          %span.state.dot{'class' => "#{enni.prov_state_class}"}
          %span.state_text
            = enni.get_prov_name

        - if (order = enni.get_latest_order)
          %br
          %label
            Order State:
          %span
            %span.state.dot.clickable{'class' => "#{order.order_state_class}", 'data-url'=>"#{enni_ordering_state_data_url(enni)}"}
            %span.state_text
              = order.get_order_name

    %td.highlight{:class => "enni_#{enni.id} clickable_during_edit", 'data-entity_id' => "enni_#{enni.id}"}
      - provider_member_handles(enni).each do |member_handle|
        %label #{member_handle[:label]}:
        %span #{member_handle[:value]}
        %br
        
      %label CENX ID:
      %span.cenx_id #{enni.cenx_id}
      %br

      - unless App.is?(:coresite)
        %label CENX Name:
        %span.cenx_id #{enni.cenx_name}


    - unless @details
      %td.action.view_details
        = link_to 'View Details', ennis_path(:enni_details => enni.id, :mode => @mode, :enni_owner => @enni_owner), :target => '_blank'

    - if path_count = path_count_for_enni(enni) and path_count > 0
      %td.action.view_details
        = link_to "View #{pluralize(path_count, get_term(:path))}", paths_path(:enni => enni.id, :mode => @mode, :enni_owner => @enni_owner)
      - if can? :read, :network
        %td.action.view_details
          = link_to 'View in Network', network_index_path(:filter => enni.cenx_id)

