.enni_separator.border
.enni.top_level_entity{enni_top_level_entity_attrs(enni, @mode, @details)}
  = render :partial => "shared/toggle_mode", :locals => {:force => true}
  = render :partial => "ennis/enni_info", :locals => {:enni => enni}

  .diagram_wrapper.viewport
    .diagram
      = render :partial => "ennis/diagram", :locals => {:enni => enni}

  .clearfix