%form.full_find.clearfix{:action => ennis_path, :method => :get}
  %input{:type => 'hidden', :name => 'mode', :value => @mode}
  %input{:type => 'hidden', :name => 'enni_owner', :value => @enni_owner}
    
  .left_column
    %label
      ="Filter #{get_term(:enni, true)}"
    %input.entry{:type => 'text', :name => 'filter', :value => params[:filter], :placeholder => 'Search by ID'}

    = render 'shared/state_filters'
      
    %label
      = get_term(:aggregation_site)
    %select{:name => 'site'}
      %option{:value => ''} All
      = options_for_select @site_select.map{|e|[e.site_name,e.site_id]}, params[:site].to_i
    
    %label
      = get_term(:service_provider)
    %select{:name => 'service_provider'}
      %option{:value => ''} All
      = options_for_select @service_provider_select.map{|p|[p.service_provider_name,p.service_provider_id]}, params[:service_provider].to_i

    %label
      = get_term(:network_type)
    %select{:name => 'oem'}
      %option{:value => ''} All
      = options_for_select @oem_select.map{|p|[p.name,p.id]}, params[:oem].to_i

    -# Do not filter by enni_owner if user is a CENX Administrator
    / - unless current_user.system_admin?
    /   %label
    /     ENNI Ownership
    /   %select{:name => 'enni_owner'}
    /     = options_for_select [['All','all'], ["Bought by #{current_user.service_provider.name}",'user'],["Sold by #{current_user.service_provider.name}",'other']], params[:enni_owner]

    %button.submit_button.activity{:type=>'submit'} Submit
    &nbsp; 
    %a{:href => '#', :id => 'reset'} Reset
    
  .right_column
    %label
      ="Sort #{get_term(:enni, true)}"
    %select.sort{:name => 'sort'}
      - sort_options = [["#{get_term(:path)} ID",'enni_member_handle_sort'], [get_term(:service_provider),'enni_service_provider_name_sort'], can?(:read, :inventory) ? ['Inventory State','provisioning_state_text_sort'] : [], can?(:read, :ordering) ? ['Ordering State','ordering_state_text_sort'] : [], can?(:read, :monitoring) ? ['Monitoring State','monitoring_state_text_sort'] : []]

      = options_for_select sort_options, params[:sort]

%br.clear        