- if device_type = enni.try(:demarc_type).try(:connected_device_type)
  %h3 #{network.service_provider.name} (#{device_type}) Attributes
  %div.tipsy_container
    %ul
      = list_label_and_value 'Demarc Name', nil, 'TBD'
      = list_label_and_value 'Device Type', nil, device_type
      = list_label_and_value 'Port or IF Name', nil, 'TBD'
