- demarc_type = enni.demarc_type
- network = site.operator_network
%h3 #{network.service_provider.name} (#{enni.connected_device_type}) Attributes
%div.tipsy_container
  %ul
    = list_label_and_value 'Demarc Name', demarc_type, :name
    = list_label_and_value 'Device Type(s)', enni, :connected_device_type
    = list_label_and_value 'Port or IF Name', enni, :port_name
    = list_label_and_value 'All To One Bundling', demarc_type, :ato_bundling
    = list_label_and_value 'Lag Mode', enni, :lag_mode
    - unless enni.demarc_icon == 'router'
      = list_label_and_value 'Lag ID', enni, :lag_id, nil, 'N/A'
      = list_label_and_value 'Protection Type', enni, :protection_type
      = list_label_and_value 'Active Link Selection', demarc_type, :lag_control, nil, 'N/A'

