-content_for :title do
  CENX - Service Inventory
  
.list_header

  .right
  
    .sidebar.right{:style => 'margin-right: 25px'}    
      %h4.title
        Mode
      
      .toggle_mode.button-group
        -if can? :read, :inventory_enni_list
          %a.submit_button.inventory{:href => url_for(params.merge({:mode => "inventory"})), :class => @mode == 'inventory' ? 'primary' : 'alternate', :title => "See Inventory Dashboard"}>
            Inventory
        -if can? :read, :ordering_enni_list
          %a.submit_button.ordering{:href => url_for(params.merge({:mode => "ordering"})), :class => @mode == 'ordering' ? 'primary' : 'alternate', :title => "See Ordering Dashboard"}>
            Ordering
        -if can? :read, :monitoring_enni_list
          %a.submit_button.monitoring{:href => url_for(params.merge({:mode => "monitoring"})), :class => @mode == 'monitoring' ? 'primary' : 'alternate', :title => "See Monitoring Dashboard"}>
            Monitoring
    
  
    -unless @details
      .find_and_sort_stub.sidebar.box
        %h4.title
          .filtered_results{:style => (@is_filtered) ? "display: block" : "display: none"}
            Filtered
          
          ="Filter and Sort #{get_term(:enni, true)}"
        %form.quick_find
          %input{:type => 'hidden', :name => 'mode', :value => @mode}
          %input{:type => 'text', :name => 'filter', :value => params[:filter], :placeholder => 'Search by ID', :id => 'search_box'}
          %button.submit_button.activity{:type=>'submit'} Find
          %button.expand.submit_button &nbsp;

    .view_options.sidebar.box
      %h4.title 
        ="#{get_term(:enni)} View Options"
      .sidebar_content
    
        %select#data_set_options{'name'=>'data_set'}
          %option{'value' => ''} Default
          / %option{'value' => 'bandwidth_view', 'selected' => (params['data_set'] == 'bandwidth_view' ? true : false)} Bandwidth
          / %option{'value' => 'monitoring_view', 'selected' => (params['data_set'] == 'monitoring_view' ? true : false)} Service Monitoring

          - unless @mode == 'inventory' || cannot?(:read, :inventory)
            %option{'value' => 'inventory_state_view', 'selected' => (params['data_set'] == 'inventory_state_view' ? true : false)} Inventory State
          - unless @mode == 'ordering' || cannot?(:read, :ordering)
            %option{'value' => 'ordering_state_view', 'selected' => (params['data_set'] == 'ordering_state_view' ? true : false)} Ordering State
          - unless @mode == 'monitoring' || cannot?(:read, :monitoring)
            %option{'value' => 'monitoring_state_view', 'selected' => (params['data_set'] == 'monitoring_state_view' ? true : false)} Monitoring State

          / %option{'value' => 'demarc_view', 'selected' => (params['data_set'] == 'demarc_view' ? true : false)} Demarc
          %option{'value' => 'technical_contacts_view', 'selected' => (params['data_set'] == 'technical_contacts_view' ? true : false)} Technical Contacts

          
  %h1

    = link_to_if @breadcrumbs || @details, "#{get_term(:enni)} List", ennis_path(:mode => @mode, :enni_owner => @enni_owner)

    -if @details
      = "/ #{get_term(:enni)} Details"

    - if @breadcrumbs.present?
      = '/'
      = raw(@breadcrumbs.map{ |param, breadcrumb| link_to_unless_current "#{breadcrumb.name}", ennis_path(param => breadcrumb.id, :mode => @mode, :enni_owner => @enni_owner) }.join(' / '))


  - unless @details
    .result_count
      = raw page_entries_info @sphinx_results, :entry_name => get_term(:enni)
        
#find_and_sort_dialog.sidebar.clearfix
  %h4.title
    .filtered_results{:style => (@is_filtered) ? "display: block" : "display: none"}
      Filtered
      
    ="Filter and Sort #{get_term(:enni, true)}"
  = image_tag "close.png", :class => 'close_button'
  = render :partial => "ennis/search_form"

=render 'shared/flash_message'

- if @ennis.blank?
  .notice.page_notice
    %h2 No results matched your filter criteria. 
- else
  .ennis_list.show_entity_tooltips
    = render :partial => "enni_wrapper", :collection => @ennis   
  - unless @details    
    .page_navigations
      = will_paginate @sphinx_results
