.header
  %h2 Details
  - if @entity.is_a?(EnniNew) && @entity.demarc_icon != 'router'
    = link_to "#{get_term(:enni)} View", ennis_path(:enni_details => @entity.id, :mode => @mode), :class => 'submit_button view_enni', :target => '_blank'
  .clearfix


- # Tables becuase of the dynamic positioning of the tipsy bubble, problems with bubbles close to edge of screen
%table
  %tr
    %td.first
      = render :partial => '/ennis/standard_sections_top'

      -# Side A is always the site 
      - if side_a = @entity.site
        = render :partial => 'side_site', :locals => {:enni=> @entity, :site => side_a}
      -# Side B is always the network
      - if side_b = @entity.operator_network
        = render :partial => 'side_network', :locals => {:enni => @entity, :network => side_b}

      %h3 Normalized Attributes
      %div.tipsy_container
        %ul
          - demarc_type = @entity.demarc_type
          - sites = @entity.ports.map{|port| port.node.site}

          = list_label_and_value get_term(:aggregation_site), @entity.site, :name
          = list_label_and_value 'Address', @entity.site, :address
          = list_label_and_value 'CLLI codes', nil, sites, proc {|x| x.map(&:clli).compact.uniq.join(', ') }
          = list_label_and_value 'Demarc Type', demarc_type, :name
          - unless @entity.demarc_icon == 'router'
            = list_label_and_value 'Phy Type', @entity, :physical_medium

          -# side already display Lag
          - unless side_a
            = list_label_and_value 'Protection Type', @entity, :protection_type
            = list_label_and_value 'Lag ID', @entity, :lag_id
            = list_label_and_value 'LAG Mode', @entity, :lag_mode
            = list_label_and_value 'Port or IF Name', @entity, :port_name

          - unless @entity.demarc_icon == 'router'
            = list_label_and_value 'Port Encapsulation', @entity, :port_enap_type
          = list_label_and_value 'LACP Supported', demarc_type, :lacp_supported
          = list_label_and_value 'Revertive', demarc_type, :lacp_priority_support
          = list_label_and_value 'Active Link Selection', demarc_type, :lag_control
          = list_label_and_value '802.3ah (Link OAM) Enabled', @entity, :ah_supported, format_yes_no
          = list_label_and_value 'Fiber Handoff Connector Type', @entity, :fiber_handoff_type
          -# Hardcoded for now
          - unless @entity.demarc_icon == 'router'
            = list_label_and_value 'MTU', nil, '9212'
            = list_label_and_value 'Autonegotiate', @entity, :auto_negotiate, format_yes_no, 'No'
            = list_label_and_value 'Ether Type', @entity, :ether_type
            = list_label_and_value 'Availability', @entity, :sla_availability_value, format_percentage(100)
      
    %td
      = render :partial => '/ennis/standard_sections_bottom'

= render :partial => 'shared/toggle_mode'

.buttons_section
  .provisioning_state_update
    = render :partial => 'shared/provisioning_state_update'

.clearfix
