#compare_stack{:class => @graphs_to_compare.size > 0 ? '' : 'hidden', 'data-reorder_url' => reorder_compares_path()}
  %h2
    %span.text
      Graphs comparisons available (
      %span.graph_count
        = @graphs_to_compare.size
      )
    %button.show_hide_page.submit_button
      %span.show View
      %span.hide Close
  .graphs_content
    .list_header
      .clear_graphs_button.right
        %button.submit_button.activity{'data-url' => clear_compares_path} Clear comparisons
      %h1
        Graphs to Compare
      .help
        You can reorder the graphs by clicking on the graph name and dragging
    .evc_separator.border

    %ul.graphs
      - @graphs_to_compare.each do |graph_id, graph_details|
        = render :partial => 'compares/graph_details', :locals => {:graph_details => graph_details, :graph_id => graph_id}
