%li.cos_wrapper{'data-graph_id' => graph_id}
  %h4.drag_handle
    %span.ui-icon.ui-icon-grip-dotted-horizontal
    = graph_details['title']
  .graph_wrapper
    .graphs_container
      .export_buttons
        = render :partial => "shared_monitoring/date_range", :locals => {:label => 'Date Range', :date_range_start => graph_details['date_range_start'], :date_range_end => graph_details['date_range_end'], :sync_button => true}
        -#%button.compare_graph_side_by_side.submit_button{'data-url' => compares_path, 'title' => 'Compare graphs side-by-side on same graph'}
        -#  Compare side-by-side
        %button.remove_graph_from_compare.icon.remove.submit_button.activity{'data-url' => compare_path(graph_id)}
          Remove
        %a.export_compare_graph.submit_button{:href => graph_details['graph_pdf_url']}
          Export PDF 
        %a.export_compare_graph.submit_button{:href => graph_details['graph_csv_url']}
          Export CSV
      .graph{'data-url' => graph_details['url']}
        .template
          .dygraph.graph_container.first
          .graph_container
            .table
            .graph_labels
        .display_area.clearfix
