- @row.each do |column|
  - if column && (entity = column.entity) && entity_is_not_redacted?(entity)
    %td.data_set_cell{'data-component_html_id' => "#{column.diagram_id}", 'class' => 'pointer_in_center'}
      .data_set.with_pointer
        .block.states
          %span.state.dot.clickable{'class' => "#{entity.prov_state_class}", 'data-url'=>"#{entity_data_urls(column)['data-inventory_url']}"}
          %span.state_text #{entity.get_prov_name}
          %br
