- @row.each do |column|
  - if column && (entity = column.entity) && entity_is_not_redacted?(entity)
    %td.data_set_cell{'data-component_html_id' => "#{column.diagram_id}", 'class' => 'pointer_in_center'}
      .data_set.with_pointer
        .block.states
          - state = entity.get_SM_state.try(:state).to_s
          %span.state.dot.clickable{'class' => "#{monitoring_state_class(state)}", 'data-url'=>"#{entity_data_urls(column)['data-monitoring_url']}"}
          %span.state_text #{state}
          %br
