- @row.each do |column|
  - if column && (entity = column.entity) && entity_is_not_redacted?(entity)
    %td.data_set_cell{'data-component_html_id' => "#{column.diagram_id}", 'class' => 'pointer_in_center'}
      .data_set.with_pointer
        - order = column.service_order
        - if order && !column.multi_end_point
          .block.states
            %span.state.dot.clickable{'class' => "#{order.order_state_class}", 'data-url'=>"#{entity_ordering_data_url(column)}"}
            %span.state_text #{order.get_order_name}
            %br
        - else
          .block
            No orders