- @row.each do |column|
  - if column && (entity = column.entity) && entity_is_not_redacted?(entity)
    - # Display technical contacts for ovcs and ennis
    - if (column.segment? && !column.multi_end_point) || column.enni?
      %td.data_set_cell{'data-component_html_id' => "#{column.diagram_id}", 'class' => 'pointer_in_center'}
        .data_set.with_pointer
          - if technical_contact = column.entity.emergency_contact
            .block
              %ul
                %li
                  %label 
                    %em Technical Contact
                  %p
                    %strong #{technical_contact.name} 

                = list_label_and_value 'Position', technical_contact, :position
                = list_label_and_value 'Address', technical_contact, :address, format_address, nil, 'address'
                = list_label_and_value 'Work Phone', technical_contact, :work_phone
                = list_label_and_value 'Mobile Phone', technical_contact, :mobile_phone

                - unless ['n/a','na'].include?(technical_contact.e_mail.downcase) 
                  = list_label_and_value 'E-mail', technical_contact, :e_mail, format_mail
                  
          - else
            .block
              No technical contacts