=form_for(@service_provider) do |f| 
  -if @service_provider.errors.any?
    #error_explanation
      %a.close{'data-dismiss' => 'alert'} 
        ×
        
      %h2
        =pluralize(@service_provider.errors.count, "error")
        prohibited this 
        = get_term(:service_provider).downcase
        from being saved

      %ul
        -@service_provider.errors.full_messages.each do |msg|
          %li
            =msg
 
  .grid_3.alpha

    %h3.sub_border
      Profile

    %label
      Name
    =f.text_field :name

    %label
      Address
    =f.text_field :address
          
    %label
      Website
    =f.text_field :website
    
    -if can? :manage, :customize_system

      %label
        Set System Logo
      =check_box_tag :set_system_logo, true, @service_provider.is_system_logo


  .grid_6.omega
      
    %h3.sub_border
      Terminology

    .grid_3.alpha
      %label
        Circuit
      =f.text_field :path

      %label
        ENNI
      =f.text_field :enni

      %label
        Network Type
      =f.text_field :network_type  

      %label
        Aggregation Site
      =f.text_field :aggregation_site  

      %label
        Site
      =f.text_field :site

      %label
        Service Provider
      =f.text_field :service_provider       
          
    .grid_3.omega

      %label
        Demarc
      =f.text_field :demarc

      %label
        Site Group
      =f.text_field :site_group

      %label
        Segment
      =f.text_field :segment

      %label
        Core Site
      =f.text_field :wdc

      %label
        Gateway Site
      =f.text_field :gateway_site

      %label
        Off Net
      =f.text_field :microwatt

      %label
        On Net
      =f.text_field :aav


    .clear

    %br
    =f.submit(:value => "Update #{get_term(:service_provider)}", :class => 'submit_button')
    
    -if can? :update_all, ServiceProvider
      &nbsp;
      =f.submit(:name => 'set_default_terms', :value => "Update All #{get_term(:service_provider, true)}", :class => 'submit_button negative', :confirm => "Are you sure you want to overwrite all #{get_term(:service_provider)} terms?")
    
    -if can? :read, User
      or 
      =link_to 'Cancel', users_path
  
.clear
%br