-content_for :title do
  CENX - Editing
  =@service_provider.name

.container_12
  .border.clearfix
    .grid_9.alpha
      %h1
        -if can? :read, ServiceProvider
          %a{:href => service_providers_path}
            ="#{get_term(:service_provider)} Info / "
        =@service_provider.name

    .grid_3.align_right.service_provider_logo.omega
      =provider_logo(@service_provider)

.container_12
  .grid_12.alpha.omega
    =render :partial => 'shared/flash_message'

    =render :partial => 'form'