-content_for :title do
  CENX - 
  = get_term(:service_provider, true)

.container_12
  .border.clearfix
    .grid_9.alpha
      %h1
        ="#{get_term(:service_provider)} Info"

    .grid_3.align_right.service_provider_logo.omega
      =provider_logo(@current_user.service_provider)

.container_12
  .grid_12.alpha.omega
    = render :partial => 'shared/flash_message'

    = render 'shared/table_toggle_link', :title => get_term(:service_provider, true), :table_name => 'service_providers_management'

    %table#service_providers_management.dashboard_table.service_providers_table
      %thead
        %tr
          %th Name
          - if can? :update, ServiceProvider
            %th Users
          %th 

      %tbody
        -@service_providers.each do |sp|
          %tr
            %td
              =link_to sp.name_with_admin_label, service_provider_path(sp)
            - if can? :update, ServiceProvider
              %td
                =sp.users.count           
            %td.align_right.no_wrap
              .button-group.small
                - if can? :read, sp
                  = link_to 'View', service_provider_path(sp), class: 'submit_button icon arrowright', title: "View #{sp.name}"

                - if can? :update, sp
                  = link_to 'Edit', edit_service_provider_path(sp), class: 'submit_button icon edit', :title => "Edit #{sp.name}"    