-content_for :title do
  CENX - Viewing
  =@service_provider.name

.container_12
  .border.clearfix
    .grid_9.alpha
      %h1
        -if can? :read, ServiceProvider
          %a{:href => service_providers_path}
            ="#{get_term(:service_provider)} Info"
          =" / "
        =@service_provider.name

    .grid_3.align_right.service_provider_logo.omega
      =provider_logo(@service_provider)

.container_12
  .grid_12.alpha.omega
    =render :partial => 'shared/flash_message'

    - if can? :update, @service_provider
      .right
        %a.submit_button.icon.edit{:href => edit_service_provider_path(@service_provider)}
          ="Edit #{@service_provider.name}"

    %form.clearfix

      -@service_provider.operator_networks.group(:operator_network_type_id).each do |on|
        
        -on.get_candidate_ethernet_service_types.each do |est|
          .grid_4
            
            %label
              Service Type
            %p
              =est.name

            %div{:style => 'margin-left: 15px'}
              %label
                Topology
              %p
                =est.segment_types.map{|segment| segment.segment_type}.to_sentence


              %label
                Solution Model
              %p
                =est.demarc_types.where(:name => 'ENNI').map{|d| d.ls_access_solution_model}.to_sentence

            -est.class_of_service_types.each do |cost|

              %label
                CoS
              %p
                =cost.name

              %div{:style => 'margin-left: 15px'}

                %label
                  ="#{get_term(:enni)} Mapping Machanism"
                %p
                  =cost.cos_id_type_enni

                %label
                  ="#{get_term(:enni)} Ingress Mapping"
                %p
                  =cost.cos_mapping_enni_ingress

                %label
                  ="#{get_term(:enni)} Egress Marking"
                %p
                  =cost.cos_marking_enni_egress

                %label
                  ="#{get_term(:enni)} Ingress Rate Limiting "
                %p
                  =cost.bw_profile_types.where(:bwp_type => 'ENNI-INGRESS').map{|bwpt| bwpt.rate_limiting_mechanism }.to_sentence

                %label
                  ENNI Ingress Burst Size
                %p
                  -burst_size = cost.bw_profile_types.where(:bwp_type => 'ENNI-INGRESS').map{|bwpt| bwpt.cbs_range_notes }.to_sentence

                  -if burst_size.present?
                    ="#{burst_size} kB"
                  -else
                    N/A

                %label
                  ENNI Ingress CIR Range 
                %p
                  -burst_size = cost.bw_profile_types.where(:bwp_type => 'ENNI-INGRESS').map{|bwpt| bwpt.cir_range_notes }.to_sentence

                  -if burst_size.present? && burst_size != 'N/A'
                    ="#{burst_size} Mbps"
                  -else
                    N/A                    
                
                %label
                  ="#{get_term(:enni)} Egress Rate Limiting "
                %p
                  =cost.bw_profile_types.where(:bwp_type => 'ENNI-EGRESS').map{|bwpt| bwpt.rate_limiting_mechanism }.to_sentence

                %label
                  ENNI Egress Burst Size 
                %p
                  - burst_size = cost.bw_profile_types.where(:bwp_type => 'ENNI-EGRESS').map{|bwpt| bwpt.cbs_range_notes }.to_sentence

                  -if burst_size.present? && burst_size != 'N/A'
                    ="#{burst_size} kB"
                  -else
                    N/A

                %label
                  ENNI Egress CIR Range 
                %p
                  - burst_size = cost.bw_profile_types.where(:bwp_type => 'ENNI-EGRESS').map{|bwpt| bwpt.cir_range_notes }.to_sentence

                  -if burst_size.present? && burst_size != 'N/A'
                    ="#{burst_size} Mbps"
                  -else
                    N/A  

                %label
                  UNI Mapping Machanism
                %p
                  =cost.cos_id_type_uni

                %label
                  UNI Ingress Mapping 
                %p
                  =cost.cos_mapping_uni_ingress

                %label
                  UNI Egress Marking
                %p
                  =cost.cos_marking_uni_egress

                %label
                  UNI Ingress Rate Limiting 
                %p
                  =cost.bw_profile_types.where(:bwp_type => 'UNI-INGRESS').map{|bwpt| bwpt.rate_limiting_mechanism }.to_sentence
                
                %label
                  UNI Ingress Burst Size 
                %p
                  - burst_size = cost.bw_profile_types.where(:bwp_type => 'UNI-INGRESS').map{|bwpt| bwpt.cbs_range_notes }.to_sentence
                   
                  -if burst_size.present?
                    ="#{burst_size} kB"
                  -else
                    N/A

                %label
                  UNI Ingress CIR Range 
                %p
                  - burst_size = cost.bw_profile_types.where(:bwp_type => 'UNI-INGRESS').map{|bwpt| bwpt.cir_range_notes }.to_sentence
                  
                  -if burst_size.present? && burst_size != 'N/A'
                    ="#{burst_size} Mbps"
                  -else
                    N/A                    

                %label
                  UNI Egress Rate Limiting 
                %p
                  =cost.bw_profile_types.where(:bwp_type => 'UNI-EGRESS').map{|bwpt| bwpt.rate_limiting_mechanism }.to_sentence

                %label
                  UNI Egress Burst Size 
                %p
                  - burst_size = cost.bw_profile_types.where(:bwp_type => 'UNI-EGRESS').map{|bwpt| bwpt.cbs_range_notes }.to_sentence

                  -if burst_size.is_a?(Fixnum)
                    ="#{burst_size} kB"
                  -elsif burst_size.present?
                    =burst_size
                  -else
                    N/A

                %label
                  UNI Egress CIR Range 
                %p
                  - burst_size = cost.bw_profile_types.where(:bwp_type => 'UNI-EGRESS').map{|bwpt| bwpt.cir_range_notes }.to_sentence

                  -if burst_size.present? && burst_size != 'N/A'
                    ="#{burst_size} Mbps"
                  -else
                    N/A  

                %label
                  Availability SLA
                %p
                  ="#{cost.availability}%"

                %label
                  Loss SLA
                %p
                  ="#{cost.frame_loss_ratio}%"

                %label
                  One-Way Delay SLA
                %p
                  -one_way_delay_sla = cost.service_level_guarantee_types.where(:min_dist_km => 0).map{|slgt| slgt.delay_us}.to_sentence
                  -if one_way_delay_sla != 'N/A'
                    ="#{one_way_delay_sla} us"
                  -else
                    =one_way_delay_sla


                %label
                  One-Way Delay Variation SLA
                %p
                  -one_way_delay_variation = cost.service_level_guarantee_types.where(:min_dist_km => 0).map{|slgt| slgt.delay_variation_us}.to_sentence
                  -if one_way_delay_variation != 'N/A'
                    ="#{one_way_delay_variation} us"
                  -else
                    =one_way_delay_variation

                %label
                  MTTR
                %p
                  =cost.mttr_hrs

            -est.demarc_types.where('name <> ?', 'ENNI').each do |dt|
  
              %label
                UNI
              %p
                =dt.name

              %div{:style => 'margin-left: 15px'}
  
                %label
                  Phy
                %p
                  =dt.physical_medium

                %label
                  MTU
                %p
                  =dt.mtu

                %label
                  Device Type
                %p
                  =dt.connected_device_type

