=form_for(@role) do |f| 
  -if @role.errors.any?
    #error_explanation
      %a.close{'data-dismiss' => 'alert'} 
        ×
        
      %h2
        =pluralize(@role.errors.count, "error")
        prohibited this role from being saved

      %ul
        -@role.errors.full_messages.each do |msg|
          %li
            =msg
 
  .grid_3.alpha
    %label
      Name
    =f.text_field :name

    %label
      Privileges
    
    -@privileges.each do |p|
      .privilege
        =check_box_tag "role[privilege_ids][]", p.id, @role.privileges.include?(p)
        =replace_terms(p.name)
      
    .clear
    %br
    
    =f.submit(:class => 'submit_button')
    or 
    =link_to 'Cancel', users_path
    
.clear
%br
    