// Generic functions
String.prototype.toClassName = function(){ return this.replace(/\s/g, '_').toLowerCase()}

//pads left
String.prototype.lpad = function(padString, length) {
	var str = this;
    while (str.length < length)
        str = padString + str;
    return str;
}
 
//pads right
String.prototype.rpad = function(padString, length) {
	var str = this;
    while (str.length < length)
        str = str + padString;
    return str;
}

// Small Jquery extensions

// Check if jquery found the element
jQuery.fn.exists = function(){return jQuery(this).length>0;}

// Scroll to element on screen (bring into view)
jQuery.fn.scrollPageTo = function(plus) {
  
  var elem = this;

  // Add on alittle extra room
  if (plus == undefined) plus = 0;
  
  $('html, body').animate({
    scrollTop: (elem.offset() == undefined ? 0 : elem.offset().top) - plus 
  }, 1000);
  
  return this;
}

// Allow user to turn activity off
jQuery.fn.show_activity = function(show) {
  if (show == undefined || show == true) {
    // Wrap text with invisiblity
    // PROGRAMMERS NOTE: color: transparent does not work in IE8

    // Disable all other buttons on screen
    if (this.hasClass('blocking')) {
      blocking_message = this.data('blocking_message');
      if (blocking_message == undefined) {
        blocking_message = "<h1>Please wait. This may take a moment.</h1>"
      }
      $.blockUI({message: blocking_message, theme: true, baseZ: 200000});
    }

    this.addClass('spinning').contents().wrap('<span class="invisible"></span>');
    // Show activity spinner
    this.activity();
  } else {

    // Re-enable buttons disabled during activity (disable on show_activity)
    if (this.hasClass('blocking')) {
      $.unblockUI();
    }

    // If invisible wrapper present then remove
    var invisible = this.children('span[class="invisible"]')
    if (invisible.exists()) {
      invisible.contents().unwrap();
    }

    // Hide activity spinner
    this.removeClass('spinning').activity(false);
  }
  return this;
}

jQuery.fn.fancyRemove = function(callback) {
  this.animate({ height: 'toggle', opacity: 'toggle' }, 'slow', function() {
    $(this).remove();
    if (typeof callback == 'function') {
      callback.call(this);
    }
  });
  return this;
}

jQuery.fn.toggleButton = function(content) {
  var btn = $(this),
      toggle_text = btn.attr('data-toggle_text');

  content.toggle();
  if (toggle_text != undefined) {
    btn.attr('data-toggle_text', btn.text());
    btn.text(toggle_text);
  }

  return this;
}


// Defaults

// Button spinners
$.fn.activity.defaults = {segments: 12, steps: 3, width: 2, space: 1, length: 3, color: '#030303', speed: 1.5}

$.extend( $.fn.dataTable.defaults, {
 "fnDrawCallback": function( oSettings ) {
    close_bubble();
  }
});

// Extend JSON to handle errors

var generic_error_message = 'Server Error occured, please contact application support.';

function generic_error_display(request, textStatus, exception) {
  
  // status = 0 means request was aborted so don't show error
  if (request.status == 0 || textStatus == 'abort') {
    return false;
  }
  
  if (textStatus === 'error') {
    textStatus = generic_error_message;
  }
  
  if (request.status == 404) {
    textStatus = 'Requested component does not exist anymore, please <a href="' + window.location.href + '">refresh</a> your screen';
  }

  if (request.status == 401) {
    textStatus = 'Your session has timed out, please Sign In again.';
  }

  if (request.status == 403) {
    textStatus = 'Unauthorized action attempted.';
  }
  
  var message = $('#generic-error-message');
  if (message.length > 0) {
    var last_message = message.find('p').last();
    if (last_message.hasClass(request.status)) {
      // do not add another one
    } else {
     last_message.after('<p class="' + request.status + '">' + textStatus + '</p>');
    } 
  } else {
    var generic_error = $('<div id="generic-error"><div id="generic-error-message"><p class="' + request.status + '">' + textStatus + '</p><a href="#" id="generic-error-ok">Ok</a></div></div>');
    $(document).on('click', '#generic-error-ok', function(event) {
      event.preventDefault();
      generic_error.slideUp().remove();
    })
    $('body').append(generic_error).parent().slideDown();
  } 
}


// Set ajax success for ajax requests globally.  This will not be overwritten by other success callbacks
function is_login_page(request) {
  var content_type = request.getResponseHeader("content-type") || "";
  if (content_type.indexOf('html') > -1) {
    if ($.trim(request.responseText).length > 0 && $(request.responseText).find('#login-box').exists()) {
      generic_error_display(request, 'Your session has timed out, please <a href="' + window.location.href + '">Sign In</a> again.');
      return true;
    }
  }
  return false;
};

$.ajaxSetup({
  error: function(request, textStatus, exception) {
    generic_error_display(request, textStatus, exception);
    cursor_wait_is_over();
  },
  cache: false
});

$.extend({ 
  getJSONX: function(url, data, success_callback, error_callback) {  
    return jQuery.ajax({
      url: url,
      dataType: 'json',
      data: data,
      success: success_callback,
      error: error_callback
    });
  }
});

$.extend({
  getUrlVars: function() {
    var vars = {};
    var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) { vars[key] = value; });
    return vars;
  }
});

function dashboard_events_table() {
  var $events_table = $('#events_table').dataTable({
                                            "bDestroy": true, 
                                            "bFilter": false,
                                            "aaSorting": [[ 5, "desc" ]],
                                            "bProcessing": true,
                                            "bServerSide": true,
                                            "sAjaxSource": $('#events_table').data('src'),
                                            "sServerMethod": "POST",
                                            "aoColumnDefs": [  
                                              { "bSortable": false, "aTargets": [0,1,2,3,4,5,6,7] }
                                            ]
                                          });
  
  if ($events_table[0]) {
    socket_instance().on('monitoring', function (message) {
      var entity_id = message.entity_id;
      var entity_type = message.entity_type.toLowerCase();

      if (entity_type == "path" || entity_type == "enninew") {
        var data = $.getUrlVars();
        data['entity_type'] = entity_type;

        $("#monitoring_graph").load_remote_data_url();
        $.getJSON("/dashboard/event/" + entity_id, data).success(function(data, textStatus, request){
            // This required to trap the login page that cas redirects to if ticket or session expires
            if (is_login_page(request)) return false;  
            $events_table.update_datatable_row(entity_type + entity_id, data);
        });
      }
    });
  }
}

function drawQueriesChart(id, rows) {
  var data = new google.visualization.DataTable();
  data.addColumn('string', 'Month');
  data.addColumn('number', 'Sharing');
  data.addColumn('number', 'Not Sharing');
  data.addRows(rows);

  var chart = new google.visualization.AreaChart(document.getElementById(id));
  chart.draw(data, {width: 530, height: 120, legend: 'top', chartArea: {width: 460, top: 20}});
}


// Add delimiter (,) to long numbers
function number_with_delimiter(number){ 
  number_parts = number.toString().split('.');
  return number_parts[0].replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") + (number_parts[1] != undefined ? '.' + number_parts[1] : ''); 
}

var socket_singleton = null; //Don't use this directly use the function below

function socket_instance(){
  if(socket_singleton === null){
    var display_error_callback = function (reason) {
      console.log("Reason:", reason);
      generic_error_display({status: 200}, "Connection to the event server is down.<br/>Please check your network connection and refresh your page.<br/>If this problem persists contact support@cenx.com");
      socket_singleton.disconnect();
    }
      
   
    socket_singleton = io.connect('<%= CENX_PUSH_SERVER %>',{'max reconnection attempts': 6, 'force new connection': true});
    
    socket_singleton.on('error', display_error_callback);
    
    socket_singleton.on('reconnecting', function(reconnectionDelay,reconnectionAttempts){
      //Since reconnect_failed doesn't seem to get called with this version of socket.io we use the last reconnecting event
      if(reconnectionAttempts == 6){
        display_error_callback("Failed to reconnect after 5 tries");
      }
    });
    
    socket_singleton.on('monitoring', function (message) {
      console.log("monitoring message:", message);
    });
    
    //Event exprimentation
//     socket_singleton.on('connect', function(){console.log("Connected!");});
//     socket_singleton.on('connecting', function(transport){console.log("Connecting using ",transport);});
//     socket_singleton.on('connect_failed', function(){console.log("Connect Failed!");});
//     socket_singleton.on('close', function(){console.log("Closed!");});
//     socket_singleton.on('disconnect', function(){console.log("Disconnected!");});
//     socket_singleton.on('reconnect', function(transport_type,reconnectionAttempts){console.log("Reconnect",transport_type,reconnectionAttempts);});
//     socket_singleton.on('reconnecting', function(reconnectionDelay,reconnectionAttempts){console.log("Reconnecting",reconnectionDelay,reconnectionAttempts);});
//     socket_singleton.on('reconnect_failed', function(){console.log("Reconnect Failed!");});
  }
  
  return socket_singleton;
}


// Show and hide sections accordian style
$('.sections .section_header').live('click', function() {
  var section_header = $(this), 
      section_content = section_header.next(), 
      section_close = $('.section_close', section_header),
      section_open = $('.section_open', section_header);
  // Show the selected tab content
  if (section_content.is(':visible')) {
    // hide any spinners since they are absolutely positioned and does get slide up
    section_content.find('.spinning').show_activity(false);
    section_content.slideUp('slow');
    section_close.hide();
    if (section_open.exists()) {
      section_open.show();
    }
    // trigger event that other elements can observe
    section_header.trigger('hide_section');
  } else {
    // trigger event that other elements can observe
    section_header.trigger('show_section');
    section_close.show();
    if (section_open.exists()) {    
      section_open.hide();
    }
    section_content.slideDown('slow');
    var select = $("select",section_content);
    if (select.exists()) {
      select.chosen({disable_search_threshold: 10});
    }
  }
  return false;
});


// use document so it is 'live'
// observer show_section and act accordingly
$(document).on('show_section', function(e) {
  var wrapper = $(e.target).closest('.section');
  if (wrapper.exists()) {
    wrapper.find('.show_graph').click();
  }
});

// Attach click events to all states show we can show details
$('.help_on_hover').tipsy({
  opacity: 1, 
  live: true, 
  gravity: 'nswe',
  html: true
});

// Add a spinner to a toggle button and disable other buttons
$(document).on('click', '.toggle_mode .alternate', function(event){
  $(this).show_activity().siblings().removeClass('alternate');
});

// Add a spinner to a real form submit button
$(document).on('submit', "form", function(event){
  $(this).find(".submit_button.activity[type='submit']").show_activity();
});

// Add a spinner to a fake submit button
$(document).on('click', ".submit_button.activity[type!='submit']", function(event){
  $(this).show_activity();
});

// Form reset
$(document).on('click', '#reset', function() {
  var $form = $(this).closest('form');
  $('select', $form).not('.multiple').find('option:first-child').attr("selected","selected").trigger("liszt:updated");
  $('select.multiple, select[multiple=multiple]', $form).val('').trigger("liszt:updated");
  $('#date_range_selector option:contains("' + $('#date_range_selector', $form).data('default-period') + '")', $form).attr("selected","selected").trigger("liszt:updated");
  $('input[type="text"]', $form).val('');
  return false;
});

// Date selector
// Programmers Note: Cannot use input:text filter because of ie8
$(document).on('click', '.date_range_input input[type="text"]', function() {
  var options = {
    showOn: 'focus',
    dateFormat: 'yy-mm-dd',
    showOtherMonths: true,
    changeMonth: true,
    changeYear: true
  }
  
  // Requested service date must be in the future
  if ($(this).hasClass('requested_service_date')) {
    $.extend(options, {minDate: 0});
  // Graph calendars must be in the past
  } else {
    $.extend(options, {maxDate: '+0d'});
  }

  $(this).datepicker(options).focus();
});


// On document load (not live)
$(function() {

  $('.date_range_input input[type="text"]').prop('readOnly', true);

  // Main Navigation hover to display sub-menu
  $('#header-sub-nav li.' + $('#header-nav li.current').data('sub-nav')).show();
  $('#header-nav li.current').addClass('current_active');

  $('#header-nav li').mouseover(function() {
    $('#header-nav li').removeClass('current_active');
    $(this).addClass('current_active');
    $('#header-sub-nav li').hide();
    $('#header-sub-nav li.' + $(this).data('sub-nav')).show();
  });

  $('#header-sub-nav').mouseleave(function() {
    $('#header-nav li').removeClass('current_active');
    $('#header-nav li.current').addClass('current_active');
    $('#header-sub-nav li').hide();
    $('#header-sub-nav li.' + $('#header-nav li.current').data('sub-nav')).show();
  });

  // Close flash messages
  $('#error_explanation .close, #notice .close').click(function() { $(this).parent().hide(); });
  
  // TODO: Temporary because of weird issue with socket io and maps
  if (!$('#network-index').exists()) {
    socket_instance();
  }

  // Each form needs its own validate method called
  var forms = $('form');
  $.each(forms, function(){
    $(this).validate({
    	rules: {
    		filter: {
    			minlength: 3
    		}
    	},
    	messages: {
    		filter: {
    			minlength: "Must be at least 3 characters"
    		}
    	},
    	errorPlacement: function(error, element) {
       element.before(error);
      },
      errorClass: 'form_error_message',
      invalidHandler: function() {
        var error_container = $("#errors_on_form");
        if (error_container.exists()) {
          error_container.html("Please correct <span>errors</span> before submitting order.");
        }
      }
    });
  });

});
