
<p>Requested Service Date: <%= @order_info[:requested_service_date] %></p>
<% if @order_info[:work_order_id] %>
<p>EVC Work Order Number: <%= @order_info[:work_order_id] %></p>
<br/>Buyers Id: <%= @buyer_mh_evc %>
<% end %>
<% if @order_info[:old_work_order_id] %>
<p>Old Work Order Number: <%= @order_info[:old_work_order_id] %></p>
<% end %>
<% if @order_info[:reject_reason] %>
<p>Reject Reason: <%= @order_info[:reject_reason] %></p>
<% end %>

<p>Buyer Information</p>
Tenant: <%= @order_info[:tenant_a] %>
<br/>Site: <%= @order_info[:sitename_a] %>
<% if @order_info[:nni_a] %>
<br/>Port Info: <%= @buyer_nni.port_name %>
<br/>CoreSite id for NNI: <%= @buyer_coresite_mh_nni %>
<% end %>
<% if @order_info[:vlan_a] %>
<br/>VLAN: <%= @order_info[:vlan_a] %>
<% end %>
<% if @order_info[:cir] %>
<br/>CIR: <%= @order_info[:cir] %> Mbps
<% end %>

<p>Target Information</p>
Tenant: <%= @order_info[:tenant_z] %>
<br/>Site: <%= @order_info[:sitename_z] %>
<% if @order_info[:nni_z] %>
<br/>Port Info: <%= @seller_nni.port_name %>
<br/>CoreSite id for NNI: <%= @seller_coresite_mh_nni %>
<% end %>
<% if @order_info[:vlan_z] %>
<br/>VLAN: <%= @order_info[:vlan_z] %>
<% end %>
<p></p>


