Dear Valued Customer,</br>
A <%= @order_type %> order has been placed with CoreSite where you are the target.</br>
<% if !@order_info[:auto_accept] %>
You have specified that orders from <%= @order_info[:tenant_a] %> must be accepted by you (<%= @order_info[:tenant_z] %>). Please login into the Coresite Portal to accept this order.</br>
<% end %>
<%= render(:partial=> 'order_info') %>

If you have any questions please direct them to <%= @coresite_contact.name %> (<%= @coresite_contact.e_mail %>)
</br>
</br>Regards,
</br>Coresite Provisioning