-if @entity.is_a?(Path)
  %a{:href => paths_path(@filter_params.merge({:has_evc => @entity.id}))}
    =@entity.paths.length
-elsif @entity.is_a?(EnniNew)
  %a{:href => paths_path(@filter_params.merge({:enni => @entity.id}))}
    =@entity.paths.length

