-mh = member_handle_for_current_user(@entity, @current_user)
-if @entity.is_a?(Evc)
  %a{:href => paths_path(:path_details => @entity.id, :mode => "monitoring", :path_owner => @path_owner), :title => h("See #{get_term(:path)} Details for #{mh}"), :target => '_blank'}
    = h(truncate mh, :length => 40)
-elsif @entity.is_a?(EnniNew)
  %a{:href => ennis_path(:enni_details => @entity.id, :mode => "monitoring", :path_owner => @path_owner), :title => h("See #{get_term(:enni)} Details for #{mh}"), :target => '_blank'}              
    = h(truncate mh)
