= render 'shared/table_toggle_link', :title => 'Events', :table_name => 'events_table'

%table#events_table.dashboard_table.table_sort{'data-src' => data_dashboard_event_index_path}
  %thead
    %tr
      %th Sev
      %th Type
      %th ID
      %th 
        =get_term(:path, true)
      %th 
        = get_term(:service_provider)
      %th Detected
      %th Message
      %th
  %tbody
