<%= title %>      

<div id='<%= options[:id] -%>'></div>

<script type='text/javascript'>
  $(function() {
    function drawChart<%= options[:id] -%>() {

      var data = new google.visualization.DataTable();
      var chart = new google.visualization.PieChart(document.getElementById('<%= options[:id] -%>'));

      data.addColumn('string', 'Label');
      data.addColumn('number', 'Data');
      data.addColumn('string', 'Link');
      data.addRows(<%= options[:data].length %>);

      <%  options[:data].each_index do |i| %>
        data.setValue(<%= i %>, 0, '<%= options[:labels][i] %>');
        data.setValue(<%= i %>, 1, <%= options[:data][i] %>);      
        data.setValue(<%= i %>, 2, '<%= options[:links][i] %>');      
      <% end %>

      chart.draw(data, {width: <%= options[:width] -%>, height: <%= options[:height] -%>, pieSliceText: 'none', legend: 'none', backgroundColor: 'none', chartArea: {width: <%= options[:width] - 30 -%>, height: <%= options[:height] - 30 -%>}, colors: [<%=raw options[:bar_colors].map{|c| "'#{c}'"}.join(',') %>], tooltip: {trigger: '<%= options[:tooltip] %>'}});  
      google.visualization.events.addListener(chart, 'select', function() {
        sel = chart.getSelection()[0];
        window.location = data.getValue(sel.row, 2);
      });
    }

    drawChart<%= options[:id] -%>();
  });
</script>