.grid_9.alpha.omega

  .grid_4.alpha
    - title = "#{pluralize(@path_provisioning_counts.sum{|e| e[:prov_count] }, get_term(:path))}"
    - title += " / #{pluralize(@site_count, get_term(:site))}" unless @site_count.nil?
    - title += " / #{pluralize(@agg_site_count, get_term(:aggregation_site))}" unless @agg_site_count.nil?

    = render 'shared/graph_toggle_link', :title => title, :table_name => 'circuit_inventory_states', :see_all_link => paths_path(@filter_params)
    
    #circuit_inventory_states
      .grid_2.alpha 
        =dashboard_interactive_pie(:title => 'Inventory States',
                       :data => @path_provisioning_counts.map{|e| e[:prov_count] }, 
                       :labels => @path_provisioning_counts.map{|e| e[:prov_name_display].titleize }, 
                       :bar_colors => @path_provisioning_counts.map{|e| provisioning_color(e[:prov_name_display]) },
                       :links => @path_provisioning_counts.map{|e| paths_path(@filter_params.merge({:provisioning_state => "#{e[:prov_name_display]}"}))},
                       :width => 140, 
                       :height => 140)

      .grid_2.omega
        .dashboard_legend
          - if @path_provisioning_counts.length > 0
            - @path_provisioning_counts.each do |e|
              .dashboard_legend_item
                .dashboard_legend_box.provisioning{:class => "#{e[:prov_name_display].parameterize('_')}"}
                %a{:href => paths_path(@filter_params.merge({:provisioning_state => "#{e[:prov_name_display]}"})), :title => "See #{get_term(:path)} List"}
                  =e[:prov_name_display].titleize
                %span.dashboard_legend_count
                  ="(#{e[:prov_count]})"

  .grid_4.prefix_1.omega  


    = render 'shared/graph_toggle_link', :title => "#{pluralize(@enni_provisioning_counts.sum{|e| e[:prov_count]}, get_term(:enni))} #{circuit_owner_title(@path_owner)}", :table_name => 'enni_inventory_states', :see_all_link => ennis_path(@filter_params)
  
    #enni_inventory_states
      .grid_2.alpha    
        =dashboard_interactive_pie(:title => 'Inventory States',
                       :data => @enni_provisioning_counts.map{|e| e[:prov_count] }, 
                       :labels => @enni_provisioning_counts.map{|e| e[:prov_name] }, 
                       :bar_colors => @enni_provisioning_counts.map{|e| provisioning_color(e[:prov_name]) },
                       :links => @enni_provisioning_counts.map{|e| ennis_path(@filter_params.merge({:provisioning_state => "#{e[:prov_name]}"}))},
                       :width => 140, 
                       :height => 140)

      .grid_2.omega
        .dashboard_legend
          - if @enni_provisioning_counts.length > 0
            - @enni_provisioning_counts.each do |e|
              .dashboard_legend_item
                .dashboard_legend_box.provisioning{:class => "#{e[:prov_name].parameterize('_')}"}
                %a{:href => ennis_path(@filter_params.merge({:provisioning_state => "#{e[:prov_name]}"})), :title => "See #{get_term(:enni)} List"}
                  =e[:prov_name]
                %span.dashboard_legend_count
                  ="(#{e[:prov_count]})"  
