.grid_9.alpha.omega

  .grid_4.alpha
    - title = "#{pluralize(@path_monitoring_counts.sum{|e| e[:sm_count] }, get_term(:path))} #{circuit_owner_title(@path_owner)}"
    - title += " / #{pluralize(@site_count, get_term(:site))}" unless @site_count.nil?
    - title += " / #{pluralize(@agg_site_count, get_term(:aggregation_site))}" unless @agg_site_count.nil?

    = render 'shared/graph_toggle_link', :title => title, :table_name => 'circuit_monitoring_states', :see_all_link => paths_path(@filter_params)

    #circuit_monitoring_states
      .grid_2.alpha 
        =dashboard_interactive_pie(:title => 'monitoring States',
                       :data => @path_monitoring_counts.map{|e| e[:sm_count] }, 
                       :labels => @path_monitoring_counts.map{|e| e[:sm_state] }, 
                       :bar_colors => @path_monitoring_counts.map{|e| monitoring_color(e[:sm_state]) },
                       :links => @path_monitoring_counts.map{|e| paths_path(@filter_params.merge({:monitoring_state => "#{e[:sm_state]}"}))},
                       :width => 140, 
                       :height => 140)

      .grid_2.omega
        .dashboard_legend
          - if @path_monitoring_counts.length > 0
            - @path_monitoring_counts.each do |e|
              .dashboard_legend_item
                .dashboard_legend_box.monitoring{:class => "#{e[:sm_state].parameterize('_')}"}
                %a{:href => paths_path(@filter_params.merge({:monitoring_state => "#{e[:sm_state]}"})), :title => "See #{get_term(:path)} List"}
                  =e[:sm_state]
                %span.dashboard_legend_count
                  ="(#{e[:sm_count]})"
          

  .grid_4.prefix_1.omega  


    = render 'shared/graph_toggle_link', :title => "#{pluralize(@enni_monitoring_counts.sum{|e| e[:sm_count]}, get_term(:enni))} #{circuit_owner_title(@path_owner)}", :table_name => 'enni_monitoring_states', :see_all_link => ennis_path(@filter_params)

    #enni_monitoring_states
      .grid_2.alpha    
        =dashboard_interactive_pie(:title => 'monitoring States',
                       :data => @enni_monitoring_counts.map{|e| e[:sm_count] }, 
                       :labels => @enni_monitoring_counts.map{|e| e[:sm_state] }, 
                       :bar_colors => @enni_monitoring_counts.map{|e| monitoring_color(e[:sm_state]) },
                       :links => @enni_monitoring_counts.map{|e| ennis_path(@filter_params.merge({:monitoring_state => "#{e[:sm_state]}"}))},
                       :width => 140, 
                       :height => 140)

      .grid_2.omega
        .dashboard_legend
          - if @enni_monitoring_counts.length > 0
            - @enni_monitoring_counts.each do |e|
              .dashboard_legend_item
                .dashboard_legend_box.monitoring{:class => "#{e[:sm_state].parameterize('_')}"}
                %a{:href => ennis_path(@filter_params.merge({:monitoring_state => "#{e[:sm_state]}"})), :title => "See #{get_term(:enni)} List"}
                  =e[:sm_state]
                %span.dashboard_legend_count
                  ="(#{e[:sm_count]})"  
