.grid_9.alpha.omega

  .grid_4.alpha 
    - title = "#{pluralize(@path_ordering_counts.sum{|e| e[:order_count]}, "#{get_term(:path)} Order")} #{circuit_owner_title(@path_owner)}"
    - title += " / #{pluralize(@site_count, get_term(:site))}" unless @site_count.nil?
    - title += " / #{pluralize(@agg_site_count, get_term(:aggregation_site))}" unless @agg_site_count.nil?

    = render 'shared/graph_toggle_link', :title => title, :table_name => 'circuit_order_states', :see_all_link => paths_path(@filter_params.merge({:data_set => "order_states"}))
   
    #circuit_order_states
      .grid_2.alpha     
        =dashboard_interactive_pie(:title => 'Ordering States',
                                   :data => @path_ordering_counts.map{|e| e[:order_count] }, 
                                   :labels => @path_ordering_counts.map{|e| e[:order_name] }, 
                                   :bar_colors => @path_ordering_counts.map{|e| ordering_color(e[:order_name]) },
                                   :links => @path_ordering_counts.map{|e| paths_path(@filter_params.merge({:data_set => "order_states", :ordering_state => "#{e[:order_name]}"}))},
                                   :width => 140, 
                                   :height => 140)

      .grid_2.omega
        .dashboard_legend
          - if @path_ordering_counts.length > 0
            - @path_ordering_counts.each do |e|
              .dashboard_legend_item
                .dashboard_legend_box.ordering{:class => "#{e[:order_name].parameterize('_')}"}
                %a{:href => paths_path(@filter_params.merge({:data_set => "order_states", :ordering_state => "#{e[:order_name]}"})), :title => "See #{get_term(:path)} List"}
                  =e[:order_name]
                %span.dashboard_legend_count
                  ="(#{e[:order_count]})"
                
                
                
  .grid_4.prefix_1.omega  
    = render 'shared/graph_toggle_link', :title => "#{pluralize(@enni_ordering_counts.sum{|e| e[:order_count]}, "#{get_term(:enni)} Order")} #{circuit_owner_title(@path_owner)}", :table_name => 'enni_order_states', :see_all_link => ennis_path(@filter_params.merge({:data_set => "order_states"}))

    #enni_order_states
      .grid_2.alpha     
        =dashboard_interactive_pie(:title => 'Ordering States',
                       :data => @enni_ordering_counts.map{|e| e[:order_count] }, 
                       :labels => @enni_ordering_counts.map{|e| e[:order_name] }, 
                       :bar_colors => @enni_ordering_counts.map{|e| ordering_color(e[:order_name]) },
                       :links => @enni_ordering_counts.map{|e| ennis_path(@filter_params.merge({:data_set => "order_states", :ordering_state => "#{e[:order_name]}"}))},
                       :width => 140, 
                       :height => 140)
    
      .grid_2.omega
        .dashboard_legend
          - if @enni_ordering_counts.length > 0
            - @enni_ordering_counts.each do |e|
              .dashboard_legend_item
                .dashboard_legend_box.ordering{:class => "#{e[:order_name].parameterize('_')}"}
                %a{:href => ennis_path(@filter_params.merge({:data_set => "order_states", :ordering_state => "#{e[:order_name].titleize}"})), :title => "See #{get_term(:enni)} List"}
                  =e[:order_name]
                %span.dashboard_legend_count
                  ="(#{e[:order_count]})"