-content_for :title do
  CENX - 
  = "#{@mode.titleize} Dashboard"

.container_12
  .border.clearfix
    .grid_9.alpha
      %h1.dashboard_title
        =link_to_if @site || @service_provider || @operator_network, "#{@mode.titleize} Dashboard", sub_dashboard_path(:mode => @mode)
        - if App.is?(:coresite)
          - if @service_provider
            - Array(@service_provider).each do |sp|
              = " / " 
              = link_to_if(@operator_network, sp.name, sub_dashboard_path(@filter_params.merge({:service_provider => sp, :mode => @mode, :operator_network => ''})))
          - if @operator_network
            = " / #{@operator_network.site_name}"

        - else
          -if @site
            -Array(@site).each do |site|
              ="/"
              =link_to_if @service_provider, "#{site.name}", sub_dashboard_path(@filter_params.merge({:site => site, :mode => @mode, :service_provider => ''}))
          -if @service_provider
            -Array(@service_provider).each do |sp|
              =" / #{sp.name}"


    .grid_3.omega.align_right.service_provider_logo
      =provider_logo(@current_user.service_provider)

.container_12
  .clearfix
    =render 'shared/flash_message'

    .grid_9.alpha.clearfix.relative
  
      -if @mode == 'ordering'
        #ordering_graph.remote_graph{'data-url' => ordering_dashboard_url(@filter_params)}
          =render :partial => 'ordering'
      -if @mode == 'monitoring'
        #monitoring_graph.remote_graph{'data-url' => monitoring_dashboard_url(@filter_params)}
          =render :partial => 'monitoring'
      -if @mode == 'inventory'
        #inventory_graph.remote_graph{'data-url' => inventory_dashboard_url(@filter_params)}
          =render :partial => 'inventory'

      
      .grid_9{:class => 'alpha omega spacer_top'}
    
        -if @mode == 'ordering' && @sow_id.blank? && !App.is?(:coresite)
          =render :partial => 'work_orders'
    
        -if @mode == 'monitoring'
          =render :partial => 'events'
    
        - if App.is?(:coresite)
          - if coresite_role
            - unless @service_providers.empty?    
              = render 'shared/table_toggle_link', :title => "National Tenants with Orders", :table_name => 'service_providers'
              %table#service_providers.dashboard_table.table_sort
                %thead
                  %tr
                    %th Name
                    %th #{get_term(:site, true)}
                    %th #{get_term(:enni, true)}
                    %th Buying Orders
                    %th Target Orders
                %tbody
                  - @service_providers.each do |sp|
                    %tr
                      %td
                        = link_to sp[:name], sub_dashboard_path(@filter_params.merge({:service_provider => sp[:id]})), :class => 'row_link'
                      %td
                        = sp[:operator_networks_count]
                      %td.port_count
                        = sp[:ennis_count]
                      %td
                        = sp[:buying_orders_count]
                      %td
                        = sp[:target_orders_count]

            - unless @national_tenant
              -# TODO: Improve performance of this table (like service_providers)
              = render 'shared/table_toggle_link', :title => "All National Tenants", :table_name => 'national_tenants'
              %table#national_tenants.dashboard_table.table_sort
                %thead
                  %tr
                    %th Name
                    %th #{get_term(:site, true)}
                    %th #{get_term(:enni, true)}
                    %th Buying Orders
                    %th Target Orders

                %tbody
                  - @national_tenants.each do |national_tenants|
                    %tr{:id => "tenant_#{national_tenants.id}"}
                      %td
                        = link_to national_tenants.name, sub_dashboard_path(@filter_params.merge({:service_provider => national_tenants.id})), :class => 'row_link'
                      %td
                        = national_tenants.operator_networks.count
                      %td.port_count
                        = national_tenants.ennis.count
                      %td
                        = national_tenants.buying_orders.count
                      %td
                        = national_tenants.target_orders.count


          - if @national_tenant
            = render 'shared/table_toggle_link', :title => "Locations", :table_name => 'locations'
            .locations_wrapper{'data-url' => _locations_custom_application_index_path({:service_provider => @national_tenant})}
              = render :partial => "coresite_shared/locations"

            = render 'shared/table_toggle_link', :title => "Buying Orders", :table_name => 'buying_orders'
            = render :partial => "coresite_shared/buying_orders", :locals => {:tenant => @current_operator_network || @operator_network || @national_tenant}

            = render 'shared/table_toggle_link', :title => "Target Orders", :table_name => 'target_orders'
            = render :partial => "coresite_shared/target_orders", :locals => {:tenant => @current_operator_network || @operator_network || @national_tenant}

        - else

          - unless @sites.empty?
            = render 'shared/table_toggle_link', :title => get_term(:aggregation_site, true), :table_name => 'sites'
          
            %table#sites.dashboard_table.table_sort
              %thead
                %tr
                  %th 
                    Name
                  %th 
                    =get_term(:path, true)
                  %th
                    =get_term(:network_type)
                  %th 
                    =get_term(:enni, true)
                  %th 
                    Monitoring NIs                
                  %th            
              %tbody
                - @sites.each do |site|
                  %tr
                    %td 
                      = link_to site[:name], sub_dashboard_path(@filter_params.merge({:site => site[:id]})), :title => "See Dashboard for #{site[:name]}"
                    %td
                      = link_to_unless site[:path_count].zero?, site[:path_count], paths_path(@filter_params.merge({:site => site[:id]})), :title => "See #{get_term(:path)} List for #{site[:name]}"
                    %td
                      = site[:network_type_name]                    
                    %td
                      = link_to_unless site[:enni_count].zero?, site[:enni_count], ennis_path(@filter_params.merge({:site => site[:id], :real_ennis => true})), :title => "See #{get_term(:enni)} List for #{site[:name]}"
                    %td
                      = link_to_unless site[:mon_enni_count].zero?, site[:mon_enni_count], ennis_path(@filter_params.merge({:site => site[:id], :monitoring_nis => true})), :title => "See #{get_term(:enni)} List for #{site[:name]}"
                    %td.align_right
                      .button-group.small
                        - if can? :read, :network
                          = link_to 'Network', network_index_path(@filter_params.merge({:site => site[:id]})), :title => "Network view of #{site[:name]}", :class => 'submit_button icon pin'
      
          - unless @service_providers.empty?
            = render 'shared/table_toggle_link', :title => get_term(:service_provider, true), :table_name => 'service_providers'
      
            %table#service_providers.dashboard_table.table_sort
              %thead
                %tr
                  %th Name
                  %th 
                    =get_term(:path, true)
                  %th 
                    =get_term(:site, true)
                  %th 
                    =get_term(:enni, true)
                  %th Monitoring NIs
                  %th
              %tbody
                - @service_providers.each do |sp|
                  %tr
                    %td 
                      = link_to sp[:name], sub_dashboard_path(@filter_params.merge({:service_provider => sp[:id]})), :title => "See Dashboard for #{sp[:name]}"
                    %td
                      = link_to_unless sp[:path_count].zero?, sp[:path_count], paths_path(@filter_params.merge({:service_provider => sp[:id]})), :title => "See #{get_term(:path)} List for #{sp[:name]}"
                    %td
                      =sp[:site_count]
                    %td
                      = link_to_unless sp[:enni_count].zero?, sp[:enni_count], ennis_path(@filter_params.merge({:service_provider => sp[:id], :real_ennis => true})), :title => "See #{get_term(:enni)} List for #{sp[:name]}"
                    %td
                      = link_to_unless sp[:mon_enni_count].zero?, sp[:mon_enni_count], ennis_path(@filter_params.merge({:service_provider => sp[:id], :monitoring_nis => true})), :title => "See #{get_term(:enni)} List for #{sp[:name]}"
                    %td.align_right
                      .button-group.small
                        - if can? :read, ServiceProvider
                          = link_to 'View', service_provider_path(sp[:id]), class: 'submit_button icon arrowright', title: "View #{sp[:name]} profile"
                        - if can? :read, :network
                          = link_to 'Network', network_index_path(@filter_params.merge({:service_provider => sp[:id]})), :title => "Network view of #{sp[:name]}", :class => 'submit_button icon pin'                    
      
          - unless @oems.empty?
            = render 'shared/table_toggle_link', :title => get_term(:network_type, true), :table_name => 'network_types'

            %table#network_types.dashboard_table.table_sort
              %thead
                %tr
                  %th Name
                  %th 
                    =get_term(:path, true)
                  %th 
                    =get_term(:site, true)                  
                  %th 
                    =get_term(:enni, true)
                  %th Monitoring NIs
                  %th
              %tbody
                - @oems.each do |oem|
                  %tr
                    %td 
                      = link_to oem[:name], sub_dashboard_path(@filter_params.merge({:oem => oem[:id]})), :title => "See Dashboard for #{oem[:name]}"
                    %td
                      = link_to_unless oem[:path_count].zero?, oem[:path_count], paths_path(@filter_params.merge({:oem => oem[:id]})), :title => "See #{get_term(:path)} List for #{oem[:name]}"
                    %td
                      =oem[:site_count]                    
                    %td
                      = link_to_unless oem[:enni_count].zero?, oem[:enni_count], ennis_path(@filter_params.merge({:oem => oem[:id], :real_ennis => true})), :title => "See #{get_term(:enni)} List for #{oem[:name]}"
                    %td
                      = link_to_unless oem[:mon_enni_count].zero?, oem[:mon_enni_count], ennis_path(@filter_params.merge({:oem => oem[:id], :monitoring_nis => true})), :title => "See #{get_term(:enni)} List for #{oem[:name]}"
                    %td.align_right
                      .button-group.small
                        - if can? :read, :network
                          = link_to 'Network', network_index_path(@filter_params.merge({:oem => oem[:id]})), :title => "Network view of #{oem[:name]}", :class => 'submit_button icon pin'         
    
    .grid_3

      - if App.is?(:coresite)
        - if coresite_role 
          .sidebar.clearfix
            %h4.title
              Import Tenants
            = render 'coresite_shared/tenant_upload_form'
          - if @tenant_operator_network
            .sidebar.clearfix
              %h4.title
                Access Permissions
              .sidebar_content
                = link_to 'View Access Permissions', access_permissions_custom_application_index_path({:operator_network => @tenant_operator_network}), :class => "submit_button"


        - elsif can?(:manage, :coresite_order)
          .sidebar.clearfix
            %h4.title
              Order
            .new_order
              = link_to 'New Order', new_coresite_order_path(), class: 'submit_button big primary_action activity', title: "New Order"  

      .sidebar.clearfix      
        %h4.title
          Mode
          
        .toggle_mode.button-group
          -if can? :read, :inventory_dashboard
            %a.submit_button.inventory{:href => inventory_dashboard_path(@filter_params.merge({:mode => "inventory"})), :class => @mode == 'inventory' ? 'primary' : 'alternate', :title => "See Inventory Dashboard"}>
              Inventory
          -if can? :read, :ordering_dashboard    
            %a.submit_button.ordering{:href => ordering_dashboard_path(@filter_params.merge({:mode => "ordering"})), :class => @mode == 'ordering' ? 'primary' : 'alternate', :title => "See Ordering Dashboard"}>
              Ordering
          -if can? :read, :monitoring_dashboard              
            %a.submit_button.monitoring{:href => monitoring_dashboard_path(@filter_params.merge({:mode => "monitoring"})), :class => @mode == 'monitoring' ? 'primary' : 'alternate', :title => "See Monitoring Dashboard"}>
              Monitoring

      = render "shared/search_form", :hide_severity => true, :show_site_group => App.is?(:coresite) ? false : true
      
      - if @mode == 'inventory'
        = render :partial => "dashboards/view_fallout_report"

