- allowable_fallouts = {} 
- ApplicationHelper::AUDIT_FALLOUT_TYPES.each { |k,d| allowable_fallouts[k] = d if d[:mode] == @mode && can?(:read,d[:privilege]) }
- unless allowable_fallouts.empty?
  .sidebar
    %h4.title
      ="Quick Links "
    .sidebar_content
      - allowable_fallouts.each do |k,d|
        %a.fallout_exception_reports{:href => fallout_exception_report_path(:fallout_exception_type => d[:fallout_exception_type] )}
          = "View #{d[:name]}"
