= render 'shared/table_toggle_link', :title => 'Work Orders', :table_name => 'bulk_orders'

%table#bulk_orders.dashboard_table.table_sort
  %thead
    %tr
      %th Title
      %th 
        ="Total #{get_term(:path, true)}"
      %th CENX ID
      %th State
      %th Comments
  %tbody
    -@statement_of_work_select.each do |sow|
      -order = @paths.s_sow_order_counts(sow.id).first
      - if order.circuit_order_count > 0
        -bulk_order = BulkOrder.find(order.id)
      
        %tr
          %td 
            = link_to order.title, sub_dashboard_path(@filter_params.merge({:statement_of_work => order.id})), :title => "See Dashboard for #{order.title}"
          %td
            = link_to_unless order.circuit_order_count.zero?, order.circuit_order_count, paths_path(@filter_params.merge({:statement_of_work => order.id})), :title => "See #{get_term(:path)} List for #{order.title}"
          %td
            = order.cenx_id
          %td
            = bulk_order.get_order_name
          %td
            %button.pill.submit_button.details_link{:href => '#'}
              view
      
            .details_table.hidden
      
              - if order.notes.blank?
                %p#no_comments
                  %em
                    No comments
              -else    
                = render :partial => "service_orders/notes", :locals => {:notes => order.notes}

.clear                  