<%- rows = [] -%>
<%- @events.each do |entity| -%>
  <%- @entity = entity -%>
  <%- @entity_type = entity.is_a?(Path) ? 'Path' : 'ENNI' -%>
  <%- rows << {  "DT_RowId" => "#{@entity_type.downcase}#{@entity.id}",   
                  "0" => render(:partial => "entity_event_severity.html.haml"),
                  "1" => render(:partial => "entity_event_type.html.haml"),
                  "2" => render(:partial => "entity_event_link.html.haml"),
                  "3" => render(:partial => "entity_event_circuits.html.haml"),
                  "4" => @entity.service_provider.name,
                  "5" => Time.at(@entity.sm_timestamp/1000,(@entity.sm_timestamp%1000)*1000).in_time_zone.to_formatted_s(:ymd_time),
                  "6" => render(:partial => "entity_event_details.html.haml"),
                  "7" => render(:partial => "entity_network_link.html.haml")
                } -%>

<%- end -%>
{
    "sEcho": <%= params[:sEcho] -%>,
    "iTotalRecords": <%= @events.total_entries -%>,
    "iTotalDisplayRecords": <%= @events.total_entries -%>,
    "aaData": <%= raw(rows.to_json) -%>
}