.map_tabs_container
  %h3 
    #{get_term(:path, true)}
    - if @path_ids && @path_ids.size > 1
      .view_all_paths
        = link_to "View all #{get_term(:path, true)} (#{@path_ids.size})", paths_path(:path_ids => @path_ids, :mode => @mode), :class => 'submit_button', :target => '_blank'

  %ul.map_tabs
    - @ovcs.each_with_index do |ovc, index|
      %li{:class => "#{index.zero? ? 'active' : ''}", 'onclick' => 'return map_info_window_show_tab(this)'} 
        %a{:href=>"#tab_#{index}"} 
          #{index+1}

.map_tabs_content_wrapper
  - @ovcs.each_with_index do |ovc, index|
    .map_tab_content{:id => "tab_#{index}", :class => "#{index.zero? ? 'active' : ''}"}
      .map_marker_info
        %h2 
          = member_handle ovc
        %ul 
          - segment_type = ovc.segment_type
          = list_label_and_value 'Aggregation Site', ovc.site, :name
          = list_label_and_value 'Equipment Used', segment_type, :equipment_vendor

        - if ovc.respond_to? :emergency_contact
          - technical_contact = ovc.emergency_contact
          - if technical_contact
            %h3 Technical Contact
            %ul
              %li #{technical_contact.name} 
              = list_label_and_value 'Position', technical_contact, :position
              = list_label_and_value 'Address', technical_contact, :address, format_address, nil, 'address'
              = list_label_and_value 'Work Phone', technical_contact, :work_phone
              = list_label_and_value 'Mobile Phone', technical_contact, :mobile_phone
              - unless ['n/a','na'].include?(technical_contact.e_mail.downcase) 
                = list_label_and_value 'E-mail', technical_contact, :e_mail, format_mail

        - path_count = ovc.paths.count
        - unless path_count.zero?
          = link_to paths_path(:filter => ovc.cenx_id, :mode => @mode), :class => 'submit_button', :target => '_blank' do
            = path_count == 1 ? "View #{get_term(:path)}" : "View #{pluralize(path_count, get_term(:path))}"

