.header
  %h2 Details
  = provider_logo(@entity.segment.service_provider)
  .clearfix

%table
  %tr
    %td.first
      = render :partial => '/paths/standard_sections_top' 

      %h3 Normalized Attributes
      %div.tipsy_container
        %ul
          = list_label_and_value 'C-VLAN', @entity, :ctags
          = list_label_and_value 'Default CoS Handling', @entity, :default_cos_handling

      = render :partial => '/paths/class_of_services', :locals => {:end_point => @entity, :seq => '1'} 

      %h3 Service Monitoring
      %div.tabs.tipsy_container

        %ul
          - @entity.cos_end_points.each do |cos_end_point|
            - class_of_service_type = cos_end_point.cos_instance.class_of_service_type
            %li
              %a{:href => "#tab_#{class_of_service_type.id}_2"} #{class_of_service_type.name}

        - @entity.cos_end_points.each do |cos_end_point|
          - class_of_service_type = cos_end_point.cos_instance.class_of_service_type
          %ul{:id => "tab_#{class_of_service_type.id}_2"}
            = list_label_and_value 'Monitored', @entity, :is_monitored?, format_yes_no, 'No'
            
            - if @entity.is_monitored?

              -# show Availability, Frame Loss, etc
              = render :partial => 'shared/cos_test_vector_sla', :collection => cos_end_point.stats_entities, :as => :cos_test_vector

              - if connected_ovc = @entity.segment_end_points.reject{|ep| ep.is_connected_to_test_port}.first.try(:segment)
                = list_label_and_value 'Reflecting Device Type', connected_ovc.segment_type, :equipment_vendor
              - else
                = list_label_and_value 'Reflecting Device Type', @entity, :connected_device_type
  
              = list_label_and_value 'Mean Time to Repair', class_of_service_type, :mttr_hrs, '%s hours'
              = list_label_and_value 'Loopback Address', @entity.demarc, :mon_loopback_address

              - if @entity.demarc.try(:supports_eth_oam_reflection)
                = list_label_and_value 'MEP ID', @entity, :mep_id
                = list_label_and_value 'MD Level', @entity, :md_level
                = list_label_and_value 'MD Format', @entity, :md_format
                = list_label_and_value 'MA Format', @entity, :ma_format
                = list_label_and_value 'MA Name', @entity, :ma_name

    %td 
      = render :partial => '/paths/standard_sections_bottom'

= render :partial => 'shared/toggle_mode'
.clearfix