- @row.each do |column|
  - if column.entity && column.end_point?
    - end_point = column.entity
    - if entity_is_not_redacted?(end_point)
      %td.data_set_cell{'data-component_html_id' => "#{column.diagram_id}", 'class' => pointer_class(column)}
        .data_set.with_pointer
          .block
          
            .section
              %h4
                = end_point.ethernet_service_type.try(:name)

            - end_point.cos_end_points.each do |cos_end_point|
              - class_of_service_type = cos_end_point.cos_instance.class_of_service_type
              .section
              
                %h3 CoS: #{class_of_service_type.name}
                %ul
                  - end_point_type = end_point.demarc.try(:cenx_demarc_type)
                  - mapping_mechanism = end_point_type.nil? || end_point_type == 'UNI' ? class_of_service_type.cos_id_type_uni : class_of_service_type.cos_id_type_enni
                  = list_label_and_value 'Mapping Mechanism', nil, mapping_mechanism
                %h4 Ingress
                %ul
                  = list_label_and_value 'Rate Limiting', cos_end_point, :ingress_rate_limiting
                  = list_label_and_value 'CoS Id Mapping', cos_end_point, :ingress_mapping
                  - unless cos_end_point.ingress_rate_limiting.downcase == 'none'
                    = list_label_and_value 'CIR', cos_end_point, :ingress_cir_kbps, format_kbps_to_mbps, 'N/A'
                    = list_label_and_value 'EIR', cos_end_point, :ingress_eir_kbps, format_kbps_to_mbps, 'N/A'
                    = list_label_and_value 'CBS', cos_end_point, :ingress_cbs_kB, '%s KB', 'N/A'
                    = list_label_and_value 'EBS', cos_end_point, :ingress_ebs_kB, '%s KB', 'N/A'
              
                %h4 Egress
                %ul
                  = list_label_and_value 'Rate Limiting', cos_end_point, :egress_rate_limiting
                  = list_label_and_value 'CoS Id Marking', cos_end_point, :egress_marking
                  - unless cos_end_point.egress_rate_limiting.downcase == 'none'
                    = list_label_and_value 'CIR', cos_end_point, :egress_cir_kbps, format_kbps_to_mbps, 'N/A'
                    = list_label_and_value 'EIR', cos_end_point, :egress_eir_kbps, format_kbps_to_mbps, 'N/A'
                    = list_label_and_value 'CBS', cos_end_point, :egress_cbs_kB, '%s KB', 'N/A'
                    = list_label_and_value 'EBS', cos_end_point, :egress_ebs_kB, '%s KB', 'N/A'
