- @row.each_with_prev_next do |previous_column, column, next_column|
  - if (entity = column.entity) && entity_is_not_redacted?(entity)
    %td.data_set_cell{'class' => "#{column.data_set_cell_class(previous_column, next_column)}"}
      - if column.segment?
        .data_set.max_width
          .vlan
            .vlan_arrow_head
              - vlan_translation = entity.get_vlan_translation
              - if ['Encap/Decap', 'Preserve'].include?(vlan_translation) && !entity.service_provider.is_system_owner?
                %span.help_on_hover{:title => image_tag(vlan_translation.downcase.gsub(/\//, '_') + '_diagram.png')} #{vlan_translation}
              - else
                %span #{vlan_translation}

      - elsif column.demarc?
        &nbsp;
      - else
        - tag = entity.outer_tag_value
        %span.outer_tag{'class' => (tag == '*' ? 'all_to_one_bundle help_on_hover' : ''), 'title' => (tag == '*' ? 'All to One Bundled' : '')} 
          - if tag
            -# Replace ; with newline and get rid of everything in brackets
            =raw tag.gsub(/ \([^\)]*\)/,'').gsub(/[,;]/, '<br />')
  - else
    %td &nbsp;
