- @row.each do |column|
  - if column.entity && column.demarc?
    - if (entity = column.entity) && entity_is_not_redacted?(entity)
      %td.data_set_cell{'data-component_html_id' => "#{column.diagram_id}", 'class' => pointer_class(column)}
        .data_set.with_pointer
          .block
            %ul
              - provider_member_handles(entity).each do |member_handle|
                = list_label_and_value member_handle[:label], nil, member_handle[:value], format_truncate(35)
              = list_label_and_value 'CENX ID', entity, :cenx_id
              - unless entity.demarc_icon == 'router'
                = list_label_and_value 'Phy Type', entity, :physical_medium

              = list_label_and_value 'Address', (column.uni? ? entity : entity.site), :address, format_address(30), nil, 'address'
              .clearfix

              - if column.enni?
                - if side_a = entity.site
                  %br
                  = render :partial => 'ennis/side_site', :locals => {:enni=> entity, :site => side_a}
                -# Side B is always the network
                - if side_b = entity.operator_network
                  %br
                  = render :partial => 'ennis/side_network', :locals => {:enni => entity, :network => side_b}
              
              - else
                - demarc_in_diagram = PathDisplay.find_by_entity_id_and_entity_type_and_service_provider_id_and_path_id(entity.id, 'Demarc', current_user.service_provider.id, @path.id)
                - determine_side_a_b_for_demarc(@path, demarc_in_diagram).compact.each do |side|  
                  - if side.is_a?(Demarc)
                    %br
                    = render :partial => 'demarcs/side_demarc', :locals => {:demarc => side}
                  - else
                    %br
                    = render :partial => 'demarcs/side_ovc', :locals => {:ovc => side}