- @row.each_with_prev_next do |previous_column, column, next_column|
  - if column.entity
    - end_point = column.entity
    - if show_monitoring_based_on_reflection(@path, previous_column, column, next_column) && entity_is_not_redacted?(end_point)
      - uni = end_point.demarc
      - connected_ovc = column.entity.segment_end_points.reject{|ep| ep.is_connected_to_test_port}.first.try(:segment)
      %td.data_set_cell{'data-component_html_id' => "#{column.diagram_id}", 'class' => pointer_class(column)}
        .data_set.with_pointer
          .block
            %ul
              - if uni
                - if connected_ovc
                  = list_label_and_value 'Reflecting Device Type', connected_ovc.segment_type, :equipment_vendor
                - else
                  = list_label_and_value 'Reflecting Device Type', uni, :connected_device_type

                = list_label_and_value '802.3ah (Link OAM) Enabled', uni, :ah_supported, format_yes_no, 'No'
                = list_label_and_value 'Reflecting Port Name', uni, :port_name
                = list_label_and_value 'Reflection Address', end_point, :demarc_mon_address
        
              = list_label_and_value 'Monitored?', end_point, :is_monitored?, format_yes_no

              - if uni.try(:supports_eth_oam_reflection)
                = list_label_and_value 'MEP ID', end_point, :mep_id
                = list_label_and_value 'MD Level', end_point, :md_level
                = list_label_and_value 'MD Format', end_point, :md_format
                = list_label_and_value 'MA Format', end_point, :ma_format
                = list_label_and_value 'MA Name', end_point, :ma_name

              - if end_point.is_monitored?
                - if end_point.cos_end_points.size && end_point.cos_end_points.any?{|cep| cep.cos_test_vectors.first}
                  %br
                  %h4 SLA Guarantees
                  - end_point.cos_end_points.each do |cos_end_point|
                    .section
                      %em
                        CoS: #{cos_end_point.cos_instance.class_of_service_type.name}
                      %br

                      -# show Availability, Frame Loss, etc
                      = render :partial => 'shared/cos_test_vector_sla', :collection => cos_end_point.stats_entities, :as => :cos_test_vector
