- @row.each do |column|
  - if (entity = column.entity) && entity_is_not_redacted?(entity)
    %td.data_set_cell{'data-component_html_id' => "#{column.diagram_id}", 'class' => pointer_class(column)}
      - order = column.service_order
      - if order && !column.multi_end_point
        .data_set.with_pointer
          .block.states
            %span.state.dot.clickable{'class' => "#{order.order_state_class}", 'data-url'=>"#{entity_ordering_data_url(column)}"}
            %span.state_text #{order.get_order_name}
            %br
