- @row.each_with_prev_next do |prev_column, column, next_column|
  - if column.entity && entity_is_not_redacted?(entity)
    - if column.demarc? || (column.segment? && column.off_net?)
      %td.data_set_cell{'data-component_html_id' => "#{column.diagram_id}", 'class' => pointer_class(column)}
        .data_set.with_pointer
          .block
            %ul
              - if column.enni?
                - enni = column.entity
                = list_label_and_value 'VLAN', (prev_column || next_column), :outer_tag_value
                = list_label_and_value 'Port or IF Name', enni, :port_name
                -# TODO: Where to get Node?
                - unless enni.demarc_icon == 'router'
                  = list_label_and_value 'Phy Type', enni, :physical_medium
                = list_label_and_value 'Address', enni.site, :address, format_address(30), nil, 'address'
              - elsif column.uni?
                - uni = column.entity
                = list_label_and_value 'MAC Address', uni, :mon_loopback_address
                = list_label_and_value 'Address', uni, :address, format_address(30), nil, 'address'
              - elsif column.segment? && column.off_net?
                - segment = column.entity
                -# DAVE: seems wrong, ethernet_service_type comes from the segment so it would be the same for all segment_end_points
                -# TODO: How to get list of CoS?
                - segment.segment_end_points.uniq!{ |ep| ep.ethernet_service_type.try(:name) }.each do |end_point|
                  - end_point.cos_end_points.each do |cos_end_point|
                    - class_of_service_type = cos_end_point.cos_instance.class_of_service_type
                    .section
                      %h3 CoS: #{class_of_service_type.name}
                      %ul
                        = list_label_and_value 'Service Type', end_point.ethernet_service_type, :name
                      - unless cos_end_point.ingress_rate_limiting.downcase == 'none'
                        %h4 Ingress
                        %ul
                          = list_label_and_value 'CIR', cos_end_point, :ingress_cir_kbps, format_kbps_to_mbps, 'N/A'
                          = list_label_and_value 'CBS', cos_end_point, :ingress_cbs_kB, '%s KB', 'N/A'
                      - unless cos_end_point.egress_rate_limiting.downcase == 'none'
                        %h4 Egress
                        %ul
                          = list_label_and_value 'CIR', cos_end_point, :egress_cir_kbps, format_kbps_to_mbps, 'N/A'
                          = list_label_and_value 'CBS', cos_end_point, :egress_cbs_kB, '%s KB', 'N/A'