// Force scroll bar so "page shift" doesn't occur when dynamic content forces the page to scroll
html
  overflow-y: scroll

a, .comments a
  color: $link_blue
  text-decoration: none
  
  &:hover
    color: #205f82

  &.view_all
    font-size: 11px
    padding-left: 5px

body.wait *
  cursor: wait !important

body
  height: 100%
  font: 12px/20px "Helvetica Neue",Helvetica,Arial,sans-serif
  color: #333
  -webkit-font-smoothing: antialiased
  font-smoothing: antialiased
  

// so cursor shows progress everywhere on the page
html, .evcs_page, .ennis_page, #paths-index, #ennis-index
  height: 99% 

#hidden-templates
  display: none

#footer
  clear: both
  color: #555
  font-size: 12px
  text-align: center
  background-color: #ffffff
  margin-top: 25px
  padding: 15px 0
  border-top: 1px solid #E0E0E0
  border-bottom: 1px solid #E0E0E0
  background-color: #F2F2F2
  a
    color: #555
    text-decoration: none
    &:hover
      text-decoration: underline

.invisible
  visibility: hidden

// hide icon when button is showing activity
.spinning.icon::before
  background-image: none !important

.spinning
  background-image: none !important

.hidden
  display: none

.disabled
  color: $dark_grey

.left
  float: left

.align_left
  text-align: left !important

.right
  float: right
  
.align_right
  text-align: right !important
  
.center
  text-align: center
    
.inline
  display: inline
  
.block
  display: block
  
.relative
  position: relative
  
.toggle_mode 
  margin: 0px 9px 3px 9px
  a
    font-size: 11px

.dashboards_page
  .toggle_mode
    margin: 7px 0px 3px 9px

.help_on_hover, .vlan
  cursor: default
  
$relative_x_pos: 0.5
$relative_y_pos: 0.5
$top_offset: 147px
$loading_width: 300px
$loading_height: 300px
#loading
  position: absolute
  top: 100% * $relative_x_pos
  left: 100% * $relative_y_pos
  margin-top: -1 * $loading_width * $relative_y_pos + $top_offset * $relative_y_pos
  margin-right: 0
  margin-bottom: 0
  margin-left: -1 * $loading_width * $relative_y_pos

#actions
  float: right
  width: 150px
  padding: 5px
  div
    img
      cursor: pointer

#filters,#actions,#relabel_submit
  font-size: 80%
  .title
    padding: 0 0 5px 0
  
#generic-error
  width: 50%
  position: absolute
  top: 0
  left: 25%
  background-color: #8F0000
  color: #fff
  padding: 15px
  +border-radius(0 0 $default_radius $default_radius)

#generic-error-message
  position: relative
  p 
    margin: 5px 0
  a
    color: #fff
    text-decoration: underline

  #generic-error-ok
    float: right
    background-color: #fff
    border: 1px solid #333
    color: #333
    padding: 5px
    margin-left: 10px
    +border-radius($default_radius)
    font-size: .75em
    text-decoration: none
    &:link 
      text-decoration: none
    &:visited
      text-decoration: none
    &:hover 
      text-decoration: none
      background-color: #333
      color: #fff
    &:active
      text-decoration: none

#ui-datepicker-div
  font-size: .85em

.ui-daterangepickercontain
  z-index: 900
.clearfix
  clear: both


// States
.states
  label
    margin-right: 5px
    &.states_label
      float: left
  .state_text
    margin-left: 5px

.dot
  height: 15px
  width: 15px
  +border-radius(25px)
  float: left
  border: 1px solid #111
  border-color: rgba(1,1,1,0.25)

.rect
  height: 15px
  width: 15px
  margin-right: 5px
  +border-radius(4px)
  float: left
  border: 1px solid #111
  border-color: rgba(1,1,1,0.25)

.spacer
  margin-top: 2em
  margin-bottom: 2em

.spacer_top
  margin-top: 2em
  
.clearfix
  display: block

.border
  border-bottom: solid 1px #ddd
  padding-bottom: 1em
  margin-bottom: 2em

.sub_border
  border-bottom: solid 1px #ddd
  margin-bottom: 1em
  padding-bottom: 0.5em

  .toggle_graph 
    margin-bottom: 0
    display: inline

.sub_nav
  float: right
  margin-top: 1.25em

.no_wrap
  white-space: nowrap
  
.red
  color: #ba2a2a

.notice
  padding: 10px
  margin: 0 0 20px 0
  border: 1px solid #D4D287
  background-color: #FFFED0
  color: #333
  font: normal .9em/1.3em Arial, Helvetica, sans-serif
  
#error_explanation, #ajax_message .ajax_error, .banner.alert
  color: #B94A48
  border: 1px solid #B94A48
  background-color: #F2DEDE
  padding: 8px 14px
  margin-bottom: 18px
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5)
  +border-radius(4px)

.field_with_errors
  display: inline

.field_with_errors input 
  color: #B94A48 !important
  border: solid 1px #B94A48 !important

  
#notice, #ajax_message .ajax_notice, .banner
  color: #3A87AD
  background-color: #D9EDF7
  border: solid 1px #BCE8F1
  padding: 8px 35px 8px 14px
  margin-bottom: 18px
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5)
  border-radius: 4px
  -moz-border-radius: 4px
  -webkit-border-radius: 4px

.banner
  &.alert, &.notice
    padding: 20px
  
#notice .close, #error_explanation .close 
  position: relative
  top: -2px
  right: -21px
  line-height: 18px
  float: right
  font-size: 20px
  font-weight: bold
  line-height: 18px
  color: black
  text-shadow: 0 1px 0 white
  opacity: 0.2
  filter: alpha(opacity=20)
  text-decoration: none
  
  &:hover
    color: black
    text-decoration: none
    opacity: 0.4
    filter: alpha(opacity=40)
    cursor: pointer
    
#error_explanation .close 
  top: -4px
  right: 0px


strong
  font-weight: bold

em
  font-style: italic

p 
  margin-bottom: 1em
  
.loading
  background: image-url('loading.gif') no-repeat center center
  min-height: 150px
  -webkit-transition: opacity 500ms ease-out 100ms
  -moz-transition: opacity 500ms ease-out 100ms
  -o-transition: opacity 500ms ease-out 100ms
  transition: opacity 500ms ease-out 100ms
  
h1, h2, h3, h4, h5, h6
  font-weight: normal
  padding: 0
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  color: #444
  margin-bottom: 0.5em

h1
  font-size: 24px
  line-height: 28px
  margin-top: 0.5em

h2
  font-size: 20px
  line-height: 22px

h3
  font-size: 16px
  line-height: 20px
  padding-bottom: 5px

h4
  font-size: 14px
  line-height: 18px
  margin-bottom: 15px

h5
  font-size: 12px
  line-height: 18px
  font-weight: bold
  margin-bottom: 4px

h6
  font-size: 10px
  line-height: 16px  

.stat_box 
  margin-bottom: 2em 
  
.service_provider_logo
  padding-top: 10px

.published
  font-family: "Droid Serif", Georgia, Times, serif
  font-size: 11px
  font-style: italic
  color: #999
  margin-bottom: 10px

.member_announcemnt
  clear: both
  margin-bottom: 3em  
  
.full_find
  margin-left: 15px
  
.left_column
  float: left
  width: 45%
.right_column
  float: left
  width: 45%
  margin-left: 8%

.smaller
  font-size: 90% !important
  
.sidebar
  position: relative
  padding: 0 0 5px 0 !important
  background: #f6f6f6
  border: 1px solid #d1d1d1
  border-radius: 4px
  -moz-border-radius: 4px
  -webkit-border-radius: 4px
  margin-bottom: 20px
  box-shadow: 0px 1px 3px rgba(0,0,0,0.04)
  -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.04)
  -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.04)
  text-shadow: 1px 1px 0px #fff
  color: #666
  min-height: 75px
  
  .title
    margin-bottom: 5px
    background: #cfcfcf
    border-bottom: 1px solid #bbb
    border-top: none 
    padding: 0px 5px
    -webkit-border-top-left-radius: 4px 
    -webkit-border-top-right-radius: 4px
    -moz-border-radius-topleft: 4px 
    -moz-border-radius-topright: 4px
    border-top-left-radius: 4px 
    border-top-right-radius: 4px
    padding-left: 10px
    text-shadow: 1px 1px 0px rgba(255,255,255,0.6)
    height: 26px
    line-height: 26px
    color: #444
    box-shadow: 0px 1px 0px rgba(255,255,255,0.2) inset
    -moz-box-shadow: 0px 1px 0px rgba(255,255,255,0.2) inset
    -webkit-box-shadow: 0px 1px 0px rgba(255,255,255,0.2) inset
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(204,204,204)),color-stop(1, rgb(217,217,217)))
    background-image: -moz-linear-gradient(center bottom,rgb(204,204,204) 0%,rgb(217,217,217) 100%)
    font-size: 13px
  
  .sidebar_content
    padding: 5px 10px
    
    
form  
  padding: 5px 10px
        
  label
    font-weight: bold
    display: block
    font-size: 13px
    margin-bottom: 2px

  label.info_text
    font-weight: normal
    display: inline

  textarea
    border: 1px solid #cecece
    padding: 6px
    border-radius: 4px
    -moz-border-radius: 4px
    -webkit-border-radius: 4px
    -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1) inset
    &[disabled='disabled']
      background-color: #f2f2f2
      
  input
    &[type=text], &[type=password], &[type=number]
      border: 1px solid #cecece
      padding: 6px
      border-radius: 4px
      -moz-border-radius: 4px
      -webkit-border-radius: 4px
      -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1) inset
      margin: 2px 0 1em 0
      width: 88%
    &.entry
      width: 120px
      margin-bottom: 0
    &#search_box
      margin-bottom: 0
      width: 125px
    &[disabled='disabled']
      background-color: #f2f2f2
  select
    margin-bottom: 1.25em
    width: 90%
    border: 1px solid #cecece
  
  input
    &[type="text"]:focus, &[type="number"]:focus, &[type="password"]:focus, &[type="email"]:focus, &[type="number"]:focus
      border: 1px solid #aaa
      color: #444
      -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2)
      -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2)
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.2)
    &[type="number"]
      width: 3.5em
      
  textarea:focus
    border: 1px solid #aaa
    color: #444
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2)
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2)
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2)
    
.lookup_form 
  position: absolute
  right: 15px
  margin-top: -12px
 
#seller_chart
  margin-left: -30px

// Pagination
.pagination
  margin: 5px 50px
  text-align: right
  span, a, em
    margin: 0 1px
    padding: 4px 6px
    padding: 5px
    +border-radius($default_radius)
  a
    text-decoration: none
    &:hover
      background: #2D7DC5
      color: #fff
  .previous_page, .next_page
    text-transform: lowercase
  .current
    background: #999
    color: #fff


// Tables

table.styled
  width: 100%
  border-bottom: 1px solid #d1d1d1
  th
    text-align: left
    padding: 0 15px 0 10px
    margin-right: 5px
    height: 30px
    line-height: 30px
    font-size: 12px
    font-weight: 700
    color: #666666
  td
    &.empty
      padding: 30px 0
      text-align: center
      background: #f7f7f7
    text-align: left
    padding: 10px
    border-top: 1px solid #ddd
  tr
    &:nth-child(odd) td
      background: #F5F5F5
      border-bottom: none
    &:hover td
      background: #e6f1f6
  .small a
    font-size: 11px
    color: #666
 
hr 
  border: solid #ddd
  border-width: 1px 0 0
  clear: both
  margin: 10px 0 10px
  height: 0

.screenshot
  max-width: 100%
  height: auto
  border: solid 1px #ddd


// Monitoring
#monitoring_popup
  .ui-tabs-panel
    width: 1060px
  .date_range_input
    margin: 10px 0 10px 0
    
#ordering_popup
  .ui-tabs-panel
    width: 1100px

/* Lifted corners */
.picture 
  border: solid 1px #DDD
  padding: 15px

.lifted 
  -moz-border-radius: 4px
  border-radius: 4px

.lifted:before,
.lifted:after 
  bottom: 15px
  left: 10px
  width: 50%
  height: 20%
  max-width: 300px
  -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7)
  -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7)
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7)
  -webkit-transform: rotate(-3deg)
  -moz-transform: rotate(-3deg)
  -ms-transform: rotate(-3deg)
  -o-transform: rotate(-3deg)
  transform: rotate(-3deg)

.lifted:after 
  right: 10px
  left: auto
  -webkit-transform: rotate(3deg) 
  -moz-transform: rotate(3deg) 
  -ms-transform: rotate(3deg)
  -o-transform: rotate(3deg)
  transform: rotate(3deg)

.drop-shadow 
  position: relative
  float: left
  padding: 1em
  margin-bottom: 0.25em
  background: #fff
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset

.drop-shadow:before,
.drop-shadow:after 
  content: ""
  position: absolute
  z-index: -2
