=button
  display: inline-block
  +border-radius(5px)
  +shadow($default_shadow)
  padding: 4px 10px 3px 10px
  background: #eee
  cursor: pointer
  font-size: .9em
  line-height: 1.5em
  font-weight: normal
  text-align: center
  text-decoration: none
  text-shadow: 0 1px 1px rgba(250,250,250,.7)
  color: #333
  border: solid 1px #aaa
  &:hover
    background-color: #bbb
    text-decoration: none
  &:active
    background-color: #888
  &:focus
    outline: 0

=action-button()
  +button
  color: #333
  border: solid 1px #aaa
  padding: 7px 10px 5px 30px
  &:hover
    background-color: #ccc
  &:active
    background-color: #888

=primary-button()
  +button
  background: #03a04f
  border: 1px solid #026e36
  color: #fff
  text-shadow: 0 1px 1px rgba(0,0,0,.5)
  &:hover
    background: #01783B

=alert-button()
  +button
  background: #B81015
  border: 1px solid #9B0E13
  color: #fff
  text-shadow: 0 1px 1px rgba(0,0,0,.5)
  &:hover
    background: #710A0D


button::-moz-focus-inner
  border: none
  
input::-moz-focus-inner
  border: none

.submit_button
  display: inline-block
  padding: 7px 9px
  margin: 0
  font-size: 12px
  color: #3C3C3D
  text-shadow: 1px 1px 0 #FFFFFF
  background: #ececec image-url("css3buttons_backgrounds.png") 0 0 no-repeat
  white-space: nowrap
  overflow: visible
  cursor: pointer
  text-decoration: none
  border: 1px solid #CACACA
  -webkit-border-radius: 4px
  -moz-border-radius: 4px
  -webkit-background-clip: padding-box
  border-radius: 4px
  outline: none
  position: relative
  zoom: 1
  line-height: 16px
  *display: inline
  *vertical-align: middle
  &.no_text
    &.icon:before
      margin: 0
      top: 2px
  &.toggle_form
    padding: 3px 5px
    margin-right: 5px
    margin-top: 1px
  &.primary
    background: #dfdfdf
    text-shadow: none
  &.primary_action
    background: #03a04f
    border: 1px solid #026e36
    color: #fff
    text-shadow: none
    &:hover
      background: #01783B
  &:hover
    color: #FFFFFF
    border-color: #388AD4
    text-decoration: none
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3)
    background-position: 0 -40px
    background-color: #2D7DC5
  &:active, &.active
    background-position: 0 -81px
    border-color: #347BBA
    background-color: #0F5EA2
    color: #FFFFFF
    text-shadow: none
  &:active
    top: 1px
  &.disabled
    color: #999
    &:hover
      background: #ececec
      border-color: #aaa
      text-shadow: none
  &.negative
    &:hover
      color: #FFFFFF
      background-position: 0 -121px
      background-color: #D84743
      border-color: #911D1B
    &:active, &.active
      background-position: 0 -161px
      background-color: #A5211E
      border-color: #911D1B
  &.danger
    color: #900    
  &.pill
    -webkit-border-radius: 19px
    -moz-border-radius: 19px
    border-radius: 19px
    padding: 6px 12px
  &.submit_button_left
    -webkit-border-bottom-right-radius: 0px
    -webkit-border-top-right-radius: 0px
    -moz-border-radius-bottomright: 0px
    -moz-border-radius-topright: 0px
    border-bottom-right-radius: 0px
    border-top-right-radius: 0px
    margin-right: 0px
  &.submit_button_middle
    margin-right: 0px
    margin-left: 0px
    -webkit-border-radius: 0px
    -moz-border-radius: 0px
    border-radius: 0px
    border-left: none
  &.submit_button_right
    -webkit-border-bottom-left-radius: 0px
    -webkit-border-top-left-radius: 0px
    -moz-border-radius-bottomleft: 0px
    -moz-border-radius-topleft: 0px
    border-top-left-radius: 0px
    border-bottom-left-radius: 0px
    margin-left: 0px
    border-left: none
  &.submit_button_left:active, &.submit_button_middle:active, &.buton_right:active
    top: 0px
  &.big
    font-size: 16px
    padding: 7px 16px
  span.icon
    display: inline-block
    width: 14px
    height: 12px
    margin: auto 4px auto auto
    position: relative
    background-image: image-url('gh-icons.png')
    background-repeat: no-repeat
.big.submit_button span.icon
  top: 0px
.submit_button
  &.icon:before
    content: ""
    position: relative
    top: 1px
    // float: left
    display: inline-block
    width: 12px
    height: 12px
    margin: 0 0.5em 0 0
    background: url(gh-icons.png) 0 99px no-repeat
  &.arrowup.icon
    &:before
      background-position: 0 0
    &:hover:before, &:focus:before, &:active:before
      background-position: -12px 0
  &.arrowdown.icon
    &:before
      background-position: 0 -12px
    &:hover:before, &:focus:before, &:active:before
      background-position: -12px -12px
  &.arrowleft.icon
    &:before
      background-position: 0 -24px
    &:hover:before, &:focus:before, &:active:before
      background-position: -12px -24px
  &.arrowright.icon
    &:before
      background-position: 0 -36px
    &:hover:before, &:focus:before, &:active:before
      background-position: -12px -36px
  &.approve.icon
    &:before
      background-position: 0 -48px
    &:hover:before, &:focus:before, &:active:before
      background-position: -12px -48px
  &.add.icon
    &:before
      background-position: 0 -288px
    &:hover:before, &:focus:before, &:active:before
      background-position: -12px -288px
  &.remove.icon
    &:before
      background-position: 0 -60px
    &:hover:before, &:focus:before, &:active:before
      background-position: -12px -60px
  &.log.icon
    &:before
      background-position: 0 -72px
    &:hover:before, &:focus:before, &:active:before
      background-position: -12px -72px
  &.calendar.icon
    &:before
      background-position: 0 -84px
    &:hover:before, &:focus:before, &:active:before
      background-position: -12px -84px
  &.chat.icon
    &:before
      background-position: 0 -96px
    &:hover:before, &:focus:before, &:active:before
      background-position: -12px -96px
  &.clock.icon
    &:before
      background-position: 0 -108px
    &:hover:before, &:focus:before, &:active:before
      background-position: -12px -108px
    &.disabled:before
      opacity: .4
      background-position: 0 -108px
  &.settings.icon
    &:before
      background-position: 0 -120px
    &:hover:before, &:focus:before, &:active:before
      background-position: -12px -120px
  &.comment.icon
    &:before
      background-position: 0 -132px
    &:hover:before, &:focus:before, &:active:before
      background-position: -12px -132px
  &.fork.icon
    &:before
      background-position: 0 -144px
    &:hover:before, &:focus:before, &:active:before
      background-position: -12px -144px
  &.like.icon
    &:before
      background-position: 0 -156px
    &:hover:before, &:focus:before, &:active:before
      background-position: -12px -156px
  &.favorite.icon
    &:before
      background-position: 0 -348px
    &:hover:before, &:focus:before, &:active:before
      background-position: -12px -348px
  &.home.icon
    &:before
      background-position: 0 -168px
    &:hover:before, &:focus:before, &:active:before
      background-position: -12px -168px
  &.key.icon
    &:before
      background-position: 0 -180px
    &:hover:before, &:focus:before, &:active:before
      background-position: -12px -180px
  &.lock.icon
    &:before
      background-position: 0 -192px
    &:hover:before, &:focus:before, &:active:before
      background-position: -12px -192px
  &.unlock.icon
    &:before
      background-position: 0 -204px
    &:hover:before, &:focus:before, &:active:before
      background-position: -12px -204px
  &.loop.icon
    &:before
      background-position: 0 -216px
    &:hover:before, &:focus:before, &:active:before
      background-position: -12px -216px
  &.search.icon
    &:before
      background-position: 0 -228px
    &:hover:before, &:focus:before, &:active:before
      background-position: -12px -228px
  &.mail.icon
    &:before
      background-position: 0 -240px
    &:hover:before, &:focus:before, &:active:before
      background-position: -12px -240px
  &.move.icon
    &:before
      background-position: 0 -252px
    &:hover:before, &:focus:before, &:active:before
      background-position: -12px -252px
  &.edit.icon
    &:before
      background-position: 0 -264px
    &:hover:before, &:focus:before, &:active:before
      background-position: -12px -264px
  &.pin.icon
    &:before
      background-position: 0 -276px
    &:hover:before, &:focus:before, &:active:before
      background-position: -12px -276px
  &.reload.icon
    &:before
      background-position: 0 -300px
    &:hover:before, &:focus:before, &:active:before
      background-position: -12px -300px
  &.rss.icon
    &:before
      background-position: 0 -312px
    &:hover:before, &:focus:before, &:active:before
      background-position: -12px -312px
  &.tag.icon
    &:before
      background-position: 0 -324px
    &:hover:before, &:focus:before, &:active:before
      background-position: -12px -324px
  &.delete.icon
    &:before
      background-position: 0 -336px
    &:hover:before, &:focus:before, &:active:before
      background-position: -12px -336px
  &.user.icon
    &:before
      background-position: 0 -360px
    &:hover:before, &:focus:before, &:active:before
      background-position: -12px -360px

.button-group
  display: inline-block
  list-style: none
  padding: 0
  margin: 0
  zoom: 1
  *display: inline

.button-group
  li
    float: left
    padding: 0
    margin: 0
  .submit_button
    margin-left: -4px
    margin-top: 2px
    padding: 7px 6px
    &:hover
      color: #fff
  > .submit_button:not(:first-child):not(:last-child), li:not(:first-child):not(:last-child) .submit_button
    -webkit-border-radius: 0
    -moz-border-radius: 0
    border-radius: 0
  > .submit_button:first-child, li:first-child .submit_button
    margin-left: 0
    -webkit-border-top-right-radius: 0
    -webkit-border-bottom-right-radius: 0
    -moz-border-radius-topright: 0
    -moz-border-radius-bottomright: 0
    border-top-right-radius: 0
    border-bottom-right-radius: 0
  > .submit_button:last-child, li:last-child > .submit_button
    -webkit-border-top-left-radius: 0
    -webkit-border-bottom-left-radius: 0
    -moz-border-radius-topleft: 0
    -moz-border-radius-bottomleft: 0
    border-top-left-radius: 0
    border-bottom-left-radius: 0
  &.minor-group .submit_button
    border: 1px solid #d4d4d4
    text-shadow: none
    background-image: none
    background-color: #fff
    &:hover, &:focus
      background-color: #599bdc
    &:active
      background-color: #599bdc
      background-color: #3072b3
    &.active
      background-color: #3072b3
    &.icon:before
      opacity: 0.8

.submit_button-container
  .submit_button, .button-group
    vertical-align: top