=stack-visible
  z-index: 100001

#compare_stack
  position: fixed
  width: 100%
  top: 100%
  margin-top: -60px
  height: 100%
  background-color: #fff
  border-top: 1px solid #999
  z-index: 99999
  &.stack_visible
    +stack-visible
  &.stack_open
    +stack-visible
    overflow-y: scroll
    margin-top: 0
    
    // Fixed issue small page jitter when hovering over graph
    padding-right: 1px
    
    .show
      display: none
    .hide
      display: inline
    h2
      border-bottom: 1px solid #ddd
      .text
        color: #bbb

  h1
    margin: 20px 0 5px 0

  h2
    background-color: #eee
    padding: 15px 0
    font-size: 14px
    text-align: center
    .graph_count
      font-weight: bold
    .show_hide_page
      margin-left: 10px
    .hide
      display: none
    

  .graphs_content
    margin: 0 auto
    width: 1060px
    .list_header
      height: auto
      padding-bottom: 15px
      .help
        font-size: 14px
    .evc_separator
      margin: 0
    .cos_wrapper
      margin-left: 0
    .display_area
      .clearfix
        margin-bottom: 5px
    h4
      margin-bottom: 10px
      font-weight: bold
      span
        float: left
    .date_range_input
      float: left
    .export_buttons
      display: block
      margin: 0 5px 20px 0
      padding: 10px 15px
      background-color: #FcFcFc
      border: 1px solid #eee
    .sync_graph_dates
      margin-left: 5px
    
  .draggable
    cursor: move
    