$diagram_width: 1530px
$site_pull_left: -63px
$site_width: 300px
$node_pull_left: -58px
$node_width: 254px
$component_padding: 3px

@mixin segment_width($width)
  td.entity
    &.segment
      &.on_net
        width: $width
        max-width: $width
    &.site
      width: $width
      max-width: $width
  tr.diagram_info
    .component_group
      button
        position: relative
        margin: 0
        top: -11px
      &.site
        width: $site_width
      &.node
        width: $node_width
      &.component_group_left
        text-align: left
      &.component_group_right
        text-align: right
        &.site
          margin-left: $width - $site_width - $site_pull_left + $component_padding
        &.node
          margin-left: $width - $node_width - $node_pull_left + $component_padding
      &.component_group_left_and_right
        &.site
          margin-top: -45px
          width: $width + 129px
          height: 82px
          border: 1px dashed #bbbbbb
          margin-left: $site_pull_left
          button
            left: 10px
        &.node 
          margin-top: -17px
          width: $width + 119px
          height: 49px
          border: 1px solid #bbbbbb
          margin-left: $node_pull_left
          button
            left: 5px      

.coresite_app
  .top_level_entity_wrapper
    &.coresite_evc
      .diagram_wrapper
        padding-bottom: 50px
        .diagram
          table
            width: auto
            margin-left: auto
            margin-right: auto

            // Default for IE and smaller screens
            @include segment_width(500px)

            // Larger screens
            @media screen and (min-width: $diagram_width)
              @include segment_width(750px)

          .tenant_cloud
            position: relative
            .cloud
              position: absolute
              width: 300px
              height: 131px
              top: -80px
              &.left
                left: -300px
                background: transparent image-url('cloud_for_tenant_left.png') no-repeat center center
              &.right
                right: -300px
                background: transparent image-url('cloud_for_tenant_right.png') no-repeat center center
              .info
                padding-top: 35px
                text-align: center
              .buying_or_target
                color: #999
      .build_log_wrapper
        display: none
        margin: 20px 0 0 10px
        .build_log
          padding: 30px
          border: 1px solid #eee
          background-color: #fafafa
        .build_log_close
          padding-left: 5px
          color: #bbb
          font-size: 16px
          cursor: pointer


  &.dashboards_page
    #locations
      p
        margin: 0

    .datatable_details_row
      display: none

    .datatable_details_button
      .close
        display: none
      &.opened
        .open
          display: none
        .close
          display: inline

    .details
      .detail
        vertical-align: top
        display: inline-block
        margin: 15px 20px
        ul
          border-bottom: 1px solid #ddd
          padding-bottom: 15px
          li
            label
              font-weight: bold
            .submit_button
              margin-top: 10px
    .new_order 
      padding: 7px 0px 3px 9px
    .dashboard_table
      .no_wrap
        button, a
          display: inline-block
          float: none
      .wrap
        a
          word-break: break-all
          word-wrap: break-word
          display: inline-block
  &.coresite_orders_page

    .ui-dialog-titlebar 
      display: none

    .dialog_reject_order_btn
      background: #990000
      border: 1px solid #c50000
      color: #fff
      &:hover
        background: #c50000
    .reject_reason
      h2
        margin: 10px 0
      textarea
        width: 400px
        height: 100px

    #errors_on_form
      margin-right: 10px
      color: $error_color

    #messages_on_form
      margin-right: 10px
      color: $success_color
    
    .container_12
      +clearfix

    .button_bar
      margin-bottom: 15px

    small
      color: #999

    .page_header
      margin-bottom: 25px
    .coresite_form
      +clearfix
      margin-bottom: 25px
      h2
        background-color: #f7f7f7
        padding: 7px 10px
        line-height: 30px
      .path_name
        width: 400px
      .service_provider_logo
        float: right
        margin-right: 25px
      .view_path
        float: right
        margin-right: 25px
      label
        display: inline
        font-weight: normal
        &.form_error_message
          display: block
          color: $error_color
      table.coresite_table
        &.col
          padding-left: 10px
          border-left: 1px solid #eee
        td, th
          padding: 0 3px
          &.label
            text-align: right
          &.value
            font-weight: bold
        tr.input
          td
            padding: 6px 3px 3px 3px
          .chzn-container, input
            margin-bottom: 0
          #buying_vlan
            width: 50px
      .inline_button
        padding-left: 5px
      .edit_member_handle
        float: right
        margin-right: 15px
        padding: 7px 9px 5px 9px
        margin-left: 5px
      .edit_member_handle_input
        width: 100px
      select
        width: 250px
      .date_range_input
        input
          width: 100px
      .service_rate
        select
          width: 100px
      .check_available_bandwidth_and_vlan
        margin-top: 10px
        &.success
          background-color: $success_color
          color: #eee
        &.failure
          background-color: $error_color
          color: #eee

      .check_available_bandwidth_and_vlan_message
        width: 230px
        margin-top: 5px
        .success
          color: $success_color
        .failure
          color: $error_color

      .access_permission_string
        padding-top: 5px
        color: #d46000

    .action_buttons
      border-top: 1px solid #bbb
      padding: 10px 25px
      text-align: right
      .cancel
        padding-left: 10px
      .print_to_pdf, .order_disconnect
        margin-left: 10px
    #target_vlan, #buyer_vlan
      width: 50px

  .import_tenants
    .submit_button
      margin-top: 10px

  .access_permissions
    width: 800px

  .port_form_dialog
    .ui-dialog-titlebar 
      display: none

  #port_form
    margin: 0
    padding-top: 10px
    td
      padding: 3px 0
    .input
      td
        padding: 5px 0
    input, select
      margin: 0
    select
      width: 250px
    .action_buttons
      border-top: 1px solid #bbb
      padding: 10px 25px
      margin-top: 35px
      .cancel
        padding-left: 10px
    .label
      width: 150px
    .ok
      display: none      