.dashboard_sub_title
  text-transform: uppercase
  font-size: 10px
  color: #666
  margin: 0 0 8px 0
  letter-spacing: 1px
  white-space: nowrap

.dashboard_stat
  font-size: 250%
  font-weight: bold

.dashboard_stat_total
  font-size: 150%
  font-weight: bold
  color: #777

.dashboard_sub_title_list
  font-size: 110%
  font-weight: bold

.dashboard_stat_text
  margin-bottom: 1ex

.dashboard_legend
  margin: 6ex 0 1ex 0

.dashboard_legend_item
  margin-bottom: 1ex
  float: left
  clear: left

.dashboard_legend_box
  border: solid 1px #999
  -webkit-background-clip: padding-box
  width: 15px
  height: 15px
  float: left
  margin-right: 10px
  margin-top: 2px
  -webkit-border-radius: 25px
  -moz-border-radius: 25px
  border-radius: 25px
  &.line
    margin-top: 7px
    height: 5px
    -webkit-border-radius: 1px
    -moz-border-radius: 1px
    border-radius: 1px
  &.site
    width: 20px
    height: 20px

.dashboard_legend_count
  font-size: 11px

.sub_links
  margin-top: 2px
  a
    padding: 0 2px
    &:first-child
      padding-left: 0

table.dashboard_table
  width: 100%
  background: #f2f2f2
  border-top: 1px solid #d1d1d1
  border-bottom: 1px solid #d1d1d1
  border-radius: 4px
  -moz-border-radius: 4px
  -webkit-border-radius: 4px
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.04)
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.04)
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.04)
  th
    cursor: pointer
    text-align: left
    padding: 0 10px 0 10px
    margin-right: 5px
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.6)
    height: 30px
    line-height: 30px
    font-size: 12px
    font-weight: 700
    color: #666666
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset
    -moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset
    -webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(204, 204, 204)), color-stop(1, rgb(217, 217, 217)))
    background-image: -moz-linear-gradient(center bottom, rgb(204, 204, 204) 0%, rgb(217, 217, 217) 100%)
    white-space: nowrap
    &:hover
      background: #ddd
    &.sorting_disabled
      cursor: default
      &:hover
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(204, 204, 204)), color-stop(1, rgb(217, 217, 217)))
        background-image: -moz-linear-gradient(center bottom, rgb(204, 204, 204) 0%, rgb(217, 217, 217) 100%)
  td
    &.empty
      padding: 30px 0
      text-align: center
      background: #f7f7f7
    text-align: left
    padding: 5px 5px 5px 10px
    border-top: 1px solid #ddd
    vertical-align: middle
    &.word_break
      word-break: break-all
  tr
    &:nth-child(odd) td
      background: #eee
      border-bottom: none
    &:last-child
      td:first-child
        -webkit-border-bottom-left-radius: 4px
        -moz-border-radius-bottomleft: 4px
        border-bottom-left-radius: 4px
      -webkit-border-bottom-left-radius: 4px
      -moz-border-radius-bottomleft: 4px
      border-bottom-left-radius: 4px
    &:hover td
      background: #e6f1f6
  .small 
    a, button
      font-size: 11px
  th
    &.sorting_desc
      background: #dddddd image-url("sort-desc.png") no-repeat 90% 50%
    &.sorting_asc
      background: #dddddd image-url("sort-asc.png") no-repeat 90% 50%

.dataTables_length
  float: left
  padding: 5px
  select
    margin: 0

.dataTables_long_cell
  width: 400px

.dataTables_filter
  float: right
  padding: 5px

.dataTables_wrapper
  position: relative
  zoom: 1
  margin: 1em 0 2em 0
  background: #ededed
  border: 1px solid #d1d1d1
  padding: 0px
  color: #888
  background: #ccc
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(226, 226, 226)), color-stop(1, rgb(238, 238, 238)))
  background-image: -moz-linear-gradient(center bottom, rgb(226, 226, 226) 0%, rgb(238, 238, 238) 100%)
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.15) inset
  -moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.35) inset
  -webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.15) inset
  -webkit-border-radius: 4px
  -moz-border-radius: 4px
  border-radius: 4px

.dataTables_filter input
  box-shadow: none
  -moz-box-shadow: none
  -webkit-box-shadow: none
  border-radius: 3px
  -moz-border-radius: 3px
  -webkit-border-radius: 3px
  padding: 3px
  border: 1px solid #ccc

.dataTables_info
  width: 60%
  display: inline-block
  padding: 5px 10px
  color: #666
  text-shadow: 1px 1px 0px #eee
  text-align: left
  font-size: 12px
  font-style: italic
  -webkit-border-bottom-left-radius: 4px
  -webkit-border-bottom-right-radius: 4px
  -moz-border-radius-bottomleft: 4px
  -moz-border-radius-bottomright: 4px
  border-bottom-left-radius: 4px
  border-bottom-right-radius: 4px

.dataTables_filter input
  display: inline-block

.dataTables_processing
  position: absolute
  top: 50%
  left: 50%
  width: 150px
  height: 16px
  margin-left: -150px
  margin-top: -16px
  padding: 25px 25px 25px 105px
  border: 1px solid rgba(0, 0, 0, 0.2)
  background: #ededed image-url("arrow-spin.gif") no-repeat 80px 25px
  font-size: 14px
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.6)
  font-weight: 700
  color: #666666  
  -webkit-border-radius: 4px
  -moz-border-radius: 4px
  border-radius: 4px
  -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.6)
  -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.6)
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.6)

.dataTables_paginate
  float: right
  margin-right: 10px
  margin-top: 5px
  width: 44px

.paginate_enabled_previous, .paginate_disabled_previous, .paginate_enabled_next, .paginate_disabled_next
  width: 22px
  height: 22px
  background: image-url("pagination.png") no-repeat
  float: left
  cursor: pointer
  text-indent: -9000em

.paginate_enabled_previous
  background-position: -22px -22px
  &:hover
    background-position: 0 -22px

.paginate_disabled_previous
  background: none

.paginate_enabled_next
  background-position: -22px 0px
  &:hover
    background-position: 0px 0px

.paginate_disabled_next
  background: none
  
.exception_details label
  color: #555
  
.date_range_start, .date_range_end
  width: 75px


.item_list 
  padding: 0 5px 0 5px

  .trash, .edit
    display: block
    float: right
    position: relative
    top: 2px
    width: 10px
    height: 11px
    display: block
    text-indent: -9000em
    background: none
    
    
  li.edit_description
    padding: 0

    &:hover
      background-color: inherit

    form
      padding: 5px

  li
    margin-bottom: 5px
    -webkit-border-radius: 6px
    -moz-border-radius: 6px
    border-radius: 6px
    padding: 5px
      
    a.filter_title
      display: block
      width: 150px

    &:hover
      background-color: #eee

      .trash, .edit
        background: url(gh-icons.png) 0 99px no-repeat
        width: 12px
        height: 12px

      .trash
        background-position: 0 -336px
        
      .edit
        background-position: 0 -264px
        margin-right: 8px

    small
      font-size: 11px
      color: #888
      display: block
      line-height: 12px
      
.time_select select
  display: inline
  width: 50px

.toggle_table, .toggle_graph 
  display: inline
  padding-left: 18px
  cursor: pointer
  background: image-url('chosen-sprite.png') no-repeat 0 -42px
  font-size: 16px
  line-height: 20px
  padding-bottom: 5px
  margin-bottom: 0.5em
  color: #444
  font-size: 15px

  &:hover, &:active, &:visited
    color: #444

.toggle_table.hidden, .toggle_graph.hidden
  background: image-url('chosen-sprite.png') no-repeat 0 -63px
  display: block
  margin-bottom: 2em
  
h4.title a.toggle_graph
  margin-bottom: 0
  font-size: 14px
  padding-left: 20px
  display: block
  position: relative
  top: 2px

h4.title a.toggle_graph.hidden
  background: image-url('chosen-sprite.png') no-repeat 0 -63px
  margin-bottom: 0
