#ennis-index
  .enni
    .diagram_wrapper
      .diagram
        margin-top: 25px
        table 
          margin: 0 auto
          width: auto
        .entity
          vertical-align: top
        .enni_icon_large
          min-width: 93px
          width: 93px
          background: #fff image-url('enni.big.png') no-repeat left 50%
        .diagram_info
          .block
            position: absolute
        .cloud
          width: 420px
          height: 200px
          &.left
            background: transparent image-url('cloud_for_enni_left.png') no-repeat center center
          &.right
            background: transparent image-url('cloud_for_enni_right.png') no-repeat center center
          .info
            padding-top: 50px
            text-align: center
