=border-radius($radii)
  -webkit-border-radius: $radii
  -moz-border-radius: $radii
  -ms-border-radius: $radii
  -o-border-radius: $radii
  border-radius: $radii

=shadow($shadow) 
  -webkit-box-shadow: $shadow
  -moz-box-shadow: $shadow
  -ms-box-shadow: $shadow
  -o-box-shadow: $shadow
  box-shadow: $shadow

=clearfix
  *display: inline-block
  &:after
    content: " "
    display: block
    height: 0
    clear: both
    visibility: hidden

=inline-block
  display: inline-block
  *+html & 
    display: inline

=bubble-list
  line-height: 1.4em
  color: #111
  h4
    margin: 0 0 5px 0
    font-weight: bold
  li
    margin-bottom: 2px
  div
    margin-bottom: 15px
  label
    color: #888


$default_radius: 5px
$default_shadow: 1px 1px 3px #aaa
$table_dark: #c2baac
$dark_grey: #dddddd
$link_blue: #4083A9
$error_color: #CE0023
$success_color: #267e35
$attention: #FDFFB6

@import reset.sass
@import ui-smoothness.sass
@import tipsy.sass
@import header.sass
@import ui.daterangepicker.sass
@import monitoring.sass
@import legend.sass
@import path_diagram.sass
@import path_edit.sass
@import buttons.sass
@import state_colors.sass
@import index.sass
@import dashboard_components.sass
@import ennis.sass
@import network.sass
@import chosen.sass
@import base.sass
@import grid.sass
@import compares.sass
@import coresite.sass
