/*
 *  Variable Grid System.
 *  Learn more ~ http://www.spry-soft.com/grids/
 *  Based on 960 Grid System - http://960.gs/
 *
 *  Licensed under GPL and MIT.

/*
 *  Forces backgrounds to span full width,
 *  even if there is horizontal scrolling.
 *  Increase this if your layout is wider.
 *
 *  Note: IE6 works fine without this fix.

body
  min-width: 1272px

/* Containers
 *----------------------------------------------------------------------------------------------------

.container_12
  margin-left: auto
  margin-right: auto
  width: 1272px

/* Grid >> Global
 *----------------------------------------------------------------------------------------------------

.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12
  display: inline
  float: left
  position: relative
  margin-left: 10px
  margin-right: 10px

.push_1, .pull_1, .push_2, .pull_2, .push_3, .pull_3, .push_4, .pull_4, .push_5, .pull_5, .push_6, .pull_6, .push_7, .pull_7, .push_8, .pull_8, .push_9, .pull_9, .push_10, .pull_10, .push_11, .pull_11, .push_12, .pull_12
  position: relative

/* Grid >> Children (Alpha ~ First, Omega ~ Last)
 *----------------------------------------------------------------------------------------------------

.alpha
  margin-left: 0

.omega
  margin-right: 0

/* Grid >> 12 Columns
 *----------------------------------------------------------------------------------------------------

.container_12
  .grid_1
    width: 86px
  .grid_2
    width: 192px
  .grid_3
    width: 298px
  .grid_4
    width: 404px
  .grid_5
    width: 510px
  .grid_6
    width: 616px
  .grid_7
    width: 722px
  .grid_8
    width: 828px
  .grid_9
    width: 934px
  .grid_10
    width: 1040px
  .grid_11
    width: 1146px
  .grid_12
    width: 1252px
  .prefix_1
    padding-left: 106px
  .prefix_2
    padding-left: 212px
  .prefix_3
    padding-left: 318px
  .prefix_4
    padding-left: 424px
  .prefix_5
    padding-left: 530px
  .prefix_6
    padding-left: 636px
  .prefix_7
    padding-left: 742px
  .prefix_8
    padding-left: 848px
  .prefix_9
    padding-left: 954px
  .prefix_10
    padding-left: 1060px
  .prefix_11
    padding-left: 1166px
  .suffix_1
    padding-right: 106px
  .suffix_2
    padding-right: 212px
  .suffix_3
    padding-right: 318px
  .suffix_4
    padding-right: 424px
  .suffix_5
    padding-right: 530px
  .suffix_6
    padding-right: 636px
  .suffix_7
    padding-right: 742px
  .suffix_8
    padding-right: 848px
  .suffix_9
    padding-right: 954px
  .suffix_10
    padding-right: 1060px
  .suffix_11
    padding-right: 1166px
  .push_1
    left: 106px
  .push_2
    left: 212px
  .push_3
    left: 318px
  .push_4
    left: 424px
  .push_5
    left: 530px
  .push_6
    left: 636px
  .push_7
    left: 742px
  .push_8
    left: 848px
  .push_9
    left: 954px
  .push_10
    left: 1060px
  .push_11
    left: 1166px
  .pull_1
    left: -106px
  .pull_2
    left: -212px
  .pull_3
    left: -318px
  .pull_4
    left: -424px
  .pull_5
    left: -530px
  .pull_6
    left: -636px
  .pull_7
    left: -742px
  .pull_8
    left: -848px
  .pull_9
    left: -954px
  .pull_10
    left: -1060px
  .pull_11
    left: -1166px

/* Prefix Extra Space >> 12 Columns
 *----------------------------------------------------------------------------------------------------

/* Suffix Extra Space >> 12 Columns
 *----------------------------------------------------------------------------------------------------

/* Push Space >> 12 Columns
 *----------------------------------------------------------------------------------------------------

/* Pull Space >> 12 Columns
 *----------------------------------------------------------------------------------------------------

/* `Clear Floated Elements
 *----------------------------------------------------------------------------------------------------

/* http://sonspring.com/journal/clearing-floats

.clear
  clear: both
  display: block
  overflow: hidden
  visibility: hidden
  width: 0
  height: 0

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified

.clearfix
  &:before
    content: '\0020'
    display: block
    overflow: hidden
    visibility: hidden
    width: 0
    height: 0
  &:after
    content: '\0020'
    display: block
    overflow: hidden
    visibility: hidden
    width: 0
    height: 0
    clear: both
  zoom: 1

/*
 *The following zoom:1 rule is specifically for IE6 + IE7.
 *Move to separate stylesheet if invalid CSS is a problem.