html, body
  margin: 0
  padding: 0
  border: 0

html
  width: 100%
  border-top: 2px solid #333

body
  min-width: 960px
  border-top: 3px solid #fbad31
  color: #444
  &.fixed
    .header_wrapper
      width: 960px
    .menu
      width: 780px

.header_wrapper
  margin-left: auto
  margin-right: auto
  font: 12px/20px "Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif
  background: #fff
  padding: 0 20px
  .logo
    float: left
    img
      margin-top: 2px
      border: none
      margin-right: 10px
  a
    text-decoration: none

#header-sub-nav
  list-style: none
  padding-left: 20px
  height: 28px
  background-color: #f2f2f2
  padding-top: 10px
  font: 12px/20px "Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif
  li
    display: none
  a
    float: left
    -webkit-border-radius: 11px
    -moz-border-radius: 11px
    border-radius: 11px
    border: 1px solid #f2f2f2
    color: #888
    display: block
    font-size: 1em
    margin-right: 15px
    padding: 2px 12px
    text-decoration: none
    height: 14px
    line-height: 14px
    &:hover
      border: 1px solid #ccc
      color: #444
      text-decoration: none
  li.current
    a
      border: 1px solid #D1D1D1
      background-color: #e3e3e3
      text-shadow: 1px 1px 0 #f0f0f0
      color: #444


.header_bottom
  background-color: #ddd
  height: 1px
  margin-bottom: 1em

.header_spacer
  background-color: #ddd
  height: 1px

.clear
  clear: both
  display: block
  overflow: hidden
  visibility: hidden
  width: 0
  height: 0

#header-nav
  margin: 0
  padding: 0
  list-style: none
  border-left: 1px solid #f0f0f0
  height: 45px
  float: left
  li
    display: inline
  a
    display: block
    float: left
    padding: 0 20px
    height: 45px
    line-height: 45px
    border-right: 1px solid #f0f0f0
    position: relative
    color: #888
    text-transform: uppercase
    font-weight: bold
    font-family: 'Droid Sans', Helvetica, Arial, sans-serif
    font-size: 12px
    &:hover
      color: #444
    &:active
      position: relative
      top: 1px
  li.current_active
    a
      color: #444
    span
      width: 19px
      height: 8px
      background: image-url("nav_arrow.png")
      position: absolute
      bottom: -1px
      left: 50%
      margin-left: -9px
  
.login, .support, .legend, .access_permissions_nav
  float: right
  color: #888
  height: 45px
  line-height: 45px
  position: relative
  margin-right: 10px
  a
    margin-right: 10px
    color: #888
    font-family: Helvetica, Arial, sans-serif
    font-size: 13px
    font-weight: bold
    padding: 10px 10px 11px
    &:hover
      color: #444
    &:active
      position: relative
      top: 1px
    &.current
      color: #444  
  ul
    list-style: none
    margin: 0
    padding: 0

.login
  margin-right: 0px

.legend
  table
    padding: 0 10px 10px 10px
    white-space: nowrap
    th
      padding: 0 5px
      font-size: 13px
      font-weight: bold
    td
      padding: 0 20px 0 10px
      .dashboard_legend_box
        float: left
      .dashboard_legend_item
        line-height: 22px
        clear: both


li.dropdown
  a
    padding-right: 20px
    background: image-url("menu_arrow.png") no-repeat right center
  &:hover a
    background: image-url("menu_arrow_hover.png") no-repeat right center
    color: #444    

  .dropdown-menu
    z-index: 2000

  .dropdown-menu li a
    color: #888
    background-image: none
    
  .dropdown-menu li a:hover
    color: #444    
  

.menu-dropdown, .dropdown-menu 
  background-color: #ffffff
  right: 0
  float: left
  display: none
  position: absolute
  top: 45px
  z-index: 900
  min-width: 220px
  max-width: 460px
  _width: 220px
  margin-left: 0
  margin-right: 0
  padding: 2px 0
  zoom: 1
  border-color: #999
  border-color: rgba(0, 0, 0, 0.2)
  border-style: solid
  border-width: 0 1px 1px
  -webkit-border-radius: 0 0 6px 6px
  -moz-border-radius: 0 0 6px 6px
  border-radius: 0 0 6px 6px
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2)
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2)
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2)
  -webkit-background-clip: padding-box
  -moz-background-clip: padding-box
  background-clip: padding-box

.menu-dropdown li, .dropdown-menu li
  float: none
  display: block
  background-color: none


.open .menu-dropdown, .dropdown.open .menu-dropdown, .open .dropdown-menu, .dropdown.open .dropdown-menu 
  display: block

