strong
  font-weight: bold

.filtered_results
  float: right
  padding: 0 5px
  height: 18px
  line-height: 18px
  margin-top: 4px
  background-color: #FFFED0
  font-size: 10px
  border: 1px solid #adac75
  color: #555
  text-transform: uppercase
  +border-radius(4px)


.clickable
  cursor: pointer

.list_header
  height: 100px
  h1
    margin-left: 15px
    margin-top: 20px
    
  .find_and_sort_stub
    form
      .submit
        +button
      button.expand
        background: #eee  image-url("menu_arrow_hover.png") no-repeat center center

  .box
    float: right
    border: 1px solid #ddd
    background: rgb(247, 247, 247)
    padding: 10px
    margin-right: 15px
    position: relative
    h3
      font-weight: bold
      border-bottom: 1px solid #ddd
      padding: 0 0 10px 0
      margin-bottom: 10px
  
.notice
  &.page_notice
    margin: 0 auto
    width: 600px
    padding: 25px
    text-align: center
    h2
      margin: 0

.data_sources
  padding: 0px 5px
  .data_sources_close
    padding-left: 5px
    color: #ccc
    font-size: 16px
    cursor: pointer

.sections
  .section
    border: 1px solid #eee
    margin-bottom: 5px
  .section_btn
    &.section_close
      display: none
    float: right
    padding-left: 10px
    color: #ccc
  .section_header
    margin: 0
    padding: 10px 15px
    background-color: #fdfdfd
    cursor: pointer
  .section_content
    display: none
    padding: 20px

#data_set_options_chzn
  margin-top: 3px
  margin-bottom: 0
  .spinning
    div
      margin-right: 3px
  
#find_and_sort_dialog
  +shadow(5px 5px 10px #888)
  position: absolute
  top: -1000px
  right: 65px
  width: 450px
  z-index: 1600
  border: 1px solid #bbb
  background: rgb(247, 247, 247)
  padding: 10px
  h3
    font-weight: bold
    border-bottom: 1px solid #ddd
    padding: 0 0 3px 0
  .close_button
    position: absolute
    right: 0px
    margin: -48px -15px 0 0
  form
    padding: 0 0
  .submit
    margin: 15px 0 0 0
    +button
  label.date_range_to
    text-align: center
    margin: 5px 0 5px 0
  select, input.entry
    width: 200px
    margin-bottom: 1em
  select.sort
    width: 170px

#search_controls
  margin: 0 0 20px 20px
  font-size: .8em
  .filter_col
    float: left
    margin-right: 25px
  label
    display: block
    line-height: 24px
  img
    float: right
    position: relative
    margin: -16px 0 0 0
    &.sort_handle_image
      margin-top: -18px
    &.sort_add_image
      margin-right: 16px
    &.sort_remove_image
      margin-right: 32px
  .search
    input
      width: 200px
      padding: 3px 3px
  .sort_by
    width: 465px
    line-height: 24px
    .ui-sortable-placeholder
      background: #cc99ff
    .sort_row
      margin: 5px 0
  .show
    input
      margin: 0 3px
  .submit

.result_count
  margin-left: 15px

.evcs_list, .ennis_list
  clear: both

.evc_separator
  margin: 0 15px
      
