.tab_content 
  display: none
  margin: 10px 25px
  ul, .table_target, .history
    clear: left

.active_content 
  display: block

.graphs_content
  h4
    margin: 0
    font-weight:bold
  ul
    clear: left
  li
    list-style: none
  .cos_wrapper
    margin-top: 20px
    &.section
      width: 100%
    .section_content
      padding: 0 0 10px 0
    h3
      text-shadow: none
      .dot
        margin-right: 5px
      a
        margin-top: -10px

  .graphs 
    .graph_wrapper
      +clearfix
      padding: 10px 10px 0 10px
      &.highlight_graph, 
        background-color: #FFFDEC !important
        .dygraph-ylabel
          background-color: #FFFDEC !important
      .hide_show_graph
        padding-left: 15px
        font-size: 12px
        &.closed
          padding-bottom: 10px
          border-bottom: 1px solid #eee
        .btn
          cursor: pointer
        .hide_graph
          display: none
          color: #ccc
        .show_graph
          margin-bottom: 15px
          span
            color: #888

    li
      clear: left
      .export_buttons
        display: none
        text-align: right
        padding-bottom: 10px
        margin: 0 28px 15px 0
      .graphs_container
        /* Fix issue with google charts and reset.css */
        table, td, th, tr
          vertical-align: top 
        .graph_loading
          margin: 0 auto
          width: 50px
          height: 200px
        .graph
          .template
            display: none
          .display_area
            border-bottom: 1px solid #eee
          .graph_container
            +clearfix
            float: left
            margin-left: 15px
            margin-bottom: 25px
            width: 275px
            .graph_legend
              float: right
              li
                float: left
                clear: none
          .graph_container.first
            margin-left: 0
          .graph_labels
            padding: 15px
            line-height: 1.5em
            font-size: .9em
          .show_hide_graph_button
            font-size: 10px
            float: right
            z-index: 1000
            margin: -5px 10px 0 0
          .dygraph-title
            font-size: 14px
            margin-right: 100px
            span
              color: #777
          .dygraph-ylabel
            font-size: 12px
            background-color: #fcfcfc
          .dygraph-xlabel
            font-size: 12px
            margin-top: 10px
            +clearfix
          .table
            padding-bottom: 15px
            border-bottom: 1px solid #aaa
            table
              td
                padding: 3px 5px
                text-align: right
                &.label
                  font-weight: bold
        .warning
          background-color: #bf0000
          color: #fff
        .ok
          background-color: #007f00
          color: #fff
        .minor
          background-color: #dcde32
        .major
          background-color: #ff8d20
          color: #fff
        .critical
          background-color: #ba2a2a
          color: #fff
        .no_data
          color: #111
        .server_error
          color: #bf0000
          font-weight: bold
        .label
          text-align: right
          padding: 8px 10px 8px 0
        .small_box
          padding: 5px 15px 15px 15px

#reports_content
  ul
    li
      background: image-url("adobe-acrobat-icon.png") no-repeat center left
      padding-left: 25px
      line-height: 25px

#events_content

  .event_date_range
    margin-top: -5px
    .date_range_input 
      margin: 0

  .notice
    font-size: 1.1em
    
  table.styled
    width: 100%
    .date_time
      width: 175px
    .status
      width: 175px
    .message
      width: 658px

  .arrow_spin
    background: image-url("arrow-spin.gif") no-repeat center left
    padding-left: 30px

  .time_display
    font-size: 14px
    margin: 5px 4px 10px 4px

  .submit_button
    margin-left: 10px
    margin-top: -3px
    
  .events_live
    margin-bottom: 25px

.dygraphDefaultAnnotation
  cursor: default

  