/* All the 100% to get google maps to tack 100% of vertical height */
#network-index
  height: 98%
  .list_header
    height: 35px
    h1
      margin-top: 5px
    .box
      margin-right: 5px
  .header_bottom
    margin-bottom: 4px

#network_filter_and_mode
  margin: 0 15px

#network_filter_and_mode_content
  position: absolute
  top: 129px
  right: 9px
  z-index: 1000

#search_address_input
  padding: 5px
  width: 200px

#search_address_results
  padding: 20px
  li
    margin: 5px 0

#find_and_sort_dialog
  right: 45px

#find_and_sort_dialog_network.network_box
  right: 20px

.help
  color: #999
  margin-right: 15px

#map_wrapper
  padding: 0 5px
  #map_container
    height: 100%
    padding: 6px
    border: 1px
    border-style: solid
    border-color: #CCC #CCC #999 #CCC
    #map
      width: 100%
      height: 100%

.map_path_count
  background: #555
  color: #fff
  width: 150px
  padding: 2px 5px
  text-align: center
  border: 1px solid #000

.map_infobox, .map_tooltip
  margin-top: 2px
  background: image-url('map_markers/info_window_pointer.gif') no-repeat 0 0

.map_tooltip_inner
  border: 1px solid #111
  background-color: #555
  +border-radius($default_radius)
  margin-top: 8px
  padding: 15px 15px 5px 15px
  color: #fff
  h3
    color: #fff
  .map_tooltip_container
    width: 300px
    td
      padding: 0 10px 10px 0
    .row_number
      vertical-align: middle
      .number
        +border-radius(15px)
        background-color: #6a6a6a
        color: #333
        font-weight: bold
        padding: 2px 9px

.map_infobox_inner
  border: 1px solid #111
  background-color: #fff
  +border-radius($default_radius)
  margin-top: 8px
  padding: 15px
  .map_marker_info
    width: 430px
    &:nth-child(n+2)
      border-top: 1px solid #999
      padding-top: 15px
    &.monitoring
      width: 500px
      table
        margin: 0 0 10px 0
        width: 100%
        th
          text-align: right
          line-height: 1.4em
          padding: 5px 10px 0 10px
        td
          text-align: right
          padding: 5px 10px 5px 10px
      .monitoring_date_range
        margin-left: 5px
        margin-bottom: 5px
      h3
        +clearfix
        margin-bottom: 5px
        margin: 0
        padding: 5px
        .dot
          margin-right: 5px
      h4 
        margin: 15px 0 5px 0
        padding-bottom: 5px
        border-bottom: 1px solid #ddd
        font-weight: bold
    +clearfix
    margin-bottom: 20px
    h2
      font-size: 16px
      font-weight: bold
      margin-top: 5px
    h3
      font-size: 14px
      line-height: 16px
      padding: 0
      margin: 15px 0 5px 0
    ul
      margin-bottom: 10px
      li
        +clearfix
        display: block
        label
          float: left
          color: #777
          margin-right: 5px
        span
          float: left
          display: block
    .submit_button
      margin: 4px 0 0 -1px
  .view_all_paths
    float: right

.map_tabs_container
  margin-top: 5px
  border-bottom: 1px solid #ccc
  .map_tabs
    list-style: none
    padding: 5px 0 2px 0
    margin: 0 0 0 10px
    li
      display: inline
      margin-right: 2px
      a
        padding: 5px 10px
        text-decoration: none
        outline: none
        color: #555
        &:hover
          font-weight: bold
      &.active a
        background-color: #fff
        padding: 5px 10px 6px 10px
        border: 1px solid #ccc
        border-bottom: none
        +border-radius(4px 4px 0 0)
        color: #212121
        font-weight: bold
      .dot
        margin: 0 3px -4px 0
        display: inline-block
        float: none


.map_tabs_content_wrapper
  margin-bottom: 10px
  padding: 10px
  .map_tab_content
    display: none
    &.active
      display: block
    .map_marker_info
      margin-bottom: 0
    .map_tab_section_content
      display: none
      .metrics
        td
          padding: 0
          div
            padding: 5px 10px
        a
          color: #fff
          &:hover
            text-decoration: underline
    .map_tab_section
      margin-bottom: 5px
      padding: 10px 15px
      border: 1px solid #ddd
      cursor: pointer
      h3
        padding: 0
    .exception_count
      display: inline-block
      padding: 0 2px
      +border-radius(2px)
      a
        color: #fff
    .warning
      background-color: #bf0000
      color: #fff
    .ok
      background-color: #007f00
      color: #fff  
    .minor
      background-color: #dcde32
      color: #fff  
    .major
      background-color: #ff8d20
      color: #fff  
    .critical
      background-color: #ba2a2a
      color: #fff  

// Note: height set in css
.no_streetview
  margin-top: 15px
  text-align: middle
  font-size: 14px
  padding: 10px
  background-color:  #333
  color: #fff