#paths-edit, #paths-update

  .clickable_during_edit
    cursor: pointer
    
  .diagram_wrapper
    padding-bottom: 15px
    +shadow(0 2px 2px #aaa)
    .segment_end_point_left, .segment_end_point_right
      cursor: default
  
  .form_wrapper
    width: 960px
    margin:  25px auto
    padding: 30px
    border:  1px solid #ccc
    fieldset
      border-top: 1px solid #ddd
      margin-bottom 15px
      padding: 0 0 15px 10px
      legend
        padding: 5px
      ul
        margin: 0
        li
          margin: 15px 0 0 0
      label
        display: block
        font-weight: bold
        font-size: 14px
        padding: 0 0 2px 0
        span
          font-weight: normal
      input
        padding: 8px
        width: 800px
        font-size: 16px
        &.attention
          background-color: $attention !important

    .submit_button
      margin: 10px 10px 0 0
