$on_net_width: 300px

.top_level_entity_wrapper
  margin: 0 20px
  padding: 0
  .toggle_mode, .reverse_diagram
    margin: 15px 25px 0 0
  .toggle_mode
    span
      width: 10px
      text-align: center    
  .reverse_diagram  
    .submit_button
      margin-top: 5px
      padding-right: 0px
  
.revisions_wrapper
  display: none
  margin: 20px 0 0 10px
  .section_header
    &.audit
      color: #ff8d20
    &.version
      color: #B94A48
    &.no_versions
      color: #aaa
  .section_content
    &.data_sources_content
      padding: 5px 25px 25px 25px
      table
        td
          padding: 0 10px
        .no_mismatch
          display: none
          td
            text-align: center
            border: none
            font: 18px/20px "Helvetica Neue", Helvetica, Arial, sans-serif
            padding-top: 20px
        .center
          font-weight: bold
          font-size: 18px
        select
          width: auto

    &.revision_audit_content
      padding: 25px
      .version_date
        color: #aaa
      table
        th
          padding-bottom: 5px
        td
          &.audit_different
            background-color: #FCFBD4
          &.authoritative_data_source
            font-weight: bold
    &.data_sources_history_content
      h4
        font-weight: bold
      .cleared_exceptions
        h4, td, th
          color: #777
          font-weight: normal

    .revision_comparison_content
      width: 100%
      th
        text-align: left
        font: normal 18px/24px "Helvetica Neue", Helvetica, Arial, sans-serif
        padding: 10px
        &:first-child
          padding-right: 40px
          border-right: 1px solid #ddd
        &.field_name
          xmin-width: 100px
          xmax-width: 300px
        &:xlast-child
          border-left: 1px solid #ddd

      td
        &:first-child
          white-space: nowrap        
          padding-right: 10px
          border-right: 1px solid #ddd
        &:xlast-child
          border-left: 1px solid #ddd
          padding-left: 40px

    table
      &.styled
        width: auto
        margin-bottom: 20px
        th
          line-height: 1.4em
        td
          &:last-child
            padding-right: 25px


table.evc_info, table.enni_info
  margin: 20px 0 0 10px
  border-collapse: separate
  border-spacing: 5px 0
  td
    padding: 5px 10px 10px 10px
    border: 1px solid #ddd
    border-radius: 4px
    -moz-border-radius: 4px
    -webkit-border-radius: 4px
    &.states
      width: 300px
    &.action
      background: #eee
      vertical-align: middle
      a
        text-decoration: underline
        color: #777
    &.attention
      background-color: $attention !important
    &.audit
      a
        color: #ff8d20
    &.version
      a
        color: #B94A48
    label
      float: left
      color: #777
      margin-right: 5px
    span
      float: left
    .state
      margin-top: 2px

.viewport
  position: relative // give position so offset parent works for .position()
    
.comments form
  padding: 5px 0 10px 0 !important
  textarea
    width: 100%
    height: 6ex
    margin-bottom: 5px
    display: block
    
.comment
  margin: 8px 0 4px 0
  border-bottom: solid 1px #D3D3D3
  
.comment_meta
  color: #888

.diagram_wrapper
  overflow: auto
  background-color: #fff
  padding: 0 15px 20px 9px
  margin: 0 0 0 12px
  &.sticky 
    position: fixed
    top: 0
    left: 0
    width: 100%
  .diagram
    $default_y : -1px
    table
      width: 100%
    label
      color: #888
    tr.diagram_graphics
      td
        position: relative
    tr.diagram_info
      .static_info
        vertical-align: bottom
      .component_group_left
        &.site
          margin-left: -63px
          button
            left: 10px
        &.node
          margin-left: -58px
          button
            left: 5px
      .component_group
        position: absolute
        button
          position: absolute
          margin-top: -11px
          padding: 3px 8px
          z-index: 5
      .component_group_right
        &.site
          margin-left: -84px
          button
            right: 10px
        &.node
          margin-left: -41px
          button
            right: 5px

      // Layer 3 diagrams have icons for segments so adjust box size accordingly
      .on_net_router
        .component_group
          &.site
            width: 279px
          &.node
            width: 233px
        .component_group_left
          &.site
            margin-left: -17px
          &.node
            margin-left: -12px
        .component_group_right
          &.site
            margin-left: -233px
          &.node
            margin-left: -190px

      .site
        margin-top: -53px
        width: 450px
        height: 90px
        border: 1px dashed #bbb
      .node
        margin-top: -28px
        width: 404px
        height: 60px
        border: 1px solid #bbb

    tr.data_set_row
      display: none
    td
      max-width: 600px
    td.data_set_cell
      text-align: center
      vertical-align: top
      padding-top: 10px
      &.on_net_router
        // by default overlap to left and right
        .block
          position: relative
          width: 200px
          margin-left: -100px
          margin-right: -100px
          z-index: 5
        .provider_logo
          position: relative
        // overlap to right by 100px
        &.overlap_right
          .block
            margin-left: 0
            margin-right: -176px
          .provider_logo
            margin-right: -50px
        // overlap to left
        &.overlap_left
          .block
            margin-left: -176px
            margin-right: 0
          .provider_logo
            margin-left: -50px


      &.static_info
        position: relative
      &.vertical_line_info
        position: static
        vertical-align: top !important
      .vertical_diagram_line
        position: absolute
        width: 16px
        border-left: 1px solid #111
        border-right: 1px solid #111
        border-color: rgba(0, 0, 0, 0.25)
        z-index: 10
        &.on_net
          border-style: dashed
      .entity_info
        padding-top: 10px
        span
          font-weight: bold
          color: #111
      &.redacted_info
        text-align: left
        padding-left: 35px
        .provider_logo
          text-align: center
          margin: 0 10px 0 0
      // move injection indicator up so it displays above the node box
      .component_groups 
        ~ .injection_reflection_indicators
          img
            position: absolute
            margin-top: -13px
          .reflection_indicator
            img
              left: 50%
        ~ .monitoring_indicator
          img
            position: absolute
            margin-top: -39px
            left: 30%          
      .reflection_indicator
        // so hover works when it is inclosed by a component group 
        position: relative
        text-align: center
        line-height: 12px
        z-index: 3
      .reflection_indicator_right
        text-align: right
      .reflection_indicator_left
        text-align: left
      .injection_indicator
        display: inline
        text-align: center
        line-height: 16px
        z-index: 3
      .monitoring_indicator
        position: relative
        z-index: 3
    td.redacted_entity_before    
      background: #fff image-url("redacted_ovc_before.png") no-repeat right top 
      padding: 5px 45px 4px 1px
      vertical-align: middle
      text-align: right
      min-width: 300px
    td.redacted_entity_after
      background: #fff image-url("redacted_ovc_after.png") no-repeat left top
      padding: 5px 1px 4px 45px
      vertical-align: middle
      min-width: 300px
    td.entity
      text-align: center
      vertical-align: middle
      &.data_url_present
        cursor: pointer
      &.site
        width: $on_net_width
        .component
          background-image: image-url("site_bg.png")
        &.segment
          .transparent
            .service_provider
              span
                background-color: #ccc
      &.segment
        min-width: 300px
        background: none
        padding: 5px 2px 6px 1px
        .component
          width: 100%
          height: 18px
          border: 1px solid #000
          border-color: rgba(0, 0, 0, 0.25)
          &.multi_end_point
            width: 50%
            &.right
              float: right
            &.left
              float: left
        &.on_net
          position: relative
          width: $on_net_width
          .component
            background-image: image-url("site_bg.png")
            border-style: dashed
          &.segment
            .transparent
              .service_provider
                span
                  background-color: #ccc
        &.on_net_router
          min-width: 27px
          width: 27px
          background: transparent image-url("demarc/router.png") no-repeat 0 0
      &.segment_end_point_left
        min-width: 27px
        width: 27px
        background: #fff image-url("end-point-left.png") no-repeat left top
        &.on_net_router_sub_if
          width: 176px
          background: #fff image-url("end-point-left.large.png") no-repeat right top
      &.segment_end_point_right
        min-width: 29px
        width: 29px
        background: #fff image-url("end-point-right.png") no-repeat right top
        &.on_net_router_sub_if
          width: 176px
          background: #fff image-url("end-point-right.large.png") no-repeat right top
      &.demarc
        min-width: 29px
        width: 29px
        background: #fff image-url("enni.png") no-repeat left top
      &.demarc_icon
        border: none
        outline: none
        background: transparent image-url("demarc/building.png") no-repeat 0 0
      &.enni_icon
        background: transparent image-url("enni.png") no-repeat 0 0
      &.internet_icon
        background: transparent image-url("demarc/internet.png") no-repeat 0 0
      &.router_icon
        background: transparent image-url("demarc/router.png") no-repeat 0 0
      &.sbc_icon
        background: transparent image-url("demarc/sbc.png") no-repeat 0 0
      &.mw_site_icon
        background: transparent image-url("demarc/sbc.png") no-repeat 0 0
      &.building_icon
        background: transparent image-url("demarc/building.png") no-repeat 0 0
      &.voip_icon
        background: transparent image-url("demarc/voip.png") no-repeat 0 0
      &.vpn_icon
        background: transparent image-url("demarc/vpn.png") no-repeat 0 0
      &.cell_site_icon
        background: transparent image-url("demarc/cell_site.png") no-repeat 0 0
      &.test_head_icon
        background: transparent image-url("demarc/test_head.png") no-repeat 0 0
      &.switch_icon
        background: transparent image-url("demarc/switch.png") no-repeat 0 0
      &.building_enni_left_icon
        background: transparent image-url("demarc/building_enni_left.png") no-repeat 0 0
      &.building_enni_right_icon
        background: transparent image-url("demarc/building_enni_right.png") no-repeat 0 0

      // cannot have hover tipsy and click tipsy on same element
      // use entity_help for help_on_hover
      .entity_help
        display: block
        width: 100%
        height: 100%

    .service_provider
      font-size: 1.3em
      line-height: 1.2em
      color: #fff
      span
        padding: 0 3px
    .transparent
      .service_provider
        color: #777
        
    .attention
      background-color: $attention !important
      .service_provider
        color: #111
    
    .component_groups
      height: 68px
      width: 1px
      
    .data_set
      z-index: 500
      background: #fff image-url("data-set-pointer.png") no-repeat center top 
      background-color: rgba(255, 255, 255, 0.9)
      padding-bottom: 15px
      .address
        label
          float: left
          margin-right: 3px
        p
          float: left
          font-weight: bold
      h3
        margin: 0
        padding: 0
      h4
        margin: 0
        padding: 0
      .section
        margin-bottom: 10px
      p
        margin: 0
    .with_pointer
      padding-top: 18px
      .block
        padding-bottom: 5px
        border-bottom: 2px solid #E5E5E5
    .pointer_on_left
      .with_pointer
        background: #fff image-url("data-set-pointer-left.png") no-repeat left top 
    .pointer_on_right
      .with_pointer
        background: #fff image-url("data-set-pointer-right.png") no-repeat right top 
    .block
      display: inline-block
      margin: 0 auto
      text-align: left
      max-width: 380px
      li.indent
        ul
          margin: 3px 0 10px 10px

    .vlan
      margin-right: 2px
      background: #fff image-url("preserv.png") no-repeat left center
      span
        background-color: #fff
        padding: 0 5px          
      .vlan_arrow_head
        margin-right: -2px
        background: transparent image-url("preserv-arrow-head.png") no-repeat right center
    .all_to_one_bundle
      display: inline-block
      margin: 2px 0 0 0
      +border-radius(3px)
      background-color: #333
      width: 15px
      height: 15px
      color: #fff
      font-size: 15px
      cursor: pointer
    .encap
      background: #fff image-url("encap.png") no-repeat right center
    .decap
      background: #fff image-url("decap.png") no-repeat left center
    .preserv
      margin-right: 2px
      background: #fff image-url("preserv.png") no-repeat left center
      .preserv_arrow_head
        margin-right: -2px
        background: transparent image-url("preserv-arrow-head.png") no-repeat right center
    .encap, .decap, .preserv
      span
        background-color: #fff
        padding: 0 5px
    .positioned
      .data_set_cell
        .data_set
          position: absolute
          width: 250px
          &.max_width
            position: relative
      &.circuit_path_view
        .data_set_cell
          .data_set
            width: auto
            min-width: 150px
          &.on_net_router
            .data_set
              min-width: 27px
              .vlan
                position: absolute
                width: 200px
            
      &.bandwidth_view
        .data_set_cell
          .data_set
            width: auto
            min-width: 150px
            max-width: 180px
      &.monitoring_state_view, &.ordering_state_view, &.inventory_state_view
        .data_set_cell
          .data_set
            width: auto
            min-width: 110px
    
.evc_details
  .diagram_wrapper
    .diagram
      td.data_set_cell
        &.on_net_router        
          .component_groups
            height: 110px
          .provider_logo 
            position: absolute     

.tipsy
  max-width: 1175px

.diff
  overflow: auto
  font-family: courier
  ul
    background: #fff
    overflow: auto
    font-size: 13px
    list-style: none
    margin: 0
    padding: 0
    display: table
    width: 100%
  del, ins
    display: block
    text-decoration: none
  li
    padding: 0
    display: table-row
    margin: 0
    height: 1em
    &:hover
  .changed
    background: #DFD
  .ins
    background: #DFD
  .del
    background: #FDD
    del, ins, span
  tr.unchanged
    /* display: none */
  .unchanged
    background: #fff  
    /* white-space: pre-wrap */
  del strong
    font-weight: normal
    background: #fcc
  ins strong
    font-weight: normal
    background: #9f9
  li
    &.diff-comment
      display: none
    &.diff-block-info
      background: none repeat scroll 0 0 gray

table.diff
  td.ins, td.del, td.unchanged
    padding: 5px 10px
    width: 45%
  p
    margin-bottom: 0

// Hide view enni link if already on enni page, cannot be done in ennis/index.sass
.ennis_page
  .tipsy-inner
    .view_enni
      display: none

.entity_details
  margin: 0 25px 0 5px
  .entity_content
    background: #FCFCFC
    border: 1px solid #DDD
    padding: 15px
    clear: both
    margin-top: 10px
  .toggle_mode
    margin-top: -62px !important

.entity_details, .tipsy-inner
  font-size: 12px
  color: #111
  .ui-widget
    font-size: 12px
  .header
    background: transparent
    border: none
    padding: 0
    color: #fff
    .provider_logo
      float: right
      width: 100px
      height: 26px
    .submit_button
      float: right
    .title 
      float: left
      h2
        float: none
      .entity_info
        margin-left: 3px
        label
          color: #777
        span
          color: #111
      
  h2
    color: #333
    font-size: 1.2em
    font-weight: bold
    line-height: 1.2em
    float: left
    margin: 0 0 0 3px
    span
      font-weight: normal
  h3
    clear: both
    margin: 10px 0 0 0
    padding: 4px 8px 6px 8px
    font-size: 1.1em
    line-height: 1.2em
    +border-radius($default_radius $default_radius 0 0)
    background: #ccc
    color: #333
    text-shadow: 1px 1px 0px #dedede
  .list
    +bubble-list
    .edit_state
      margin: 10px 0 5px 0
      +clearfix
      .current_state
        float: left
        margin-bottom: 0
        div
          padding: 8px 0
      .next_state
        float: left
        margin-bottom: 0
        margin-left: 20px
        h4
          font-weight: normal
      .message
        clear: left
        margin-right: 15px
        &.successful
          color: #278B1F
        &.error
          color: #CE0023

      h4
        border-bottom: 1px solid #999
        padding-bottom: 5px
        margin-bottom: 5px

  .state_content_wrapper
    table.ordering_state
      td
        width: 50%

  table
    width: 100%
    td
      &.first
        padding: 0 10px 0 0

  #order_field_update
    label
      display: block
    input
      font-size: 14px
    .submit_button
      float: right
      margin-top: -1px
    .error
      color: #CE0023
  
  #attributes_content
    .order_form
      h4
        font-weight: bold
        font-size: 25px
        line-height: 30px
        margin-bottom: 10px
        border-bottom: 2px solid #333
      h5
        padding-top: 7px
        font-size: 16px
      div
        margin: 0
      .no_value
        display: none
      label
        margin-right: 10px
        &:after
          content: ':'
      span
        &.order_field_delimiter
          border: none
          em
            padding-right: 1px
            font-size: 12px

  #output_content
    .order_form
      padding: 10px 0 10px 0
      h4
        font-weight: bold
        font-size: 25px
        line-height: 30px
        text-align: center
        padding-bottom: 10px
        margin-bottom: 10px
        border-bottom: 2px solid #333
      h5
        padding-bottom: 7px
        font-size: 16px
        border-bottom: 1px solid #888
        &.no_border
          border: none
      .order_heading
        padding-top: 12px
        h5 
          padding: 0
          display: inline
          border: none
      .order_form_section
        border-bottom: 1px solid #888
        padding-bottom: 3px
        margin-bottom: 2px
        li
          +clearfix
          padding-bottom: 5px
          .right
            float: right
          .laf_wrapper, .order_heading
            float: left
            margin-right: 10px
            .nospace
              margin: 0
            .wide
              span
                width: 20px
            .hide_label
              label
                display: none
            label
              display: block
              padding-left: 1px
              font-size: 11px
              line-height: 13px
            span
              +inline-block
              padding: 0 2px
              border-bottom: 1px solid #888
              border-left: 1px solid #888
              border-right: 1px solid #888
              font: 14px/16px "Courier New", Courier, monospace
              &.highlight
                background-color: #FFFDDF
              &.order_field_delimiter
                border: none
                em
                  padding-right: 2px
                  font-size: 12px
            .editable
              span
                background-color: #D5F3D7
                cursor: pointer
              



  div.tipsy_container
    +bubble-list
    margin: 0
    padding: 8px
    min-width: 250px
    background: #fff
    border: 1px solid #ddd
    border-top: none
    color: #111
    +border-radius(0 0 $default_radius $default_radius)
  .clearfix
    padding: 0
    background: transparent
    border: none
  .ui-tabs 
    background: none
    border: none
    .ui-tabs-hide
      display: none
  .toggle_mode
    margin: 8px 0 0 0
    float: right
    span
      width: 10px
      text-align: center    
   
  .buttons_section
    margin: 13px 0 0 0
  .provisioning_state_update
    display: inline-block
    .message
      width: 200px
      &.successful
        color: #278B1F
      &.error
        color: #CE0023
      
  .genconfig_close
    margin-left: 5px
  .submit_order
    margin-left: 10px
  .genconfig
    margin-top: 8px
  .genconfig_text
    margin-top: 10px
    background: #eee
    border: 1px solid #ddd
    padding: 15px
  .address
    label
      float: left
      margin-right: 3px
    p
      float: left
      margin: 0
  .order_history
    li
      margin-bottom: 6px
  li.indent
    ul
      margin: 3px 0 10px 10px
  .tabs
    .ui-tabs-nav 
      background: transparent
      border: none
      .ui-state-default
        background: #DAD9D6
        &:first-child
          margin-left: 3px
      .ui-state-active
        background: #fcfcfc
        border-color: #ddd
      .ui-tabs-selected
        padding-bottom: 2px
      li
        a
          padding: 5px 10px
    ul
      background: #fcfcfc
      border: 1px solid #ddd
      .section
        float: left
        margin: 5px 15px 0 0
        font-size: 0.9em
        h4
          font-size: 1.2em
          font-weight: bold
          margin: 0
      ul
        border: none
dl.evc_info, dl.enni_info
  dt
    width: 100px
    text-align: right
    color: #999
    float: left
    clear: left
  dd
    color: #333
    float: left
    margin-left: 3px
  .highlight
    color: #3399ff

#paths-show, #paths-monitoring
  #path_details
    border: 1px solid #bfbeb7
    -moz-border-radius: 5px
    border-radius: 5px
    padding: 10px
    background-color: #EAE8E5
    margin: 0 5px

  #contents
    overflow: auto

  #arrow_pointing_space
    height: 15px

  #details_pointer
    width: 24px
    height: 127px
    position: absolute
    background-image: image-url('details_pointer.png')
    display: none

  .loading_gif
    text-align: center

  #main
    position: relative

  #bubble_header
    padding: 5px 25px

  #title
    font-weight: bold 
    font-size: 20px
    float: left
    width: 200px

  #footer
    position: absolute
    bottom: 0
    width: 100%

  dl.evc_info, dl.enni_info
    line-height: 1.3em
    margin: 0 0 1em 0
    dt
      width: 150px
