// border radius mixin
=border-radius($radii)
  -webkit-border-radius: $radii
  -moz-border-radius: $radii
  -ms-border-radius: $radii
  -o-border-radius: $radii
  border-radius: $radii

=clearfix
  *display: inline-block
  &:after
    content: " "
    display: block
    height: 0
    clear: both
    visibility: hidden

$default_radius: 5px
$default_shadow: 1px 1px 3px #aaa
$table_dark: #c2baac
$dark_grey: #dddddd
$link_blue: #4083A9
$attention: #FDFFB6

@import reset.sass
@import legend.sass
@import buttons.sass
@import state_colors.sass
@import dashboard_components.sass
@import monitoring.sass
@import base.sass

table
  -fs-table-paginate: paginate

thead
  display: table-header-group

.dashboard_sub_title
  letter-spacing: 0