.monitoring.status_text, .provisioning.status_text, .ordering.status_text
  +border-radius($default_radius)
  color: #fff
  text-transform: uppercase
  letter-spacing: 0.15em
  padding: 3px 5px
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25)
  font-size: 0.75em
  white-space: nowrap


.dashboard_legend_box
  text-align: center
  color: #fff
  line-height: 16px
  font-style: italic
  font-family: serif


td .dashboard_legend_box
  float: none

// Ordering states
.ordering
  &.submitted
    background-color: #ffe6c8 !important
  &.created
    background-color: #ffe6c8 !important
  &.ready_to_order
    background-color: #ffd2a1 !important
  &.received
    background-color: #ffc26e !important
  &.order_accepted
    background-color: #e6a043 !important
  &.design_complete
    background-color: #b66a27 !important
  &.provisioned
    background-color: #bc9248 !important
  &.tested
    background-color: #997f5b !important
  &.customer_accepted
    background-color: #68563d !important
  &.delivered
    background-color: #432e0f !important
  &.rejected
    background-color: #aaaaaa !important
  &.cancelled
    background-color: #777777 !important


// Provisioning states
.provisioning
  &.maintenance
    background-color: #858585 !important
  &.requested
    background-color: #b591f8 !important
  &.pending
    background-color: #d9d9d9 !important
  &.designed
    background-color: #c5d3fa !important
  &.testing
    background-color: #c5e8fa !important
  &.ready
    background-color: #009ddb !important
  &.live
    background-color: #0c60b7 !important
  &.deleted
    background-color: #000000 !important
  &.fallout
    background-color: #ba2a2a !important


// Provisioning states
.monitoring
  &.no_state
    background-color: #333333 !important
    color: #333333 !important
  &.maintenance
    background-color: #858585 !important
    color: #858585 !important
  &.not_live
    background-color: #d9d9d9 !important
    color: #d9d9d9 !important
  &.not_monitored
    background-color: #74a1ae !important
    color: #74a1ae !important
  &.unavailable
    background-color: #640d0d !important
    color: #640d0d !important
  &.failed
    background-color: #ba2a2a !important
    color: #ba2a2a !important
  &.warning
    background-color: #ff8d20 !important
    color: #ff8d20 !important
  &.dependency
    background-color: #dcde32 !important
    color: #dcde32 !important
  &.ok
    background-color: #609c25 !important
    color: #609c25 !important

span.monitoring_text
  font-weight: bold
  &.no_state
    color: #333333 !important
  &.maintenance
    color: #858585 !important
  &.not_live
    color: #d9d9d9 !important
  &.not_monitored
    color: #74a1ae !important
  &.unavailable
    color: #640d0d !important
  &.failed
    color: #ba2a2a !important
  &.warning
    color: #ff8d20 !important
  &.dependency
    color: #dcde32 !important
  &.ok
    color: #609c25 !important

// Alarm states
.alarm
  &.no_state
    background-color: #333333 !important
  &.maintenance
    background-color: #858585 !important
  &.not_live
    background-color: #d9d9d9 !important
  &.not_monitored
    background-color: #74a1ae !important
  &.unavailable
    background-color: #640d0d !important
  &.failed
    background-color: #ba2a2a !important
  &.warning
    background-color: #ff8d20 !important
  &.dependency
    background-color: #dcde32 !important
  &.ok
    background-color: #609c25 !important

    
.editing
  background-color:  #222222 !important

.map_marker
  &.eth
    background-color: #ff6699 !important
  &.dnr
    background-color: #7dd97c !important
  &.rs
    background-color: #00549f !important
  &.rn
    background-color: #a6a6a6 !important
  &.mh
    background-color: #ffff00 !important
  &.fan
    background-color: #ff0000 !important
  &.sn
    background-color: #ffffff !important
  &.nm
    background-color: #65A7B8 !important

.line
  &.on_net
    background-color: #004FFF !important
  &.off_net
    background-color: #6F3700 !important
  &.msc
    background-color: #000 !important

.site
  &.agg_site
    background-color: #bbbbbb !important
  &.wdc
    background-color: #0099FF !important
  &.gateway_site
    background-color: #E7D600 !important


// Note: This must stay at bottom so it overrides other colors
.fallout_exception_type
  &.version
    background-color: #ba2a2a !important
  &.audit
    background-color: #ff8d20 !important
  &.build
    background-color: #ba2a2a !important

.fallout_category
  &.ready_to_order
    background-color: #a9df00 !important
  &.ready_to_order_evc
    background-color: #010f85 !important

  &.aav_uploaded
    background-color: #010f85 !important
  &.aav_nni
    background-color: #0417ba !important
  &.aav_vlan
    background-color: #085dba !important
  &.aav_cir
    background-color: #0894ba !important
  &.ipa_nni_status
    background-color: #a14800 !important
  &.ipa_nni
    background-color: #d46000 !important
  &.ipa_vlan
    background-color: #d47f05 !important
  &.ipa_cir
    background-color: #d49803 !important
  &.built_on_ipa
    background-color: #d4aa02 !important
  &.ipa_xc
    background-color: #d4bf00 !important
  &.ipa_bfd
    background-color: #d4cf00 !important
  &.ipa_ip_interface
    background-color: #c0d400 !important
  &.ipa_static_route
    background-color: #a9d400 !important

  &.samsung_uploaded
    background-color: #0417ba !important
  &.samsung_nrm_uploaded
    background-color: #0417ba !important
  &.samsung_cir
    background-color: #010f85 !important
  &.samsung_nrm_cir
    background-color: #010f85 !important
  &.samsung_topology
    background-color: #085dba !important
  &.samsung_nrm_topology
    background-color: #085dba !important
  &.samsung_nrm_topology
    background-color: #085dba !important
  &.samsung_se1200-1_vlan
    background-color: #0894ba !important
  &.samsung_se1200-2_vlan
    background-color: #a14800 !important
  &.samsung_aav
    background-color: #d46000 !important
  &.samsung_mw_site
    background-color: #d47f05 !important
  &.samsung_nrm_mw_site
    background-color: #d47f05 !important
  &.samsung_q-scope_vlan_-_primary
    background-color: #010f85 !important
  &.samsung_q-scope_vlan_-_alternate
    background-color: #0417ba !important

  &.yoigo_ll_site_destination_service_id
    background-color: #0417ba !important
  &.yoigo_mw_site_destination_service_id
    background-color: #0417ba !important
  &.yoigo_ll_destination_service_type
    background-color: #010f85 !important
  &.yoigo_mw_destination_service_type
    background-color: #010f85 !important
  &.yoigo_ll_capacity
    background-color: #085dba !important
  &.yoigo_mw_capacity
    background-color: #085dba !important
  &.yoigo_ll_site_name_origin
    background-color: #0894ba !important
  &.yoigo_mw_site_name_origin
    background-color: #0894ba !important
  &.yoigo_ll_service_provider_id
    background-color: #a14800 !important
  &.yoigo_mw_capacity
    background-color: #085dba !important
  &.tellabs_id
    background-color: #c0d400 !important
  &.rbs_oam_ip_subnet
    background-color: #d47f05 !important
  &.rbs_iub_ip_subnet
    background-color: #d47f05 !important

  &.order_accepted
    background-color: #010f85 !important
  &.order_accepted_evc
    background-color: #0417ba !important
  &.order_provisioned
    background-color: #085dba !important
  &.order_delivered
    background-color: #0894ba !important
