.tipsy
  padding: 15px
  font-size: 12px
  position: absolute
  z-index: 100000
  overflow: visible

.tipsy-close
  position: absolute
  right: -1px
  top: 0
  height: 30px
  width: 30px
  cursor: pointer
  z-index: 500

.tipsy-inner, .entity_details
  background: #EAE8E5
  padding: 15px
  text-align: left
  +border-radius($default_radius)
  border: 1px solid #B6B5B3
  color: white

.tipsy-arrow
  position: absolute
  background: image-url('tipsy-north.png') no-repeat top left
  width: 30px
  height: 15px

.tipsy-n .tipsy-arrow
  top: 2px
  left: 50%
  margin-left: -10px

.tipsy-nw .tipsy-arrow
  top: 2px
  left: 20px

.tipsy-nl .tipsy-arrow
  top: 2px
  left: 140px

.tipsy-ne .tipsy-arrow
  top: 2px
  right: 20px

.tipsy-nr .tipsy-arrow
  top: 2px
  right: 140px

.tipsy-s .tipsy-arrow
  bottom: 2px
  left: 50%
  margin-left: -10px
  background-position: bottom left
  background: image-url('tipsy-south.png') no-repeat top left

.tipsy-sw .tipsy-arrow
  bottom: 2px
  left: 20px
  background-position: bottom left
  background: image-url('tipsy-south.png') no-repeat top left

.tipsy-sl .tipsy-arrow
  bottom: 2px
  left: 140px
  background-position: bottom left
  background: image-url('tipsy-south.png') no-repeat top left

.tipsy-se .tipsy-arrow
  bottom: 2px
  right: 20px
  background-position: bottom left
  background: image-url('tipsy-south.png') no-repeat top left

.tipsy-sr .tipsy-arrow
  bottom: 2px
  right: 140px
  background-position: bottom left
  background: image-url('tipsy-south.png') no-repeat top left

.tipsy-e .tipsy-arrow
  top: 50%
  margin-top: -4px
  right: 0
  width: 5px
  height: 9px
  background-position: top right

.tipsy-w .tipsy-arrow
  top: 50%
  margin-top: -4px
  left: 0
  width: 5px
  height: 9px
