= form_tag(@form_action, :method => "PUT") do
  - order_member_handle = @order.path.member_handle_for_owner_object(@current_user.service_provider).try(:value)

  -# Delete Order by Buyer            
  - if @order.can_be_deleted_by_role?(@current_operator_network)
    .container_12
      .banner.alert
        - order_type, confirm_message = if @order.change_order?
          - ["Change Order", "Are you sure you want to delete this change order? The existing order of #{@order.segment_service_rate} Mbps will not be deleted."]
        - else
          - ["Order", "Are you sure you want to delete this order?"]
        %h2
          = "#{order_type} has been #{@order.order_name}."
        = link_to "Delete #{order_type}", coresite_order_path(@order.id), confirm: confirm_message, method: :delete, :class => 'submit_button activity negative danger blocking', :title => "Delete #{order_type}", 'data-blocking_message' => "<h1>Deleting #{order_type}.</h1><h2>This may take a moment.</h2>"

  .container_12.coresite_form
    .grid_12
      = render :partial => 'shared/flash_message'
    .grid_12
      %h2 
        %strong
          = order_member_handle.blank? ? 'Order' : order_member_handle

      - if (@order.path_id)            
        .view_path
          = link_to "View #{get_term(:path)}", paths_path(:path_details => @order.path_id), :class => 'submit_button activity'

      %table.coresite_table
        %tbody
          %tr
            %td.label State
            %td.states
              %span.state.dot{'class' => "#{@order.order_state_class}"}
              %span.state_text
                = @order.get_order_name

          %td.label Type:
          %td.value
            = @order.action


          - if (@order.path_id)            
            - member_handles = coresite_role ? provider_member_handles(@order.path) : other_provider_member_handles(@order.path)
            - member_handles.each do |member_handle|
              %tr
                %td.label #{member_handle[:label]}:
                %td.value 
                  = member_handle[:value]

  .container_12.coresite_form
    .grid_6.buyer
      %h2 Buyer
      %table.coresite_table
        %tbody
          %tr
            %td.label #{get_term(:site)}:
            %td.value 
              = @order.buying_operator_network.site_name
              %input{:name => 'buying_site', :value => @order.buying_operator_network.try(:site).try(:id), :class => "hidden"}

          %tr
            %td.label #{get_term(:service_provider)}:
            %td.value
              #{@order.buying_operator_network.tenant_name}
              %input{:name => 'buying_operator_network', :value => @order.buying_operator_network.try(:id), :class => "hidden"}

          -# Do not show buying port info to target tenant
          - if coresite_role || @order.buying_role(@current_operator_network)
            %tr
              %td.label #{get_term(:enni)}:
              %td.value 
                = @order.buying_enni.port_names
                %input{:name => 'buying_port', :value =>@order.buying_enni.try(:id), :class => "hidden"}
            %tr
              %td.label Phy Type:
              %td.value #{@order.buying_enni.physical_medium}
            %tr
              %td.label Provisioned Bandwidth:
              %td.value #{@order.buying_enni.coresite_provisioned_bandwidth} Mbps
            %tr
              %td.label VLAN:
              -# TODO: Get VLAN for real
              %td.value 
                = @order.buying_end_point.vlan
                %input{:name => 'buying_vlan', :value => @order.buying_end_point.vlan, :class => "hidden"}


    .grid_6.target
      %h2 Target
      %table.coresite_table
        %tbody
          %tr
            %td.label #{get_term(:site)}:
            %td.value 
              = @order.target_operator_network.site_name
              %input{:name => 'target_site', :value => @order.target_operator_network.try(:site).try(:id), :class => "hidden"}

          %tr
            %td.label #{get_term(:service_provider)}:
            %td.value 
              #{@order.target_operator_network.tenant_name}
              %input{:name => 'target_operator_network', :value => @order.target_operator_network.try(:id), 'data-dependent' => '.target_port', :class => "parent_select target_operator_network_select require hidden"}


          - if target_end_point = @order.target_end_point 
            - if coresite_role || @order.target_role(@current_operator_network)
              -# Do not show target port info to buying tenant          
              %tr
                %td.label #{get_term(:enni)}:
                %td.value 
                  = @order.target_enni.port_names
                  %input{:name => 'target_port', :value => @order.target_enni.try(:id), :class => "hidden"}

              %tr
                %td.label Phy Type:
                %td.value #{@order.target_enni.physical_medium}
              %tr
                %td.label Provisioned Bandwidth:
                %td.value #{@order.target_enni.coresite_provisioned_bandwidth} Mbps
              %tr
                %td.label VLAN:
                %td.value 
                  = target_end_point.vlan
                  %input{:name => 'target_vlan', :value => target_end_point.vlan, :class => "hidden"}

          - elsif @order.can_be_accepted_by_role?(@current_operator_network)
            -# Target is accepting order, instead of Auto Connect
            %tr.input
              %td.label #{get_term(:enni)}*:
              %td.value
                = select_tag "target_port", [], 'data-url' => _ennis_select_coresite_orders_path({:selected => params[:target_port]}), 'data-dependent' => '.target_phy_type_string, .target_provisioned_bandwidth_string', :class => "port target_port parent_select required"
            %tr.input
              %td.label Phy Type:
              %td.value
                .target_phy_type_string{'data-url' => _phy_type_coresite_orders_path}
            %tr.input
              %td.label Provisioned Bandwidth:
              %td.value
                .target_provisioned_bandwidth_string{'data-url' => _provisioned_bandwidth_coresite_orders_path} 
            %tr.input
              %td.label VLAN*:
              %td.value 
                = text_field_tag "target_vlan", params[:target_vlan], :class => "required digits"
                %a.inline_button.choose_next_available_vlan{:href=>'#', 'data-url' => _next_available_vlan_coresite_orders_path} Use next available

  -# Don't allow the following to update member handles: Coresite, during change requests or during Accepting of a Change order
  - unless coresite_role || @action == :change || (@order.can_be_accepted_by_role?(@current_operator_network) && @order.action != 'New')
    .container_12.coresite_form  
      .grid_12
        %h2 #{get_term(:path)}
        %table.coresite_table
          %tbody
            %tr.input
              %td.label #{@current_operator_network.tenant_name}'s ID*:
              %td.value 
                = text_field_tag "order_member_handle", params[:order_member_handle] ? params[:order_member_handle] : order_member_handle, :class => 'path_name required'

  .container_12.coresite_form
    %h2 Requested Service
    .grid_4
      %table.coresite_table
        %tbody
          - if @action == :change
            %tr.input
              %td.label Service Rate*:
              %td.value.input.service_rate
                = select_tag "service_rate", options_for_select(service_rate_options(@order.buying_enni), @order.service_rate), :class => "required"
            %tr.input
              %td.label Requested Service Date:
              %td.value
                - requested_service_date = Date.today
                = requested_service_date.to_formatted_s(:long)
                %input{:name => 'requested_service_date', :value => requested_service_date.to_formatted_s(:requested_service_date), :class => "hidden"}

          - else
            %tr
              %td.label Service Rate:
              %td.value 
                = "#{@order.service_rate} Mbps"
                %input{:name => 'service_rate', :value => @order.service_rate, :class => "hidden"}

            %tr
              %td.label Requested Service Date:
              %td.value 
                = @order.requested_service_date.to_formatted_s(:long)
                %input{:name => 'requested_service_date', :value => @order.requested_service_date.to_formatted_s(:requested_service_date), :class => "hidden"}

          - if @order.can_be_accepted_by_role?(@current_operator_network) || @action == :change
            %tr.input
              %td
                &nbsp;
              %td.value 
                - if @order.can_be_accepted_by_role?(@current_operator_network)
                  - if @order.change_order?
                    %span.submit_button.activity.primary.check_available_bandwidth_and_vlan{'data-url' => _check_available_bandwidth_coresite_order_path(@order.id)} Check Available Bandwidth
                  - else
                    %span.submit_button.activity.primary.check_available_bandwidth_and_vlan{'data-url' => _check_available_bandwidth_and_vlan_coresite_orders_path(@order ? {order_id: @order.id} : {})} Check Available Bandwidth and VLAN
                - elsif @action == :change
                  %span.submit_button.activity.primary.check_available_bandwidth_and_vlan{'data-url' => _check_available_bandwidth_coresite_order_path(@order.id)} Check Available Bandwidth
                .check_available_bandwidth_and_vlan_message


    .grid_8
      %table.coresite_table.col
        %tbody
          %tr
            %td 
              %strong SLA
          %tr
            %td.value
              = render :partial => "sla", :locals => {:buying_operator_network => @order.buying_operator_network}


  - if coresite_role || @order.buying_role(@current_operator_network)
    .container_12.coresite_form
      %h2 Contacts
      .grid_4
        %table.coresite_table
          %tbody
            -# Naming convention at site level
            %tr
              %td Buyer Billing Contact:
            %tr
              %td.value
                = render :partial => 'coresite_shared/contact', :locals => {:contact => @order.buying_operator_network.billing_contact}

      .grid_4
        %table.coresite_table.col
          %tbody
            %tr
              %td Target Engineering Contact:
            %tr
              %td.value
                = render :partial => 'coresite_shared/contact', :locals => {:contact => @order.target_operator_network.engineering_contact}
      .grid_4
        %table.coresite_table.col
          %tbody
            %tr
              %td Coresite Support Contact:
            %tr
              %td.value
                = render :partial => 'coresite_shared/contact', :locals => {:contact => @order.target_operator_network.coresite_contact}


  .container_12
    .action_buttons
      %span#errors_on_form
      %span#messages_on_form

      - if can? :manage, :coresite_order

        - if @action == :change
          - if @order.can_be_changed_by_role?(@current_operator_network)
            %button.submit_button.activity.primary_action.blocking{:type=>'submit', 'data-blocking_message' => '<h1>Order is being processed.</h1><h2>This may take a moment.</h2>'} Submit Order

        - else
          -# Reject Order by Target
          = reject_order_button(@order, @current_operator_network, order_member_handle)
          -# Cancel or Change Order by Buyer            
          = cancel_order_button(@order, @current_operator_network, order_member_handle)
          = change_order_button(@order, @current_operator_network)

          - if @order.can_be_accepted_by_role?(@current_operator_network) 
            -# Accept Order by Target
            %button.submit_button.activity.primary_action.blocking{:type=>'submit', 'data-blocking_message' => "<h1>Accepting Order.</h1><h2>This may take a moment.</h2>"} Accept Order
          - else
            -# Target and Buyer can update (IDs)
            %button.submit_button.activity.blocking{:type=>'submit', 'data-blocking_message' => "<h1>Updating Order.</h1><h2>This may take a moment.</h2>"} Update Order

          -# Disconnect Order by Buyer            
          = disconnect_order_button(@order, @current_operator_network, order_member_handle)


      - if coresite_role
        = link_to 'Back', sub_dashboard_path(@filter_params.merge({:service_provider => @order.buying_operator_network.national_tenant.id})), :class => 'cancel'
      - else
        = link_to 'Back', inventory_dashboard_path, :class => 'cancel'


= form_tag reject_coresite_order_path(@order.id), {:method => "PUT", :class => 'reject_reason'} do
  %h2 Reason for Rejecting Order
  = text_area_tag 'reject_reason',  params[:reject_reason] ? params[:reject_reason] : ''
  .small
    CoreSite is often questioned if connection orders are not approved by their target. Please indicate the reason for rejection. (Optional)
