= form_tag(coresite_orders_path, :method => "POST") do

  .container_12.coresite_form
    = render :partial => 'shared/flash_message'
    .grid_12.buyer
      %small
        * means field required

  .container_12.coresite_form
    .grid_6.buyer
      %h2 Buyer
      %table.coresite_table
        %tbody
          - if @current_operator_network
            %tr
              %td.label #{get_term(:site)}:
              %td.value 
                #{@current_operator_network.site_name}

            %tr
              %td.label #{get_term(:service_provider)}:
              %td.value
                #{@current_operator_network.tenant_name}
                %input{:name => 'buying_operator_network', :value => @current_operator_network.try(:id), 'data-dependent' => '.target_site_select, .buying_port, .buying_billing_contact', :class => "parent_select buying_operator_network_select required hidden"}

            / %tr.input
            /   %td.label #{get_term(:site)}:
            /   %td.value
            /     = select_tag "buying_operator_network", select_options(@buying_operator_networks, @buying_operator_network, "site_name", "site_name"), :class => "parent_select buying_site_select required"

            / %tr.input
            /   %td.label #{get_term(:service_provider)}:
            /   %td.value
            /     = select_tag "buying_tenant", [], :prompt => "Select a buying tenant", 'data-url' => _service_providers_select_coresite_orders_path, :class => "parent_select buying_operator_network required"


          %tr.input
            %td.label #{get_term(:enni)}*:
            %td.value
              = select_tag "buying_port", [], 'data-url' => _ennis_select_coresite_orders_path({:selected => params[:buying_port]}), 'data-dependent' => '.service_rate_select, .buying_phy_type_string, .buying_provisioned_bandwidth_string', :class => "port buying_port parent_select required"

          %tr.input
            %td.label Phy Type:
            %td.value
              .buying_phy_type_string{'data-url' => _phy_type_coresite_orders_path}

          %tr.input
            %td.label Provisioned Bandwidth:
            %td.value
              .buying_provisioned_bandwidth_string{'data-url' => _provisioned_bandwidth_coresite_orders_path} 

          %tr.input
            %td.label VLAN*:
            %td.value 
              = text_field_tag "buying_vlan", params[:buying_vlan], :class => "required digits"
              %a.inline_button.choose_next_available_vlan{:href=>'#', 'data-url' => _next_available_vlan_coresite_orders_path} Use next available
              

    .grid_6.target
      %h2 Target
      %table.coresite_table
        %tbody
          %tr.input
            %td.label #{get_term(:site)}*:
            %td.value
              = select_tag "target_site", [], 'data-url' => _sites_select_coresite_orders_path({:selected => params[:target_site]}), :class => "parent_select target_site_select required"
          %tr.input
            %td.label #{get_term(:service_provider)}*:
            %td.value
              = select_tag "target_operator_network", [], 'data-url' => _operator_networks_select_coresite_orders_path({:buying_operator_network => @current_operator_network.try(:id), :selected => params['target_operator_network']}), 'data-dependent' => '.target_engineering_contact, .target_coresite_contact, .access_permission_string', :class => "parent_select target_operator_network_select  required"
              .access_permission_string{'data-url' => _access_permission_coresite_orders_path}

  .container_12.coresite_form  
    .grid_12
      %h2 #{get_term(:path)}
      %table.coresite_table
        %tbody
          %tr.input
            %td.label #{@current_operator_network.tenant_name}'s ID*:
            %td.value 
              = text_field_tag "buying_order_member_handle", params[:buying_order_member_handle], :class => 'path_name required'

  .container_12.coresite_form
    .grid_12
      %h2 Requested Service
    .grid_5
      %table.coresite_table
        %tbody
          %tr.input.service_rate
            %td.label Service Rate*:
            %td.value 
              = select_tag "service_rate", [], 'data-url' => _service_rates_select_coresite_orders_path({:selected => params[:service_rate]}), :class => "service_rate_select required"
          %tr.input
            %td.label Requested Service Date:
            %td.value
              - requested_service_date = Date.today
              = requested_service_date.to_formatted_s(:long)
              %input{:name => 'requested_service_date', :value => requested_service_date.to_formatted_s(:requested_service_date), :class => "hidden"}

          %tr.input
            %td
              &nbsp;
            %td.value 
              %span.submit_button.activity.primary.check_available_bandwidth_and_vlan{'data-url' => _check_available_bandwidth_and_vlan_coresite_orders_path} Check Available Bandwidth and VLAN
              .check_available_bandwidth_and_vlan_message

    .grid_7
      %table.coresite_table.col
        %tbody
          %tr
            %td SLA:
          %tr
            %td.value
              = render :partial => "sla", :locals => {:buying_operator_network => @current_operator_network}

  .container_12.coresite_form
    .grid_12
      %h2 Contacts
    .grid_4
      %table.coresite_table
        %tbody
          -# Naming convention at site level
          %tr
            %td Buyer Billing Contact:
          %tr
            %td.value.buying_billing_contact{'data-url' => _contact_coresite_orders_path({:type => :billing})}

    .grid_4
      %table.coresite_table.col
        %tbody
          %tr
            %td Target Engineering Contact:
          %tr
            %td.value.target_engineering_contact{'data-url' => _contact_coresite_orders_path({:type => :engineering})}
    .grid_4
      %table.coresite_table.col
        %tbody
          %tr            
          %tr
            %td CoreSite Support Contact:
          %tr
            %td.value.target_coresite_contact{'data-url' => _contact_coresite_orders_path({:type => :coresite})}            
             
  .container_12
    .action_buttons
      %span#errors_on_form
      %span#messages_on_form
      - if can? :manage, :coresite_order
        %button.submit_button.activity.primary_action.blocking{:type=>'submit', 'data-blocking_message' => '<h1>Order is being processed.</h1><h2>This may take a moment.</h2>'} Submit Order
      = link_to 'Cancel', inventory_dashboard_path(), :class => 'cancel'


