- class_of_service_type = OperatorNetwork.coresite_by_site_name(buying_operator_network.site_name).first.operator_network_type.class_of_service_types.first
- service_level_guarantee_type = class_of_service_type.service_level_guarantee_types.first
%ul
  = list_label_and_value 'Availability', class_of_service_type, :availability, format_percentage
  = list_label_and_value 'Frame Loss Ratio', class_of_service_type, :frame_loss_ratio, format_percentage
  = list_label_and_value 'Delay', service_level_guarantee_type, :delay_us, '%s µs'
  = list_label_and_value 'Delay Variation', service_level_guarantee_type, :delay_variation_us, '%s µs'
  = list_label_and_value 'Mean Time to Repair', class_of_service_type, :mttr_hrs, '%s hours'