-content_for :title do
  CoreSite - Order Change

.container_12.page_header
  .border.clearfix
    .grid_9.alpha
      %h1.dashboard_title
        Open Cloud Exchange Order Change

    .grid_3.omega.align_right.service_provider_logo
      = provider_logo(@current_national_tenant)

= render :partial => 'display'



