-content_for :title do
  CoreSite - Order New

.container_12.page_header
  .border.clearfix
    .grid_9.alpha
      %h1.dashboard_title
        Open Cloud Exchange New

    .grid_3.omega.align_right.service_provider_logo
      = provider_logo(@current_national_tenant)

#coresite_order_form_new
  = render :partial => 'form', :locals => {:order_new => true}
