-content_for :title do
  CoreSite - Order

.container_12.page_header
  .border.clearfix
    .grid_9.alpha
      %h1.dashboard_title
        Open Cloud Exchange Order

    .grid_3.omega.align_right.service_provider_logo
      =provider_logo(@current_user.service_provider)

= render :partial => 'display'



