%p
  To reset your password, click the URL below.

%p
  - password_url = edit_password_reset_url(@user.password_reset_token, {:host => @host})
  = link_to password_url, password_url

%p
  If you did not request your password to be reset, just ignore this email and your password will continue to stay the same.