-unless @body_text.blank?
  %p
    =@body_text

-if @sched_report.formats[:web_link] == 'true'
  %p
    =link_to "View this report in your browser  →", filter_template_url(@sched_report.scheduled_task, {:host => @host, :format => 'html'})
    
%p
  ="Report generated on #{@report.run_date.in_time_zone(@sched_report.timezone)}."
