-content_for :title do
  CENX - Support


.container_12
  .border.clearfix
    .grid_9
      %h1
        Support

    .grid_3.align_right.service_provider_logo
      =provider_logo(@current_user.service_provider)


.container_12
  .border.clearfix
    .grid_6
      %h2
        Phone
          
      %h3
        %a{:href => "tel:#{@phone}"}
          =@phone
    
      =simple_format @phone_text
    
    .grid_6
      %h2
        Email
        
      %h3
        %a{:href => "mailto:#{@email}"}  
          =@email
      
      =simple_format @email_text        