.map_marker_info
  %h2 
    = @entity.name
  %ul 
    = list_label_and_value 'OEM', @entity.operator_network.operator_network_type, :name
    = list_label_and_value 'Address', @site, :address
    = list_label_and_value 'Lat / Lng', nil, "#{@site.latitude} / #{@site.longitude}"
    = list_label_and_value 'Contact', @site, :emergency_contact_info
  
  = link_to 'View Dashboard', sub_dashboard_path({:site => @entity.id}), :class => 'submit_button', :target => '_blank'

  - path_count = @entity.path_count_by_operator_network_type(current_user.operator_network_types)

  - unless path_count.zero?
    = link_to "View List of #{pluralize(path_count, get_term(:path, true))}", paths_path(:site => @entity.id, :mode => @mode), :class => 'submit_button', :target => '_blank'
  -# Old school event attachment since there are issues with Google Maps Info Window and attaching events via jQuery
  %button.submit_button.streetview{'onclick' => "map.show_streetview(this, #{@site.latitude}, #{@site.longitude})"} Street View
  %button.submit_button{'onclick' => "map.hide_demarc_markers(this, #{@entity.id})"} Hide sites 
  .no_streetview.hidden