.header
  %h2
    - site_type = general_type_to_string(@entity.general_type)
    = site_type ? site_type : 'Site'
  .clearfix

- # Tables becuase of the dynamic positioning of the tipsy bubble, problems with bubbles close to edge of screen
%table
  %tr
    %td
      %h3 #{@entity.name}
      %div.tipsy_container
        %ul
          = list_label_and_value 'Owner', @entity.operator_network.operator_network_type, :name
          = list_label_and_value 'Address', nil, [@entity.address, @entity.city, "#{@entity.state_province} #{@entity.postal_zip_code}"].compact.join(', ')
          = list_label_and_value 'Lat / Lng', nil, "#{@entity.latitude} / #{@entity.longitude}"
          = list_label_and_value 'Contact', @entity, :emergency_contact_info
         
.clearfix 