="#{get_term(:path)}:"
-path_mh = member_handle_for_current_user(path, @current_user)
-if exception.cos_end_point.segment_end_point.is_a?(OnNetOvcEndPointEnni)   
  %a{:href => paths_path(@filter_params.merge({:path_details => path.id, :entity_id => exception.cos_end_point.segment_end_point.segment.id, :entity_type => exception.cos_end_point.segment_end_point.segment.class, :graph_type => 'troubleshooting', :date_range_start => Time.at(exception.time_declared).in_time_zone.beginning_of_month.strftime(RangeDate::DATE_FORMAT), :date_range_end => Time.at(exception.time_declared).in_time_zone.end_of_month.strftime(RangeDate::DATE_FORMAT)})), :title => "See Circuit List for #{path_mh}", :target => '_blank'}
    =truncate path_mh, :length => 40
-else  
  %a{:href => paths_path(@filter_params.merge({:path_details => path.id, :entity_id => exception.cos_end_point.segment_end_point.id, :entity_type => exception.cos_end_point.segment_end_point.class, :graph_type => 'troubleshooting', :date_range_start => Time.at(exception.time_declared).in_time_zone.beginning_of_month.strftime(RangeDate::DATE_FORMAT), :date_range_end => Time.at(exception.time_declared).in_time_zone.end_of_month.strftime(RangeDate::DATE_FORMAT)})), :title => "See #{get_term(:path)} List for #{path_mh}", :target => '_blank'}
    =truncate path_mh, :length => 40
%br
Component:
-cos_mh = member_handle_for_current_user(exception.cos_end_point.segment_end_point, @current_user)
-if exception.cos_end_point.segment_end_point.is_a?(OnNetOvcEndPointEnni)   
  %a{:href => paths_path(@filter_params.merge({:path_details => path.id, :entity_id => exception.cos_end_point.segment_end_point.segment.id, :entity_type => exception.cos_end_point.segment_end_point.segment.class, :graph_type => 'troubleshooting', :date_range_start => Time.at(exception.time_declared).in_time_zone.beginning_of_month.strftime(RangeDate::DATE_FORMAT), :date_range_end => Time.at(exception.time_declared).in_time_zone.end_of_month.strftime(RangeDate::DATE_FORMAT)})), :title => "See #{get_term(:path)} List for #{cos_mh}", :target => '_blank'}
    =truncate cos_mh
-else
  %a{:href => paths_path(@filter_params.merge({:path_details => path.id, :entity_id => exception.cos_end_point.segment_end_point.id, :entity_type => exception.cos_end_point.segment_end_point.class, :graph_type => 'troubleshooting', :date_range_start => Time.at(exception.time_declared).in_time_zone.beginning_of_month.strftime(RangeDate::DATE_FORMAT), :date_range_end => Time.at(exception.time_declared).in_time_zone.end_of_month.strftime(RangeDate::DATE_FORMAT)})), :title => "See #{get_term(:path)} List for #{cos_mh}", :target => '_blank'}
    =truncate cos_mh