%button.pill.submit_button.details_link{:href => '#'}
  info

.details_table.hidden
  .exception_details
    %strong
      =exception.severity.to_s.titleize
      Exception
    %ul
      %li
        %label
          Measured Value:
        ="#{exception.average_rate_while_over_threshold_mbps} Mbps"
      %li
        %label
          =exception.severity.to_s.titleize
          Threshold:
        ="#{exception.get_errored_period_threshold_mbps} Mbps"
      %li
        %label
          Percent Threshold:
        ="#{exception.get_errored_period_threshold_percent}%"
      %li    
        %label
          Time Over Threshold:
        ="#{convert_seconds_to_time(exception.get_errored_period_max_secs)}"
      %li
        %label
          Sampling Interval (&#916;t):
        ="#{convert_seconds_to_time(exception.get_errored_period_delta_time_secs)}"                          
      %li
        %label
          Capacity:
        ="#{exception.enni_new.rate} Mbps"
