-enni_mh = member_handle_for_current_user(exception.enni_new, @current_user)
%a{:href => ennis_path(@filter_params.merge({:enni_details => exception.enni_new_id, :entity_id => exception.enni_new_id, :entity_type => exception.enni_new.class, :graph_type => 'troubleshooting', :date_range_start => Time.at(exception.time_declared).in_time_zone.beginning_of_month.strftime(RangeDate::DATE_FORMAT), :date_range_end => Time.at(exception.time_declared).in_time_zone.end_of_month.strftime(RangeDate::DATE_FORMAT)})), :title => "See #{get_term(:enni)} details for #{enni_mh}", :target => '_blank'}
  =truncate enni_mh
