.grid_8.alpha.omega.sub_border
  %h3.inline
    =pluralize(@total_ennis, get_term(:enni))
    =circuit_owner_title(@path_owner)
    %a{:href => ennis_path(@filter_params), :class => 'view_all', :title => "See #{get_term(:enni)} List"}
      See All &rarr;
    
.grid_5.alpha
  =dashboard_interactive_pie(:title => "#{get_term(:enni)} Utilization States",
                            :data => [@ennis_minor, @ennis_major, @total_ennis - (@ennis_minor + @ennis_major)],
                            :labels => ['Minor', 'Major', 'OK'], 
                            :bar_colors => ['DCDE32', 'FF8D20', '609c25'],
                            :links => ['#', '#', '#', '#'],
                            :width => 380, 
                            :height => 140)
                                  

.grid_3.omega
  .dashboard_legend
    .dashboard_legend_item
      .dashboard_legend_box.monitoring{:class => "ok"}
      OK
      %span.dashboard_legend_count
        ="(#{@total_ennis - (@ennis_minor + @ennis_major)})"

    .dashboard_legend_item
      .dashboard_legend_box.monitoring{:class => "dependency help_on_hover", :title => "Measured Utilization above minor threshold for more than allowed time during calendar month"}
        i
      Minor

      %span.dashboard_legend_count
        ="(#{@ennis_minor})"


    .dashboard_legend_item
      .dashboard_legend_box.monitoring{:class => "warning help_on_hover", :title => "Measured Utilization above major threshold for more than allowed time during calendar month"}
        i
      Major

      %span.dashboard_legend_count
        ="(#{@ennis_major})"
