.grid_4.alpha.omega

  = render 'shared/graph_toggle_link', :title => "#{pluralize(@total, "Exception")} #{circuit_owner_title(@path_owner)}", :table_name => current_path, :see_all_link => nil
    
%div{:id => current_path}
  .grid_2.alpha
    -if @total == 0
      =dashboard_interactive_pie(:title => "SLA States",
                                 :data => [1],
                                 :labels => ['OK'], 
                                 :bar_colors => ['609c25'],
                                 :links => ['#'],
                                 :width => 140, 
                                 :height => 140)
    
    -else
      =dashboard_interactive_pie(:title => "SLA States",
                                 :data => [@minor, @major, @critical],
                                 :labels => ['Minor', 'Major', 'Critical'], 
                                 :bar_colors => ['DCDE32', 'FF8D20', 'ba2a2a'],
                                 :links => [send(current_path, @filter_params.merge(:severity => 'minor')),
                                            send(current_path, @filter_params.merge(:severity => 'major')), 
                                            send(current_path, @filter_params.merge(:severity => 'critical'))],
                                 :width => 140, 
                                 :height => 140)
                                    

  .grid_2.omega
    .dashboard_legend
      -if @total == 0
        .dashboard_legend_item
          .dashboard_legend_box.monitoring{:class => "ok"}
          OK

      -else
        .dashboard_legend_item
          .dashboard_legend_box.monitoring{:class => "dependency help_on_hover", :title => "The metric exceeded the minor threshold for more than allowed time during calendar month"}
            i
          Minor

          %span.dashboard_legend_count
            ="(#{@minor})"
      

        .dashboard_legend_item
          .dashboard_legend_box.monitoring{:class => "warning help_on_hover", :title => "The metric exceeded the major threshold for more than allowed time during calendar month"}
            i
          Major

          %span.dashboard_legend_count
            ="(#{@major})"

        -unless defined?(hide_critical) && hide_critical
          .dashboard_legend_item
            .dashboard_legend_box.monitoring{:class => "failed help_on_hover", :title => "The metric failed to meet the monthly SLA guarantee"}
              i
            Critical
            %span.dashboard_legend_count
              ="(#{@critical})"
         
         
