.grid_6.alpha.omega.sub_border
  %h3.inline
    =pluralize(@exceptions.count, "Exception")
    =circuit_owner_title(@path_owner)
    
.grid_4.alpha

  -if @exceptions.empty?
    =dashboard_pie(:title => "SLA States",
                               :data => [1],
                               :labels => ['OK'], 
                               :bar_colors => ['609c25'],
                               :links => ['#'],
                               :width => 380, 
                               :height => 220)
  
  -else
    =dashboard_pie(:title => "SLA States",
                               :data => [@exceptions.s_minor.count, @exceptions.s_major.count, @exceptions.s_critical.count],
                               :labels => ['Minor', 'Major', 'Critical'], 
                               :bar_colors => ['DCDE32', 'FF8D20', 'ba2a2a'],
                               :links => ['', '', ''],
                               :width => 300, 
                               :height => 220)
                                  

.grid_2.omega
  .dashboard_legend
    -if @exceptions.empty?  
      .dashboard_legend_item
        .dashboard_legend_box.monitoring{:class => "ok"}
        OK

    -else
      .dashboard_legend_item
        .dashboard_legend_box.monitoring{:class => "dependency help_on_hover", :title => "The metric exceeded the minor threshold for more than allowed time during calendar month"}
        Minor

        %span.dashboard_legend_count
          ="(#{@exceptions.s_minor.count})"
    

      .dashboard_legend_item
        .dashboard_legend_box.monitoring{:class => "warning help_on_hover", :title => "The metric exceeded the major threshold for more than allowed time during calendar month"}
        Major

        %span.dashboard_legend_count
          ="(#{@exceptions.s_major.count})"

      -unless defined?(hide_critical) && hide_critical
        .dashboard_legend_item
          .dashboard_legend_box.monitoring{:class => "failed help_on_hover", :title => "The metric failed to meet the monthly SLA guarantee"}
          Critical
          %span.dashboard_legend_count
            ="(#{@exceptions.s_critical.count})"
       
       
