<%= CSV.generate_line cmaudit_app.cmd("fallout ls-headers",false)[:data].keys -%>
<%- cascades = exceptions.map{|e| e.path.try(:cascade_id)}.compact.uniq -%>
<%- cascades.each do |cascade| -%>
<%-   row = cmaudit_app.cmd("fallout ls-row #{cascade}",false)[:data] -%>
<%-   if row.nil? -%>
<%=      CSV.generate_line([cascade,"FAILED"]) -%>
<%-   else -%>
<%-     row.collect! { |entry| entry.gsub(/,/,"\r").gsub(/;/,"; ") } -%>
<%=     CSV.generate_line(row).html_safe -%>
<%-   end -%>
<%- end -%>
<%= render '/reports/filter.csv.erb' -%>