.grid_4.alpha.omega
  - fallout_data = ApplicationHelper::AUDIT_FALLOUT_TYPES[params[:fallout_exception_type]]
  = render 'shared/graph_toggle_link', :title => "#{pluralize(@exceptions.count, "Exception")} #{circuit_owner_title(@path_owner)}", :table_name => current_path, :see_all_link => nil
    
%div{:id => current_path}
  .grid_2.alpha
    
    -if @fallout_categories.empty?
      =dashboard_interactive_pie(:title => "#{fallout_data[:name]} Categories",
                                 :data => [1],
                                 :labels => ['OK'], 
                                 :bar_colors => ['609c25'],
                                 :links => ['#'],
                                 :width => 140, 
                                 :height => 140)
    
    -elsif App.is?(:coresite)
      =dashboard_interactive_pie(:title => "Inventory Exception States",
                                 :data => [@fallout_build],
                                 :labels => ['Build'], 
                                 :bar_colors => ['ba2a2a'],
                                 :links => [send(current_path, @filter_params.merge(:fallout_exception_type => 'build'))],
                                 :width => 300, 
                                 :height => 220)
                                    
    -else
      =dashboard_interactive_pie(:title => "#{fallout_data[:name]} Categories",
                                 :data => @fallout_categories.map{|e| e[:fallout_category_count] },
                                 :labels => @fallout_categories.map{|e| e[:fallout_category] },
                                 :bar_colors => @fallout_categories.map{|e| fallout_category_color(e[:fallout_category]) },
                                 :links => @fallout_categories.map{|e| paths_path(@filter_params.merge({:fallout_category => "#{e[:fallout_category]}"}))},
                                 :width => 140, 
                                 :height => 140)

  .grid_2.omega
    .dashboard_legend

      -if @fallout_categories.empty?  
        .dashboard_legend_item
          .dashboard_legend_box.monitoring{:class => "ok"}
          OK

      -elsif App.is?(:coresite)

        .dashboard_legend_item
          .dashboard_legend_box.monitoring{:class => "failed help_on_hover", :title => "Build"}
            i
          Build
          %span.dashboard_legend_count
            ="(#{@fallout_build})"

      - else
        - @fallout_categories.each do |e|
          .dashboard_legend_item
            .dashboard_legend_box.fallout_category{:class => "#{e[:fallout_category].parameterize('_')}"}
            =e[:fallout_category]
            %span.dashboard_legend_count
              ="(#{e[:fallout_category_count]})"