-path_mh = exception.path.cascade_id
%a{:href => paths_path(@filter_params.merge({:path_details => exception.path, :fallout_exception_type => exception.exception_type, :order_data_source => exception.data_source, :date_range_start => Time.at(exception.timestamp).in_time_zone.beginning_of_month.strftime(RangeDate::DATE_FORMAT), :date_range_end => Time.at(exception.timestamp).in_time_zone.end_of_month.strftime(RangeDate::DATE_FORMAT)})), :title => "See #{get_term(:path)} details for #{path_mh}", :target => '_blank'}
  =truncate path_mh
