-filter_templates = FilterTemplate.user_filters(@current_user, report_type)
-public_filter_templates = FilterTemplate.public_filters(@current_user, report_type)

.sidebar
  .right
    %span.submit_button.icon.add.no_text.toggle_form{:title => "New Filter"}
      
  %h4.title
    Saved Filters

  .new_form{:class => filter_templates.empty? ? '' : 'hide_form'}
    =form_for [@current_user, @filter_template], :url => user_filter_templates_path([@current_user], @filter_params.merge(:date_range_start => @date_range_start, :date_range_end => @date_range_end, :default_date_range => @default_date_range)) do |f| 
      %label
        New Filter
      =f.text_field :name, :required => :required, :placeholder => 'Name'

      =f.check_box :is_public
      =f.label :is_public, 'Public filter?', {:style => 'display:inline;font-weight:normal;'}

      %br.clear
      %br.clear
      =f.hidden_field :report_type, :value => report_type
      =f.submit(:class => 'submit_button', :value => 'Create')
      or
      %a.cancel{:href => '#'}
        Cancel
      .clear

    -unless filter_templates.empty?
      %hr 


  -unless public_filter_templates.empty? || filter_templates.empty?
    %h4.dashboard_sub_title{:style => 'padding-left:10px; padding-bottom:0'}
      My Filters

  %ul.item_list
    -filter_templates.each do |st|
      %li.description
        -if st.schedules.empty?
          -message = "Are you sure you want to remove #{st.name}?"
        -else
          -message = "This is filter is used in #{pluralize(st.schedules.count, 'schedule')}. Are you sure you want to remove #{st.name} and the associated schedules?"

        =link_to 'Remove', [@current_user, st], :confirm => message, :method => :delete, :class => :trash, :remote => true
        =link_to 'Edit', '#', :class => 'edit'
        =link_to st.name, filter_template_url(st), :class => 'filter_title'

      %li.edit_description
        =form_for [@current_user, st], :method => :put, :remote => true do |f|
          =f.text_field :name, :required => :required

          =f.submit(:class => 'submit_button', :value => 'Save')
          or
          %a.cancel_filter_template{:href => '#'}
            Cancel

  -unless public_filter_templates.empty?
    %hr 
    %h4.dashboard_sub_title{:style => 'padding-left:10px; padding-bottom:0'}
      Public Filters

    %ul.item_list
      -public_filter_templates.each do |st|
        %li.description
          -if can? :manage, st
            -if st.schedules.empty?
              -message = "Are you sure you want to remove #{st.name}?"
            -else
              -message = "This is filter is used in #{pluralize(st.schedules.count, 'schedule')}. Are you sure you want to remove #{st.name} and the associated schedules?"

            =link_to 'Remove', [st.user, st], :confirm => message, :method => :delete, :class => :trash, :remote => true
            =link_to 'Edit', '#', :class => 'edit'

          =link_to st.name, filter_template_url(st), :class => 'filter_title'

        -if can? :manage, st
          %li.edit_description
            =form_for [st.user, st], :method => :put, :remote => true do |f|
              =f.text_field :name, :required => :required
              
              =f.submit(:class => 'submit_button', :value => 'Save')
              or
              %a.cancel_filter_template{:href => '#'}
                Cancel          
    
