<%- rows = [] -%>
<%- rows << ['Filters'] -%>

<%- rows << ["Period", "#{@date_range_start} to #{@date_range_end}"] -%>
<%- unless @params[:cell_site_name].blank? -%>
<%- rows << ["#{get_term(:demarc)} Name Search", @params[:cell_site_name]] -%>
<%- end -%>
<%- unless @params[:component].blank? -%>
<%- rows << ["Component Search", @params[:component]] -%>
<%- end -%>
<%- unless @params[:severity].blank? -%>
<%- rows << ["Severity", @params[:severity].map {|sev| sev.titleize }.join(', ')] -%>
<%- end -%>
<%- unless @params[:sla_type].blank? -%>
<%- rows << ["Metric", @params[:sla_type].map {|sla| sla.upcase }.join(', ')] -%>
<%- end -%>
<%- if site_group = SiteGroup.where('id IN (?)', @params[:site_group]).all -%>
<%- rows << ["#{get_term(:site_group)}", site_group.map {|sg| sg.name }.join(', ')] -%>
<%- end -%>
<%- if site = Site.where('id IN (?)', @params[:site]).all -%>
<%- rows << ["#{get_term(:aggregation_site)}", site.map {|s| s.name }.join(', ')] -%>
<%- end -%>
<%- if sp = ServiceProvider.where('id IN (?)', @params[:service_provider]).all -%>
<%- rows << ["#{get_term(:service_provider)}", sp.map {|s| s.name }.join(', ')] -%>
<%- end -%>
<%- if oem = OperatorNetworkType.where('id IN (?)', @params[:oem]).all -%>
<%- rows << ["#{get_term(:network_type)}", oem.map {|o| o.name}.join(', ')] -%>
<%- end -%>
<%- if @params['limit_sites'].present? && @params['limit_site_list_id'].present? -%>
<%- sites = Path.where('paths.id IN (?)', PathsSiteList.where('site_list_id IN (?)', @params[:limit_site_list_id]).pluck(:path_id)).all -%>
<%- unless sites.empty? -%>
<%- rows << [@params['limit_sites'] == 'exclude_sites' ? 'Excluded Sites' : 'Included Sites', sites.map{|site| member_handle_for_current_user(site, @current_user)}.join(', ')] -%>
<%- end -%>
<%- end -%>

<%- rows.each do |row| -%>
<%= CSV.generate_line(row).html_safe -%>
<%- end -%>
