.grid_6.alpha.omega.sub_border
  %h3.inline
    Filter

.grid_3.alpha
  %form
    %ul
      -unless @params[:cell_site_name].blank?
        %li
          %label
            ="#{get_term(:demarc)} Name Search"
          =@params[:cell_site_name]

      -unless @params[:component].blank?
        %li
          %label
            Component Search:
          =@params[:component]

      %li
        %label
          Period:
        ="#{@date_range_start} to #{@date_range_end}"

      -unless @params[:severity].blank?
        %li
          %label
            Severity:
          =@params[:severity].map {|sev| sev.titleize }.join(', ')

      -unless @params[:sla_type].blank?
        %li
          %label
            Metric:
          =@params[:sla_type].map {|sla| sla.upcase }.join(', ')

      -if site_group = SiteGroup.where('id IN (?)', @params[:site_group]).all
        %li
          %label
            ="#{get_term(:site_group)}:"
          =site_group.map {|sg| sg.name }.join(', ') 

      -if site = Site.where('id IN (?)', @params[:site]).all
        %li
          %label
            ="#{get_term(:aggregation_site)}:"
          =site.map {|s| s.name }.join(', ')


.grid_3.omega
  %form
    %ul
      -if sp = ServiceProvider.where('id IN (?)', @params[:service_provider]).all
        %li
          %label
            = "#{get_term(:service_provider)}:"
          =sp.map {|s| s.name }.join(', ')

      -if oem = OperatorNetworkType.where('id IN (?)', @params[:oem]).all
        %li
          %label
            = "#{get_term(:network_type)}:"
          =oem.map {|o| o.name}.join(', ')

      - if @params['limit_sites'].present? && @params['limit_site_list_id'].present?
        -sites = Path.where('paths.id IN (?)', PathsSiteList.where('site_list_id IN (?)', @params[:limit_site_list_id]).pluck(:path_id)).all
        -unless sites.empty?
          %li
            %label
              - if @params['limit_sites'] == 'exclude_sites'
                Excluded
              -else
                Included
              Sites:
            =sites.map{|site| member_handle_for_current_user(site, @current_user)}.join(', ')

