-unless pdf
  %button.pill.submit_button.details_link{:href => '#'}
    info

.details_table{:class => pdf ? '' : 'hidden'}
  .exception_details 
    %strong
      =exception.severity.to_s.titleize
      Issue
    %ul
      %li                  
        %label
          Date Detected:
        =Time.at(exception.time_declared_epoch).in_time_zone.strftime('%Y-%m-%d %H:%M:%S')
      %li                  
        %label
          Average Value:
        ="#{exception.metric}#{exception.get_value_units_s == '%' ? '': ' '}#{exception.get_value_units_s}"
      -unless exception.severity == 'clear'
        %li
          %label
            =exception.severity.to_s.titleize
            Threshold:
          ="#{exception.get_errored_period_threshold}#{exception.get_threshold_units_s == '%' ? '': ' '}#{exception.get_threshold_units_s}"  
      %li
        %label
          Sampling Interval (&#916;t):
        ="#{convert_seconds_to_time(exception.get_errored_period_delta_time_secs)}"
     
      %li
        -if exception.severity == 'minor'
          %label
            Time Over:
          ="#{convert_seconds_to_time(exception.minor_time_over)}"
        -elsif exception.severity == 'major'
          %label
            Time Over:
          ="#{convert_seconds_to_time(exception.major_time_over)}"

      -if ['major', 'minor'].include?(exception.severity)
        %li 
          %label
            Time Over Threshold:
          ="#{convert_seconds_to_time(exception.get_time_over_threshold_seconds)}"

      -if exception.metric_type == 'availability'
        %li
          %label
            FLR Threshold (C):
          ="#{exception.availability_flr_threshold}%"
        %li
          %label
            Consecutive Samples (n):
          =exception.availability_consecutive_count_threshold
