- if exception.severity == 'clear'
  .dashboard_legend_box.monitoring{:class => "ok help_on_hover", :title => "All metrics OK"}
    i
- elsif exception.severity == 'minor'
  .dashboard_legend_box.monitoring{:class => "warning help_on_hover", :title => "The metric has exceeded the minor threshold for more than the allowed time in the aggregation period"}
    i
- elsif exception.severity == 'major'
  .dashboard_legend_box.monitoring{:class => "failed help_on_hover", :title => "The metric has exceeded the major threshold for more than the allowed time in the aggregation period"}
    i                