.grid_9.alpha.omega.sub_border
  %h3.inline
    =pluralize(@total, "Exception")
    =circuit_owner_title(@path_owner)
    %a{:href => paths_path(@filter_params), :class => 'view_all', :title => "See #{get_term(:path)} List"}
      See All &rarr;
    
.grid_5.alpha

  -if @exceptions.empty?
    =dashboard_interactive_pie(:title => "SLA States",
                               :data => [1],
                               :labels => ['OK'], 
                               :bar_colors => ['609c25'],
                               :links => ['#'],
                               :width => 380, 
                               :height => 220)
  
  -else
    =dashboard_interactive_pie(:title => "SLA States",
                               :data => [@exceptions.s_clear.count, @exceptions.s_minor.count, @exceptions.s_major.count, @exceptions.s_critical.count],
                               :labels => ['Clear', 'Minor', 'Major', 'Critical'], 
                               :bar_colors => ['609c25', 'DCDE32', 'FF8D20', 'ba2a2a'],
                               :links => ['#', '#', '#', '#'],
                               :width => 380, 
                               :height => 220)
                                  

.grid_4.omega
  .dashboard_legend
    -if @exceptions.empty?  
      .dashboard_legend_item
        .dashboard_legend_box.monitoring{:class => "ok"}
        OK

    -else
      .dashboard_legend_item
        .dashboard_legend_box.monitoring{:class => "ok"}
        Clear

        %span.dashboard_legend_count
          ="(#{@exceptions.s_clear.count})"
          
      .dashboard_legend_item
        .dashboard_legend_box.monitoring{:class => "dependency help_on_hover", :title => "The metric exceeded the minor threshold for more than allowed time during calendar month"}
          i
        Minor

        %span.dashboard_legend_count
          ="(#{@exceptions.s_minor.count})"
    

      .dashboard_legend_item
        .dashboard_legend_box.monitoring{:class => "warning help_on_hover", :title => "The metric exceeded the major threshold for more than allowed time during calendar month"}
          i
        Major

        %span.dashboard_legend_count
          ="(#{@exceptions.s_major.count})"

      -unless defined?(hide_critical) && hide_critical
        .dashboard_legend_item
          .dashboard_legend_box.monitoring{:class => "failed help_on_hover", :title => "The metric failed to meet the monthly SLA guarantee"}
            i
          Critical
          %span.dashboard_legend_count
            ="(#{@exceptions.s_critical.count})"
       
       
