%button.pill.submit_button.details_link{:href => '#'}
  info

.details_table.hidden
  .exception_details
    - if exception.severity == :critical
      %strong
        SLA Failure
    - else
      %strong
        =exception.severity.to_s.titleize
        Exception    


    %table{'style' => 'border-spacing: 6px'}
      %tr
        %td
        %td.dashboard_sub_title
          Value
        %td.dashboard_sub_title
          Major
        %td.dashboard_sub_title
          Minor

      %tr
        %td
          FLR:
        %td
          %strong{'style' => "color: ##{state_text(exception.flr, @flr_major, @flr_minor)}"}
            ="#{exception.flr}#{exception.get_value_units_s(:flr)}"
        %td
          ="#{@flr_major}#{exception.get_value_units_s(:flr)}"
        %td
          ="#{@flr_minor}#{exception.get_value_units_s(:flr)}"  

      %tr
        %td
          FD:
        %td
          %strong{'style' => "color: ##{state_text(exception.fd, @fd_major, @fd_minor)}"}
            ="#{exception.fd}#{exception.get_value_units_s(:fd)}"
        %td
          ="#{@fd_major}#{exception.get_value_units_s(:fd)}"
        %td
          ="#{@fd_minor}#{exception.get_value_units_s(:fd)}"

      %tr    
        %td
          FDV:
        %td
          %strong{'style' => "color: ##{state_text(exception.fdv, @fdv_major, @fdv_minor)}"}                        
            ="#{exception.fdv}#{exception.get_value_units_s(:fdv)}"
        %td
          ="#{@fdv_major}#{exception.get_value_units_s(:fdv)}"
        %td
          ="#{@fdv_minor}#{exception.get_value_units_s(:fdv)}"
