-enni_mh = member_handle_for_current_user(enni, @current_user)
%a{:href => ennis_path(@filter_params.merge({:enni_details => enni.id, :mode => 'inventory'})), :title => "See #{get_term(:enni)} details for #{enni_mh}", :target => '_blank'}
  =truncate enni_mh