.grid_4.alpha.omega
  - if !(defined?(pdf) && pdf)
    .right
      .toggle_mode{:style => 'margin-top: -5px; margin-right: 0'}
        %button.pill.submit_button.details_link{:style => 'font-size:11px'}
          Reporting Rules 

        .details_table.hidden
          %h2
            5 Levels of Rollup
          %br.clear
          %ol
            %li
              %strong
                Metric Level
              %p
                4 Metrics for each monitoring Flow, 4 monitoring flows per path at 4 different priorities
                %br                
                Each Metric has State of&nbsp;
                %span.monitoring_text.ok>Ok
                ,&nbsp;
                %span.monitoring_text.warning>Warning
                ,&nbsp;
                %span.monitoring_text.failed
                  Major 
                based on SLA thresholds
            %li
              %strong
                Protection Path Level
              %p
                Cell sites are severed by Primary and Backup Paths
                %br
                Protection Path Rollup State is&nbsp;
                %span.monitoring_text.ok>Ok
                ,&nbsp;
                %span.monitoring_text.warning>Warning
                ,&nbsp;
                %span.monitoring_text.failed
                  Major
                based on worst performing Metrics on that Path
            %li
              %strong
                Cell Site Level           
              %p
                Cell Site Rollup State is Based on the combined State of the 2 Protection Paths serving that Site
                %br
                
                %span.monitoring_text.failed Major = 
                Serious issues on both Paths,&nbsp;
                %span.monitoring_text.warning Waring = 
                Minor issues on one or both Paths,&nbsp;
                %span.monitoring_text.ok Ok = 
                No issues on either Path
            %li
              %strong
                Satellite Site Level
              %p
                Groups Cell Sites together at Satellite Site Level
            %li
              %strong
                Market Level
              %p            
                Groups Cell Sites and Satellite Sites together at Market Level
          .picture.lifted.drop-shadow
            =image_tag 'rolled_up_report_rules.jpg', {:width => 800, :height => 280}
          .clear   

  = render '/shared/graph_toggle_link.html.haml', :title => "#{pluralize(@total, title)} #{circuit_owner_title(@path_owner)}", :table_name => current_path, :see_all_link => nil

%div{:id => current_path}
  .grid_2.alpha
    -unless @total == 0 
      - if defined?(pdf) && pdf
        =dashboard_pie(:title => "#{title} States",
                       :data => [@clear, @minor, @major],
                       :labels => ['OK', 'Minor', 'Major'], 
                       :bar_colors => ['609C25', 'FF8D20', 'ba2a2a'],
                       :links => ['',
                                  '',
                                  '', 
                                  ],
                       :width => 140, 
                       :height => 140)
      -else
        =dashboard_interactive_pie(:title => "#{title} States",
                                   :data => [@clear, @minor, @major],
                                   :labels => ['OK', 'Minor', 'Major'], 
                                   :bar_colors => ['609C25', 'FF8D20', 'ba2a2a'],
                                   :links => [send(current_path, @filter_params.merge(:severity => 'clear')),
                                              send(current_path, @filter_params.merge(:severity => 'minor')),
                                              send(current_path, @filter_params.merge(:severity => 'major')), 
                                              ],
                                   :width => 140, 
                                   :height => 140)
                                    

  .grid_2.omega
    .dashboard_legend
      -unless @total == 0
        .dashboard_legend_item
          .dashboard_legend_box.monitoring{:class => "ok help_on_hover", :title => "All metrics OK"}
            i
          OK

          %span.dashboard_legend_count
            ="(#{@clear})"

        .dashboard_legend_item
          .dashboard_legend_box.monitoring{:class => "warning help_on_hover", :title => @metrics_report ? "The metric has exceeded the minor threshold for more than the allowed time in the aggregation period" : "Metrics on one protection path out of spec"}
            i
          Minor

          %span.dashboard_legend_count
            ="(#{@minor})"
      
        .dashboard_legend_item
          .dashboard_legend_box.monitoring{:class => "failed help_on_hover", :title => @metrics_report ? "The metric has exceeded the major threshold for more than the allowed time in the aggregation period" : "Metrics on both protection paths out of spec"}
            i
          Major

          %span.dashboard_legend_count
            ="(#{@major})"

         
