-content_for :title do
  ="CENX - #{title}"

.container_12
  .border.clearfix
    .grid_9.alpha
      %h1
        =link_to_if @site || @site_group, title, send(current_path)

        - if @demarc
          ="for #{member_handle_for_current_user(@demarc, @current_user)}"

        - if @site_group
          -Array(@site_group).each do |sg|
            ="/"
            =link_to_if @site, "#{sg.name}", send(current_path, @filter_params.merge({:site_group => sg.id, :site => ''}))

        -if @site
          -Array(@site).each do |site|
            ="/ #{site.name}"

    .grid_3.align_right.service_provider_logo.omega
      =provider_logo(@current_user.service_provider)
