- if exception.severity == 'clear'
  .dashboard_legend_box.monitoring{:class => "ok help_on_hover", :title => "All metrics OK"}
    i
- elsif exception.severity == 'minor'
  .dashboard_legend_box.monitoring{:class => "warning help_on_hover", :title => "Metrics on one protection path out of spec"}
    i
- elsif exception.severity == 'major'
  .dashboard_legend_box.monitoring{:class => "failed help_on_hover", :title => "Metrics on both protection paths out of spec"}
    i                