.toggle_mode.align_right.button-group{:style => 'margin-top: -10px; margin-left: 0; margin-bottom: 15px'}
  %a.submit_button{:href => site_group_report_path(@filter_params.merge({:severity => ''})), :class => current_page?(:action => 'site_group') ? 'primary' : 'alternate', :title => "See #{get_term(:site_group)} Report"}>
    Market Level
  %a.submit_button{:href => satellite_site_report_path(@filter_params.merge({:severity => ''})), :class => current_page?(:action => 'satellite_site') ? 'primary' : 'alternate', :title => "See #{get_term(:aggregation_site)} Report"}>
    ="#{get_term(:aggregation_site)} Level"
  %a.submit_button{:href => cell_site_report_path(@filter_params.merge({:severity => ''})), :class => current_page?(:action => 'cell_site') ? 'primary' : 'alternate', :title => "See #{get_term(:demarc)} Report"}>
    ="#{get_term(:demarc)} Level"
  %a.submit_button{:href => cell_site_path_report_path(@filter_params.merge({:severity => ''})), :class => current_page?(:action => 'cell_site_path') ? 'primary' : 'alternate', :title => "See #{get_term(:demarc)} #{get_term(:path)} Report"}>
    ="#{get_term(:demarc)} #{get_term(:path)} Level"
  %a.submit_button{:href => metrics_report_path(@filter_params.merge({:severity => ''})), :class => current_page?(:action => 'metrics') ? 'primary' : 'alternate', :title => "See Metrics Level Report"}>
    Metrics Level

%br.clear