-site_lists = @current_user.site_lists

.sidebar
  .right
    %span.submit_button.icon.add.no_text.toggle_form{:title => "New List"}

  %h4.title
    Site Lists

  .new_form{:class => site_lists.empty? ? '' : 'hide_form'}
    =form_for [@current_user, @site_list], :url => user_site_lists_path([@current_user]) do |f| 
      %label
        New List
      =f.text_field :name, :required => :required, :placeholder => 'Name'

      %select.multiple.excluded_sites{:name => 'site_list[path_ids][]', :multiple => 'multiple', 'data-placeholder' => 'Select a Site', 'value' => ''}

      =f.submit(:class => 'submit_button', :value => 'Create')
      or
      %a.cancel{:href => '#'}
        Cancel
      .clear
    -unless site_lists.empty?  
      %hr 

  %ul.item_list
    -site_lists.each do |site_list|
      %li.description
        =link_to 'Remove', [@current_user, site_list], :confirm => "Are you sure you want to remove #{site_list.name}?", :method => :delete, :class => :trash, :remote => true
        =link_to 'Edit', '#', :class => 'edit'
        .filter_title
          =site_list.name

      %li.edit_description
        =form_for [@current_user, site_list], :method => :put, :remote => true do |f|
          =f.text_field :name, :required => :required
          
          %select.multiple.excluded_sites{:name => 'site_list[path_ids][]', :multiple => 'multiple', 'data-placeholder' => 'Select a Site'}
            - sites = site_list.sin_path_service_provider_sphinxes
            = options_for_select sites.map {|site| [site.member_handle, site.path_id]}, sites.map(&:path_id)
    
          =f.submit(:class => 'submit_button', :value => 'Save')
          or
          %a.cancel_filter_template{:href => '#'}
            Cancel