-unless pdf
  %button.pill.submit_button.details_link{:href => '#'}
    info

.details_table{:class => pdf ? '' : 'hidden'}
  .exception_details
    - if exception.severity == :critical
      %strong
        SLA Failure
      %ul
        %li
          %label
            Measured Monthly Value:
          -if exception.monthly_metric_value
            ="#{exception.monthly_metric_value}#{exception.get_value_units_s == 'seconds' ? ' ': ''}#{exception.get_value_units_s}"
          -else
            N/A

        %li
          %label
            SLA Guarantee:
          =exception.get_errored_period_threshold == 'N/A' ? 'N/A' : "#{exception.get_errored_period_threshold.to_s}#{exception.get_threshold_units_s.to_s}"
    
        -if exception.sla_type == :availability
          %li
            %label
              Sampling Interval (&#916;t):
            ="#{convert_seconds_to_time(exception.get_errored_period_delta_time_secs)}"
          %li
            %label
              FLR Threshold (C):
            ="#{exception.availability_flr_threshold}%"
          %li
            %label
              Consecutive Samples (n):
            =exception.availability_consecutive_count_threshold
    
    - else
      %strong
        =exception.severity.to_s.titleize
        Exception
      %ul
        %li                  
          %label
            Average Value:
          ="#{exception.value}#{exception.get_value_units_s == 'seconds' ? ' ': ''}#{exception.get_value_units_s}"
        %li
          %label
            =exception.severity.to_s.titleize
            Threshold:
          ="#{exception.get_errored_period_threshold}#{exception.get_threshold_units_s.to_s}"
        %li    
          %label
            Time Over Threshold:
          ="#{convert_seconds_to_time(exception.get_errored_period_max_secs)}"
        %li
          %label
            Sampling Interval (&#916;t):
          ="#{convert_seconds_to_time(exception.get_errored_period_delta_time_secs)}"
          
        -if exception.sla_type == :availability          
          %li
            %label
              FLR Threshold (C):
            ="#{exception.availability_flr_threshold}%"
          %li
            %label
              Consecutive Samples (n):
            =exception.availability_consecutive_count_threshold
