-"#{get_term(:path)}:"
-path_mh = member_handle_for_current_user(path, @current_user)
%a{:href => paths_path(@params.merge({:path_details => path.id, :entity_id => exception.cos_test_vector.cos_end_point.segment_end_point.id, :entity_type => exception.cos_test_vector.cos_end_point.segment_end_point.class, :tab_id => exception.cos_test_vector.cos_end_point.id, :section_id => exception.cos_test_vector.id, :graph_type => exception.to_internal_metric_type.to_s, :date_range_start => Time.at(exception.time_declared_epoch.to_i).in_time_zone.beginning_of_month.strftime(RangeDate::DATE_FORMAT), :date_range_end => Time.at(exception.time_declared_epoch.to_i).in_time_zone.end_of_month.strftime(RangeDate::DATE_FORMAT)})), :title => "See #{get_term(:path)} List for #{path_mh}", :target => '_blank'}
  =truncate path_mh
%br
Component:
%br
-if exception.cos_test_vector.is_a?(SpirentCosTestVector)
  -cos_mh = exception.cos_test_vector.circuit_id
-else
  -cos_mh = member_handle_for_current_user(exception.cos_test_vector.cos_end_point.segment_end_point, @current_user)
%a{:href => paths_path(@params.merge({:path_details => path.id, :entity_id => exception.cos_test_vector.cos_end_point.segment_end_point.id, :entity_type => exception.cos_test_vector.cos_end_point.segment_end_point.class, :tab_id => exception.cos_test_vector.cos_end_point.id, :section_id => exception.cos_test_vector.id, :graph_type => exception.to_internal_metric_type.to_s, :date_range_start => Time.at(exception.time_declared_epoch.to_i).in_time_zone.beginning_of_month.strftime(RangeDate::DATE_FORMAT), :date_range_end => Time.at(exception.time_declared_epoch.to_i).in_time_zone.end_of_month.strftime(RangeDate::DATE_FORMAT)})), :title => "See #{get_term(:path)} List for #{cos_mh}", :target => '_blank'}
  =cos_mh