- if exception.severity == 'clear'
  .dashboard_legend_box.monitoring{:class => "ok"}
- elsif exception.severity == 'minor'
  .dashboard_legend_box.monitoring{:class => "dependency help_on_hover", :title => "The metric exceeded the minor threshold for more than allowed time during calendar month"}
    i
- elsif exception.severity == 'major'
  .dashboard_legend_box.monitoring{:class => "warning help_on_hover", :title => "The metric exceeded the major threshold for more than allowed time during calendar month"}
    i                
- elsif exception.severity == 'critical'
  .dashboard_legend_box.monitoring{:class => "failed help_on_hover", :title => "The metric failed to meet the monthly SLA guarantee"}
    i