- if exception.severity == :minor
  .dashboard_legend_box.monitoring{:class => "dependency help_on_hover", :title => "Measured Utilization above minor threshold for more than allowed time during calendar month"}
    i
- elsif exception.severity == :major
  .dashboard_legend_box.monitoring{:class => "warning help_on_hover", :title => "Measured Utilization above major threshold for more than allowed time during calendar month"}
    i