=render 'rolled_up_reports_header', :title => "#{get_term(:demarc)} Path Level Report", :current_path => 'cell_site_path_report_path'

.container_12.clearfix

  =render 'shared/flash_message'
  
  .grid_4.alpha
    =render 'rolled_up_interactive_pie', :current_path => 'cell_site_path_report_path', :title => get_term(:path)

  .grid_8.alpha.omega
    =render 'rolled_up_reports_nav'

    .grid_5.alpha
      =render "shared/search_form_wide", :show_metric => false, :show_component => true, :show_clear => true, :show_site_group => true, :show_cell_site_name => true, :default_period => 'Week to date', :show_site_type => true

    .grid_3.omega
      =render 'filter_form', :report_type => 'cell_site_path'
      / =render 'site_list'

      
.container_12
      
  .grid_12{:class => 'alpha omega'}
    
    .right
      %a.submit_button{:href => cell_site_path_report_path(@filter_params.merge({:pdf_data => 'exceptions', :format => :pdf})), :target => '_blank'}
        Export PDF   
      %a.submit_button{:href => cell_site_path_report_path(@filter_params.merge({:csv_data => 'exceptions', :format => :csv})), :target => '_blank'}
        Export CSV     

    = render 'shared/table_toggle_link', :title => 'Protection Paths', :table_name => 'cell_site_paths'      
  
    %table#cell_site_paths.dashboard_table.exceptions{'data-src' => cell_site_path_report_path(@filter_params.merge({:js_data => 'exceptions'}))}
      %thead
        %tr
          %th Sev
          %th Analysis Period
          %th 
            ="#{get_term(:demarc)}"
          %th Role
          %th 
            ="#{get_term(:aggregation_site)}"
          %th Metrics Count
          %th OK Metrics
          %th Minor Metrics
          %th Major Metrics
                                                  
      %tbody