<%- rows = [] -%>
<%- @exceptions.each do |exception| -%>

  <%- severity = render 'rolled_up_severity', :exception => exception -%>
  <%- mh = member_handle_for_current_user(exception.demarc, @current_user) -%>
  <%- rows << [ severity,
                exception.weekly_period,
                link_to(mh, cell_site_path_report_path(@filter_params.merge({:cell_site_name => "#{mh.gsub(/^.*:\W/, '')}", :severity => ''}))),
                exception.site.name,
                exception.metric_count,
                "#{exception.metric_percentage(exception.metric_ok_count)}%",
                "#{exception.metric_percentage(exception.metric_minor_count)}%",
                "#{exception.metric_percentage(exception.metric_major_count)}%"
                ] -%>

<%- end -%>

{
    "sEcho": <%= params[:sEcho] -%>,
    "iTotalRecords": <%= @total -%>,
    "iTotalDisplayRecords": <%= @total -%>,
    "aaData": <%= raw(rows) -%>
}