.container_12
  .border.clearfix
    .grid_9.alpha
      %h1
        ="#{get_term(:demarc)} Level Report"

    .grid_3.align_right.service_provider_logo.omega
      =provider_logo(@current_user.service_provider, pdf=true)


.container_12.clearfix

  .grid_4.alpha
    =render '/reports/rolled_up_interactive_pie.html.haml', :current_path => 'cell_site_report_path', :title => get_term(:demarc), :pdf => true

  .grid_8.omega
    =render '/reports/filter.html.haml'
      
.container_12
      
  .grid_12{:class => 'alpha omega'}     
  
    %h3.inline
      =get_term(:demarc, true)
  
    %table#site_groups.dashboard_table.exceptions
      %thead
        %tr
          %th Sev
          %th Analysis Period
          %th Name
          %th 
            ="#{get_term(:aggregation_site)}"
          %th Metrics Count
          %th OK Metrics
          %th Minor Metrics
          %th Major Metrics
                                                  
      %tbody
        -@exceptions.each do |exception|
          %tr
            %td
              =exception.severity.to_s.titleize
            %td
              =exception.weekly_period
            %td
              =member_handle_for_current_user(exception.demarc, @current_user)
            %td
              =exception.site.name
            %td
              =exception.metric_count
            %td
              ="#{exception.metric_percentage(exception.metric_ok_count)}%"
            %td
              ="#{exception.metric_percentage(exception.metric_minor_count)}%"
            %td
              ="#{exception.metric_percentage(exception.metric_major_count)}%"