<%- headers = ["Severity", "Analysis Period", "#{get_term(:demarc)}", "Role", "#{get_term(:aggregation_site)}", "Metrics Count", "OK Metrics", "Minor Metrics", "Major Metrics"] -%>
<%= CSV.generate_line headers -%>
<%- exceptions.each_with_index do |exception, i| -%>
<%- row = [ "#{exception.severity.to_s.titleize}",
            exception.weekly_period,
            member_handle_for_current_user(exception.demarc, @current_user),
            exception.role,
            exception.site.name,
            exception.metric_count,
            "#{exception.metric_percentage(exception.metric_ok_count)}%",
            "#{exception.metric_percentage(exception.metric_minor_count)}%",
            "#{exception.metric_percentage(exception.metric_major_count)}%" ] -%>
<%= CSV.generate_line(row).html_safe -%>
<%- end -%>
<%= render '/reports/filter.csv.erb' -%>