<%- rows = [] -%>
<%- @exceptions.each do |exception| -%>

  <%- severity = render 'metrics_severity', :exception => exception -%>
  <%- mh = member_handle_for_current_user(exception.demarc, @current_user) -%>
  <%- rows << [ severity,
                exception.weekly_period,
                link_to(mh, metrics_report_path(@filter_params.merge({:demarc => exception.demarc.id, :component => "#{mh.gsub(/^.*:\W/, '')} -#{exception.role}-", :severity => '', :service_provider => ''}))),
                exception.role,
                exception.site.name,
                exception.metric_count,
                "#{exception.metric_percentage(exception.metric_ok_count)}%",
                "#{exception.metric_percentage(exception.metric_minor_count)}%",
                "#{exception.metric_percentage(exception.metric_major_count)}%"
              ] -%>

<%- end -%>

{
    "sEcho": <%= params[:sEcho] -%>,
    "iTotalRecords": <%= @total -%>,
    "iTotalDisplayRecords": <%= @total -%>,
    "aaData": <%= raw(rows) -%>
}