-content_for :title do
  ="CENX - #{get_term(:path)} Utilization Report"


.container_12
  .border.clearfix
    .grid_9.alpha
      %h1
        ="#{get_term(:path)} Utilization Report"

    .grid_3.align_right.service_provider_logo.omega
      =provider_logo(@current_user.service_provider)


.container_12.clearfix
  =render :partial => 'shared/flash_message'

  .grid_4.alpha
    =render :partial => 'exception_interactive_pie', :locals => {:hide_critical => true, :current_path => 'circuit_utilization_report_path'}

  .grid_5
    =render :partial => "shared/search_form_wide", :locals => {:show_critical => true}      
    
  .grid_3
    =render :partial => 'filter_form', :locals => {:report_type => 'circuit_utilization'}      
      
.container_12
      
  .grid_12{:class => 'alpha omega'}
    .right
      %a.submit_button{:href => circuit_utilization_report_path(@filter_params.merge({:csv_data => 'exceptions', :format => :csv})), :target => '_blank'}
        Export CSV
  
    = render 'shared/table_toggle_link', :title => "#{get_term(:path, true)} with Exceptions", :table_name => 'circuit_exceptions'      
  
    %table#circuit_exceptions.dashboard_table.circuit_exceptions{'data-src' => circuit_utilization_report_path(@filter_params.merge({:js_data => 'exceptions'}))}
      %thead
        %tr
          %th Sev
          %th ID
          %th Date
          %th 
            = get_term(:aggregation_site)
          %th
            = get_term(:service_provider)
          %th Direction
          %th CoS
          %th Details
                                                  
      %tbody

                
                   
    = render 'shared/table_toggle_link', :title => 'Top Talkers', :table_name => 'circuit_utilization_top_talkers'
      
    %table#circuit_utilization_top_talkers.dashboard_table.top_talkers
      %thead
        %tr
          %th ID
          %th Direction
          %th Capacity (Mbps)
          %th % of Capacity
          %th Average Mbps


      %tbody
        -@top_talkers.each do |tt|
          -tt.cos_end_point.segment_end_point.segment.paths.each do |path|
            %tr
              %td
                ="#{get_term(:path)}:"
                -path_mh = member_handle_for_current_user(path, @current_user)
                %a{:href => paths_path(@filter_params.merge({:path_details => path.id, :entity_id => tt.cos_end_point.segment_end_point.id, :entity_type => tt.cos_end_point.segment_end_point.class, :graph_type => 'troubleshooting', :date_range_start => Time.at(tt.time_period_start).in_time_zone.beginning_of_month.strftime(RangeDate::DATE_FORMAT), :date_range_end => Time.at(tt.time_period_end).in_time_zone.end_of_month.strftime(RangeDate::DATE_FORMAT)})), :title => "See #{get_term(:path)} List for #{path_mh}", :target => '_blank'}
                  =truncate path_mh, :length => 40
                %br
                Component:
                -cos_mh = member_handle_for_current_user(tt.cos_end_point.segment_end_point, @current_user)
                %a{:href => paths_path(@filter_params.merge({:path_details => path.id, :entity_id => tt.cos_end_point.segment_end_point.id, :entity_type => tt.cos_end_point.segment_end_point.class, :graph_type => 'troubleshooting', :date_range_start => Time.at(tt.time_period_start).in_time_zone.beginning_of_month.strftime(RangeDate::DATE_FORMAT), :date_range_end => Time.at(tt.time_period_end).in_time_zone.end_of_month.strftime(RangeDate::DATE_FORMAT)})), :title => "See #{get_term(:path)} List for #{cos_mh}", :target => '_blank'}
                  =truncate cos_mh
              %td
                =tt.direction.titleize
              %td
                =tt.cos_end_point.rate_mbps(tt.direction.to_sym)
              %td
                ="#{number_with_precision(tt.capactiy_percentage, :precision => 2, :strip_insignificant_zeros => true)}%"
              %td
                ="#{number_with_precision(tt.average_mbps, :precision => 2, :strip_insignificant_zeros => true)}"