<%- rows = [] -%>
<%- @exceptions.each do |exception| -%>
  <%- exception.cos_end_point.segment_end_point.ovc.paths.each do |evc| -%>

    <%- severity = render :partial => "utilization_severity", :locals => {:exception => exception} -%>
    <%- circuit_link = render :partial => "circuit_utilization_link", :locals => {:exception => exception, :evc => evc} -%>
    <%- info_bubble = render :partial => "circuit_utilization_info_bubble", :locals => {:exception => exception} -%>

    <%- rows << [ severity,
                  circuit_link,
                  timestamp_to_date_time(exception.time_declared),
                  evc.on_net_ovcs.collect{|segment| segment.site.name}.join(', '),
                  exception.cos_end_point.segment_end_point.segment.service_provider.name,
                  exception.direction.to_s.titleize,
                  exception.cos_end_point.cos_instance.cos_name,
                  info_bubble ] -%>

  <%- end -%>                  
<%- end -%>

{
    "sEcho": <%= params[:sEcho] -%>,
    "iTotalRecords": <%= @exceptions.count -%>,
    "iTotalDisplayRecords": <%= @exceptions.count -%>,
    "aaData": <%= raw(rows) -%>
}