<%- headers = ["Severity", "ID", "Date", get_term(:aggregation_site), "Provider", "Direction", "CoS", "Measured Value", "Utilization Threshold", "Percent Threshold", "Capacity", "Time Over Threshold", "Sampling Interval"] -%>
<%= CSV.generate_line headers -%>
<%- exceptions.each_with_index do |exception, i| -%>
<%- exception.cos_end_point.segment_end_point.segment.paths.each do |path| -%>
<%- path_mh = member_handle_for_current_user(path, user) -%>
<%- cos_mh = member_handle_for_current_user(exception.cos_end_point.segment_end_point, user) -%>
<%- row = [ "#{exception.severity}",
            "#{get_term(:path)}: #{path_mh}\nComponent: #{cos_mh}",
            timestamp_to_date_time(exception.time_declared),
            path.on_net_ovcs.collect{|segment| segment.site.name}.join(', '),
            exception.cos_end_point.segment_end_point.segment.service_provider.name,
            exception.direction.to_s.titleize,
            exception.cos_end_point.cos_instance.cos_name,
            "#{exception.average_rate_while_over_threshold_mbps} Mbps",
            "#{exception.get_errored_period_threshold_mbps} Mbps",
            "#{exception.get_errored_period_threshold_percent}%",
            "#{exception.cos_end_point.rate_mbps(exception.direction.to_sym)} Mbps",
            "#{convert_seconds_to_time(exception.get_errored_period_max_secs)}",
            "#{convert_seconds_to_time(exception.get_errored_period_delta_time_secs)}" ] -%>
<%= CSV.generate_line(row).html_safe -%>
<%- end -%>
<%- end -%>
<%= render '/reports/filter.csv.erb' -%>