<%- headers = ["id", "Direction", "Capacity (Mbps)", "% of Capacity", "Average Mbps"] -%>
<%= CSV.generate_line headers -%>
segment_end_point<%- @top_talkers.each do |tt| -%>
<%- tt.cos_end_point.segment_end_point.segment.paths.each do |path| -%>
<%- path_mh = member_handle_for_current_user(path, @current_user) -%>
<%- cos_mh = member_handle_for_current_user(tt.cos_end_point.segment_end_point, @current_user) -%>
<%- row = [ "#{get_term(:path)}: #{path_mh}\nComponent: #{cos_mh}",
            tt.direction.titleize,
            tt.cos_end_point.rate_mbps(tt.direction.to_sym),
            "#{number_with_precision(tt.capactiy_percentage, :precision => 2, :strip_insignificant_zeros => true)}%",
            "#{number_with_precision(tt.average_mbps, :precision => 2, :strip_insignificant_zeros => true)}" ] -%>
<%= CSV.generate_line(row).html_safe -%>
<%- end -%>
<%- end -%>
<%= render '/reports/filter.csv.erb' -%>