<%- headers = ["id", "Direction", "Capacity (Mbps)", "% of Capacity", "Average Mbps"] -%>
<%= CSV.generate_line headers -%>
<%- @top_talkers.each do |tt| -%>
<%- row = [ member_handle_for_current_user(tt.enni_new, @current_user),
            tt.direction.titleize,
            tt.enni_new.rate,
            "#{number_with_precision(tt.capactiy_percentage, :precision => 2, :strip_insignificant_zeros => true)}%",
            "#{number_with_precision(tt.average_mbps, :precision => 2, :strip_insignificant_zeros => true)}" ] -%>
<%= CSV.generate_line(row).html_safe -%>
<%- end -%>
<%= render '/reports/filter.csv.erb' -%>