<%- rows = [] -%>
<%- @ennis.each do |enni| -%>
  <%- pb = enni.get_provisioned_bandwidth -%>
  <%- circuit_link = render :partial => "provisioned_bandwidth_link", :locals => {:enni => enni} -%>

  <%- rows << [ circuit_link,
                enni.site.name,
                enni.rate,
                number_with_precision(pb[:grand][:cir_rate], :precision => 3, :strip_insignificant_zeros => true),
                number_with_precision(pb[:grand][:eir_rate], :precision => 3, :strip_insignificant_zeros => true),
                number_with_precision(enni.cir_limit, :precision => 3, :strip_insignificant_zeros => true),
                number_with_precision(enni.eir_limit, :precision => 3, :strip_insignificant_zeros => true) ] -%>
<%- end -%>

{
    "sEcho": <%= params[:sEcho] -%>,
    "iTotalRecords": <%= @ennis.length > 0 ? @ennis.total_entries : 0 -%>,
    "iTotalDisplayRecords": <%= @ennis.length > 0 ? @ennis.total_entries : 0 -%>,
    "aaData": <%= raw(rows) -%>
}