<%- headers = ["Severity", "ID", "Date", get_term(:aggregation_site), "Provider", "Direction", "Measured Value", "Utilization Threshold", "Percent Threshold", "Capacity", "Time Over Threshold", "Sampling Interval"] -%>
<%= CSV.generate_line headers -%>
<%- exceptions.each_with_index do |exception, i| -%>
<%- row = [ "#{exception.severity}",
            member_handle_for_current_user(exception.enni_new, user),
            timestamp_to_date_time(exception.time_declared),
            exception.enni_new.site.name,
            exception.enni_new.service_provider.name,
            exception.direction.to_s.titleize,
            "#{exception.average_rate_while_over_threshold_mbps} Mbps",
            "#{exception.get_errored_period_threshold_mbps} Mbps",
            "#{exception.get_errored_period_threshold_percent}%",
            "#{exception.enni_new.rate} Mbps",
            "#{convert_seconds_to_time(exception.get_errored_period_max_secs)}",
            "#{convert_seconds_to_time(exception.get_errored_period_delta_time_secs)}" ] -%>
<%= CSV.generate_line(row).html_safe -%>
<%- end -%>
<%= render '/reports/filter.csv.erb' -%>