<%- headers = ["id", get_term(:aggregation_site), "Capacity (Mbps)", "CIR %", "EIR %", "CIR Limit %", "EIR Limit %"] -%>
<%= CSV.generate_line headers -%>
<%- @ennis.each do |enni| -%>
<%- pb = enni.get_provisioned_bandwidth -%>
<%- row = [ member_handle_for_current_user(enni, @current_user),
            enni.site.name,
            enni.rate,
            number_with_precision(pb[:grand][:cir_rate], :precision => 3, :strip_insignificant_zeros => true),
            number_with_precision(pb[:grand][:eir_rate], :precision => 3, :strip_insignificant_zeros => true),
            number_with_precision(enni.cir_limit, :precision => 3, :strip_insignificant_zeros => true),
            number_with_precision(enni.eir_limit, :precision => 3, :strip_insignificant_zeros => true) ] -%>
<%= CSV.generate_line(row).html_safe -%>
<%- end -%>
<%= render '/reports/filter.csv.erb' -%>