-content_for :title do
  ="CENX - #{get_term(:enni)} Utilization Report"


.container_12
  .border.clearfix
    .grid_9.alpha
      %h1
        ="#{get_term(:enni)} Utilization Report"

    .grid_3.align_right.service_provider_logo.omega
      =provider_logo(@current_user.service_provider)


.container_12.clearfix
  =render :partial => 'shared/flash_message'

  .grid_4.alpha
    =render :partial => 'exception_interactive_pie', :locals => {:current_path => 'enni_utilization_report_path', :hide_critical => true}

  .grid_5
    =render :partial => "shared/search_form_wide", :locals => {:hide_circuit_ownership => true, :show_critical => true}  
    
  .grid_3
    =render :partial => 'filter_form', :locals => {:report_type => 'enni_utilization'}

.container_12
      
  .grid_12{:class => 'alpha omega'}
  
    .right
      %a.submit_button{:href => enni_utilization_report_path(@filter_params.merge({:csv_data => 'exceptions', :format => :csv})), :target => '_blank'}
        Export CSV
        

    = render 'shared/table_toggle_link', :title => "#{get_term(:enni, true)} with Exceptions", :table_name => 'ennis_exceptions'
  
    %table#ennis_exceptions.dashboard_table.ennis_exceptions{'data-src' => enni_utilization_report_path(@filter_params.merge({:js_data => 'exceptions'}))}
      %thead
        %tr
          %th Sev
          %th ID
          %th Date
          %th 
            = get_term(:aggregation_site)
          %th 
            = get_term(:service_provider)
          %th Direction
          %th Details
                                                  
      %tbody


    .right
      %a.submit_button{:href => enni_utilization_report_path(@filter_params.merge({:csv_data => 'top_talkers', :format => :csv})), :target => '_blank'}
        Export CSV


    = render 'shared/table_toggle_link', :title => 'Top Talkers', :table_name => 'enni_top_talkers'

    %table#top_talkers.dashboard_table.top_talkers
      %thead
        %tr
          %th ID
          %th Direction
          %th Capacity (Mbps)
          %th % of Capacity
          %th Average Mbps


      %tbody
        -@top_talkers.each do |tt|
          %tr
            %td
              -enni_mh = member_handle_for_current_user(tt.enni_new, @current_user)
              %a{:href => ennis_path(@filter_params.merge({:enni_details => tt.enni_id, :graph_type => 'troubleshooting', :entity_id => tt.enni_id, :entity_type => tt.enni_new.class, :date_range_start => Time.at(tt.time_period_start).in_time_zone.beginning_of_month.strftime(RangeDate::DATE_FORMAT), :date_range_end => Time.at(tt.time_period_end).in_time_zone.end_of_month.strftime(RangeDate::DATE_FORMAT)})), :title => "See #{get_term(:enni)} details for #{enni_mh}", :target => '_blank'}
                =truncate enni_mh
            %td
              =tt.direction.titleize
            %td
              =tt.enni_new.rate
            %td
              ="#{number_with_precision(tt.capactiy_percentage, :precision => 2, :strip_insignificant_zeros => true)}%"
            %td
              ="#{number_with_precision(tt.average_mbps, :precision => 2, :strip_insignificant_zeros => true)}"
      
      
    .right
      %a.submit_button{:href => enni_utilization_report_path(@filter_params.merge({:csv_data => 'provisioned_bandwidth', :format => :csv})), :target => '_blank'}
        Export CSV


    = render 'shared/table_toggle_link', :title => 'Provisioned Bandwidth', :table_name => 'provisioned_bandwidth'                  

    %table#provisioned_bandwidth.dashboard_table.provisioned_bandwidth{'data-src' => enni_utilization_report_path(@filter_params.merge({:js_data => 'provisioned_bandwidth'}))}
      %thead
        %tr
          %th ID
          %th 
            = get_term(:aggregation_site)
          %th Capacity (Mbps)
          %th CIR %
          %th EIR %
          %th CIR Limit %
          %th EIR Limit %

      %tbody
