<%- rows = [] -%>
<%- @exceptions.each do |exception| -%>

  <%- severity = render :partial => "utilization_severity", :locals => {:exception => exception} -%>
  <%- circuit_link = render :partial => "enni_utilization_link", :locals => {:exception => exception} -%>
  <%- info_bubble = render :partial => "enni_utilization_info_bubble", :locals => {:exception => exception} -%>

  <%- rows << [ severity,
                circuit_link,
                timestamp_to_date_time(exception.time_declared),
                exception.enni_new.site.name,
                exception.enni_new.service_provider.name,
                exception.direction.to_s.titleize,
                info_bubble ] -%>

<%- end -%>

{
    "sEcho": <%= params[:sEcho] -%>,
    "iTotalRecords": <%= @exceptions.count -%>,
    "iTotalDisplayRecords": <%= @exceptions.count -%>,
    "aaData": <%= raw(rows) -%>
}