<%- rows = [] -%>
<%- @exceptions.each do |exception| -%>

  <%- path = exception.path -%>
  <%- category = exception.category.blank? ? exception.exception_type : exception.category -%>

  <%- circuit_link = render :partial => "fallout_exception_circuit_link", :locals => {:exception => exception, :path => path} -%>

  <%- rows << [ circuit_link,
                timestamp_to_date(exception.time),
                path.site_names,
                path.aav,
                category,
                exception.details.gsub(/,/,"<br />").gsub(/;/,"; ") ] -%>

<%- end -%>

{
    "sEcho": <%= params[:sEcho] -%>,
    "iTotalRecords": <%= @exceptions.count -%>,
    "iTotalDisplayRecords": <%= @exceptions.count -%>,
    "aaData": <%= raw(rows) -%>
}