<%- headers = ["Cascade ID", "Date", get_term(:aggregation_site), get_term(:service_provider), "Exception Type", "Details"] -%>
<%= CSV.generate_line headers -%>
<%- exceptions.each_with_index do |exception, i| -%>
<%- path = exception.path -%>
<%- row = [path.cascade_id,
           Time.at(exception.timestamp).utc.strftime('%Y-%m-%d %H:%M:%S'),
           path.site_names,
           path.aav,
           exception.exception_type,
           exception.details] -%>

<%= CSV.generate_line(row).html_safe -%>
<%- end -%>
<%= render '/reports/filter.csv.erb' -%>