- fallout_data = ApplicationHelper::AUDIT_FALLOUT_TYPES[params[:fallout_exception_type]]
-content_for :title do
  = "CENX - #{fallout_data[:name]} Report"


.container_12
  .border.clearfix
    .grid_9.alpha
      %h1
        = "#{fallout_data[:name]} Report"

    .grid_3.align_right.service_provider_logo.omega
      =provider_logo(@current_user.service_provider)


.container_12.clearfix

  =render 'shared/flash_message'
  
  .grid_4
    =render 'fallout_exception_interactive_pie', :current_path => 'fallout_exception_report_path'

  .grid_5
    =render "shared/search_form_wide", :hide_severity => true, :show_fallout_category => true, :show_cascade_id => true, :default_period => 'Previous 12 months', :hide_site_list => true

  .grid_3
    =render 'filter_form', :report_type => 'inventory_exception'


.container_12
      
  .grid_12{:class => 'alpha omega'}
    
    .right
      / %a.submit_button{:href => fallout_exception_report_path(@filter_params.merge({:pdf_data => 'exceptions', :format => :pdf})), :target => '_blank'}
      /   Export PDF   
      / %a.submit_button{:href => fallout_exception_report_path(@filter_params.merge({:csv_data => 'exceptions', :format => :csv})), :target => '_blank'}
      /   Export All CSV     
      %a.submit_button{:href => fallout_exception_report_path(@filter_params.merge({:xlsx_data => 'exceptions', :format => :xlsx})), :target => '_blank'}
        Export All XLSX     

    = render 'shared/table_toggle_link', :title => "Exceptions", :table_name => 'sla_exceptions'      
  
    %table#fallout_exceptions.dashboard_table.exceptions{'data-src' => fallout_exception_report_path(@filter_params.merge({:js_data => 'exceptions'}))}
      %thead
        %tr
          %th= get_term(:cascade)
          %th Date
          %th
            = get_term(:aggregation_site)
          %th 
            = get_term(:service_provider)
          %th Category
          %th Details
                                                  
      %tbody