=render 'rolled_up_reports_header', :title => "Metrics Report", :current_path => 'metrics_report_path'

.container_12.clearfix

  =render 'shared/flash_message'
  
  .grid_4.alpha
    =render 'rolled_up_interactive_pie', :current_path => 'metrics_report_path', :title => 'Metric'

  .grid_8.alpha.omega
    =render 'rolled_up_reports_nav'

    .grid_5.alpha
      =render "shared/search_form_wide", :show_metric => true, :show_component => true, :show_clear => true, :default_period => 'Week to date', :show_site_type => true

    .grid_3.omega
      =render 'filter_form', :report_type => 'metrics'
      =render 'site_list'
          
.container_12
  .grid_12{:class => 'alpha omega'}
    
    .right
      %a.submit_button{:href => metrics_report_path(@filter_params.merge({:pdf_data => 'exceptions', :format => :pdf})), :target => '_blank'}
        Export PDF   
      %a.submit_button{:href => metrics_report_path(@filter_params.merge({:csv_data => 'exceptions', :format => :csv})), :target => '_blank'}
        Export CSV     

    = render 'shared/table_toggle_link', :title => "Metrics Summary", :table_name => 'metrics_reports'      
  
    %table#metrics_reports.dashboard_table.exceptions{'data-src' => metrics_report_path(@filter_params.merge({:js_data => 'exceptions'}))}
      %thead
        %tr
          %th Sev
          %th ID
          %th Analysis Period
          %th
            = get_term(:aggregation_site)
          %th 
            = get_term(:service_provider)
          %th Service Type
          %th CoS
          %th Metric  
          %th Details
                                                  
      %tbody