.container_12
  .border.clearfix
    .grid_9.alpha
      %h1
        Metrics Report

    .grid_3.align_right.service_provider_logo.omega
      =provider_logo(@current_user.service_provider, pdf=true)


.container_12.clearfix

  .grid_4.alpha
    =render '/reports/rolled_up_interactive_pie.html.haml', :current_path => 'metrics_report_path', :title => 'Metric', :pdf => true

  .grid_8.omega
    =render '/reports/filter.html.haml'
      
.container_12
      
  .grid_12{:class => 'alpha omega'}     
  
    %h3.inline
      Metrics Summary
  
    %table#site_groups.dashboard_table.exceptions
      %thead
        %tr
          %th Sev
          %th ID
          %th Analysis Period
          %th
            = get_term(:aggregation_site)
          %th 
            = get_term(:service_provider)
          %th Service Type
          %th CoS
          %th Metric  
          %th Details
                                                  
      %tbody
        -@exceptions.each do |exception|
          - paths = exception.cos_test_vector.cos_end_point.segment_end_point.segment.paths 
          - path = paths.first

          - severity = render :partial => "/reports/metrics_severity.html.haml", :locals => {:exception => exception}
          - circuit_link = render :partial => "/reports/metrics_circuit_link.html.haml", :locals => {:exception => exception, :path => path}
          - info_bubble = render :partial => "/reports/metrics_info_bubble.html.haml", :locals => {:exception => exception, :pdf => true} 

          %tr
            %td
              =severity
            %td
              =circuit_link
            %td
              =exception.weekly_period
            %td
              =path.on_net_ovcs.collect{|segment| segment.site.name}.uniq.join(', ')
            %td
              =exception.cos_test_vector.cos_end_point.segment_end_point.segment.service_provider.name
            %td
              =exception.cos_test_vector.cos_end_point.cos_instance.ethernet_service_type_info
            %td
              =exception.cos_test_vector.cos_end_point.cos_instance.cos_name
            %td
              =exception.metric_type.to_s.upcase
            %td
              =info_bubble