<%- rows = [] -%>
<%- @exceptions.each do |exception| -%>

  <%- paths = exception.cos_test_vector.cos_end_point.segment_end_point.segment.paths -%>
  <%- path = paths.first -%>

  <%- severity = render :partial => "metrics_severity", :locals => {:exception => exception} -%>
  <%- circuit_link = render :partial => "metrics_circuit_link", :locals => {:exception => exception, :path => path} -%>
  <%- info_bubble = render :partial => "metrics_info_bubble", :locals => {:exception => exception, :pdf => false} -%>

  <%- rows << [ severity,
                circuit_link,
                exception.weekly_period,
                path.on_net_ovcs.collect{|segment| segment.site.name}.uniq.join(', '),
                exception.cos_test_vector.cos_end_point.segment_end_point.segment.service_provider.name,
                exception.cos_test_vector.cos_end_point.cos_instance.ethernet_service_type_info,
                exception.cos_test_vector.cos_end_point.cos_instance.cos_name,
                exception.metric_type.to_s.upcase,
                info_bubble ] -%>

<%- end -%>

{
    "sEcho": <%= params[:sEcho] -%>,
    "iTotalRecords": <%= @total -%>,
    "iTotalDisplayRecords": <%= @total -%>,
    "aaData": <%= raw(rows) -%>
}