<%- headers = ["Severity", "Date", get_term(:aggregation_site), get_term(:network_type), "FLR", "FD", "FDV"] -%>
<%= CSV.generate_line headers -%>
<%- exceptions.each_with_index do |exception, i| -%>
<%- row = [ "#{exception.severity}",
            timestamp_to_date_time(exception.time_declared),
            exception.operator_network_type.operator_networks.collect{|op| op.site.name}.uniq.join(', '),
            exception.operator_network_type.name,
            "#{exception.flr}#{exception.get_value_units_s(:flr)}",
            "#{exception.fd}#{exception.get_value_units_s(:fd)}",
            "#{exception.fdv}#{exception.get_value_units_s(:fdv)}"] -%>
<%= CSV.generate_line(row).html_safe -%>
<%- end -%>
<%= render '/reports/filter.csv.erb' -%>