<%- headers = ["Report Name", "FLR Daily Avg PAS", "FD Daily Avg PAS", "FDR Daily Avg PAS", "FLR Daily Avg", "FD Daily Avg", "FDR Daily Avg", "Availability Daily Avg"] -%>
<%= CSV.generate_line headers -%>
<%- row = [] -%>
<%= CSV.generate_line(row).html_safe -%>
<%= render '/reports/filter.csv.erb' -%>