<%- rows = [] -%>
<%- @exceptions.each do |exception| -%>

  <%- severity = render :partial => "sla_severity", :locals => {:exception => exception} -%>
  <%- info_bubble = render :partial => "oem_sla_info_bubble", :locals => {:exception => exception} -%>

  <%- rows << [ severity,
                timestamp_to_date_time(exception.time_declared),
                exception.operator_network_type.operator_networks.collect{|op| op.site.name}.uniq.join(', '),
                exception.operator_network_type.name,
                info_bubble ] -%>
<%- end -%>

{
    "sEcho": <%= params[:sEcho] -%>,
    "iTotalRecords": <%= @total -%>,
    "iTotalDisplayRecords": <%= @total -%>,
    "aaData": <%= raw(rows) -%>
}