-content_for :title do
  CENX - Ad Hoc Report


.container_12
  .border.clearfix
    .grid_9.alpha
      %h1
        Ad Hoc Report

    .grid_3.align_right.service_provider_logo.omega
      =provider_logo(@current_user.service_provider)


.container_12.clearfix
  =render :partial => 'shared/flash_message'

  .grid_6.alpha
    =render :partial => 'exception_interactive_pie', :locals => {:current_path => 'oem_sla_report_path'}

  .grid_3
    =render :partial => 'filter_form', :locals => {:report_type => 'network_type'}

  .grid_3
    =render :partial => "shared/search_form", :locals => {:show_clear => true, :hide_circuit_type => true, :hide_service_provider => true, :show_critical => true}

      
/ .container_12
      
/   .grid_12{:class => 'alpha omega'}
    
/     .right
/       %a.submit_button{:href => oem_sla_report_path(@filter_params.merge({:csv_data => 'exceptions', :format => :csv})), :target => '_blank'}
/         Export CSV
      
/     %h3.inline
/       Network Type Threshold Violations
  
/     %table.dashboard_table.exceptions{'data-src' => oem_sla_report_path(@filter_params.merge({:js_data => 'exceptions'}))}
/       %thead
/         %tr
/           %th Sev
/           %th Date
/           %th 
/             = get_term(:aggregation_site)
/           %th 
/             = get_term(:network_type)
/           %th Details
                                                  
/       %tbody


/ .container_12

/   .grid_12{:class => 'alpha omega'}

/     .right
/       %a.submit_button{:href => oem_sla_report_path(@filter_params.merge({:csv_data => 'report', :format => :csv})), :target => '_blank'}
/         Export CSV

/     %h3.inline
/       Standard Network Type Reports

/     %table.dashboard_table.oem_reports
/       %thead
/         %tr
/           %th Report Name
/           %th FLR Daily Avg PAS
/           %th FD Daily Avg PAS
/           %th FDR Daily Avg PAS
/           %th FLR Daily Avg 
/           %th FD Daily Avg
/           %th FDR Daily Avg
/           %th Availability Daily Avg
          
/       %tbody

