<%- headers = ["Analysis Period", "Name", "#{get_term(:demarc)} Count", "OK #{get_term(:demarc)}", "Minor #{get_term(:demarc)}", "Major #{get_term(:demarc)}"] -%>
<%= CSV.generate_line headers -%>
<%- exceptions.each_with_index do |exception, i| -%>
<%- row = [ exception.weekly_period,
            exception.site.name,
            exception.demarc_count,
            "#{exception.demarc_percentage(exception.ok_demarc_count)}%",
            "#{exception.demarc_percentage(exception.minor_demarc_count)}%",
            "#{exception.demarc_percentage(exception.major_demarc_count)}%" ] -%>
<%= CSV.generate_line(row).html_safe -%>
<%- end -%>
<%= render '/reports/filter.csv.erb' -%>