.container_12
  .border.clearfix
    .grid_9.alpha
      %h1
        ="#{get_term(:aggregation_site)} Report"

    .grid_3.align_right.service_provider_logo.omega
      =provider_logo(@current_user.service_provider, pdf=true)


.container_12.clearfix

  .grid_4.alpha
    =render '/reports/rolled_up_interactive_pie.html.haml', :current_path => 'satellite_site_report_path', :title => 'Weekly Site Record', :pdf => true

  .grid_8.omega
    =render '/reports/filter.html.haml'
      
.container_12
      
  .grid_12{:class => 'alpha omega'}     
  
    %h3.inline
      =get_term(:aggregation_site, true)
  
    %table#site_groups.dashboard_table.exceptions
      %thead
        %tr
          %th Analysis Period
          %th Name
          %th 
            ="#{get_term(:demarc)} Count"
          %th 
            ="OK #{get_term(:demarc)}"
          %th 
            ="Minor #{get_term(:demarc)}"
          %th 
            ="Major #{get_term(:demarc)}"
                                                  
      %tbody
        -@exceptions.each do |exception|
          %tr
            %td
              =exception.weekly_period
            %td
              =exception.site.name
            %td
              =exception.demarc_count
            %td
              ="#{exception.demarc_percentage(exception.ok_demarc_count)}%"
            %td
              ="#{exception.demarc_percentage(exception.minor_demarc_count)}%"
            %td
              ="#{exception.demarc_percentage(exception.major_demarc_count)}%"