<%- rows = [] -%>
<%- @exceptions.each do |exception| -%>

  <%- rows << [ exception.weekly_period,
                link_to(exception.site.name, cell_site_report_path(@filter_params.merge({:site => exception.site_id, :severity => ''}))),
                link_to(exception.demarc_count, cell_site_report_path(@filter_params.merge({:site => exception.site_id, :severity => ''}))),
                "#{exception.demarc_percentage(exception.ok_demarc_count)}%",
                "#{exception.demarc_percentage(exception.minor_demarc_count)}%",
                "#{exception.demarc_percentage(exception.major_demarc_count)}%"
                 ] -%>

<%- end -%>

{
    "sEcho": <%= params[:sEcho] -%>,
    "iTotalRecords": <%= @total -%>,
    "iTotalDisplayRecords": <%= @total -%>,
    "aaData": <%= raw(rows) -%>
}