<%- headers = ["Analysis Period", "Name", "#{get_term(:aggregation_site)} Count", "#{get_term(:demarc)} Count", "OK #{get_term(:demarc)}", "Minor #{get_term(:demarc)}", "Major #{get_term(:demarc)}"] -%>
<%= CSV.generate_line headers -%>
<%- exceptions.each_with_index do |exception, i| -%>
<%- row = [ exception.weekly_period,
            exception.site_group.name,
            exception.site_count,
            exception.demarc_count,
            "#{exception.demarc_percentage(exception.demarc_ok_count)}%",
            "#{exception.demarc_percentage(exception.demarc_minor_count)}%",
            "#{exception.demarc_percentage(exception.demarc_major_count)}%" ] -%>
<%= CSV.generate_line(row).html_safe -%>
<%- end -%>
<%= render '/reports/filter.csv.erb' -%>