.container_12
  .border.clearfix
    .grid_9.alpha
      %h1
        Market Report

    .grid_3.align_right.service_provider_logo.omega
      =provider_logo(@current_user.service_provider, pdf=true)


.container_12.clearfix

  .grid_4.alpha
    =render '/reports/rolled_up_interactive_pie.html.haml', :current_path => 'site_group_report_path', :title => 'Weekly Site Record', :pdf => true

  .grid_8.omega
    =render '/reports/filter.html.haml'
      
.container_12
      
  .grid_12{:class => 'alpha omega'}     
  
    %h3.inline
      =get_term(:site_group, true)
  
    %table#site_groups.dashboard_table.exceptions
      %thead
        %tr
          %th Analysis Period
          %th Name
          %th 
            ="#{get_term(:aggregation_site)} Count"
          %th 
            ="#{get_term(:demarc)} Count"
          %th 
            ="OK #{get_term(:demarc)}"
          %th 
            ="Minor #{get_term(:demarc)}"
          %th 
            ="Major #{get_term(:demarc)}"
                                                  
      %tbody
        -@exceptions.each do |exception|
          %tr
            %td
              =exception.weekly_period
            %td   
              =exception.site_group.name
            %td
              =exception.site_count
            %td
              =exception.demarc_count
            %td
              ="#{exception.demarc_percentage(exception.demarc_ok_count)}%"
            %td 
              ="#{exception.demarc_percentage(exception.demarc_minor_count)}%"
            %td
              ="#{exception.demarc_percentage(exception.demarc_major_count)}%"