=render 'rolled_up_reports_header', :title => 'Market Report', :current_path => 'site_group_report_path'

.container_12.clearfix

  =render 'shared/flash_message'
  
  .grid_4.alpha
    =render 'rolled_up_interactive_pie', :current_path => 'site_group_report_path', :title => 'Weekly Site Record'


  .grid_8.alpha.omega
    =render 'rolled_up_reports_nav'

    .grid_5.alpha
      =render "shared/search_form_wide", :show_metric => false, :show_component => true, :show_clear => true, :show_site_group => true, :default_period => 'Week to date', :show_site_type => true

    .grid_3.omega
      =render 'filter_form', :report_type => 'site_group'
      =render 'site_list'


      
.container_12
      
  .grid_12{:class => 'alpha omega'}
    
    .right
      %a.submit_button{:href => site_group_report_path(@filter_params.merge({:pdf_data => 'exceptions', :format => :pdf})), :target => '_blank'}
        Export PDF   
      %a.submit_button{:href => site_group_report_path(@filter_params.merge({:csv_data => 'exceptions', :format => :csv})), :target => '_blank'}
        Export CSV     

    = render 'shared/table_toggle_link', :title => get_term(:site_group, true), :table_name => 'site_groups'      
  
    %table#site_groups.dashboard_table.exceptions{'data-src' => site_group_report_path(@filter_params.merge({:js_data => 'exceptions'}))}
      %thead
        %tr
          %th Analysis Period
          %th Name
          %th 
            ="#{get_term(:aggregation_site)} Count"
          %th 
            ="#{get_term(:demarc)} Count"
          %th 
            ="OK #{get_term(:demarc)}"
          %th 
            ="Minor #{get_term(:demarc)}"
          %th 
            ="Major #{get_term(:demarc)}"
                                                  
      %tbody