<%- rows = [] -%>
<%- @exceptions.each do |exception| -%>

  <%- rows << [ exception.weekly_period,
                link_to(exception.site_group.name, satellite_site_report_path(@filter_params.merge({:site_group => exception.site_group_id, :severity => ''}))),
                link_to(exception.site_count, satellite_site_report_path(@filter_params.merge({:site_group => exception.site_group_id, :severity => ''}))),
                link_to(exception.demarc_count, cell_site_report_path(@filter_params.merge({:site_group => exception.site_group_id, :severity => ''}))),
                "#{exception.demarc_percentage(exception.demarc_ok_count)}%",
                "#{exception.demarc_percentage(exception.demarc_minor_count)}%",
                "#{exception.demarc_percentage(exception.demarc_major_count)}%"
                 ] -%>

<%- end -%>

{
    "sEcho": <%= params[:sEcho] -%>,
    "iTotalRecords": <%= @total -%>,
    "iTotalDisplayRecords": <%= @total -%>,
    "aaData": <%= raw(rows) -%>
}