=render 'rolled_up_reports_header', :title => "SLA Report", :current_path => 'sla_report_path'

.container_12.clearfix

  =render 'shared/flash_message'
  
  .grid_4.alpha
    =render 'exception_interactive_pie', :current_path => 'sla_report_path', :title => 'Exception'

  .grid_5
    =render "shared/search_form_wide", :show_metric => true, :show_component => true, :show_critical => true, :show_site_group => false, :show_site_type => true
    
  .grid_3
    =render 'filter_form', :report_type => 'sla'
    =render 'site_list'


      
.container_12
      
  .grid_12{:class => 'alpha omega'}
    
    .right
      %a.submit_button{:href => sla_report_path(@filter_params.merge({:pdf_data => 'exceptions', :format => :pdf})), :target => '_blank'}
        Export PDF   
      %a.submit_button{:href => sla_report_path(@filter_params.merge({:csv_data => 'exceptions', :format => :csv})), :target => '_blank'}
        Export CSV     

    = render 'shared/table_toggle_link', :title => "#{get_term(:path, true)} with Exceptions", :table_name => 'sla_exceptions'      
  
    %table#sla_exceptions.dashboard_table.exceptions{'data-src' => sla_report_path(@filter_params.merge({:js_data => 'exceptions'}))}
      %thead
        %tr
          %th Sev
          %th ID
          %th Date
          %th
            = get_term(:aggregation_site)
          %th 
            = get_term(:service_provider)
          %th Service Type
          %th CoS
          %th Metric  
          %th Details
                                                  
      %tbody