<%- headers = ["Severity", "ID", "Date", get_term(:aggregation_site), get_term(:service_provider), "Service Type", "CoS", "Metric", "Average Value", "Threshold", "Time Over", "Time Over Threshold", "Sampling Interval (&#916;t)", "FLR Threshold (C)", "Consecutive Samples (n)"] -%>
<%= CSV.generate_line headers -%>
<%- exceptions.each_with_index do |exception, i| -%>
<%- paths = exception.cos_test_vector.cos_end_point.segment_end_point.segment.paths -%>
<%- path = paths.first -%>
<%- if exception.severity == 'minor'
      time_over = "'#{convert_seconds_to_time(exception.minor_time_over)}"
    elsif exception.severity == 'major'
      time_over = "'#{convert_seconds_to_time(exception.major_time_over)}"
    else
      time_over = ""
    end -%>
<%- if ['major', 'minor'].include?(exception.severity)
        time_over_threshold = convert_seconds_to_time(exception.get_time_over_threshold_seconds)
    end -%>
<%- row = [ "#{exception.severity.to_s.titleize}",
            exception.cos_test_vector.is_a?(SpirentCosTestVector) ? exception.cos_test_vector.circuit_id : member_handle_for_current_user(exception.cos_test_vector.cos_end_point.segment_end_point, @current_user),
            Time.at(exception.time_declared_epoch).in_time_zone.strftime('%Y-%m-%d %T'),
            path.on_net_ovcs.collect{|segment| segment.site.name}.uniq.join(', '),
            exception.cos_test_vector.cos_end_point.segment_end_point.segment.service_provider.name,
            exception.cos_test_vector.cos_end_point.cos_instance.ethernet_service_type_info,
            exception.cos_test_vector.cos_end_point.cos_instance.cos_name,
            exception.metric_type.to_s.upcase,
            "'#{exception.metric}#{exception.get_value_units_s == 'seconds' ? ' ': ''}#{exception.get_value_units_s}",
            exception.severity == 'clear' ? '' : "#{exception.get_errored_period_threshold}#{exception.get_threshold_units_s}",
            time_over,
            time_over_threshold,
            "#{convert_seconds_to_time(exception.get_errored_period_delta_time_secs)}",
            "#{exception.availability_flr_threshold}%",
            exception.availability_consecutive_count_threshold
             ] -%>
<%= CSV.generate_line(row).html_safe -%>
<%- end -%>
<%= render '/reports/filter.csv.erb' -%>