- demarc_type = demarc.demarc_type
%h3 #{demarc.service_provider.name} (#{demarc.connected_device_type}) Attributes
%div.tipsy_container
  %ul
    = list_label_and_value 'Demarc Name', demarc_type, :name
    = list_label_and_value 'Device Type', demarc, :connected_device_type
    = list_label_and_value 'Port or IF Name', demarc, :port_name
    = list_label_and_value 'All To One Bundling', demarc_type, :ato_bundling
    = list_label_and_value 'Service Multiplexing', demarc_type, :service_multiplexing
    = list_label_and_value 'Bundling', demarc_type, :bundling
