- segment_type = ovc.segment_type
%h3 #{ovc.service_provider.name} (#{segment_type.equipment_vendor}) Attributes
%div.tipsy_container
  %ul
    = list_label_and_value 'Demarc Name', nil, 'TBD'
    = list_label_and_value 'Device Type', segment_type, :equipment_vendor
    = list_label_and_value 'Port or IF Name', nil, 'TBD'
