- @demarcs.each_with_prev_next do |prev_demarc, demarc, next_demarc|
  .map_marker_info
    %h2 
      = member_handle demarc
    %ul 
      = list_label_and_value 'Site Type', demarc, :site_type
      = list_label_and_value 'Device Type(s)', demarc, :connected_device_type
      = list_label_and_value get_term(:network_type), demarc.operator_network.operator_network_type, :name
      = list_label_and_value 'Address', demarc, :address
      = list_label_and_value 'Lat / Lng', nil, "#{demarc.latitude} / #{demarc.longitude}"
      = list_label_and_value 'Contact', nil, 'TBD'
      = list_label_and_value 'CENX ID', demarc, :cenx_id
    
    - path_count = demarc.path_count
    -# PROGRAMMERS NOTE: link_to_unless doesn't take block for link name
    - unless path_count.zero?
      = link_to paths_path(:filter => demarc.cenx_id, :mode => @mode), :class => 'submit_button', :target => '_blank' do
        View #{pluralize(path_count, get_term(:path))} <strong>#{next_demarc ? 'traversing' : 'serving'}</strong> site (#{path_count}) 

    -# Old school event attachment since there are issues with Google Maps Info Window and attaching events via jQuery
    %button.submit_button.streetview{'onclick' => "map.show_streetview(this, #{demarc.latitude}, #{demarc.longitude})"} Street View 
  
    .no_streetview.hidden