.header
  %h2 Details
  .clearfix

- # Tables becuase of the dynamic positioning of the tipsy bubble, problems with bubbles close to edge of screen
%table
  %tr
    %td.first
      = render :partial => '/paths/standard_sections_top'
      
      - demarc_in_diagram = PathDisplay.find_by_entity_id_and_entity_type_and_service_provider_id_and_path_id(@entity.id, 'Demarc', current_user.service_provider.id, @path.id)
      - determine_side_a_b_for_demarc(@path, demarc_in_diagram).compact.each do |side|  
        - if side.is_a?(Demarc)
          = render :partial => 'side_demarc', :locals => {:demarc => side}
        - else
          = render :partial => 'side_ovc', :locals => {:ovc => side}

      %h3 Normalized Attributes
      %div.tipsy_container
        %ul
          = list_label_and_value 'Demarc Type', @entity, :cenx_demarc_type
          = list_label_and_value 'Address', @entity, :address
          = list_label_and_value 'Physical Medium', @entity, :physical_medium
          = list_label_and_value '802.3ah (Link OAM) Supported', @entity, :ah_supported
          = list_label_and_value 'MTU', @entity.demarc_type, :mtu
          = list_label_and_value 'Autonegotiate', @entity, :auto_negotiate, format_yes_no, 'No'

      - if @entity.respond_to?(:is_monitored?)
        %h3 Service Monitoring
        %div.tipsy_container
          %ul
            -# TODO: How does this work for a Demarc, we need the contect of the End Point to know if it is monitored or not
            = list_label_and_value 'Monitored', @entity, :is_monitored?, format_yes_no, 'No'
            - if @entity.is_monitored?
              = list_label_and_value 'Loopback Address', @entity, :mon_loopback_address
                
    %td
      = render :partial => '/paths/standard_sections_bottom'

= render :partial => 'shared/toggle_mode'

.buttons_section
  .provisioning_state_update
    = render :partial => 'shared/provisioning_state_update'

.clearfix