!!! XML
!!! 5
%html{:lang => "en"}
  %head
    %meta{"http-equiv" => "content-type", :content => "text/html", :charset => "utf-8"}
    %meta{"http-equiv" => "content-language", :content => "en_US"}

    %title
      =yield :title
    = favicon_link_tag
    = stylesheet_link_tag "application"
    /[if lt IE 9]
      = javascript_include_tag "ie"
    = javascript_include_tag @google_js_api
    = javascript_include_tag @google_maps_api
    :javascript
      WEB_SOCKET_SWF_LOCATION = '#{asset_path('WebSocketMain.swf')}';
      google.load("visualization", "1", {packages:["corechart"]});
    = javascript_include_tag "application"
  %body{:class => "#{controller.controller_name}_page notranslate #{App.app_name}_app"}
    %div{:id => [controller_name,action_name].join('-')}  
      %input{:id => 'monitoring_mode', :type => 'hidden', :name => 'monitoring_mode', :value => @monitoring_mode ? 1 : 0}
      %input{:id => 'mode', :type => 'hidden', :name => 'mode', :value => @mode}
      -# preload some background images so they are not blocked by ajax requests
      .hidden
        = image_tag "arrow-spin.gif"
        = image_tag "close.png"
      .header_wrapper
        .header
          .rule.top
          .logo
            %a{:href => '/'}
              =system_logo
          
          - if @current_user           
            .login
              %ul
                %li.dropdown
                  %a.dropdown-toggle{:href => "#"}
                    = @current_user.email
                    
                  %ul.dropdown-menu
                  
                    - if can? :create, User
                      %li
                        %a.admin_link{:href => users_path}<
                          User Management
                    - if can? :manage, Settings
                      %li
                        %a.admin_link{:href => edit_settings_path}<
                          System Customization
                    - if can? :update, @current_user
                      %li
                        %a.account_link{:href => edit_user_path(@current_user)}<
                          My Account
                      %li
                        = link_to('Set my Homepage', user_set_homepage_path(@current_user, :homepage => request.fullpath), :method => :put, :class => 'set_homepage_link')
                    - unless App.is?(:coresite)      
                      %li
                        %a.signout_link{:href => logout_url}<
                          Signout
      
    
            .legend
              %ul
                %li.dropdown
                  %a.dropdown-toggle{:href => "#"}
                    Legend
                  %ul.dropdown-menu
                    %li

                      - if @network_page
                        %table.legend_table
                          %tr
                            %th
                              Cell Sites
                          %tr
                            %td
                              -# TODO: added to model or common types file
                              - {'ETH'=>'Ethernet Backhaul', 'DNR'=>'Donor Site', 'RS'=>'Remote Site', 'RN'=>'Ring Node', 'MH'=>'Mini-Hub', 'FAN'=>'FAN', 'SN'=>'Spur Node', 'NM'=>'Not Monitored'}.each do |abbr, name|
                                .dashboard_legend_item
                                  .dashboard_legend_box.map_marker{:class => "#{abbr.downcase}"}
                                  #{name} (#{abbr})

                        %table.legend_table
                          %tr
                            %th
                              = get_term(:site, true)
                          %tr
                            %td
                              - {'agg_site'=> get_term(:aggregation_site), 'wdc' => get_term(:wdc), 'gateway_site' => get_term('gateway_site')}.each do |abbr, name|
                                .dashboard_legend_item
                                  .dashboard_legend_box.map_marker.site{:class => "#{abbr.downcase}"}
                                  #{name}

                        %table.legend_table
                          %tr
                            %th
                              = get_term(:segment, true)
                          %tr
                            %td
                              - if @mode == 'monitoring'
                                - {'ok' => 'All Ok', 'warning' => 'Some Failed', 'failed' => 'All Failed', 'not_monitored' => 'Not Monitored'}.each do |abbr, name|
                                  .dashboard_legend_item
                                    .dashboard_legend_box.line.monitoring{:class => "#{abbr}"}
                                    #{name}
                              - else
                                - {'on_net'=> get_term(:microwatt), 'off_net'=> get_term(:aav)}.each do |abbr, name|
                                  .dashboard_legend_item
                                    .dashboard_legend_box.line{:class => "#{abbr.downcase}"}
                                    #{name}
                                
                      - else
                        %table.legend_table
                          %tr
                            -if can? :read, :inventory
                              %th
                                Inventory States
                            -if can? :read, :ordering
                              %th
                                Ordering States
                            -if can? :read, :monitoring
                              %th
                                Monitoring States
                        
                          %tr
                            -if can? :read, :inventory
                              %td
                                - provisioning_states.each do |state|
                                  .dashboard_legend_item
                                    .dashboard_legend_box.provisioning{:class => "#{state[:name]}"}
                                    =state[:name].humanize
                            -if can? :read, :ordering                            
                              %td
                                - ordering_states.each do |state|
                                  .dashboard_legend_item
                                    .dashboard_legend_box.ordering{:class => "#{state[:name]}"}
                                    =state[:name].humanize
                            -if can? :read, :monitoring
                              %td
                                - monitoring_states.each do |state|
                                  .dashboard_legend_item
                                    .dashboard_legend_box.monitoring{:class => "#{state[:name]}"}
                                    =state[:name].humanize

            - if App.is?(:coresite) && !coresite_role
              .access_permissions_nav
                %a{:href => access_permissions_custom_application_index_path, :class => current_page?(:controller => 'custom_application', :action => 'access_permissions') ? "current" : ""}
                  Access Permissions          

            .support
              %a{:href => support_path, :class => current_page?(:controller => 'support') ? "current" : ""}
                Support
  
        - if @current_user
          %ul{:id => "header-nav"}
            - if can? :show, :network_menu
              %li.app_link{:class => @network_page ? "current" : "", 'data-sub-nav' => 'network_nav'}
                = link_to raw('Network <span></span>'), network_index_path, :class => 'network_link'

            - if can? :show, :dashboards_menu
              %li.app_link{:class => !@reports_page && !@network_page && !@users_page && !@service_providers_page && !current_page?(:controller => 'support') && !current_page?(:controller => 'settings', :action => 'edit') && !current_page?(:controller => :paths) && !current_page?(:controller => :ennis) ? "current" : "", 'data-sub-nav' => 'dashboard_nav'}
                = link_to raw('Dashboards <span></span>'), dashboard_path, :class => 'inventory_link'

            - if can? :show, :reports_menu
              %li.app_link{:class => @reports_page ? "current" : "", 'data-sub-nav' => 'reports_nav'}    
                = link_to raw('Reports <span></span>'), report_path, :class => 'reports_link'
                
            - if can? :show, :circuit_list_menu
              %li.app_link{:class => controller.controller_name == "paths" ? "current" : "", 'data-sub-nav' => 'circuits_nav'}
                = link_to raw("#{get_term(:path, true)} <span></span>"), paths_path(:mode => get_mode_for_page(@mode, 'circuit_list'))

            -# SPRINT HACK: Disable ENNI link in top level nav
            - if false && can?(:show, :enni_list_menu)
              %li.app_link{:class => controller.controller_name == "ennis" ? "current" : "", 'data-sub-nav' => 'ennis_nav'}
                = link_to raw("get_term(:enni) <span></span>"), ennis_path(:mode => get_mode_for_page(@mode, 'enni_list'))
    
            - if can? :read, ServiceProvider
              %li.app_link{:class => @service_providers_page ? "current" : "", 'data-sub-nav' => 'service_providers_nav'}
                = link_to raw("#{get_term(:service_provider)} Info <span></span>"), service_providers_path
  

        .clear
      .header_spacer
      
      - if @current_user  
        %ul#header-sub-nav
          - if can? :show, :circuit_list_menu
            .lookup_form
              %form{:action => paths_path, :method => :get}  
                %input{:type => 'hidden', :name => 'mode', :value => @mode}
                %input{:type => 'hidden', :name => 'path_owner', 'value' => 'all'}
                %input.entry{:type => 'text', :name => 'filter', :placeholder => 'Search by ID'}
                %button.submit_button.quick_search.activity{:type=>'submit'} Go

          / Reports sub-nav 
          - if can? :read, :sla_reports
            %li.reports_nav{:class => current_page?(:controller => :reports, :action => :sla) ? "current" : ""}
              %a.sla_reports{:href => sla_report_path(:mode => 'monitoring')}
                SLA Report

          - if can? :read, :rolled_up_reports
            %li.reports_nav{:class => @rollup_report ? "current" : ""}
              %a.rolled_up_reports{:href => site_group_report_path(:mode => 'monitoring')}
                Rolled Up Report

          - ApplicationHelper::AUDIT_FALLOUT_TYPES.each do |fallout_id,fallout_data|
            - if can? :read, fallout_data[:privilege]
              - is_my_page = current_page?(:controller => :reports, :action => :fallout_exception, :fallout_exception_type => fallout_data[:fallout_exception_type]) && params[:fallout_exception_type] == fallout_id
              %li.reports_nav{:class => is_my_page ? "current" : nil}
                %a.fallout_exception_reports{:href => fallout_exception_report_path(:fallout_exception_type => fallout_data[:fallout_exception_type])}
                  = "#{fallout_data[:name]} Report"

          / - if can? :read, :ordering_exception_reports
          /   %li.reports_nav{:class => current_page?(:controller => :reports, :action => :fallout_exception, :mode => 'ordering') && @mode == 'ordering' ? "current" : ""}
          /     %a.fallout_exception_reports{:href => fallout_exception_report_path(:mode => 'ordering')}
          /       Ordering Exception Report
                
          - if can? :read, :circuit_utilization_reports                                            
            %li.reports_nav{:class => current_page?(:controller => :reports, :action => :circuit_utilization) ? "current" : ""}
              %a.circuit_util_reports{:href => circuit_utilization_report_path(:mode => 'monitoring')}
                ="#{get_term(:path)} Utilization Report"
                
          - if can? :read, :enni_utilization_reports                                                             
            %li.reports_nav{:class => current_page?(:controller => :reports, :action => :enni_utilization) ? "current" : ""}
              %a.enni_util_reports{:href => enni_utilization_report_path(:mode => 'monitoring')}
                ="#{get_term(:enni)} Utilization Report"
        
          - if can? :manage, Schedule                                                    
            %li.reports_nav{:class => current_page?(:controller => :schedules) ? "current" : ""}
              %a.schedules{:href => schedules_path}
                Scheduled Reports
        
          / Circuits sub-nav
          - if can? :read, :inventory_circuit_list            
            %li.circuits_nav{:class => current_page?(:controller => :paths) && @mode == 'inventory' ? "current" : ""}
              = link_to 'Inventory', paths_path(:mode => :inventory), :class => 'inventory_link'

          - if can? :read, :ordering_circuit_list
            %li.circuits_nav{:class => current_page?(:controller => :paths) && @mode == 'ordering' ? "current" : ""}
              = link_to 'Ordering', paths_path(:mode => :ordering), :class => 'ordering_link'

          - if can? :read, :monitoring_circuit_list
            %li.circuits_nav{:class => current_page?(:controller => :paths) && @monitoring_mode ? "current" : ""}    
              = link_to 'Monitoring', paths_path(:mode => :monitoring), :class => 'monitoring_link'  
                
          
          / ENNIs sub-nav
          - if can? :read, :inventory_enni_list
            %li.ennis_nav{:class => current_page?(:controller => :ennis) && @mode == 'inventory' ? "current" : ""}
              = link_to 'Inventory', ennis_path(:mode => :inventory), :class => 'inventory_link'
      
          - if can? :read, :ordering_enni_list
            %li.ennis_nav{:class => current_page?(:controller => :ennis) && @mode == 'ordering' ? "current" : ""}
              = link_to 'Ordering', ennis_path(:mode => :ordering), :class => 'ordering_link'

          - if can? :read, :monitoring_enni_list
            %li.ennis_nav{:class => current_page?(:controller => :ennis) && @monitoring_mode ? "current" : ""}    
              = link_to 'Monitoring', ennis_path(:mode => :monitoring), :class => 'monitoring_link'
            
          / Dashboard sub-nav
          - if can? :read, :inventory_dashboard          
            %li.dashboard_nav{:class => current_page?(:controller => :dashboards, :action => :inventory) && @mode == 'inventory' ? "current" : ""}
              = link_to 'Inventory', inventory_dashboard_path(:mode => :inventory), :class => 'inventory_link'
          
          - if can? :read, :ordering_dashboard            
            %li.dashboard_nav{:class => current_page?(:controller => :dashboards, :action => :ordering) && @mode == 'ordering' ? "current" : ""}
              = link_to 'Ordering', ordering_dashboard_path(:mode => :ordering), :class => 'ordering_link'

          - if can? :read, :monitoring_dashboard
            %li.dashboard_nav{:class => current_page?(:controller => :dashboards, :action => :monitoring) && @monitoring_mode ? "current" : ""}    
              = link_to 'Monitoring', monitoring_dashboard_path(:mode => :monitoring), :class => 'monitoring_link'
                
      .clear
      .header_bottom
  
  
      #header
        = yield :header
        
      = yield

      - if @current_user
        -# Compare Graphs page
        = render :partial => 'compares/compare_stack'
        
      .clear
      #footer
        %a{:href => support_path}
          Support
        - unless App.is?(:coresite)
          =" - "  
          %a{:href => 'http://cenx.com/'}
            ©
            = Date.today.year
            CENX Inc. All rights reserved
          =" - "
          %a{:href => 'mailto:info@cenx.com'}
            info@cenx.com
        -# Google maps script
        = yield :scripts