!!! XML
!!! 5
%html{:lang => "en"}
  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html", :charset => "utf-8"}
    = wicked_pdf_stylesheet_link_tag "pdf"

    =yield :head

  %body
    %div
      =yield

    %div.clear 